Repository apache/skywalking, pull requests merged in 2018-07, with the labels that each got.

#1417 Format release doc
  docs/en/How-to-release.md
  tools/releasing/create_source_release.sh
Labels: enhancement

#1420 fix zipkin provider can not receive full spans data
  apm-collector/apm-collector-thirdparty-receiver/receiver-zipkin/receiver-zipkin-provider/src/main/java/org/apache/skywalking/apm/collector/receiver/zipkin/provider/ZipkinReceiverProvider.java
  apm-collector/apm-collector-thirdparty-receiver/receiver-zipkin/receiver-zipkin-provider/src/main/java/org/apache/skywalking/apm/collector/receiver/zipkin/provider/handler/SpanProcessor.java
Labels: bug, collector

#1431 Update create_source_release.sh
  tools/releasing/create_source_release.sh
Labels: document

#1434 Update ServiceNameService.java
  apm-collector/apm-collector-ui/collector-ui-jetty-provider/src/main/java/org/apache/skywalking/apm/collector/ui/service/ServiceNameService.java
Labels: bug, collector

#1407 Add Junit test for ribbon's NIWSServerListClassName #1390
  apm-webapp/pom.xml
  apm-webapp/src/test/java/org/apache/skywalking/apm/webapp/proxy/NIWSServerListTest.java
Labels: UI, enhancement, test

#1444 Make the icon font things more clear in NOTICE
  NOTICE
  apm-dist/release-docs/NOTICE
Labels: document

#1443 Add an announcement about 6.0 has begun
  README.md
Labels: document

#1450 Add words in two License files.
  LICENSE
  apm-dist/release-docs/LICENSE
Labels: document

#1452 [Agent] Apache http client plugin bug (#1448)
  apm-sniffer/apm-sdk-plugin/httpClient-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpClient/v4/HttpClientExecuteInterceptor.java
Labels: agent, bug

#1460 Make sure port could be set in yml (Windows)
  apm-dist/bin/webappService.bat
Labels: UI, bug

#1465 Typo:fix some duplication problems in docs
  docs/cn/Direct-uplink-CN.md
Labels: document

#1467 Fix #1454: fix NPE issue about spring apo interceptor
  apm-sniffer/apm-sdk-plugin/spring-plugins/core-patch/src/main/java/org/apache/skywalking/apm/plugin/spring/patch/CreateAopProxyInterceptor.java
Labels: agent, bug

#1464 Add how to build in eclipse
  docs/cn/How-to-build-CN.md
  docs/en/How-to-build.md
Labels: document

#1471 Change the way to transmit the Request and Response
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v3/HandlerMethodInvokerInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-3.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/mvc/v3/GetBeanInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/RequestMappingMethodInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/RestMappingMethodInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/SpringTestCaseHelper.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/Constants.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/EnhanceRequireObjectCache.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/GetBeanInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/InvokeForRequestInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/InvokeHandlerMethodInterceptor.java
Labels: agent, bug

#1485 Polish the document of 'overview and core concept'
  docs/en/concepts-and-designs/overview.md
Labels: document

#1487 Add Component-libraries-extend-CN.md
  docs/README_ZH.md
  docs/cn/Component-libraries-extend-CN.md
Labels: document

#1493 Added OpenAPM Badge to the readme file
  README.md
Labels: document

#1503 Update use cases
  README.md
  README_ZH.md
  docs/use-case-list.md
Labels: document

#1506 add gzip support
  apm-collector/apm-collector-thirdparty-receiver/receiver-zipkin/receiver-zipkin-provider/src/main/java/org/apache/skywalking/apm/collector/receiver/zipkin/provider/handler/SpanProcessor.java
  apm-collector/apm-collector-thirdparty-receiver/receiver-zipkin/receiver-zipkin-provider/src/main/java/org/apache/skywalking/apm/collector/receiver/zipkin/provider/transform/SegmentBuilder.java
Labels: bug, collector

#1507 Fix #1488: Fix NPE when the targetAop class is null
  apm-sniffer/apm-sdk-plugin/spring-plugins/core-patch/src/main/java/org/apache/skywalking/apm/plugin/spring/patch/AopExpressionMatchInterceptor.java
Labels: agent, bug
