Repository apache/skywalking, pull requests merged in 2018-08, with the labels that each got.

#1514 Fix typo
  README.md
  README_ZH.md
  docs/uses-list.md
Labels: document

#1515 Update ServiceNameService.java
  apm-collector/apm-collector-ui/collector-ui-jetty-provider/src/main/java/org/apache/skywalking/apm/collector/ui/service/ServiceNameService.java
Labels: bug, collector

#1516 Feature/oap/storage
  apm-collector/apm-collector-storage/collector-storage-define/src/main/java/org/apache/skywalking/apm/collector/storage/base/dao/IBatchDAO.java
  oap-server/pom.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/UnexpectedException.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/endpoint/EndpointLatencyAvgAggregateWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/endpoint/EndpointLatencyAvgIndicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/endpoint/EndpointLatencyAvgPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/AvgIndicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/Indicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/annotation/IndicatorType.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/define/IndicatorMapper.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/AbstractAggregatorWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/AbstractPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/define/WorkerMapper.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/receiver/Endpoint.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/receiver/annotation/SourceType.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/AbstractDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/DAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/IBatchDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/IPersistenceDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/StorageException.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/StorageInstaller.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/StorageModule.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/Column.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/ColumnAnnotationRetrieval.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/define/ColumnDefine.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/define/ColumnName.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/define/ColumnTypeMapping.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/define/TableDefine.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/indicator/define/TestAvgIndicator.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/StorageInstallerTestCase.java
  oap-server/server-library/library-client/pom.xml
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClientException.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClientTestCase.java
  oap-server/server-library/library-module/src/main/java/org/apache/skywalking/oap/server/library/module/ModuleDefine.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/pom.xml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/BatchProcessEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/ColumnTypeEsMapping.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/EsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/PersistenceEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/ElasticSearchColumnTypeMappingTestCase.java
Labels: collector, core feature

#1521 [OAP Server] Log bridge and receiver package name.
  oap-server/pom.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModule.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/DispatcherManager.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/SourceDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/endpoint/EndpointDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Endpoint.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EndpointRelation.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Scope.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Source.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/SourceReceiver.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/SourceReceiverImpl.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/annotation/SourceType.java
  oap-server/server-library/library-client/pom.xml
Labels: collector, core feature

#1513 [Agent] Add plugin for ActiveMQ 5.x
  apm-collector/apm-collector-boot/src/main/resources/application.yml
  apm-collector/apm-collector-boot/src/main/resources/component-libraries.yml
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQConsumerConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQConsumerInterceptor.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQProducerConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/define/ActiveMQConsumerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/define/ActiveMQProducerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQConsumerAndProducerConstructorInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQConsumerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQProducerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pom.xml
Labels: agent, enhancement

#1522 fix magic number
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQProducerInterceptor.java
Labels: agent, enhancement

#1523 fix ActiveMQConsumerInterceptor magic number
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQConsumerInterceptor.java
Labels: agent, enhancement

#1501 Add Abstract-CN.md
  apm-collector/apm-collector-thirdparty-receiver/receiver-zipkin/docs/README-CN.md
  docs/README_ZH.md
  docs/cn/Incubating/Abstract-CN.md
Labels: agent, bug

#1540 Update users
  README.md
  README_ZH.md
  docs/uses.md
Labels: document

#1551 Typo:fix docs.
  apm-collector/apm-collector-thirdparty-receiver/receiver-zipkin/docs/README-CN.md
Labels: document

#1553 Change file name.
  README.md
  docs/users.md
Labels: document

#1558 Fix NPE in alarm content generation.
  apm-collector/apm-collector-analysis/analysis-alarm/alarm-provider/src/main/java/org/apache/skywalking/apm/collector/analysis/alarm/provider/worker/instance/InstanceReferenceMetricAlarmAssertWorker.java
Labels: bug, collector

#1565 add components for nodejs agent
  apm-collector/apm-collector-boot/src/main/resources/component-libraries.yml
Labels: enhancement

#1568 Fix #1549
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/InvokeForRequestInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/InvokeHandlerMethodInterceptor.java
Labels: agent, bug

#1572 Fix bug stop stopSpan when not createSpan in Spring Callback
  apm-sniffer/apm-sdk-plugin/spring-plugins/concurrent-util-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/concurrent/FailureCallbackInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/concurrent-util-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/concurrent/SuccessCallbackInterceptor.java
Labels: agent, bug

#1571 Support ojdbc8
  apm-sniffer/apm-sdk-plugin/oracle-10.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/oracle/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/oracle-10.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/oracle/StatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/oracle-10.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/oracle/define/ConnectionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/oracle-10.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/oracle/define/OracleCallableInstrumentation.java
  apm-sniffer/apm-sdk-plugin/oracle-10.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/oracle/define/OraclePrepareStatementInstrumentation.java
  apm-sniffer/apm-sdk-plugin/oracle-10.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/oracle/define/OracleStatementInstrumentation.java
Labels: agent, enhancement

#1569 Moves to Maven wrapper to stabilize the version in use
  .gitignore
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  .travis.yml
  apm-application-toolkit/apm-toolkit-log4j-1.x/pom.xml
  apm-application-toolkit/apm-toolkit-log4j-2.x/pom.xml
  apm-application-toolkit/apm-toolkit-logback-1.x/pom.xml
  apm-application-toolkit/apm-toolkit-trace/pom.xml
  apm-collector/apm-collector-boot/pom.xml
  apm-collector/apm-collector-instrument/pom.xml
  apm-collector/apm-collector-remote/collector-remote-grpc-provider/pom.xml
  apm-dist/pom.xml
  apm-protocol/apm-network/pom.xml
  apm-sniffer/apm-agent-core/pom.xml
  apm-sniffer/apm-agent/pom.xml
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/dubbo-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/elastic-job-2.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/grpc-1.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/h2-1.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/httpClient-4.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/httpasyncclient-4.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/jdbc-commons/pom.xml
  apm-sniffer/apm-sdk-plugin/jedis-2.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/mongodb-2.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/mysql-5.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/oracle-10.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/postgresql-8.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/resin-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/resin-4.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/rocketMQ-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/rocketMQ-4.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-1.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/sharding-jdbc-1.5.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/sofarpc-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/struts2-2.x-plugin/pom.xml
  apm-sniffer/apm-toolkit-activation/pom.xml
  apm-sniffer/optional-plugins/pom.xml
  apm-sniffer/optional-plugins/trace-ignore-plugin/pom.xml
  apm-webapp/pom.xml
  docs/cn/How-to-build-CN.md
  docs/en/How-to-build.md
  docs/en/How-to-release.md
  mvnw
  mvnw.cmd
  pom.xml
Labels: enhancement

#1574 Remove jar from source
  .gitignore
  .mvn/wrapper/maven-wrapper.jar
Labels: document

#1580 change the agent log level to millisecond
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/EasyLogger.java
Labels: agent, enhancement

#1582 Moved hardcoded dependency versions to properties tag in pom.xml
  pom.xml
Labels: enhancement

#1584 add the function of the specified agent config
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/SnifferConfigInitializer.java
  docs/README.md
  docs/README_ZH.md
  docs/cn/Specified-agent-config-CN.md
  docs/en/Specified-agent-config.md
Labels: agent, enhancement

#1602 Update powered-by.md
  docs/powered-by.md
Labels: document

#1606 add ke.com (贝壳找房 链家) user
  docs/users.md
Labels: document

#1608 用户接入 上上签
  docs/users.md
Labels: document

#1589 add heart beat handler to jetty
  apm-collector/apm-collector-agent/agent-jetty/agent-jetty-provider/src/main/java/org/apache/skywalking/apm/collector/agent/jetty/provider/AgentModuleJettyProvider.java
Labels: bug, collector

#1611 Define dynamicField volatile flag
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/ClassEnhancePluginDefine.java
Labels: bug

#1610 fix memory leak in HystrixPlugins
  apm-sniffer/apm-sdk-plugin/hystrix-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hystrix/v1/HystrixConcurrencyStrategyInterceptor.java
  apm-sniffer/apm-sdk-plugin/hystrix-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hystrix/v1/HystrixPluginsInterceptor.java
  apm-sniffer/apm-sdk-plugin/hystrix-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hystrix/v1/SWHystrixConcurrencyStrategyWrapper.java
  apm-sniffer/apm-sdk-plugin/hystrix-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hystrix/v1/SWHystrixPluginsWrapperCache.java
Labels: agent, bug

#1616 [TRIVIAL] fix TYPO
  docs/users.md
Labels: document

#1614 FIx NPE in InstanceMetricAlarmAssertWorker
  apm-collector/apm-collector-analysis/analysis-alarm/alarm-provider/src/main/java/org/apache/skywalking/apm/collector/analysis/alarm/provider/worker/instance/InstanceMetricAlarmAssertWorker.java
Labels: bug, collector
