Repository apache/skywalking, pull requests merged in 2019-11, with the labels that each got.

#3763 Remove Travis badge
  README.md
Labels: document

#3764 Typo fix in document
  docs/en/setup/backend/backend-storage.md
Labels: document

#3765 make query max window size configurable.
  docker/oap/docker-entrypoint.sh
  oap-server/server-starter/src/main/assembly/application.yml
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/cache/NetworkAddressInventoryCacheEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/cache/ServiceInventoryCacheEsDAO.java
Labels: OAP-backend, bug, enhancement

#3718 [WIP]Scripts which deploy Istio + OAP + ES to a standard k8s cluster
  install/README.md
  install/deploy/all_cleanup.sh
  install/deploy/demo-deploy.sh
  install/deploy/istio-deploy.sh
  install/deploy/skywalking-deploy.sh
  install/kubernetes/helm/skywalking/Chart.yaml
  install/kubernetes/helm/skywalking/README.md
  install/kubernetes/helm/skywalking/templates/NOTES.txt
  install/kubernetes/helm/skywalking/templates/istio-adapter/adapter.yaml
  install/kubernetes/helm/skywalking/templates/istio-adapter/handler.yaml
  install/kubernetes/helm/skywalking/templates/istio-adapter/instance.yaml
  install/kubernetes/helm/skywalking/templates/istio-adapter/rule.yaml
  install/kubernetes/helm/skywalking/values.yaml
Labels: CI settings

#3772 Use more specific ShardingSphere version to avoid compilation error
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-plugin/pom.xml
Labels: agent, bug, plugin

#3773 [test/plugin] immigrate customize scenario
  Jenkinsfile-Agent-Test-2
  test/plugin/scenarios/customize-scenario/bin/startup.sh
  test/plugin/scenarios/customize-scenario/config/customize_enhance.xml
  test/plugin/scenarios/customize-scenario/config/expectedData.yaml
  test/plugin/scenarios/customize-scenario/configuration.yml
  test/plugin/scenarios/customize-scenario/pom.xml
  test/plugin/scenarios/customize-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/customize-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/customize/Application.java
  test/plugin/scenarios/customize-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/customize/controller/CustomizeController.java
  test/plugin/scenarios/customize-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/customize/model/Model0.java
  test/plugin/scenarios/customize-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/customize/model/Model1.java
  test/plugin/scenarios/customize-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/customize/service/TestService1.java
  test/plugin/scenarios/customize-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/customize/service/TestService2.java
  test/plugin/scenarios/customize-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/customize-scenario/support-version.list
Labels: agent, enhancement, plugin, test

#3774 [hotfix] Remove argument BUILID_ID from run.sh
  Jenkinsfile-Agent-Test
  Jenkinsfile-Agent-Test-2
  Jenkinsfile-Agent-Test-3
  test/plugin/containers/pom.xml
  test/plugin/run.sh
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/ConfigurationImpl.java
  test/plugin/runner-helper/src/main/resources/compose-start-script.template
  test/plugin/runner-helper/src/main/resources/docker-compose.template
Labels: agent, enhancement, test

#3775 [test/plugin] immigrate test redisson scenario.
  Jenkinsfile-Agent-Test-2
  test/plugin/scenarios/redisson-scenario/bin/startup.sh
  test/plugin/scenarios/redisson-scenario/config/expectedData.yaml
  test/plugin/scenarios/redisson-scenario/configuration.yml
  test/plugin/scenarios/redisson-scenario/pom.xml
  test/plugin/scenarios/redisson-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/redisson-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/redisson/Application.java
  test/plugin/scenarios/redisson-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/redisson/controller/CaseController.java
  test/plugin/scenarios/redisson-scenario/src/main/resources/application.properties
  test/plugin/scenarios/redisson-scenario/support-version.list
Labels: agent, plugin, test

#3781 [test/plugin] Don't copy all optional plugins by default
  test/plugin/run.sh
Labels: test

#3782 Enhance EtcdCoordinator if disconnected from etcd server for a long time
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/EtcdCoordinator.java
Labels: OAP-backend, enhancement, plugin

#3786 Add plugin test framework doc
  docs/README.md
  docs/en/guides/Java-Plugin-Development-Guide.md
  docs/en/guides/Plugin-test.md
Labels: document

#3789 Update mvnw to latest version
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  LICENSE
  mvnw
  mvnw.cmd
  tools/releasing/create_source_release.sh
Labels: document

#3783 add SupplierWrapper to support java 1.8+ CompletableFuture.supplyAsync #3779
  apm-application-toolkit/apm-toolkit-trace/src/main/java/org/apache/skywalking/apm/toolkit/trace/SupplierWrapper.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/CallableOrRunnableActivation.java
  docs/en/setup/service-agent/java-agent/Application-toolkit-trace-cross-thread.md
  test/plugin/scenarios/apm-toolkit-trace-scenario/config/expectedData.yaml
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/org/apache/skywalking/apm/toolkit/trace/SupplierWrapper.java
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/toolkit/controller/TestController.java
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/toolkit/controller/TestService.java
Labels: agent, enhancement, plugin

#3795 fix opentracing with tag error is failed
  apm-sniffer/apm-toolkit-activation/apm-toolkit-opentracing-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/opentracing/span/SpanSetTagInterceptor.java
Labels: agent, bug, plugin

#3798 add an elapsed time list for plugins
  docs/en/guides/Plugin-test.md
Labels: document

#3799 reformat and add total time for groups
  docs/en/guides/Plugin-test.md
Labels: document

#3797 [test/plugin] merge undertow scenario
  Jenkinsfile-Agent-Test-3
  Jenkinsfile-Agent-Test-4
  docs/en/guides/Plugin-test.md
  test/plugin/run.sh
  test/plugin/scenarios/undertow-routing-scenario/bin/startup.sh
  test/plugin/scenarios/undertow-routing-scenario/config/expectedData.yaml
  test/plugin/scenarios/undertow-routing-scenario/configuration.yml
  test/plugin/scenarios/undertow-routing-scenario/pom.xml
  test/plugin/scenarios/undertow-routing-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/undertow-routing-scenario/src/main/java/org/apache/skywalking/amp/testcase/undertow/Application.java
  test/plugin/scenarios/undertow-routing-scenario/support-version.list
  test/plugin/scenarios/undertow-scenario/config/expectedData.yaml
  test/plugin/scenarios/undertow-scenario/src/main/java/org/apache/skywalking/amp/testcase/undertow/Application.java
Labels: plugin, test

#3804 update plugin test doc.
  docs/en/guides/Plugin-test.md
Labels: document

#3802 Provide archetypes for plugin testcase
  docs/en/guides/Plugin-test.md
  test/plugin/archetypes/jvm/pom.xml
  test/plugin/archetypes/jvm/src/main/resources/META-INF/maven/archetype-metadata.xml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/bin/startup.sh
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/config/expectedData.yaml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/configuration.yml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/pom.xml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/src/main/assembly/assembly.xml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/src/main/java/Application.java
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/src/main/java/controller/CaseController.java
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/src/main/resources/application.properties
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/src/main/resources/log4j2.xml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/support-version.list
  test/plugin/archetypes/pom.xml
  test/plugin/archetypes/tomcat/pom.xml
  test/plugin/archetypes/tomcat/src/main/resources/META-INF/maven/archetype-metadata.xml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/config/expectedData.yaml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/configuration.yml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/pom.xml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/src/main/java/CaseServlet.java
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/src/main/java/HealthCheckServlet.java
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/src/main/resources/log4j2.xml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/src/main/webapp/WEB-INF/web.xml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/support-version.list
  test/plugin/generator.sh
Labels: enhancement, test

#3814 Modify als docs
  docs/en/setup/envoy/als_setting.md
Labels: document

#3808 [test/plugin] fix archetypes
  docs/en/guides/Plugin-test.md
  test/plugin/archetypes/jvm/src/main/resources/META-INF/maven/archetype-metadata.xml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/bin/startup.sh
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/config/expectedData.yaml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/pom.xml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/src/main/java/controller/CaseController.java
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/src/main/resources/application.yaml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/src/main/resources/log4j2.xml
  test/plugin/archetypes/tomcat/src/main/resources/META-INF/maven/archetype-metadata.xml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/config/expectedData.yaml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/configuration.yml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/pom.xml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/src/main/java/CaseServlet.java
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/src/main/java/HealthCheckServlet.java
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/src/main/resources/log4j2.xml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/src/main/webapp/WEB-INF/web.xml
  test/plugin/generator.sh
Labels: agent, bug, test

#3811 [test/plugin] immigrate jedis scenario
  Jenkinsfile-Agent-Test-4
  docs/en/guides/Plugin-test.md
  test/plugin/scenarios/jedis-scenario/bin/startup.sh
  test/plugin/scenarios/jedis-scenario/config/expectedData.yaml
  test/plugin/scenarios/jedis-scenario/configuration.yml
  test/plugin/scenarios/jedis-scenario/pom.xml
  test/plugin/scenarios/jedis-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jedis-scenario/src/main/java/org/apache/skywalking/apm/testcase/jedis/Application.java
  test/plugin/scenarios/jedis-scenario/src/main/java/org/apache/skywalking/apm/testcase/jedis/controller/CaseController.java
  test/plugin/scenarios/jedis-scenario/src/main/java/org/apache/skywalking/apm/testcase/jedis/controller/RedisCommandExecutor.java
  test/plugin/scenarios/jedis-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/jedis-scenario/support-version.list
Labels: agent, plugin, test

#3816 Add Peking University to user list.
  README.md
  docs/powered-by.md
Labels: SW-PKUOSA, document

#3815 [agent/plugin] Fix config variable usage bug
  apm-sniffer/apm-sdk-plugin/postgresql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/postgresql/PreparedStatementExecuteMethodsInterceptor.java
Labels: agent, bug, plugin

#3820 [agent/plugin] Move FILTER_LENGTH_LIMIT to config.plugin.mongodb
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mongodb/v3/support/MongoConstants.java
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mongodb/v3/support/MongoOperationHelper.java
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, enhancement, plugin

#3770 Add change log for 6.5.0
  CHANGES.md
Labels: document

#3833 Fix consul repeated invoker KVCache.newCache
  oap-server/server-configuration/configuration-consul/src/main/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationWatcherRegister.java
Labels: OAP-backend, bug, plugin

#3836 Add minikube to CI
  .github/workflows/istio-mixer-ci.yaml
  test/scripts/clean.sh
  test/scripts/minikube.sh
  test/scripts/pre.sh
Labels: CI settings

#3845 ignore kryo ".reflectasm." class
  apm-sniffer/apm-agent/src/main/java/org/apache/skywalking/apm/agent/SkyWalkingAgent.java
Labels: agent

#3859 fix component-libraries.yml miss component:rest-high-level-client
  oap-server/server-core/src/test/resources/component-libraries.yml
Labels: bug

#3861 [hotfix] Make socketio-plugin test case stable
  test/plugin/scenarios/netty-socketio-scenario/src/main/java/org/apache/skywalking/apm/testcase/netty/socketio/CaseServlet.java
  test/plugin/scenarios/netty-socketio-scenario/src/main/java/org/apache/skywalking/apm/testcase/netty/socketio/ContextListener.java
  test/plugin/scenarios/netty-socketio-scenario/src/main/java/org/apache/skywalking/apm/testcase/netty/socketio/HealthCheckServlet.java
  test/plugin/scenarios/netty-socketio-scenario/src/main/java/org/apache/skywalking/apm/testcase/netty/socketio/SocketIOStarter.java
Labels: bug, plugin, test

#3788 Rabbitmq plugin test migration
  Jenkinsfile-Agent-Test
  docs/en/guides/Plugin-test.md
  test/plugin/scenarios/rabbitmq-scenario/bin/startup.sh
  test/plugin/scenarios/rabbitmq-scenario/config/expectedData.yaml
  test/plugin/scenarios/rabbitmq-scenario/configuration.yml
  test/plugin/scenarios/rabbitmq-scenario/pom.xml
  test/plugin/scenarios/rabbitmq-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/rabbitmq-scenario/src/main/java/org/apache/skywalking/apm/testcase/rabbitmq/Application.java
  test/plugin/scenarios/rabbitmq-scenario/src/main/java/org/apache/skywalking/apm/testcase/rabbitmq/controller/CaseController.java
  test/plugin/scenarios/rabbitmq-scenario/src/main/resources/application.properties
  test/plugin/scenarios/rabbitmq-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/rabbitmq-scenario/support-version.list
Labels: agent, plugin, test

#3865 make words be consistent in the context.& fix typo
  docs/en/guides/Plugin-test.md
Labels: document

#3866 [hotfix]Make kafka-scenario stable
  test/plugin/containers/jvm-container/docker/run.sh
  test/plugin/containers/tomcat-container/docker/catalina.sh
  test/plugin/scenarios/kafka-scenario/configuration.yml
Labels: agent, plugin, test

#3849 Refactor DataCarrier, support ArrayBlockingQueueBuffer as implementor
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/DataCarrier.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/ArrayBlockingQueueBuffer.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/Buffer.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/BufferStrategy.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/Channels.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/QueueBuffer.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/callback/QueueBlockingCallback.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumeDriver.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumerThread.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/MultipleChannelsConsumer.java
  apm-commons/apm-datacarrier/src/test/java/org/apache/skywalking/apm/commons/datacarrier/DataCarrierTest.java
  apm-commons/apm-datacarrier/src/test/java/org/apache/skywalking/apm/commons/datacarrier/consumer/BulkConsumePoolTest.java
  apm-commons/apm-datacarrier/src/test/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumerTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClient.java
Labels: OAP-backend, core feature

#3869 [hofix] Fix test plugin image build bug
  test/plugin/containers/pom.xml
Labels: agent, bug, plugin, test

#3761 Rabbitmq instrument consumer class correctly to get duration reported…
  apm-sniffer/apm-sdk-plugin/rabbitmq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rabbitmq/RabbitMQConsumerInterceptor.java
  apm-sniffer/apm-sdk-plugin/rabbitmq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rabbitmq/define/RabbitMQConsumerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/rabbitmq-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/rabbitmq/RabbitMQConsumerInterceptorTest.java
Labels: agent, bug, plugin

#3854 Intercept feign URL without parameters
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/feign/http/v9/DefaultHttpClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/feign/http/v9/FeignResolvedURL.java
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/feign/http/v9/PathVarInterceptor.java
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/feign/http/v9/define/PathVarInstrumentation.java
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/feign/http/v9/DefaultHttpClientInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/feign/http/v9/PathVarInterceptorTest.java
  test/plugin/run.sh
  test/plugin/scenarios/feign-scenario/config/expectedData.yaml
Labels: Feature, agent, plugin

#3876 Update joda lib to fix UTC +13/+14 bug
  apm-dist/release-docs/LICENSE
  oap-server/pom.xml
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: OAP-backend, bug, core feature

#3881 Add MINSHENG FinTech to powered-by
  docs/powered-by.md
Labels: document

#3882 make sql statement more semantic.
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/endpoint/MultiScopesSpanListener.java
Labels: OAP-backend, bug

#3676 Add componentId for apache servicecomb.
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: Feature, OAP-backend

#3888 Add documentation link - illustrate module hierarchy and call flow
  docs/README.md
Labels: document

#3886 fix: spring annotation inheritance problem #3847
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/RequestMappingMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/RestMappingMethodInterceptor.java
Labels: agent, bug, plugin

#3887 [test/plugin] immigrate test hystrix scenario.
  Jenkinsfile-Agent-Test-3
  docs/en/guides/Plugin-test.md
  test/plugin/scenarios/hystrix-scenario/bin/startup.sh
  test/plugin/scenarios/hystrix-scenario/config/expectedData.yaml
  test/plugin/scenarios/hystrix-scenario/configuration.yml
  test/plugin/scenarios/hystrix-scenario/pom.xml
  test/plugin/scenarios/hystrix-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/hystrix-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/hystrix/Application.java
  test/plugin/scenarios/hystrix-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/hystrix/controller/CaseController.java
  test/plugin/scenarios/hystrix-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/hystrix/controller/TestACommand.java
  test/plugin/scenarios/hystrix-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/hystrix/controller/TestBCommand.java
  test/plugin/scenarios/hystrix-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/hystrix-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/hystrix-scenario/support-version.list
Labels: agent, plugin, test

#3892 make topN worker report period configurable.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNWorker.java
  oap-server/server-starter/src/main/assembly/application.yml
  oap-server/server-starter/src/main/resources/application.yml
Labels: OAP-backend

#3874 [test/plugin] Print systeminfo on failure
  test/plugin/containers/jvm-container/docker/run.sh
  test/plugin/containers/tomcat-container/docker/catalina.sh
  test/plugin/run.sh
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/ConfigurationImpl.java
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/DockerComposeRunningGenerator.java
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/IConfiguration.java
  test/plugin/runner-helper/src/main/resources/docker-compose.template
  test/plugin/scenarios/kafka-scenario/configuration.yml
Labels: agent, plugin, test

#3894 fix project deadlock when starting application in issue 3784
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/loader/InterceptorInstanceLoader.java
Labels: agent, bug, core feature

#3902 Set up GitHub Action to include istio+sw in CI process
  .github/workflows/istio-mixer-ci.yaml
  install/README.md
  install/deploy/all_cleanup.sh
  install/deploy/demo-deploy.sh
  install/deploy/istio-deploy.sh
  install/deploy/skywalking-deploy.sh
  install/kubernetes/helm/skywalking/.helmignore
  install/kubernetes/helm/skywalking/Chart.yaml
  install/kubernetes/helm/skywalking/OWNERS
  install/kubernetes/helm/skywalking/README.md
  install/kubernetes/helm/skywalking/templates/NOTES.txt
  install/kubernetes/helm/skywalking/templates/_helpers.tpl
  install/kubernetes/helm/skywalking/templates/es-init.job.yaml
  install/kubernetes/helm/skywalking/templates/istio-adapter/adapter.yaml
  install/kubernetes/helm/skywalking/templates/istio-adapter/handler.yaml
  install/kubernetes/helm/skywalking/templates/istio-adapter/instance.yaml
  install/kubernetes/helm/skywalking/templates/istio-adapter/rule.yaml
  install/kubernetes/helm/skywalking/templates/oap-clusterrole.yaml
  install/kubernetes/helm/skywalking/templates/oap-clusterrolebinding.yaml
  install/kubernetes/helm/skywalking/templates/oap-deployment.yaml
  install/kubernetes/helm/skywalking/templates/oap-role.yaml
  install/kubernetes/helm/skywalking/templates/oap-rolebinding.yaml
  install/kubernetes/helm/skywalking/templates/oap-serviceaccount.yaml
  install/kubernetes/helm/skywalking/templates/oap-svc.yaml
  install/kubernetes/helm/skywalking/templates/ui-deployment.yaml
  install/kubernetes/helm/skywalking/templates/ui-ingress.yaml
  install/kubernetes/helm/skywalking/templates/ui-svc.yaml
  install/kubernetes/helm/skywalking/values.yaml
  test/scripts/clean.sh
  test/scripts/minikube.sh
  test/scripts/pre.sh
Labels: CI settings

#3906 Support ordered segment list in trace query
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TraceQueryService.java
Labels: OAP-backend, bug

#3909 Add jetty's Java agent deployment instructions
  docs/en/setup/service-agent/java-agent/README.md
Labels: document

#3913 support custom elasticsearch settings in index level.
  docker/oap/docker-entrypoint.sh
  docs/en/setup/backend/backend-storage.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/base/StorageEs7Installer.java
Labels: backend, feature

#3919 Extending OAP docker container
  .github/workflows/docker-ci.yaml
  Makefile
  docker/oap/Dockerfile.oap
  docker/oap/docker-entrypoint.sh
  test/scripts/env.sh
Labels: docker

#3921 [test/plugin] Fix grpc scenario
  Jenkinsfile-Agent-Test-3
  docs/en/guides/Plugin-test.md
Labels: agent, plugin, test

#3925 Fix the wrong trigger option.
  .github/workflows/docker-ci.yaml
Labels: CI settings

#3905 [test/plugin] Immigrate tests okhttp scenario
  Jenkinsfile-Agent-Test-2
  docs/en/guides/Plugin-test.md
  test/plugin/scenarios/okhttp-scenario/bin/startup.sh
  test/plugin/scenarios/okhttp-scenario/config/expectedData.yaml
  test/plugin/scenarios/okhttp-scenario/configuration.yml
  test/plugin/scenarios/okhttp-scenario/pom.xml
  test/plugin/scenarios/okhttp-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/okhttp-scenario/src/main/java/test/apache/skywalking/testcase/okhttp/Application.java
  test/plugin/scenarios/okhttp-scenario/src/main/java/test/apache/skywalking/testcase/okhttp/controller/CaseController.java
  test/plugin/scenarios/okhttp-scenario/src/main/resources/application.properties
  test/plugin/scenarios/okhttp-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/okhttp-scenario/support-version.list
Labels: agent, plugin, test

#3927 Fix Tomcat to jvm. Because it's using JVM container.
  docs/en/guides/Plugin-test.md
Labels: document

#3922 Update: add LICENSE-material-design
  LICENSE
  apm-dist/release-docs/LICENSE
Labels: document

#3933 Add a checker when rendering template.
  test/plugin/runner-helper/src/main/resources/docker-compose.template
Labels: bug, test

#3934 Add mention of light4j plugin in 6.5.0 changelog
  CHANGES.md
Labels: document

#3943 Document error for agent config file 's config description
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  docs/en/setup/service-agent/java-agent/README.md
Labels: bug, document

#3953 Set up Github Action for E2E and Plugins Tests
  .github/workflows/docker-ci.yaml
  .github/workflows/e2e.yaml
  .github/workflows/istio-mixer-ci.yaml
  .github/workflows/plugins-test.yaml
  Jenkinsfile-Agent-Test
  Jenkinsfile-Agent-Test-2
  Jenkinsfile-Agent-Test-3
  Jenkinsfile-Agent-Test-4
  Jenkinsfile-E2E
Labels: CI settings

#3949 alarm-settings.yml support exclude-names
  docs/en/setup/backend/backend-alarm.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRuleInitTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcherTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRuleTest.java
  oap-server/server-alarm-plugin/src/test/resources/alarm-settings.yml
Labels: backend, feature

#3956 Set up CI-IT action and Split Plugin-Tests
  .github/workflows/ci-it.yaml
  .github/workflows/plugins-test.yaml
  docs/en/guides/Plugin-test.md
Labels: CI settings

#3855 Add apdex function to OAL
  docs/en/setup/backend/apdex-threshold.md
  docs/en/setup/backend/dynamic-config.md
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALParser.g4
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/AnalysisResult.java
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/Argument.java
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/EntryMethod.java
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/OALListener.java
  oap-server/oal-rt/src/main/resources/code-templates/dispatcher/doMetrics.ftl
  oap-server/server-bootstrap/src/main/resources/official_analysis.oal
  oap-server/server-bootstrap/src/main/resources/service-apdex-threshold.yml
  oap-server/server-core/pom.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/ApdexThresholdConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/ConfigurationDictionary.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/ApdexMetrics.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/ApdexThresholdConfigTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/ApdexMetricsTest.java
  oap-server/server-core/src/test/resources/service-apdex-threshold.yml
  test/e2e/e2e-base/src/main/java/org/apache/skywalking/e2e/metrics/MetricsQuery.java
Labels: core feature

#3973 skip unnecessary action
  .github/workflows/ci-it.yaml
  .github/workflows/plugins-test.yaml
Labels: CI settings

#3976 Distribute "service-apdex-threshold.yml"
  apm-dist/src/main/assembly/binary.xml
  oap-server/server-bootstrap/pom.xml
Labels: bug

#3977 Delete Jenkinsfile due to CI on GitHub Action now
  Jenkinsfile
Labels: CI settings

#3972 Add coverage and comment
  .github/workflows/ci-it.yaml
Labels: CI settings

#3948 Immigrate test mysql scenario.
  .github/workflows/plugins-test.yaml
  test/plugin/scenarios/mysql-scenario/bin/startup.sh
  test/plugin/scenarios/mysql-scenario/config/expectedData.yaml
  test/plugin/scenarios/mysql-scenario/configuration.yml
  test/plugin/scenarios/mysql-scenario/pom.xml
  test/plugin/scenarios/mysql-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/mysql-scenario/src/main/java/org/apache/skywalking/apm/testcase/mysql/Application.java
  test/plugin/scenarios/mysql-scenario/src/main/java/org/apache/skywalking/apm/testcase/mysql/MysqlConfig.java
  test/plugin/scenarios/mysql-scenario/src/main/java/org/apache/skywalking/apm/testcase/mysql/SQLExecutor.java
  test/plugin/scenarios/mysql-scenario/src/main/java/org/apache/skywalking/apm/testcase/mysql/controller/CaseController.java
  test/plugin/scenarios/mysql-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/mysql-scenario/src/main/resources/jdbc.properties
  test/plugin/scenarios/mysql-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/mysql-scenario/support-version.list
Labels: feature, test

#3986 Add China Mobile into the user list.
  README.md
  docs/powered-by.md
Labels: document
