Repository apache/skywalking, pull requests merged in 2019-09, with the labels that each got.

#3376 Add istio bypass adaptor setup document back
  docs/en/setup/envoy/als_setting.md
  docs/en/setup/istio/README.md
  docs/en/setup/istio/yaml/01-metrictemplate.yml
  docs/en/setup/istio/yaml/02-skywalingadapter.yml
  docs/en/setup/istio/yaml/03-operator_cfg.yml
Labels: document

#3391 Fix Pxx calculate bug.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PxxMetrics.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/PxxMetricsTest.java
Labels: OAP-backend, bug, high priority

#3370 support es https ssl config.
  docs/en/setup/backend/backend-storage.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/Client.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ITElasticSearchClient.java
  oap-server/server-starter/src/main/assembly/application.yml
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
Labels: OAP-backend

#3393 Fix Webflux plugin throw ClassCastException when defining a filter
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/define/DefaultServerWebExchangeInstrumentation.java
Labels: agent, bug, plugin

#3398 Add changelog for 6.4.0 release.
  CHANGES.md
Labels: document

#3415 Add vue-js-modal license
  apm-dist/release-docs/LICENSE
  apm-dist/release-docs/licenses/ui-licenses/LICENSE-vue-js-modal
Labels: UI, document

#3419 Gateway & Webflux plugin compatible with these scene
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/AbstractServerResponseMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerHandleMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerHandleResultMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerInvokeHandlerMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/ServerWebExchangeConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/define/AbstractServerResponseInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/define/ServerWebExchangeInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-2.1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v21x/NettyRoutingFilterInterceptor.java
Labels: agent, bug, plugin

#3426 Add gateway.yml to avoid unnecessary errors
  oap-server/server-starter/pom.xml
  oap-server/server-starter/src/main/assembly/assembly.xml
Labels: OAP-backend, bug

#3433 Add ui lodash depend license
  apm-dist/release-docs/LICENSE
  apm-dist/release-docs/licenses/ui-licenses/LICENSE-lodash
Labels: document

#3450 Fill my FAQ reply in official document.
  docs/en/FAQ/MQ-involved-architecture.png
  docs/en/FAQ/README.md
  docs/en/FAQ/why_mq_not_involved.md
  docs/en/concepts-and-designs/overview.md
Labels: document

#3446 spring-cloud-gateway traceid does not transmit #3411
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerHandleMethodInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-2.1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v21x/NettyRoutingFilterInterceptor.java
Labels: agent, bug, plugin

#3445 Gateway compatible with downstream loss
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/AbstractServerResponseMethodInterceptor.java
Labels: agent, bug, plugin

#3465 Update docker-entrypoint.sh
  docker/oap/docker-entrypoint.sh
Labels: bug, docker

#3408 fix springMVC4 noSuchMethod
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/ControllerForLowVersionConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/define/AbstractSpring4Instrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/define/ControllerForLowVersionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/define/RestControllerForLowVersionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/define/RestControllerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/main/resources/skywalking-plugin.def
Labels: agent, plugin

#3471 Make sure the cluster register happens before streaming process.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/RemoteSenderService.java
Labels: OAP-backend, enhancement

#3367 agent support custom properties.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/ServiceAndEndpointRegisterClient.java
  docs/en/setup/service-agent/java-agent/README.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/entity/Service.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v6/grpc/RegisterServiceHandler.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetadataQueryDAO.java
Labels: OAP-backend, agent

#3483 correct a typo
  docs/en/FAQ/why_mq_not_involved.md
Labels: document

#3485 Language of instance could be NULL
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/entity/ServiceInstance.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetadataQueryDAO.java
Labels: bug, core feature, high priority

#3487 Fix variable name and log in e2e tests.
  test/e2e/e2e-agent-reboot/src/test/java/org/apache/skywalking/e2e/AgentRebootITCase.java
  test/e2e/e2e-cluster/test-runner/src/test/java/org/apache/skywalking/e2e/ClusterVerificationITCase.java
  test/e2e/e2e-single-service/src/test/java/org/apache/skywalking/e2e/SampleVerificationITCase.java
Labels: enhancement, test

#3475 Add feature to control the maximum agent log files
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/FileWriter.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/logging/core/FileWriterTest.java
  apm-sniffer/config/agent.config
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, enhancement

#3492 Set telemetry instanced id for etcd and nacos plugin
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/EtcdCoordinator.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/NacosCoordinator.java
Labels: OAP-backend, bug

#3491 Support timeout configuration in agent and backend.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/JVMService.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/ServiceAndEndpointRegisterClient.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/TraceSegmentServiceClient.java
  docs/en/setup/service-agent/java-agent/README.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClient.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/RemoteClientManager.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClientRealClient.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClientTestCase.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/remote/client/RemoteClientManagerTestCase.java
Labels: OAP-backend, enhancement

#3497 Try GitHub actions to automatically label pull requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: test

#3500 Bugfix: labeler not work
  .github/workflows/labeler.yml
Labels: test

#3502 Polish labeler settings and support submodule
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: CI settings

#3504 Revert labeler action and .travis.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
  .travis.yml
Labels: CI settings

#3507 Sync latest ALS from Envoy API
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/envoy/data/accesslog/v2/accesslog.proto
Labels: OAP-backend

#3496 Committer vote and set up document.
  docs/en/guides/README.md
  docs/en/guides/asf/committer.md
Labels: document, high priority

#3509 Exclude the test codes from source release.
  LICENSE
  licenses/LICENSE-antd.txt
  tools/releasing/create_source_release.sh
Labels: enhancement

#3510 Bugfix: endpoint grouping rules may be not unique
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/StringFormatGroup.java
Labels: agent, bug

#3476 Add pulsar apm plugin
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/ConsumerConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/ConsumerEnhanceRequiredInfo.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/ProducerConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/ProducerEnhanceRequiredInfo.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/PulsarConsumerInterceptor.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/PulsarProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/SendCallbackEnhanceRequiredInfo.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/SendCallbackInterceptor.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/define/PulsarConsumerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/define/PulsarProducerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/define/SendCallbackInstrumentation.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/test/java/org/apache/skywalking/apm/plugin/pulsar/ConsumerConstructorInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/test/java/org/apache/skywalking/apm/plugin/pulsar/MockMessage.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/test/java/org/apache/skywalking/apm/plugin/pulsar/ProducerConstructorInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/test/java/org/apache/skywalking/apm/plugin/pulsar/PulsarConsumerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/test/java/org/apache/skywalking/apm/plugin/pulsar/PulsarProducerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/test/java/org/apache/skywalking/apm/plugin/pulsar/SendCallbackInterceptorTest.java
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: agent, enhancement, plugin

#3520 Add xin.com to powered-by page
  docs/powered-by.md
Labels: document

#3534 Update slack invitation link.
  README.md
Labels: document

#3536 Fix typo in backend-cluster.md
  docs/en/setup/backend/backend-cluster.md
Labels: document

#3537 Fix typo
  docs/en/setup/backend/backend-receivers.md
Labels: document

#3503 Try to bring coverall test coverage comments back
  Jenkinsfile
  pom.xml
Labels: test

#3550 Update README.md
  docker/README.md
Labels: document

#3546 Switch to SkyWalking CI nodes
  Jenkinsfile
  Jenkinsfile-E2E
  pom.xml
Labels: core feature, test

#3541 Upgrade guava version to support higher JDK version
  apm-dist/release-docs/LICENSE
  docs/en/setup/backend/backend-ui-setup.md
  oap-server/pom.xml
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: OAP-backend, enhancement
