Repository apache/skywalking, pull requests merged in 2019-12, with the labels that each got.

#3988 [test/plugin]Fix express parse for null
  test/plugin/validator/src/main/java/org/apache/skywalking/plugin/test/agent/tool/validator/assertor/ExpressParser.java
Labels: bug, plugin, test

#3989 Immigrate test gson scenario.
  .github/workflows/plugins-test.yaml
  test/plugin/scenarios/gson-scenario/bin/startup.sh
  test/plugin/scenarios/gson-scenario/config/expectedData.yaml
  test/plugin/scenarios/gson-scenario/configuration.yml
  test/plugin/scenarios/gson-scenario/pom.xml
  test/plugin/scenarios/gson-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/gson-scenario/src/main/java/org/apache/skywalking/apm/testcase/gson/Application.java
  test/plugin/scenarios/gson-scenario/src/main/java/org/apache/skywalking/apm/testcase/gson/controller/CaseController.java
  test/plugin/scenarios/gson-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/gson-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/gson-scenario/support-version.list
Labels: agent, plugin, test

#3994 Fix official_analysis.oal url path at README.md
  docs/en/protocols/README.md
Labels: document

#3995 Distribute "service-apdex-threshold.yml" for es7
  apm-dist/src/main/assembly/binary-es7.xml
Labels: backend, bug

#3998 Remove unused ES7 config
  apm-dist/src/main/assembly/application.yml
  docs/en/setup/backend/backend-storage.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/StorageModuleElasticsearch7Config.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/base/StorageEs7Installer.java
Labels: backend, bug, core feature

#3997 [test/plugin]immigrate pulsar scenario
  .github/workflows/plugins-test.yaml
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/DockerComposeRunningGenerator.java
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/vo/DependencyComponent.java
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/vo/DockerService.java
  test/plugin/runner-helper/src/main/resources/docker-compose.template
  test/plugin/scenarios/pulsar-scenario/bin/startup.sh
  test/plugin/scenarios/pulsar-scenario/config/expectedData.yaml
  test/plugin/scenarios/pulsar-scenario/configuration.yml
  test/plugin/scenarios/pulsar-scenario/pom.xml
  test/plugin/scenarios/pulsar-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/pulsar-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/pulsar/Application.java
  test/plugin/scenarios/pulsar-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/pulsar/controller/CaseController.java
  test/plugin/scenarios/pulsar-scenario/src/main/resources/application.properties
  test/plugin/scenarios/pulsar-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/pulsar-scenario/support-version.list
Labels: agent, plugin, test

#4003 Fix bug dubbo-2.7-conflict-patch plugin
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-conflict-patch/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/patch/WrapperInstrumentation.java
Labels: agent, bug, plugin

#4006 [test/plugin] immigrate test oracle scenario.
  .github/workflows/plugins-test.yaml
  test/plugin/scenarios/oracle-scenario/bin/startup.sh
  test/plugin/scenarios/oracle-scenario/config/expectedData.yaml
  test/plugin/scenarios/oracle-scenario/configuration.yml
  test/plugin/scenarios/oracle-scenario/pom.xml
  test/plugin/scenarios/oracle-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/oracle-scenario/src/main/java/org/apache/skywalking/apm/testcase/oracle/Application.java
  test/plugin/scenarios/oracle-scenario/src/main/java/org/apache/skywalking/apm/testcase/oracle/controller/CaseController.java
  test/plugin/scenarios/oracle-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/oracle-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/oracle-scenario/support-version.list
Labels: plugin, test

#4011 update es7.x plugin test support version.
  .github/workflows/plugins-test.yaml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/elasticsearch-7.x-scenario/support-version.list
Labels: agent, plugin, test

#4013 Update envoy proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/envoy/data/accesslog/v2/accesslog.proto
Labels: backend

#4025 Clean up unused CI tool codes
  tools/ci/agent-build-condition.sh
  tools/ci/changed.sh
  tools/ci/ci-build-condition.sh
  tools/ci/e2e-build-condition.sh
Labels: CI settings

#4019 Add instructions for logback with logstash in custom json format
  docs/en/setup/service-agent/java-agent/Application-toolkit-logback-1.x.md
Labels: document

#4030 Modify The Consul cluster nodes 's Description
  docs/en/setup/backend/backend-cluster.md
Labels: document

#4035 [test/plugin] immigrate jdk http scenario
  .github/workflows/plugins-test.yaml
  test/plugin/scenarios/jdk-http-scenario/bin/startup.sh
  test/plugin/scenarios/jdk-http-scenario/config/expectedData.yaml
  test/plugin/scenarios/jdk-http-scenario/configuration.yml
  test/plugin/scenarios/jdk-http-scenario/pom.xml
  test/plugin/scenarios/jdk-http-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jdk-http-scenario/src/main/java/org/apache/skywalking/apm/testcase/jdkhttp/Application.java
  test/plugin/scenarios/jdk-http-scenario/src/main/java/org/apache/skywalking/apm/testcase/jdkhttp/controller/CaseController.java
  test/plugin/scenarios/jdk-http-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/jdk-http-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jdk-http-scenario/support-version.list
Labels: agent, plugin, test

#4038 Add SkyWalking CLI download links
  docs/README.md
  docs/en/concepts-and-designs/README.md
  docs/en/setup/backend/backend-ui-setup.md
Labels: document

#4039 Fix NPE when worker not found, mostly new OAL metrics added
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/RemoteServiceHandler.java
Labels: backend, bug

#4015 Support set operation name in async mode span
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/EntrySpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/ExitSpan.java
Labels: agent, core feature

#4040 [test/plugin] immigrate test cassandra scenario.
  .github/workflows/plugins-test.yaml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/bin/startup.sh
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/configuration.yml
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/pom.xml
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/cassandra/Application.java
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/cassandra/controller/CaseController.java
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/cassandra-java-driver-3.x-scenario/support-version.list
Labels: agent, plugin, test

#4045 Set up project builds on Windows and MacOS.
  .github/workflows/ci-it.yaml
  .github/workflows/e2e.yaml
  .github/workflows/plugins-test.yaml
Labels: CI settings

#4048 Move e2e and istio e2e to master and release recheck.
  .github/workflows/ci-it.yaml
  .github/workflows/e2e.yaml
  .github/workflows/istio-mixer-ci.yaml
Labels: CI settings

#4054 Remove client side endpoint register of service mesh
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/ServiceMeshMetricDataDecorator.java
Labels: backend, bug

#4062 fix docker-entrypoint.sh generate error.
  docker/oap/docker-entrypoint.sh
Labels: bug, docker

#4063 Fix NullPointerException in Spring interceptor
  apm-sniffer/apm-sdk-plugin/spring-plugins/core-patch/src/main/java/org/apache/skywalking/apm/plugin/spring/patch/GetPropertyDescriptorsInterceptor.java
Labels: agent, bug, plugin

#4065 fix es agent remote peers error when multi host.
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/RemotePeerCache.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientConInterceptorTest.java
Labels: agent, feature, plugin

#4064 Improve skywalking-deploy.sh
  install/deploy/skywalking-deploy.sh
Labels: CI settings

#4068 Add more users and most are very famous
  README.md
  docs/powered-by.md
Labels: document

#4070 As our typical user list is long, add user wall back
  README.md
Labels: document

#4074 [CI] Add IT/E2E check statuses to index page
  README.md
Labels: document

#4067 [Feature] Add Java agent plugin for Jdk Threading classes
  .github/workflows/plugins-test.yaml
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/HierarchyMatch.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/PrefixMatch.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/logical/LogicalAndMatch.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/logical/LogicalMatchOperation.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/logical/LogicalOrMatch.java
  apm-sniffer/bootstrap-plugins/jdk-threading-plugin/pom.xml
  apm-sniffer/bootstrap-plugins/jdk-threading-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/threading/ThreadingConfig.java
  apm-sniffer/bootstrap-plugins/jdk-threading-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/threading/ThreadingConstructorInterceptor.java
  apm-sniffer/bootstrap-plugins/jdk-threading-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/threading/ThreadingMethodInterceptor.java
  apm-sniffer/bootstrap-plugins/jdk-threading-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/threading/define/CallableInstrumentation.java
  apm-sniffer/bootstrap-plugins/jdk-threading-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/threading/define/RunnableInstrumentation.java
  apm-sniffer/bootstrap-plugins/jdk-threading-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/bootstrap-plugins/pom.xml
  apm-sniffer/config/agent.config
  docs/en/setup/service-agent/java-agent/README.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/jdk-threading-scenario/bin/startup.sh
  test/plugin/scenarios/jdk-threading-scenario/config/expectedData.yaml
  test/plugin/scenarios/jdk-threading-scenario/configuration.yml
  test/plugin/scenarios/jdk-threading-scenario/pom.xml
  test/plugin/scenarios/jdk-threading-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jdk-threading-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/jdk/threading/Application.java
  test/plugin/scenarios/jdk-threading-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/jdk-threading-scenario/support-version.list
Labels: agent, feature, plugin

#3945 Enhance webflux plugin, related to Spring Gateway plugin too.
  .github/workflows/plugins-test.yaml
  apm-sniffer/apm-sdk-plugin/spring-plugins/pom.xml
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/AbstractServerResponseMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerHandleResultMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerInvokeHandlerMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/define/DispatcherHandlerInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-2.1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v21x/FilteringWebHandlerInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-2.1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v21x/HttpClientOperationsStatusInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-2.1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v21x/context/SWTransmitter.java
  apm-sniffer/optional-plugins/optional-spring-plugins/pom.xml
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-5.x-plugin/pom.xml
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerHandleMethodInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/ServerWebExchangeConstructorInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/define/DispatcherHandlerInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/define/ServerWebExchangeInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-5.x-plugin/src/main/resources/skywalking-plugin.def
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/gateway-scenario/config/expectedData.yaml
  test/plugin/scenarios/gateway-scenario/configuration.yml
  test/plugin/scenarios/gateway-scenario/gateway-projectA-scenario/pom.xml
  test/plugin/scenarios/gateway-scenario/gateway-projectA-scenario/src/main/resources/application.yml
  test/plugin/scenarios/webflux-scenario/config/expectedData.yaml
  test/plugin/scenarios/webflux-scenario/configuration.yml
  test/plugin/scenarios/webflux-scenario/pom.xml
  test/plugin/scenarios/webflux-scenario/support-version.list
  test/plugin/scenarios/webflux-scenario/webflux-projectA-scenario/pom.xml
  test/plugin/scenarios/webflux-scenario/webflux-projectA-scenario/src/main/java/org/apache/skywalking/apm/testcase/sc/webflux/projectA/controller/TestController.java
  test/plugin/scenarios/webflux-scenario/webflux-projectB-scenario/src/main/java/org/apache/skywalking/apm/testcase/sc/webflux/projectB/controller/TestAnnotationController.java
Labels: agent, feature, plugin

#4075 Fix service instance relationship ID build bug.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceRelation.java
Labels: backend, bug, core feature

#4076 Fix typo.
  README.md
Labels: document

#4047 Modify query SQL for MySQLDAO
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2AggregationQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2AlarmQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2LogQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2TraceQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLAggregationQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLAlarmQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLLogQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLTraceQueryDAO.java
Labels: backend, feature

#4082 fix wrong metrics of instance relationship for day and month
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationClientSideMetrics.java
Labels: bug

#4083 Add elementui license for 6.6.0 release.
  apm-dist/release-docs/LICENSE
  apm-dist/release-docs/licenses/ui-licenses/LICENSE-elementui
Labels: document

#4084 Submit the change log for 6.6.0 release.
  CHANGES.md
Labels: document

#4080 Add verify relation metrics in e2e test
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/register/ServiceInstanceInventory.java
  test/e2e/e2e-base/src/main/java/org/apache/skywalking/e2e/metrics/MetricsMatcher.java
  test/e2e/e2e-base/src/main/java/org/apache/skywalking/e2e/metrics/MetricsQuery.java
  test/e2e/e2e-cluster-with-gateway/e2e-cluster-with-gateway-test-runner/src/test/java/org/apache/skywalking/e2e/ClusterVerificationITCase.java
  test/e2e/e2e-cluster/e2e-cluster-test-runner/src/test/java/org/apache/skywalking/e2e/ClusterVerificationITCase.java
  test/e2e/e2e-mysql/src/test/java/org/apache/skywalking/e2e/SampleVerificationITCase.java
  test/e2e/e2e-single-service/src/test/java/org/apache/skywalking/e2e/SampleVerificationITCase.java
Labels: test

#4093 [test/plugin] immigrate test shardingsphere 3.x scenario.
  .github/workflows/plugins-test.yaml
  test/plugin/scenarios/shardingsphere-3.x-scenario/bin/startup.sh
  test/plugin/scenarios/shardingsphere-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/shardingsphere-3.x-scenario/configuration.yml
  test/plugin/scenarios/shardingsphere-3.x-scenario/pom.xml
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/Application.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/controller/CaseController.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/entity/Order.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/entity/OrderItem.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/repository/CommonRepository.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/repository/OrderItemRepository.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/repository/OrderRepository.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/service/CommonService.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/service/CommonServiceImpl.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/config/ShardingDatabasesAndTablesConfigurationPrecise.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderItemRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/service/RawPojoService.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/algorithm/PreciseModuloShardingDatabaseAlgorithm.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/algorithm/PreciseModuloShardingTableAlgorithm.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/algorithm/RangeModuloShardingDatabaseAlgorithm.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/algorithm/RangeModuloShardingTableAlgorithm.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/DataSourceUtil.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/ExampleConfiguration.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/resources/application.properties
  test/plugin/scenarios/shardingsphere-3.x-scenario/support-version.list
Labels: test

#4102 Update plugin test link
  docs/en/setup/service-agent/java-agent/README.md
Labels: document

#4105 Filter endpoint with an id == 0
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/TelemetryDataDispatcher.java
Labels: backend, feature

#4099 write file unwait
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/FileWriter.java
Labels: agent, feature

#4111 [Feature] Provide Java Agent for Apache HttpClient 3.x
  .github/workflows/plugins-test.yaml
  apm-sniffer/apm-sdk-plugin/httpclient-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/httpclient-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v3/HttpClientExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/httpclient-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v3/define/HttpClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/httpclient-3.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/httpclient-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/httpclient-3.x-scenario/configuration.yml
  test/plugin/scenarios/httpclient-3.x-scenario/pom.xml
  test/plugin/scenarios/httpclient-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/httpclient/CaseServlet.java
  test/plugin/scenarios/httpclient-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/httpclient/HealthCheckServlet.java
  test/plugin/scenarios/httpclient-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/httpclient/ServletForContextPropagate.java
  test/plugin/scenarios/httpclient-3.x-scenario/src/main/webapp/WEB-INF/web.xml
  test/plugin/scenarios/httpclient-3.x-scenario/support-version.list
Labels: agent, plugin

#4109 [test/plugin] immigrate test servicecomb scenario
  .github/workflows/plugins-test.yaml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/servicecomb-0.x-scenario/bin/startup.sh
  test/plugin/scenarios/servicecomb-0.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/servicecomb-0.x-scenario/configuration.yml
  test/plugin/scenarios/servicecomb-0.x-scenario/pom.xml
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/CodeFirstMain.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/consumer/CodeFirstPojoConsumerHelloImpl.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/provider/CodeFirstJaxrsHelloImpl.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/provider/CodeFirstPojoHelloProviderImpl.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/provider/CodeFirstSpringmvcHelloImpl.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/schema/Hello.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/schema/models/Person.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/resources/META-INF/spring/pojo.bean.xml
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/resources/config/log4j.demo.properties
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/resources/microservice.yaml
  test/plugin/scenarios/servicecomb-0.x-scenario/support-version.list
  test/plugin/scenarios/servicecomb-1.x-scenario/bin/startup.sh
  test/plugin/scenarios/servicecomb-1.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/servicecomb-1.x-scenario/configuration.yml
  test/plugin/scenarios/servicecomb-1.x-scenario/pom.xml
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/CodeFirstMain.java
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/consumer/CodeFirstPojoConsumerHelloImpl.java
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/provider/CodeFirstJaxrsHelloImpl.java
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/provider/CodeFirstPojoHelloProviderImpl.java
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/provider/CodeFirstSpringmvcHelloImpl.java
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/schema/Hello.java
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/schema/models/Person.java
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/resources/META-INF/spring/pojo.bean.xml
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/resources/config/log4j.demo.properties
  test/plugin/scenarios/servicecomb-1.x-scenario/src/main/resources/microservice.yaml
  test/plugin/scenarios/servicecomb-1.x-scenario/support-version.list
Labels: agent, plugin, test

#4113 [test/plugin] immigrate test lettuce scenario.
  .github/workflows/plugins-test.yaml
  test/plugin/scenarios/lettuce-scenario/bin/startup.sh
  test/plugin/scenarios/lettuce-scenario/config/expectedData.yaml
  test/plugin/scenarios/lettuce-scenario/configuration.yml
  test/plugin/scenarios/lettuce-scenario/pom.xml
  test/plugin/scenarios/lettuce-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/lettuce-scenario/src/main/java/org/apache/skywalking/apm/testcase/lettuce/Application.java
  test/plugin/scenarios/lettuce-scenario/src/main/java/org/apache/skywalking/apm/testcase/lettuce/controller/LettuceController.java
  test/plugin/scenarios/lettuce-scenario/src/main/resources/application.properties
  test/plugin/scenarios/lettuce-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/lettuce-scenario/support-version.list
Labels: test

#4119 Update JDK compiling level to 8, and remove zip dist.
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/StringUtil.java
  apm-dist-es7/pom.xml
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/pom.xml
  apm-dist/src/main/assembly/binary.xml
  apm-protocol/apm-network/pom.xml
  apm-protocol/apm-network/src/test/java/org/apache/skywalking/apm/network/trace/proto/GRPCNoServerTest.java
  apm-sniffer/apm-agent-core/pom.xml
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/StandardChannelBuilder.java
  apm-sniffer/apm-agent/pom.xml
  apm-sniffer/pom.xml
  dist-material/release-docs/LICENSE
  dist-material/release-docs/NOTICE
  dist-material/release-docs/licenses/LICENSE-checker-qual.txt
  dist-material/release-docs/licenses/LICENSE-groovy.txt
  docs/en/setup/service-agent/java-agent/README.md
  oap-server/exporter/pom.xml
  oap-server/pom.xml
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinator.java
  oap-server/server-configuration/grpc-configuration-sync/pom.xml
  oap-server/server-core/pom.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/ServiceInstanceTopologyBuilder.java
  oap-server/server-library/library-buffer/pom.xml
  oap-server/server-library/library-client/pom.xml
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/grpc/GRPCClient.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ITElasticSearchClient.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandlerTestMain.java
  oap-server/server-receiver-plugin/receiver-proto/pom.xml
  oap-server/server-receiver-plugin/skywalking-istio-telemetry-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/skywalking-istio-telemetry-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/istio/telemetry/handler/IstioTelemetryHandlerMainTest.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/jvm/provider/handler/JVMMetricsServiceHandlerMainTest.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v5/ApplicationRegisterHandlerTestCase.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v5/InstanceDiscoveryServiceHandlerTestCase.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v5/InstanceHeartBeatTestCase.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v5/NetworkAddressRegisterServiceHandlerTestCase.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v5/ServiceNameDiscoveryHandlerTestCase.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/trace/mock/AgentDataMock.java
  pom.xml
  tools/dependencies/check-LICENSE.sh
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: core feature

#4106 [test/plugin] immigrate test zookeeper scenario.
  .github/workflows/plugins-test.yaml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/zookeeper-scenario/bin/startup.sh
  test/plugin/scenarios/zookeeper-scenario/config/expectedData.yaml
  test/plugin/scenarios/zookeeper-scenario/configuration.yml
  test/plugin/scenarios/zookeeper-scenario/pom.xml
  test/plugin/scenarios/zookeeper-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/zookeeper-scenario/src/main/java/org/apache/skywalking/apm/testcase/zookeeper/Application.java
  test/plugin/scenarios/zookeeper-scenario/src/main/java/org/apache/skywalking/apm/testcase/zookeeper/controller/Zookeeper.java
  test/plugin/scenarios/zookeeper-scenario/src/main/java/org/apache/skywalking/apm/testcase/zookeeper/controller/ZookeeperController.java
  test/plugin/scenarios/zookeeper-scenario/src/main/resources/application.properties
  test/plugin/scenarios/zookeeper-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/zookeeper-scenario/support-version.list
Labels: test

#4127 Move lettuce into default plugin
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/AbstractRedisClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/AsyncCommandMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/ClientOptionsConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisChannelWriterInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisClientConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisClusterClientConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/SWBiConsumer.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/SWConsumer.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/AbstractRedisClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/AsyncCommandInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/ClientOptionsInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/RedisChannelWriterInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/RedisClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/RedisClusterClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisChannelWriterInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/lettuce/v5/mock/MockRedisClusterClient.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/lettuce/v5/mock/MockRedisClusterClientConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/optional-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/lettuce-scenario/configuration.yml
  test/plugin/scenarios/lettuce-scenario/pom.xml
Labels: agent, plugin, test

#4129 Move Webflux plugin into default list.
  apm-sniffer/apm-sdk-plugin/spring-plugins/pom.xml
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerHandleMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/ServerWebExchangeConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/define/DispatcherHandlerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/define/ServerWebExchangeInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/optional-plugins/optional-spring-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/gateway-scenario/configuration.yml
  test/plugin/scenarios/webflux-scenario/configuration.yml
Labels: agent, plugin, test

#4120 refactor code.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/entity/IntValues.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetricsQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/query/MetricsQueryEs7DAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetricsQueryDAO.java
Labels: backend

#4130 Move Armeria plugin to default plugin list
  apm-sniffer/apm-sdk-plugin/armeria-0.84.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/armeria-0.85.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/armeria-0.85.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/armeria/Armeria085ClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/armeria-0.85.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/armeria/Armeria085ServerInterceptor.java
  apm-sniffer/apm-sdk-plugin/armeria-0.85.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/armeria/Armeria086ClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/armeria-0.85.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/armeria/ArmeriaClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/armeria-0.85.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/armeria/define/Armeria085ClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/armeria-0.85.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/armeria/define/Armeria085ServerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/armeria-0.85.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/armeria/define/Armeria086ClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/armeria-0.85.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/optional-plugins/pom.xml
  test/plugin/scenarios/armeria-0.96minus-scenario/configuration.yml
  test/plugin/scenarios/armeria-0.96plus-scenario/configuration.yml
Labels: agent, plugin, test

#4107 improve if find parent, quick exit
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TraceQueryService.java
Labels: backend

#4132 Add E2E test case to verify compatibility between 6.x agents and 7.x …
  .github/workflows/e2e.yaml
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/pom.xml
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/docker/rc.d/rc0-prepare.sh
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/docker/rc.d/rc1-startup.sh
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/main/java/org/apache/skywalking/e2e/sample/client/SampleClientApplication.java
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/main/java/org/apache/skywalking/e2e/sample/client/TestController.java
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/main/java/org/apache/skywalking/e2e/sample/client/User.java
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/main/java/org/apache/skywalking/e2e/sample/client/UserRepo.java
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/main/resources/application.yml
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/test/java/org/apache/skywalking/e2e/SampleVerificationITCase.java
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.endpoints.yml
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.instances.yml
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.serviceInstanceTopo.yml
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.services.yml
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.topo.yml
  test/e2e/e2e-6.x-agent-7.x-oap-compatibility/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.traces.yml
  test/e2e/pom.xml
Labels: test

#4128 [test/plugin] immigrate test play framework scenario
  .github/workflows/plugins-test.yaml
  apm-sniffer/apm-sdk-plugin/play-2.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/play-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/play/v2x/HttpFiltersInterceptor.java
  apm-sniffer/apm-sdk-plugin/play-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/play/v2x/TracingFilter.java
  apm-sniffer/apm-sdk-plugin/play-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/play/v2x/define/Play2xInstrumentation.java
  apm-sniffer/apm-sdk-plugin/play-2.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/play-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/play/v2x/HttpFiltersInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/play-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/play/v2x/Play2xInstrumentationTest.java
  apm-sniffer/apm-sdk-plugin/play-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/play/v2x/TracingFilterTest.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/optional-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/play-scenario/app/controllers/HealthCheckController.scala
  test/plugin/scenarios/play-scenario/app/controllers/ProjectsController.scala
  test/plugin/scenarios/play-scenario/bin/startup.sh
  test/plugin/scenarios/play-scenario/build.sbt
  test/plugin/scenarios/play-scenario/conf/application.conf
  test/plugin/scenarios/play-scenario/conf/logback.xml
  test/plugin/scenarios/play-scenario/conf/routes
  test/plugin/scenarios/play-scenario/config/expectedData.yaml
  test/plugin/scenarios/play-scenario/configuration.yml
  test/plugin/scenarios/play-scenario/pom.xml
  test/plugin/scenarios/play-scenario/project/build.properties
  test/plugin/scenarios/play-scenario/project/plugins.sbt
  test/plugin/scenarios/play-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/play-scenario/support-version.list
Labels: agent, plugin, test

#4139 Fix the wrong comments.
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/jdbc/hikaricp/JDBCHikariCPClient.java
Labels: backend, document

#4142 Add documents for apdex and parameter explanation
  docs/en/concepts-and-designs/oal.md
Labels: document

#4146 [Doc] Add troubleshooting doc for E2E
  docs/en/guides/README.md
Labels: document

#4148 Support customized instance name by a new UUID naming policy.
  docs/en/setup/service-agent/java-agent/README.md
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v6/grpc/RegisterServiceHandler.java
Labels: backend, feature

#4151 [test/plugin] immigrate test activemq scenario.
  .github/workflows/plugins-test.yaml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/activemq-scenario/bin/startup.sh
  test/plugin/scenarios/activemq-scenario/config/expectedData.yaml
  test/plugin/scenarios/activemq-scenario/configuration.yml
  test/plugin/scenarios/activemq-scenario/pom.xml
  test/plugin/scenarios/activemq-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/activemq-scenario/src/main/java/org/apache/skywalking/apm/testcase/activemq/Application.java
  test/plugin/scenarios/activemq-scenario/src/main/java/org/apache/skywalking/apm/testcase/activemq/controller/CaseController.java
  test/plugin/scenarios/activemq-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/activemq-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/activemq-scenario/support-version.list
Labels: agent, plugin, test

#4140 [Agent] Provide plugin for ShardingSphere 4.0.0-RC3
  .github/workflows/plugins-test.yaml
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/Constant.java
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/ExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/JDBCRootInvokeInterceptor.java
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/ParseInterceptor.java
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/ProxyRootInvokeInterceptor.java
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/define/ExecuteInstrumentation.java
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/define/JDBCRootInvokeInstrumentation.java
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/define/ParseInstrumentation.java
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/define/ProxyRootInvokeInstrumentation.java
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/sharding-sphere-4.x-RC3-plugin/src/test/java/org/apache/skywalking/apm/plugin/shardingsphere/v4rc3/InterceptorTest.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/bin/startup.sh
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/config/expectedData.yaml
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/configuration.yml
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/pom.xml
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/Application.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/controller/CaseController.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/entity/Order.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/entity/OrderItem.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/repository/CommonRepository.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/repository/OrderItemRepository.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/repository/OrderRepository.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/service/CommonService.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/service/CommonServiceImpl.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/config/ShardingDatabasesAndTablesConfigurationPrecise.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderItemRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/service/RawPojoService.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/algorithm/PreciseModuloShardingDatabaseAlgorithm.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/algorithm/PreciseModuloShardingTableAlgorithm.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/algorithm/RangeModuloShardingDatabaseAlgorithm.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/algorithm/RangeModuloShardingTableAlgorithm.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/DataSourceUtil.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/ExampleConfiguration.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/resources/application.properties
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/support-version.list
Labels: agent, plugin
