Repository apache/skywalking, pull requests merged in 2019-02, with the labels that each got.

#2228 Add alibaba cloud and qiniu cloud in powered by list
  docs/powered-by.md
Labels: document

#2235 Update users and user cases
  README.md
  docs/powered-by.md
Labels: document

#2236 Make sure all document images ref from our Apache website.
  README.md
  docs/Screenshots.md
  docs/en/guides/Java-Plugin-Development-Guide.md
  docs/en/setup/README.md
  docs/en/setup/backend/backend-ui-setup.md
  docs/en/setup/service-agent/java-agent/README.md
Labels: document

#2238 Images ref from our Apache website.
  docs/en/concepts-and-designs/overview.md
  docs/others/cn/concepts-and-designs/overview-cn.md
  docs/others/cn/guides/Java-Plugin-Development-Guide.md
Labels: document

#2241 Improves stability.
  docker/oap/docker-entrypoint.sh
  docker/ui/docker-entrypoint.sh
Labels: enhancement

#2243 Docker issues
  docker/Makefile
  docker/docker-compose.yml
  docker/oap/Dockerfile
  docker/ui/Dockerfile
Labels: bug, docker

#2244 Support to register different host/port at cluster coordinator
  docs/en/setup/backend/backend-cluster.md
  oap-server/server-cluster-plugin/cluster-consul-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/consul/ClusterModuleConsulConfig.java
  oap-server/server-cluster-plugin/cluster-consul-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/consul/ClusterModuleConsulProvider.java
  oap-server/server-cluster-plugin/cluster-consul-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/consul/ConsulCoordinator.java
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ClusterModuleZookeeperConfig.java
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ClusterModuleZookeeperProvider.java
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ZookeeperCoordinator.java
Labels: collector

#2211 Support Zookeeper plugin
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/optional-plugins/pom.xml
  apm-sniffer/optional-plugins/zookeeper-3.4.x-plugin/pom.xml
  apm-sniffer/optional-plugins/zookeeper-3.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/zookeeper/ClientCnxnInterceptor.java
  apm-sniffer/optional-plugins/zookeeper-3.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/zookeeper/EventThreadMethodInterceptor.java
  apm-sniffer/optional-plugins/zookeeper-3.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/zookeeper/ZooOpt.java
  apm-sniffer/optional-plugins/zookeeper-3.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/zookeeper/define/ClientCnxnInstrumentation.java
  apm-sniffer/optional-plugins/zookeeper-3.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/zookeeper/define/EventThreadInstrumentation.java
  apm-sniffer/optional-plugins/zookeeper-3.4.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/optional-plugins/zookeeper-3.4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/zookeeper/ClientCnxnInterceptorTest.java
  docker/config/component-libraries.yml
  docs/en/guides/Component-library-settings.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  docs/others/cn/guides/Component-library-settings.md
  oap-server/server-core/src/test/resources/component-libraries.yml
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: agent, plugin

#2247 [Performance Improvement]Backend streaming thread model improvement
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/Buffer.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/Channels.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/BulkConsumePool.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumerPoolFactory.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/MultipleChannelsConsumer.java
  apm-commons/apm-datacarrier/src/test/java/org/apache/skywalking/apm/commons/datacarrier/consumer/BulkConsumePoolTest.java
  docker/config/application.yml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/UnexpectedException.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/IndicatorAggregateWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/IndicatorPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/RecordPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/register/worker/RegisterDistinctWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/register/worker/RegisterPersistentWorker.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyServer.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/standardization/SegmentStandardizationWorker.java
  oap-server/server-starter/src/main/assembly/application.yml
  oap-server/server-starter/src/main/resources/application.yml
Labels: collector, core feature, enhancement

#2251 Add https://www.cxist.com/ to powered-by page
  docs/powered-by.md
Labels: document

#2253 Add slow database rule document.
  README.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/slow-db-statement.md
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/DBLatencyThresholds.java
Labels: document

#2254 Correct trace id in slow db statement
  .travis.yml
  apm-checkstyle/pom.xml
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/endpoint/MultiScopesSpanListener.java
  pom.xml
Labels: bug, collector

#2259 Improve document
  docs/en/concepts-and-designs/overview.md
Labels: document

#2260 fix issue #2258
  apm-sniffer/apm-sdk-plugin/mysql-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/wrapper/PreparedStatementWrapper.java
Labels: agent, bug

#2261 Fix mesh telemetry performance issue and adjust default thread number
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/Channels.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/BulkConsumePool.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/MultipleChannelsConsumer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/IndicatorAggregateWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/IndicatorPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/register/worker/RegisterDistinctWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/register/worker/RegisterPersistentWorker.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyServer.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/TelemetryDataDispatcher.java
Labels: bug, collector, core feature, enhancement

#2268 Add China Eastern Airlines to powered-by page
  docs/powered-by.md
Labels: document

#2271 Improve OAP cluster performance
  .gitignore
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/DataCarrier.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/EnvUtil.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/BulkConsumePool.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/IndicatorAggregateWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/IndicatorPersistentWorker.java
Labels: collector, core feature, enhancement

#2274 fix alarm text typo
  docker/config/alarm-settings.yml
  oap-server/server-starter/src/main/assembly/alarm-settings.yml
Labels: document

#2272 Fix link and typo
  docs/en/concepts-and-designs/manual-sdk.md
Labels: document

#2273 add Chinese docs for oal and manual-sdk.
  docs/en/concepts-and-designs/oal.md
  docs/others/cn/concepts-and-designs/manual-sdk-cn.md
  docs/others/cn/concepts-and-designs/oal-cn.md
  docs/others/cn/concepts-and-designs/scope-definitions-cn.md
  docs/others/cn/setup/backend/backend-receivers.md
Labels: document

#2275 Fixed docker image can't run
  docker/Makefile
  docker/oap/Dockerfile
  docker/ui/Dockerfile
  docker/ui/docker-entrypoint.sh
Labels: bug, docker

#2278 User wall
  README.md
  docs/powered-by.md
Labels: document

#2280 add probe and some setup cn docs.
  docs/en/concepts-and-designs/probe-introduction.md
  docs/others/cn/concepts-and-designs/probe-introduction-cn.md
  docs/others/cn/concepts-and-designs/service-mesh-probe-cn.md
  docs/others/cn/setup/README.md
  docs/others/cn/setup/backend/backend-ui-setup.md
  docs/others/cn/setup/istio/README.md
  docs/others/cn/setup/service-agent/java-agent/README.md
Labels: document

#2284 Fix ArrayIndexOutOfBoundsException
  apm-sniffer/apm-sdk-plugin/spymemcached-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spymemcached/v2/MemcachedMethodInterceptor.java
Labels: bug

#2146 add serviceInstanceId in Segment storage.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SegmentDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SegmentRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TraceQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Segment.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/ITraceQueryDAO.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/TraceQuery.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/type/TraceQueryCondition.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/segment/SegmentSpanListener.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TraceQueryEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2TraceQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLTraceQueryDAO.java
Labels: enhancement, oap

#2287 Add peer to entry span
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/AbstractSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/ExitSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/LocalSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/NoopSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/StackBasedTracingSpan.java
Labels: agent, enhancement

#2299 Update and rename Spring-bean-plugins.md to Spring-annotation-plugin.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/agent-optional-plugins/Spring-annotation-plugin.md
Labels: document

#2303 Fix two things in pom.
  pom.xml
Labels: document
