Repository apache/skywalking, pull requests merged in 2019-03, with the labels that each got.

#2304 Envoy metrics receiver plugin protos
  LICENSE
  README.md
  apm-dist/release-docs/LICENSE
  docs/en/setup/README.md
  docs/en/setup/envoy/README.md
  docs/en/setup/envoy/config.yaml
  docs/en/setup/envoy/identify.json
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/proto/envoy/api/v2/core/base.proto
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/proto/envoy/service/metrics/v2/metrics_service.proto
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/proto/envoy/type/percent.proto
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/proto/gogoproto/gogo.proto
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/proto/prometheus/client_model/metrics.proto
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/proto/validate/validate.proto
  oap-server/server-receiver-plugin/pom.xml
  pom.xml
Labels: collector

#2297 Add clr metrics scope and oal script
  oap-server/generate-tool-grammar/src/main/antlr4/org/apache/skywalking/oal/tool/grammar/OALLexer.g4
  oap-server/generate-tool-grammar/src/main/antlr4/org/apache/skywalking/oal/tool/grammar/OALParser.g4
  oap-server/generated-analysis/src/main/resources/generator-scope-meta.yml
  oap-server/generated-analysis/src/main/resources/official_analysis.oal
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/MaxIndicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/DefaultScopeDefine.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRCPU.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRGC.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRThread.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/indicator/MaxIndicatorTest.java
Labels: collector

#2307 Update RegisterPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/register/worker/RegisterPersistentWorker.java
Labels: bug, oap

#2311 Update README.md
  README.md
Labels: document

#2313 Make supported list more clear
  docs/en/setup/service-agent/java-agent/README.md
Labels: document

#2315 remove cn docs.
  docs/README.md
  docs/others/cn/FAQ/README.md
  docs/others/cn/README.md
  docs/others/cn/concepts-and-designs/README.md
  docs/others/cn/concepts-and-designs/backend-overview-cn.md
  docs/others/cn/concepts-and-designs/manual-sdk-cn.md
  docs/others/cn/concepts-and-designs/oal-cn.md
  docs/others/cn/concepts-and-designs/overview-cn.md
  docs/others/cn/concepts-and-designs/probe-introduction-cn.md
  docs/others/cn/concepts-and-designs/project-goals-cn.md
  docs/others/cn/concepts-and-designs/query-oap-cn.md
  docs/others/cn/concepts-and-designs/scope-definitions-cn.md
  docs/others/cn/concepts-and-designs/service-agent-cn.md
  docs/others/cn/concepts-and-designs/service-mesh-probe-cn.md
  docs/others/cn/concepts-and-designs/ui-overview-cn.md
  docs/others/cn/guides/Component-library-settings.md
  docs/others/cn/guides/How-to-build.md
  docs/others/cn/guides/How-to-release.md
  docs/others/cn/guides/Java-Plugin-Development-Guide.md
  docs/others/cn/guides/README.md
  docs/others/cn/guides/backend-oal-scripts.md
  docs/others/cn/guides/storage-extention.md
  docs/others/cn/guides/write-oal.md
  docs/others/cn/protocols/README.md
  docs/others/cn/setup/README.md
  docs/others/cn/setup/backend/backend-receivers.md
  docs/others/cn/setup/backend/backend-ui-setup.md
  docs/others/cn/setup/istio/README.md
  docs/others/cn/setup/service-agent/java-agent/README.md
Labels: document

#2318 Envoy metrics service updated
  docs/en/setup/envoy/README.md
  docs/en/setup/envoy/config.yaml
  docs/en/setup/envoy/identify.json
  docs/en/setup/envoy/metrics.json
Labels: bug, collector

#2319 Fix Spring Annotation Plugin (Also Inherit Issue)
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-annotation-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/annotations/AbstractSpringBeanInstrumentation.java
Labels: agent, bug

#2324 Fix spelling errors
  docs/en/concepts-and-designs/probe-introduction.md
Labels: document

#2325 Add a link to our k8s repo
  docs/en/setup/backend/backend-ui-setup.md
Labels: document

#2329 Change to new repo name.
  docs/en/guides/storage-extention.md
Labels: document

#2328 add instance id configuration item
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/ServiceAndEndpointRegisterClient.java
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, core feature

#2331 Try to fix test cover.
  .travis.yml
Labels: test

#2332 polish code
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/boot/AgentPackagePath.java
Labels: agent

#2333 Wrong default field in all service instance related scope
  oap-server/generated-analysis/src/main/resources/generator-scope-meta.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EnvoyInstanceMetric.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRCPU.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRGC.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRThread.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMCPU.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMGC.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemory.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemoryPool.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandler.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/handler/JVMMetricReportServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/handler/JVMMetricsServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/handler/JVMSourceDispatcher.java
Labels: bug, oap

#2334 Envoy heartbeat update bug
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandler.java
Labels: bug, oap

#2339 doc: fix typo and list numbers
  docs/en/concepts-and-designs/oal.md
Labels: document

#2336 If the node has no interaction, then it disappear in topology.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TopologyQueryService.java
Labels: oap

#2343 Fix a small setting.
  pom.xml
Labels: bug

#2344 The role of OAP server.
  docker/config/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-starter/src/main/assembly/application.yml
  oap-server/server-starter/src/main/resources/application.yml
Labels: collector, core feature

#2345 New architecture graph, new documents.
  README.md
  docs/en/setup/backend/advanced-deployment.md
  docs/en/setup/backend/backend-receivers.md
  docs/en/setup/backend/backend-setup.md
Labels: document

#2348 set es storage namespace to lower case.
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
Labels: oap

#2347 Make k8s-Coordinator works in role mode.
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/pom.xml
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/ClusterModuleKubernetesProvider.java
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinator.java
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinatorTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModule.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/ConfigService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/Address.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandler.java
Labels: bug, collector, core feature

#2352 Shutdown the OAP server when catch any exception.
  oap-server/server-starter/src/main/java/org/apache/skywalking/oap/server/starter/OAPServerStartUp.java
Labels: bug, collector

#2300 Customize Enhance code of plugin
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/DynamicPluginLoader.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/PluginBootstrap.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/loader/InstrumentationLoader.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/util/MethodUtil.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/util/MethodUtilTest.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/TraceAnnotationMethodInterceptor.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/pom.xml
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/conf/CustomizeConfiguration.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/conf/MethodConfiguration.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/constants/Constants.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/define/CustomizeInstanceInstrumentation.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/define/CustomizeStaticInstrumentation.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/interceptor/BaseInterceptorMethods.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/interceptor/CustomizeInstanceInterceptor.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/interceptor/CustomizeStaticInterceptor.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/loader/CustomizeInstrumentationLoader.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/util/CustomizeExpression.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/util/CustomizeUtil.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/resources/META-INF/services/org.apache.skywalking.apm.agent.core.plugin.loader.InstrumentationLoader
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/test/java/org/apache/skywalking/apm/plugin/customize/util/CustomizeExpressionTest.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/test/java/org/apache/skywalking/apm/plugin/customize/util/CustomizeUtilTest.java
  apm-sniffer/optional-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/Customize-enhance-trace.md
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, core feature, enhancement

#2358 complete How-to-build.md
  docs/en/guides/How-to-build.md
Labels: document

#2350 bugfix: fix bug when spaces in agent path. resolve #1219
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/boot/AgentPackagePath.java
Labels: bug

#2362 Root pom dependency change.
  pom.xml
Labels: core feature

#2364 extract immutable object to reduce garbages
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/GraphQLQueryHandler.java
Labels: collector

#2367 Doc wrong link
  docs/en/protocols/Trace-Data-Protocol-v2.md
Labels: document

#2369 Update powered-by.md
  docs/powered-by.md
Labels: document

#2360 Async core APIs in java agent
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/AbstractTracerContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/AsyncSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManager.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManagerExtendService.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/IgnoredTracerContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/AbstractSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/AbstractTracingSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/NoopSpan.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/boot/ServiceManagerTest.java
  docs/en/guides/Java-Plugin-Development-Guide.md
Labels: agent, core feature, high priority

#2370 Added 4 expressions in OAL syntax: >, <, >=, <=.
  oap-server/generate-tool-grammar/src/main/antlr4/org/apache/skywalking/oal/tool/grammar/OALLexer.g4
  oap-server/generate-tool-grammar/src/main/antlr4/org/apache/skywalking/oal/tool/grammar/OALParser.g4
  oap-server/generate-tool/src/main/java/org/apache/skywalking/oal/tool/parser/DeepAnalysis.java
  oap-server/generate-tool/src/main/java/org/apache/skywalking/oal/tool/parser/OALListener.java
  oap-server/generate-tool/src/main/resources/code-templates/DispatcherTemplate.ftl
  oap-server/generate-tool/src/test/java/org/apache/skywalking/oal/tool/output/FileGeneratorTest.java
  oap-server/generate-tool/src/test/java/org/apache/skywalking/oal/tool/parser/ScriptParserTest.java
  oap-server/generate-tool/src/test/resources/expectedFiles/ServiceDispatcherExpected.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/expression/GreaterEqualMatch.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/expression/GreaterMatch.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/expression/LessEqualMatch.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/expression/LessMatch.java
Labels: collector, core feature

#2353 USE_QUALIFIED_NAME_AS_ENDPOINT_NAME configuration
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/RequestMappingMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/RestMappingMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/AbstractMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/RequestMappingMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/RestMappingMethodInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/TraceAnnotationMethodInterceptor.java
  docker/config/component-libraries.yml
  docs/en/setup/service-agent/java-agent/README.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: agent, enhancement, plugin

#2373 Fix link and add a notice
  docs/en/protocols/Trace-Data-Protocol-v2.md
Labels: document

#2375 Change a word
  README.md
Labels: document

#2387 Add SmartSql provider components in component-libraries config
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: collector, enhancement

#2389 Supplement unexpected exception message.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/IndicatorProcess.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/RecordProcess.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNProcess.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/register/worker/InventoryProcess.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/StorageEntityAnnotationUtils.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TopologyQueryEsDAO.java
Labels: collector

#2384 Added elasticsearch warehouse certification support
  docker/config/application.yml
  docs/en/setup/backend/backend-storage.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClientTestCase.java
  oap-server/server-starter/src/main/assembly/application.yml
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
Labels: TBD, collector, enhancement, wontfix

#2394 Sync SmartSql provider setting to all of component-libraries.yml
  docker/config/component-libraries.yml
  oap-server/server-core/src/test/resources/component-libraries.yml
Labels: collector, enhancement

#2391 Add catalog to ScopeDeclaration annotation
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmModuleProvider.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandler.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmEntrance.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/IndicatorNotify.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/DefaultScopeDefine.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Endpoint.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EnvoyInstanceMetric.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ScopeDeclaration.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Service.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstance.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRCPU.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRGC.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRThread.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMCPU.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMGC.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemory.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemoryPool.java
Labels: core feature

#2397 Mesh bug fix.
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/ServiceMeshMetricDataDecorator.java
Labels: bug

#2398 Fixed a logical error cause JVM metrics not dispatched.
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/handler/JVMSourceDispatcher.java
Labels: OAP-backend, bug

#2380 Downstream command protocol example.
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/command/BaseCommand.java
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/command/Deserializable.java
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/command/EndpointResetCommand.java
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/command/InstanceResetCommand.java
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/command/NetworkResetCommand.java
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/command/Serializable.java
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/command/ServiceResetCommand.java
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/command/TraceIgnoreCommand.java
Labels: OAP-backend, agent, core feature, protocol

#2395 Support gRPC metric exporter
  LICENSE
  docs/en/guides/How-to-build.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/metric-exporter.md
  oap-server/exporter/pom.xml
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/MetricFormatter.java
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCExporter.java
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCExporterProvider.java
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCExporterSetting.java
  oap-server/exporter/src/main/proto/metric-exporter.proto
  oap-server/exporter/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/ExporterMockReceiver.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/pom.xml
  oap-server/server-starter/pom.xml
  oap-server/server-starter/src/main/resources/application.yml
Labels: OAP-backend, core feature

#2401 Remove module-info.class
  apm-sniffer/apm-agent/pom.xml
Labels: agent, bug

#2399 Support compile project agent, backend, UI separately.
  apm-dist/pom.xml
  apm-sniffer/apm-agent/pom.xml
  docs/en/guides/How-to-build.md
  pom.xml
Labels: enhancement

#2403 Support endpoint group in mesh.
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/StringFormatGroup.java
  apm-commons/apm-util/src/test/java/org/apache/skywalking/apm/util/StringFormatGroupTest.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/EndpointNameFormater.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/TelemetryDataDispatcher.java
  oap-server/server-starter/src/main/resources/endpoint_naming_rules.properties
  pom.xml
Labels: OAP-backend, enhancement

#2404 Some issues when running mvn package command.
  apm-checkstyle/pom.xml
  apm-commons/apm-util/pom.xml
  apm-sniffer/apm-agent-core/pom.xml
  apm-sniffer/apm-sdk-plugin/mysql-5.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/mysql-6.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/mysql-8.x-plugin/pom.xml
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/pom.xml
  pom.xml
Labels: bug, core feature

#2402 Support disable statement in OAL
  docs/en/concepts-and-designs/oal.md
  oap-server/generate-tool-grammar/src/main/antlr4/org/apache/skywalking/oal/tool/grammar/OALLexer.g4
  oap-server/generate-tool-grammar/src/main/antlr4/org/apache/skywalking/oal/tool/grammar/OALParser.g4
  oap-server/generate-tool/src/main/java/org/apache/skywalking/oal/tool/Main.java
  oap-server/generate-tool/src/main/java/org/apache/skywalking/oal/tool/output/FileGenerator.java
  oap-server/generate-tool/src/main/java/org/apache/skywalking/oal/tool/parser/DisableCollection.java
  oap-server/generate-tool/src/main/java/org/apache/skywalking/oal/tool/parser/OALListener.java
  oap-server/generate-tool/src/main/java/org/apache/skywalking/oal/tool/parser/OALScripts.java
  oap-server/generate-tool/src/main/java/org/apache/skywalking/oal/tool/parser/ScriptParser.java
  oap-server/generate-tool/src/main/resources/code-templates/DisableSourceDefinition.ftl
  oap-server/generate-tool/src/test/java/org/apache/skywalking/oal/tool/output/FileGeneratorTest.java
  oap-server/generate-tool/src/test/java/org/apache/skywalking/oal/tool/parser/ScriptParserTest.java
  oap-server/generated-analysis/src/main/resources/official_analysis.oal
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Disable.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/DisableRegister.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/MultipleDisable.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/IndicatorProcess.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/RecordProcess.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNProcess.java
Labels: OAP-backend, core feature

#2405 Fix endpoint name rule package
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/StringFormatGroup.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/EndpointNameFormater.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/TelemetryDataDispatcher.java
  oap-server/server-starter/pom.xml
Labels: OAP-backend, bug

#2408 add 买道传感科技（上海）有限公司 to powered-by page
  docs/powered-by.md
Labels: document

#2365 Support dubbo 2.7.x
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-conflict-patch/pom.xml
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-conflict-patch/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/patch/MakeWrapperInterceptor.java
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-conflict-patch/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/patch/WrapperInstrumentation.java
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-conflict-patch/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/DubboInstrumentation.java
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/DubboInterceptor.java
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/dubbo/ContextManagerExtendOverrideService.java
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/dubbo/DubboInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/dubbo/PluginBootService.java
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/test/resources/META-INF/services/org.apache.skywalking.apm.agent.core.boot.BootService
  apm-sniffer/apm-sdk-plugin/pom.xml
Labels: agent, plugin

#2413 [Doc] Add apache-dubbo to supported list
  docs/en/setup/service-agent/java-agent/Supported-list.md
Labels: document

#2425 Prepare for time series index by Elasticsearch.
  oap-server/pom.xml
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
Labels: OAP-backend, core feature

#2427 Use slack to replace gitter.
  README.md
Labels: document
