Repository apache/skywalking, pull requests merged in 2019-04, with the labels that each got.

#2429 Add Tools information technology co. LTD to powered-by page
  docs/powered-by.md
Labels: document

#2433 Add Source++ to Powered By
  docs/powered-by.md
Labels: document

#2436 Update user wall and powered-by page
  README.md
  docs/powered-by.md
Labels: document

#2440 Doc: fix grammar error and typo
  docs/en/guides/Java-Plugin-Development-Guide.md
Labels: document

#2442 Update service-mesh-probe.md
  docs/en/concepts-and-designs/service-mesh-probe.md
Labels: document

#2447 Change slack to Apache
  README.md
Labels: document

#2448 Fix wrong header example
  docs/en/protocols/Skywalking-Cross-Process-Propagation-Headers-Protocol-v2.md
Labels: document

#2450 Fix RabbitMq NPE case
  apm-sniffer/apm-sdk-plugin/rabbitmq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rabbitmq/RabbitMQConsumerInterceptor.java
Labels: agent, bug

#2451 style&test: remove unnecessary code and add test(#2450)
  apm-sniffer/apm-sdk-plugin/rabbitmq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rabbitmq/RabbitMQConsumerInterceptor.java
  apm-sniffer/apm-sdk-plugin/rabbitmq-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/rabbitmq/RabbitMQConsumerInterceptorTest.java
Labels: agent, enhancement, test

#2456 Fix clr receiver
  oap-server/server-receiver-plugin/skywalking-clr-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/clr/provider/handler/CLRSourceDispatcher.java
Labels: bug

#2459 Fix typo
  docs/en/protocols/README.md
Labels: document

#2461 ADD Cdlhyj.com/六合远教 to powered-by page
  docs/powered-by.md
Labels: document

#2463 Support shutdown the trace analysis.
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/TraceModuleProvider.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/TraceServiceModuleConfig.java
Labels: OAP-backend, enhancement

#2466 Modify postgresql-8.x-plugin CreateStatementInterceptor.java statemen…
  apm-sniffer/apm-sdk-plugin/postgresql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/postgresql/CreateStatementInterceptor.java
Labels: agent, bug, plugin

#2464 Integration test for elastic search client.
  .travis.yml
  Jenkinsfile
  oap-server/pom.xml
  oap-server/server-library/library-client/pom.xml
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ITElasticSearchClient.java
  oap-server/server-library/library-client/src/test/resources/log4j2.xml
Labels: OAP-backend, enhancement

#2470 Fixed Failure of Enhanced Kafka Interceptor to Acquire SkyWalking DynamicField
  apm-sniffer/apm-sdk-plugin/kafka-v1-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/v1/CallbackInterceptor.java
Labels: agent, bug, plugin

#2474 Provide elasticsearch template operation method.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/CPMIndicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/CountIndicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/DoubleAvgIndicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/IndicatorMetaInfo.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/LongAvgIndicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/MaxDoubleIndicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/MaxLongIndicator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/indicator/SumIndicator.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/Client.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClientTestCase.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ITElasticSearchClient.java
  oap-server/server-library/library-client/src/test/resources/log4j2.xml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/lock/RegisterLockInstaller.java
Labels: OAP-backend, core feature

#2478 Update powered-by.md add aihuishou
  docs/powered-by.md
Labels: document

#2482 Fix webflux-plugin create multiple EntrySpan
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/OnInboundNextInterceptor.java
Labels: agent, bug, plugin

#2483 Fix typo and grammar error
  apm-sniffer/apm-sdk-plugin/rocketMQ-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v4/AbstractMessageConsumeInterceptor.java
  docs/en/guides/Java-Plugin-Development-Guide.md
  docs/en/guides/storage-extention.md
  docs/en/protocols/Skywalking-Cross-Process-Propagation-Headers-Protocol-v2.md
  docs/en/protocols/Trace-Data-Protocol-v2.md
Labels: document

#2484 add Sinolink Securities to powered-by.md
  docs/powered-by.md
Labels: document

#2485 Add tuhu.cn to powered by page
  docs/powered-by.md
Labels: document

#2487 Add webank to powered by page
  docs/powered-by.md
Labels: document

#2488 Modify some spell error and prompt error
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/SnifferConfigInitializer.java
  apm-sniffer/apm-agent/src/main/java/org/apache/skywalking/apm/agent/SkyWalkingAgent.java
Labels: document

#2386 Vert.x Core 3.x Plugin
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/AbstractSpan.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/vertx-plugins/pom.xml
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/ClusteredEventBusSendRemoteInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/EventBusImplDeliverToHandlerInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/HandlerRegistrationInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/HttpClientRequestImplEndInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/HttpClientRequestImplHandleExceptionInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/HttpClientRequestImplHandleResponseInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/HttpServerResponseImplEndInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/HttpServerResponseImplHandleExceptionInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/RouterImplAcceptInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/VertxContext.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/ClusteredEventBusSendRemoteInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/EventBusImplDeliverToHandlerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/HandlerRegistrationInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/HttpClientRequestImplEndInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/HttpClientRequestImplHandleExceptionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/HttpClientRequestImplHandleResponseInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/HttpServerResponseImplEndInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/HttpServerResponseImplHandleExceptionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/RouterImplAcceptInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/resources/skywalking-plugin.def
  docker/config/component-libraries.yml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-core/src/test/resources/component-libraries.yml
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: agent, enhancement, plugin

#2492 extend Metadata limit
  docker/config/application.yml
  oap-server/server-starter/src/main/assembly/application.yml
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/pom.xml
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/H2StorageConfig.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/H2StorageProvider.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetadataQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLStorageProvider.java
Labels: OAP-backend, bug

#2494 add Companies used, hunliji.com
  docs/powered-by.md
Labels: document

#2497 Add unit test for ConsumerPoolFactory, EnvUtil
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/EnvUtil.java
  apm-commons/apm-datacarrier/src/test/java/org/apache/skywalking/apm/commons/datacarrier/EnvUtilTest.java
  apm-commons/apm-datacarrier/src/test/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumerPoolFactoryTest.java
Labels: test

#2499 Make the documents matching Top Level Project
  CONTRIBUTING.md
  DISCLAIMER
  README.md
  apm-dist/pom.xml
  docker/Makefile
  docker/oap/Dockerfile
  docs/en/guides/How-to-release.md
  pom.xml
  tools/releasing/create_source_release.sh
Labels: document

#2500 Change PPMC to PMC
  docs/README.md
Labels: document

#2498 Add unit test for GRPCExporter and GRPCExporterProvider
  oap-server/exporter/pom.xml
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCExporterProvider.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/ExporterMockReceiver.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCExporterProviderTest.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCExporterTest.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockDoubleValueIndicator.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockIndicator.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockIntValueIndicatior.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockLongValueIndicator.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockMetricExportServiceImpl.java
Labels: exporter, test

#2508 Add xueqiu.com to powered-by and user wall update
  README.md
  docs/powered-by.md
Labels: document

#2526 Update webapp to support rocketbot
  apm-webapp/src/main/java/org/apache/skywalking/apm/webapp/proxy/MvcConfig.java
  apm-webapp/src/main/resources/application.yml
Labels: UI

#2528 Add changelog for 6.1
  CHANGES.md
Labels: document

#2540 support es query segment max size.
  docker/config/application.yml
  oap-server/server-starter/src/main/assembly/application.yml
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TraceQueryEsDAO.java
Labels: OAP-backend, bug

#2541 Update webapp for rocketbot ui
  apm-webapp/src/main/java/org/apache/skywalking/apm/webapp/proxy/HttpClientTools.java
  apm-webapp/src/main/java/org/apache/skywalking/apm/webapp/proxy/NotFoundHandler.java
  apm-webapp/src/main/resources/application.yml
  docker/ui/Dockerfile
Labels: UI

#2545 Show RocketBot new sceenshots.
  README.md
  docs/Screenshots.md
Labels: document

#2548 Update all "incubator-skywalking" to "skywalking" ,"incubator-service…
  CHANGES.md
  README.md
  apm-dist/release-docs/README.txt
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/AbstractMethodInterceptor.java
  docs/README.md
  docs/en/FAQ/Protoc-Plugin-Fails-When-Build.md
  docs/en/guides/How-to-build.md
  docs/en/guides/README.md
  docs/en/protocols/JVM-Protocol.md
  docs/en/protocols/Trace-Data-Protocol-v1.md
  docs/en/protocols/Trace-Data-Protocol-v2.md
  docs/en/setup/backend/backend-k8s.md
  docs/en/setup/backend/backend-ui-setup.md
  docs/en/setup/istio/README.md
  docs/en/setup/service-agent/java-agent/Customize-enhance-trace.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-library/library-util/src/test/java/org/apache/skywalking/oap/server/library/util/PropertyPlaceholderHelperTest.java
  oap-server/server-library/library-util/src/test/resources/application.yml
  tools/releasing/create_source_release.sh
Labels: document

#2553 Fix Rocketbot link and incubator word(again)
  docs/en/guides/How-to-release.md
Labels: document

#2551 Fix #2546
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/SpringTestCaseHelper.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/Constants.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/exception/IllegalMethodStackDepthException.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/exception/ServletResponseNotFoundException.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/StackDepth.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/AbstractMethodInterceptor.java
Labels: agent, bug

#2566 Release fix
  docs/en/guides/How-to-release.md
  pom.xml
Labels: document

#2542 Add unit tests for alarm-plugin module
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCExporterTest.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockIntValueIndicator.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCore.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmModuleProviderTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandlerTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/ThresholdTest.java
Labels: OAP-backend, test

#2568 Fix query all scope alarm message in MySQL and H2 storage.
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2AlarmQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLAlarmQueryDAO.java
Labels: OAP-backend, bug
