Repository apache/skywalking, pull requests merged in 2020-07, with the labels that each got.

#5005 Fix wrong validation of endpoint relation entity query.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/input/Entity.java
Labels: backend, bug

#4858 support class cache for ByteBuddy
  .github/workflows/plugins-test.3.yaml
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/bytebuddy/CacheableTransformerDecorator.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/bytebuddy/ClassCacheMode.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/util/FileUtils.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/util/IOUtils.java
  apm-sniffer/apm-agent/src/main/java/org/apache/skywalking/apm/agent/SkyWalkingAgent.java
  apm-sniffer/config/agent.config
  docs/en/FAQ/Compatible-with-other-javaagent-bytecode-processing.md
  docs/en/FAQ/README.md
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/scenarios/retransform-class-scenario/bin/startup.sh
  test/plugin/scenarios/retransform-class-scenario/config/expectedData.yaml
  test/plugin/scenarios/retransform-class-scenario/configuration.yml
  test/plugin/scenarios/retransform-class-scenario/pom.xml
  test/plugin/scenarios/retransform-class-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/retransform-class-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/retransform_class/Application.java
  test/plugin/scenarios/retransform-class-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/retransform_class/RetransformUtil.java
  test/plugin/scenarios/retransform-class-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/retransform_class/controller/CaseController.java
  test/plugin/scenarios/retransform-class-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/retransform-class-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/retransform-class-scenario/support-version.list
  test/plugin/scenarios/retransform-class-tomcat-scenario/config/expectedData.yaml
  test/plugin/scenarios/retransform-class-tomcat-scenario/configuration.yml
  test/plugin/scenarios/retransform-class-tomcat-scenario/pom.xml
  test/plugin/scenarios/retransform-class-tomcat-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/retransform_class/CaseController.java
  test/plugin/scenarios/retransform-class-tomcat-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/retransform_class/RetransformUtil.java
  test/plugin/scenarios/retransform-class-tomcat-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/retransform_class/StartupListener.java
  test/plugin/scenarios/retransform-class-tomcat-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/retransform-class-tomcat-scenario/src/main/webapp/WEB-INF/spring-mvc-servlet.xml
  test/plugin/scenarios/retransform-class-tomcat-scenario/src/main/webapp/WEB-INF/web.xml
  test/plugin/scenarios/retransform-class-tomcat-scenario/support-version.list
Labels: agent, enhancement

#5009 Java agent memory leak when enhance `Worker thread` at use Thread Pool
  docs/en/FAQ/Memory-leak-enhance-Worker-thread.md
  docs/en/FAQ/README.md
Labels: document

#5014 Fix timebucket conversion issue
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/TimeBucket.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/TimeBucketTest.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/AggregationQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetricsQuery.java
Labels: bug

#5017 Optimize the code to prevent mongo statements from being too long
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mongodb/v3/support/MongoOperationHelper.java
Labels: agent, enhancement, plugin

#5021 Fix bug caused by setting SW_OAL_ENGINE_DEBUG=Y.
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/OALRuntime.java
Labels: backend, bug

#5020 Fix doc format.
  docs/en/guides/Java-Plugin-Development-Guide.md
Labels: document

#5032 add python components
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: backend

#5030 support Graphql Logic endpoint
  .github/workflows/plugins-test.3.yaml
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-12.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-12.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v12/GraphqlInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-12.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v12/define/GraphqlInstrumentation.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-12.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-8.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v8/GraphqlInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v8/define/GraphqlInstrumentation.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-8.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-9.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v9/GraphqlInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v9/define/GraphqlInstrumentation.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-9.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/graphql-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/baidu-brpc-scenario/pom.xml
  test/plugin/scenarios/canal-scenario/pom.xml
  test/plugin/scenarios/graphql-12.x-scenario/bin/startup.sh
  test/plugin/scenarios/graphql-12.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/graphql-12.x-scenario/configuration.yml
  test/plugin/scenarios/graphql-12.x-scenario/pom.xml
  test/plugin/scenarios/graphql-12.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/graphql-12.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/Application.java
  test/plugin/scenarios/graphql-12.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/configuration/GraphSchema.java
  test/plugin/scenarios/graphql-12.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/controller/CaseController.java
  test/plugin/scenarios/graphql-12.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/data/User.java
  test/plugin/scenarios/graphql-12.x-scenario/src/main/resources/application.yml
  test/plugin/scenarios/graphql-12.x-scenario/support-version.list
  test/plugin/scenarios/graphql-8.x-scenario/bin/startup.sh
  test/plugin/scenarios/graphql-8.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/graphql-8.x-scenario/configuration.yml
  test/plugin/scenarios/graphql-8.x-scenario/pom.xml
  test/plugin/scenarios/graphql-8.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/graphql-8.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/Application.java
  test/plugin/scenarios/graphql-8.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/configuration/GraphSchema.java
  test/plugin/scenarios/graphql-8.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/configuration/User.java
  test/plugin/scenarios/graphql-8.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/controller/CaseController.java
  test/plugin/scenarios/graphql-8.x-scenario/src/main/resources/application.yml
  test/plugin/scenarios/graphql-8.x-scenario/support-version.list
  test/plugin/scenarios/graphql-9.x-scenario/bin/startup.sh
  test/plugin/scenarios/graphql-9.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/graphql-9.x-scenario/configuration.yml
  test/plugin/scenarios/graphql-9.x-scenario/pom.xml
  test/plugin/scenarios/graphql-9.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/graphql-9.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/Application.java
  test/plugin/scenarios/graphql-9.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/configuration/GraphSchema.java
  test/plugin/scenarios/graphql-9.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/controller/CaseController.java
  test/plugin/scenarios/graphql-9.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/graphql/data/User.java
  test/plugin/scenarios/graphql-9.x-scenario/src/main/resources/application.yml
  test/plugin/scenarios/graphql-9.x-scenario/support-version.list
Labels: agent, feature, plugin

#5028 Fix no data bug of oap self observability instance_metrics_second_aggregation metrics.
  docs/en/setup/backend/grafana.json
  oap-server/server-bootstrap/src/main/resources/fetcher-prom-rules/self.yaml
  oap-server/server-bootstrap/src/main/resources/oc-rules/oap.yaml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsAggregateWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsTransWorker.java
Labels: backend, bug

#5038 Fix no telemetry metrics when the oap role is receiver.
  oap-server/server-cluster-plugin/cluster-consul-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/consul/ConsulCoordinator.java
  oap-server/server-cluster-plugin/cluster-consul-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/consul/ITClusterModuleConsulProviderFunctionalTest.java
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/EtcdCoordinator.java
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinator.java
  oap-server/server-cluster-plugin/cluster-standalone-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/standalone/StandaloneManager.java
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ZookeeperCoordinator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
Labels: backend, bug

#5041 Update docker-entrypoint.sh
  docker/oap/docker-entrypoint.sh
Labels: docker

#4987 support sampleRate as Dynamic Configuration (#4968)
  docs/en/setup/backend/dynamic-config.md
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/TraceModuleProvider.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/TraceSampleRateWatcher.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/TraceServiceModuleConfig.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/SegmentAnalysisListener.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/TraceSegmentSampler.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/trace/provider/TraceSampleRateWatcherTest.java
Labels: backend, enhancement

#5040 Dynamic Configuration Zookeeper Implementation
  docs/en/setup/backend/dynamic-config.md
Labels: document

#5050 add golang component id
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: enhancement

#5054 BugFix: x-le tag format in GraphQL plugin
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-12.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v12/GraphqlInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v8/GraphqlInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v9/GraphqlInterceptor.java
  test/plugin/scenarios/graphql-12.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/graphql-8.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/graphql-9.x-scenario/config/expectedData.yaml
Labels: agent, bug, plugin

#5055 #5013 update @Column(columnName = ENTITY_ID, length = 512) private String entityId;
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
Labels: backend, bug

#5057 #5013 update @Column(columnName = ENTITY_ID, length = 512) private String entityId;
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/AvgFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/AvgHistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/HistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunction.java
Labels: backend, bug

#5059 Fix searchService bug in ES implementation for CLI
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
Labels: backend, bug

#5066 add istioctl ALS command for document
  docs/en/setup/envoy/als_setting.md
Labels: document

#5064 Better Vert.x endpoint names
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/RouteImplHandlerInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/RouteStateInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/ServerConnectionHandleMessageInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/RouteImplHandlerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/define/RouteImplInstrumentation.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/resources/skywalking-plugin.def
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/vertx-web-3.54minus-scenario/config/expectedData.yaml
  test/plugin/scenarios/vertx-web-3.54minus-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxweb/controller/VertxWebController.java
  test/plugin/scenarios/vertx-web-3.6plus-scenario/config/expectedData.yaml
  test/plugin/scenarios/vertx-web-3.6plus-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxweb/controller/VertxWebController.java
Labels: agent, enhancement, plugin

#5045 fix @Tag returnedObject bug #5036
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/util/CustomizeExpression.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/util/TagUtil.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/test/java/org/apache/skywalking/apm/toolkit/activation/trace/TagAnnotationTest.java
Labels: agent, plugin

#5088 fix config file and document typo for ttl (#5087)
  docs/en/setup/backend/ttl.md
  oap-server/server-bootstrap/src/main/resources/application.yml
Labels: backend, bug, document

#5084 #4907 - Duplicate Spring MVC endpoint fix
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
Labels: agent, bug, plugin

#5102 Update Slack invitation link
  README.md
Labels: document

#5107 Fix backend-telemetry.md format
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/backend-telemetry.md
Labels: document

#5108 Fix NodeType.java note.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/NodeType.java
Labels: document

#5031 issue 3713 - Cannot get the TID using the ConsoleAppender + LogstashE…
  apm-application-toolkit/apm-toolkit-logback-1.x/src/main/java/org/apache/skywalking/apm/toolkit/log/logback/v1/x/logstash/TraceIdJsonProvider.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/logback/v1/x/logstash/TraceIdJsonProviderActivation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/logback/v1/x/logstash/TraceIdJsonProviderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/resources/skywalking-plugin.def
Labels: agent, enhancement

#5109 Fix issue 4965
  apm-sniffer/apm-sdk-plugin/mysql-common/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/PreparedStatementExecuteMethodsInterceptor.java
  test/plugin/scenarios/mysql-scenario/config/expectedData.yaml
  test/plugin/scenarios/mysql-scenario/src/main/java/org/apache/skywalking/apm/testcase/mysql/SQLExecutor.java
  test/plugin/scenarios/mysql-scenario/src/main/java/org/apache/skywalking/apm/testcase/mysql/controller/CaseController.java
Labels: agent, bug, plugin

#5121 Add PyMysql component
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: backend, enhancement

#5127 add Django component
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: backend, enhancement

#5099 Storage elasticsearch health check
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/StringUtil.java
  oap-server/server-library/library-client/pom.xml
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/healthcheck/DelegatedHealthChecker.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/healthcheck/HealthCheckable.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/jdbc/hikaricp/JDBCHikariCPClient.java
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/HealthChecker.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/StorageModuleElasticsearch7Provider.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/client/ElasticSearch7Client.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/H2StorageProvider.java
  oap-server/server-telemetry/telemetry-api/src/main/java/org/apache/skywalking/oap/server/telemetry/api/HealthCheckMetrics.java
  oap-server/server-telemetry/telemetry-api/src/main/java/org/apache/skywalking/oap/server/telemetry/api/MetricsCreator.java
Labels: backend, enhancement

#4959 Configmap configuration
  docs/en/setup/backend/dynamic-config.md
  oap-server/server-bootstrap/pom.xml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-configuration/configuration-k8s-configmap/pom.xml
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigmapConfigurationProvider.java
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigmapConfigurationSettings.java
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigmapConfigurationWatcherRegister.java
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigurationConfigmapInformer.java
  oap-server/server-configuration/configuration-k8s-configmap/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/server-configuration/configuration-k8s-configmap/src/test/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigmapConfigWatcherRegisterTest.java
  oap-server/server-configuration/configuration-k8s-configmap/src/test/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigmapConfigurationProviderTest.java
  oap-server/server-configuration/configuration-k8s-configmap/src/test/resources/skywalking-dynamic-configmap.example.yaml
  oap-server/server-configuration/pom.xml
Labels: backend, feature, plugin

#5138 Update Redis Python Plugin Component
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: chore

#5141 Fix Custom Plugin in separate config initialization in the plugin out of core level Config.
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/conf/CustomizeConfiguration.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/conf/CustomizePluginConfig.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/loader/CustomizeInstrumentationLoader.java
Labels: agent, enhancement, plugin

#5136 Separate config initialization in the plugin out of core level Config.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/boot/PluginConfig.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/SnifferConfigInitializer.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/loader/AgentClassLoader.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/conf/SnifferConfigInitializerTest.java
  apm-sniffer/apm-agent/src/main/java/org/apache/skywalking/apm/agent/SkyWalkingAgent.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v5/ElasticsearchPluginConfig.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v5/TransportActionNodeProxyInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v5/TransportProxyClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/ElasticsearchPluginConfig.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/AdapterActionFutureActionGetMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/ClusterClientPutSettingsMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/IndicesClientCreateMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientGetMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientIndexMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientSearchMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientUpdateMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/TransportActionNodeProxyExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/AdapterActionFutureActionGetMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/ClusterClientPutSettingsMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/IndicesClientCreateMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientGetMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientIndexMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientSearchMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientUpdateMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/TransportActionNodeProxyExecuteMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/influxdb-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/influxdb/InfluxDBPluginConfig.java
  apm-sniffer/apm-sdk-plugin/influxdb-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/influxdb/interceptor/InfluxDBMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/JDBCPluginConfig.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/PSSetterDefinitionOfJDBCInstrumentation.java
  apm-sniffer/apm-sdk-plugin/light4j-plugins/light4j-plugin/src/main/java/org/apache/skywalking/apm/plugin/light4j/HandleRequestInterceptor.java
  apm-sniffer/apm-sdk-plugin/light4j-plugins/light4j-plugin/src/main/java/org/apache/skywalking/apm/plugin/light4j/Light4JPluginConfig.java
  apm-sniffer/apm-sdk-plugin/mariadb-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mariadb/v2/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/mariadb-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jdbc/mariadb/v2/PreparedStatementExecuteMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/mongodb-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/mongodb/v2/MongoDBCollectionMethodInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mongodb/v3/MongoPluginConfig.java
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mongodb/v3/support/MongoOperationHelper.java
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mongodb/v3/support/MongoSpanHelper.java
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/mongodb/v3/interceptor/v30/MongoDBInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/mongodb/v3/interceptor/v37/MongoDBOperationExecutorInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/mysql-common/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/postgresql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/postgresql/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/solrj-7.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/solrj/SolrClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/solrj-7.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/solrj/SolrJPluginConfig.java
  apm-sniffer/apm-sdk-plugin/solrj-7.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/solrj/SolrClientInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/SpringMVCPluginConfig.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/tomcat-7.x-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/tomcat78x/TomcatInvokeInterceptor.java
  apm-sniffer/apm-sdk-plugin/tomcat-7.x-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/tomcat78x/TomcatPluginConfig.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/ToolkitPluginConfig.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/TraceAnnotationMethodInterceptor.java
  apm-sniffer/bootstrap-plugins/jdk-threading-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/threading/JDKThreadingPluginConfig.java
  apm-sniffer/bootstrap-plugins/jdk-threading-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/threading/ThreadingConfig.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/conf/CustomizeConfiguration.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/conf/CustomizePluginConfig.java
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/loader/CustomizeInstrumentationLoader.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-tx-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/transaction/GetTransactionMethodInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-tx-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/transaction/SpringTXPluginConfig.java
Labels: agent, core feature, plugin

#5137 Add Nacos back into SkyWalking as an option(nacos-1.3.1)
  dist-material/release-docs/LICENSE
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/dynamic-config.md
  oap-server/pom.xml
  oap-server/server-bootstrap/pom.xml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-cluster-plugin/cluster-nacos-plugin/pom.xml
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ClusterModuleNacosConfig.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ClusterModuleNacosProvider.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/NacosCoordinator.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ClusterModuleNacosProviderTest.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ITClusterModuleNacosProviderFunctionalTest.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/NacosCoordinatorTest.java
  oap-server/server-cluster-plugin/pom.xml
  oap-server/server-configuration/configuration-nacos/pom.xml
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigWatcherRegister.java
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigurationProvider.java
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosServerSettings.java
  oap-server/server-configuration/configuration-nacos/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/ITNacosConfigurationTest.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigWatcherRegisterTest.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigurationTestModule.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigurationTestProvider.java
  oap-server/server-configuration/configuration-nacos/src/test/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleDefine
  oap-server/server-configuration/configuration-nacos/src/test/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/server-configuration/configuration-nacos/src/test/resources/application.yml
  oap-server/server-configuration/configuration-nacos/src/test/resources/docker/docker-entrypoint-initdb.d/nacos-mysql.sql
  oap-server/server-configuration/pom.xml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, plugin

#5149 Add OAP configuration vocabulary documentation.
  docs/README.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/backend-storage.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-configuration/configuration-apollo/src/main/java/org/apache/skywalking/oap/server/configuration/apollo/ApolloConfigurationCenterSettings.java
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosServerSettings.java
  oap-server/server-configuration/configuration-zookeeper/src/main/java/org/apache/skywalking/oap/server/configuration/zookeeper/ZookeeperServerSettings.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/GRPCServer.java
  oap-server/server-receiver-plugin/jaeger-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/jaeger/JaegerReceiverConfig.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/ZipkinReceiverConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/H2StorageConfig.java
Labels: document

#5158 Concurrent accessing allJars causes the plugin to fail to load
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/loader/AgentClassLoader.java
Labels: agent, bug, core feature

#5168 Add python tornado component id
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: Python, chore

#5169 Add Tomcat 9 install document for java agent (windows)
  docs/en/setup/service-agent/java-agent/README.md
Labels: document

#5171 Update Kakfa Python Plugin Component
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: Python, chore

#5147 support jetty server advanced configuration.
  docs/en/setup/backend/backend-receivers.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyServer.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyServerConfig.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerConfig.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModuleProvider.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/ZipkinReceiverConfig.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/ZipkinReceiverProvider.java
Labels: backend, enhancement

#4972 Provide server-side meter
  .github/workflows/e2e.yaml
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/src/main/assembly/binary.xml
  dist-material/release-docs/LICENSE
  docs/en/setup/backend/backend-meter.md
  docs/en/setup/backend/backend-receivers.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/spring-sleuth-setup.md
  docs/en/setup/service-agent/java-agent/Application-toolkit-meter.md
  oap-server/pom.xml
  oap-server/server-bootstrap/pom.xml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-bootstrap/src/main/resources/meter-receive-config/spring-sleuth.yaml
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates.yml
  oap-server/server-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/module/MeterReceiverModule.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/MeterReceiverConfig.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/MeterReceiverProvider.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/config/MeterConfig.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/config/MeterConfigs.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/config/MeterDataConfig.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/config/Scope.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/handler/MeterServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/EvalData.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/EvalHistogramData.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/EvalMultipleData.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/EvalSingleData.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/MeterBuilder.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/MeterEvalOperation.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/MeterProcessContext.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/MeterProcessor.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/Window.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleDefine
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/module/MeterReceiverModuleTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/config/MeterConfigsTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/EvalDataBaseTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/EvalDataTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/EvalHistogramDataTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/EvalMultipleDataTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/EvalSingleDataTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/MeterBaseTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/MeterBuilderTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/MeterEvalOperationTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/MeterProcessContextTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/process/MeterProcessorTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/resources/meter-receive-config/config.yaml
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/metrics/MetricsQuery.java
  test/e2e/e2e-service-provider/pom.xml
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/Service0Application.java
  test/e2e/e2e-service-provider/src/main/resources/application.yml
  test/e2e/e2e-test/docker/meter/docker-compose.yml
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/meter/MeterE2E.java
  test/e2e/e2e-test/src/test/resources/expected/meter/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/meter/services.yml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, core feature

#5160 spring-annotation plugin add component
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-annotation-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/annotations/SpringAnnotationInterceptor.java
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/spring-3.0.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-3.1.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-4.1.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-4.3.x-scenario/config/expectedData.yaml
Labels: agent, enhancement, plugin

#5173 Fix histogram labels are absent
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/prometheus/parser/Context.java
Labels: backend, bug

#5178 Update Rabbitmq Python Plugin Component
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: backend

#5174 Support regular expression in labelFilter
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/metric/promethues/PrometheusMetricConverter.java
Labels: backend

#5177 Fix webflux sharing span across multiple threads
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerHandleMethodInterceptor.java
Labels: agent, bug, plugin

#5180 Changelog of 8.1.0 release.
  CHANGES.md
  docs/en/FAQ/why_mq_not_involved.md
Labels: document

#5182 Update doc links for adopting the 2 nodejs agents.
  README.md
  docs/README.md
  docs/en/setup/README.md
Labels: document

#5185 Fix format of doc table
  README.md
Labels: document

#5192 Add internalComHost and internalComPort config to Nacos.
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ClusterModuleNacosConfig.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/NacosCoordinator.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ITClusterModuleNacosProviderFunctionalTest.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/NacosCoordinatorTest.java
Labels: backend, enhancement

#5187 Add AvgLabeledFunction to ingest multiple labels
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/AvgLabeledFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/DataTable.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/metric/promethues/PrometheusMetricConverter.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/metric/promethues/operation/MetricSource.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/metric/promethues/rule/PrometheusMetric.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/metric/promethues/rule/Rules.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/AvgLabeledFunctionTest.java
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/prometheus/provider/PrometheusFetcherProvider.java
Labels: backend, enhancement

#5206 Fix link in doc
  docs/README.md
Labels: document

#5210 [hotfix] Missing time unit in query clause
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxClient.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/AggregationQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/AlarmQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetricsQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/TopologyQuery.java
Labels: bug

#5213 fix an error when executing startup.bat when the log directory exists
  dist-material/bin/webappService.bat
Labels: backend, bug
