Repository apache/skywalking, pull requests merged in 2020-03, with the labels that each got.

#4438 Support change detection mechanism in DCS
  oap-server/server-configuration/configuration-api/src/main/java/org/apache/skywalking/oap/server/configuration/api/ConfigWatcherRegister.java
  oap-server/server-configuration/configuration-api/src/test/java/org/apache/skywalking/oap/server/configuration/api/ConfigWatcherRegisterTest.java
  oap-server/server-configuration/configuration-apollo/src/main/java/org/apache/skywalking/oap/server/configuration/apollo/ApolloConfigWatcherRegister.java
  oap-server/server-configuration/configuration-consul/src/main/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationWatcherRegister.java
  oap-server/server-configuration/configuration-etcd/src/main/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigWatcherRegister.java
  oap-server/server-configuration/configuration-etcd/src/test/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigWatcherRegisterTest.java
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigWatcherRegister.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigWatcherRegisterTest.java
  oap-server/server-configuration/configuration-zookeeper/src/main/java/org/apache/skywalking/oap/server/configuration/zookeeper/ZookeeperConfigWatcherRegister.java
  oap-server/server-configuration/configuration-zookeeper/src/test/java/org/apache/skywalking/oap/server/configuration/zookeeper/ut/MockZookeeperConfigWatcherRegister.java
  oap-server/server-configuration/configuration-zookeeper/src/test/java/org/apache/skywalking/oap/server/configuration/zookeeper/ut/ZookeeperConfigWatcherRegisterTestCase.java
  oap-server/server-configuration/grpc-configuration-sync/src/main/java/org/apache/skywalking/oap/server/configuration/grpc/GRPCConfigWatcherRegister.java
  oap-server/server-configuration/grpc-configuration-sync/src/main/proto/configuration-service.proto
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/ApdexThresholdConfigTest.java
Labels: backend, feature

#4439 Support name column(s) in the storage for 3rd party integration, like Kibana. Default OFF
  dist-material/application.yml
  docs/en/setup/backend/backend-setup.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/DatabaseAccess.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/DefaultScopeDefine.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Endpoint.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EndpointRelation.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EnvoyInstanceMetric.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ScopeDefaultColumn.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Service.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstance.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRCPU.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRGC.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceCLRThread.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMCPU.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMGC.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemory.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemoryPool.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceRelation.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceRelation.java
Labels: backend, feature

#4442 Forward compatibility for DCS
  oap-server/server-configuration/grpc-configuration-sync/src/main/java/org/apache/skywalking/oap/server/configuration/grpc/GRPCConfigWatcherRegister.java
Labels: backend, feature

#4416 Provide profile exporter tool
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/src/main/assembly/binary.xml
  docs/en/FAQ/README.md
  docs/en/guides/README.md
  docs/en/guides/backend-profile-export.md
  docs/en/guides/backend-profile.md
  oap-server/pom.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-starter-es7/pom.xml
  oap-server/server-starter/pom.xml
  oap-server/server-tools/pom.xml
  oap-server/server-tools/profile-exporter/pom.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/pom.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/main/java/org/apache/skywalking/oap/server/tool/profile/exporter/ExporterConfig.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/main/java/org/apache/skywalking/oap/server/tool/profile/exporter/ProfileSnapshotDumper.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/main/java/org/apache/skywalking/oap/server/tool/profile/exporter/ProfileSnapshotExporterBootstrap.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/main/java/org/apache/skywalking/oap/server/tool/profile/exporter/ProfiledBasicInfo.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/test/java/org/apache/skywalking/oap/server/tool/profile/exporter/ProfileAnalyzeSnapshotDAO.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/test/java/org/apache/skywalking/oap/server/tool/profile/exporter/ProfileExportedAnalyze.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/test/java/org/apache/skywalking/oap/server/tool/profile/exporter/test/ExportedData.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/test/java/org/apache/skywalking/oap/server/tool/profile/exporter/test/ProfileExportSnapshotDAO.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/test/java/org/apache/skywalking/oap/server/tool/profile/exporter/test/ProfileSnapshotExporterTest.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/test/java/org/apache/skywalking/oap/server/tool/profile/exporter/test/ProfileTraceDAO.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/test/resources/profile.yml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-exporter-es7/pom.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-exporter-es7/src/main/java/org/apache/skywalking/oap/server/tool/profile/exporter/ProfileSnapshotExporter.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-exporter/pom.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-exporter/src/main/java/org/apache/skywalking/oap/server/tool/profile/exporter/ProfileSnapshotExporter.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/pom.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/MockCoreModuleConfig.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/MockCoreModuleProvider.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/mock/MockComponentLibraryCatalogService.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/mock/MockGRPCHandlerRegister.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/mock/MockJettyHandlerRegister.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/mock/MockRemoteClientManager.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/mock/MockSourceReceiver.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/mock/MockStreamAnnotationListener.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/mock/MockWorkerInstancesService.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  test/e2e/e2e-profile/e2e-profile-test-runner/pom.xml
  test/e2e/e2e-profile/e2e-profile-test-runner/src/docker/h2/h2-install.sh
  test/e2e/e2e-profile/e2e-profile-test-runner/src/test/java/org/apache/skywalking/e2e/ProfileVerificationITCase.java
  tools/profile-exporter/application.yml
  tools/profile-exporter/profile_exporter.sh
  tools/profile-exporter/profile_exporter_log4j2.xml
Labels: backend

#4399 support http api for upstream trace.
  .github/workflows/e2e.yaml
  .gitignore
  docs/en/protocols/HTTP-API-Protocol.md
  docs/en/protocols/Trace-Data-Protocol-v2.md
  oap-server/pom.xml
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyJsonHandler.java
  oap-server/server-library/library-util/pom.xml
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/ProtoBufJsonUtils.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/RegisterModuleProvider.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v6/rest/ServiceInstancePingServletHandler.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v6/rest/ServiceInstanceRegisterServletHandler.java
  oap-server/server-receiver-plugin/skywalking-register-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v6/rest/ServiceRegisterServletHandler.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/TraceModuleProvider.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/handler/v6/rest/TraceSegmentCollectServletHandler.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/handler/v6/rest/reader/SegmentJsonReader.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/handler/v6/rest/reader/StreamJsonReader.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/handler/v6/rest/reader/UpstreamSegmentJsonReader.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/segment/ProtoBufJsonUtilsTest.java
  test/e2e/e2e-http-api-with-nginx-lua/pom.xml
  test/e2e/e2e-http-api-with-nginx-lua/src/docker/rc.d/rc0-prepare.sh
  test/e2e/e2e-http-api-with-nginx-lua/src/docker/rc.d/rc1-startup.sh
  test/e2e/e2e-http-api-with-nginx-lua/src/main/java/org/apache/skywalking/e2e/sample/client/SampleClientApplication.java
  test/e2e/e2e-http-api-with-nginx-lua/src/main/java/org/apache/skywalking/e2e/sample/client/TestController.java
  test/e2e/e2e-http-api-with-nginx-lua/src/main/resources/application.yml
  test/e2e/e2e-http-api-with-nginx-lua/src/test/java/org/apache/skywalking/e2e/SampleVerificationITCase.java
  test/e2e/e2e-http-api-with-nginx-lua/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.endpoints.yml
  test/e2e/e2e-http-api-with-nginx-lua/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.instances.yml
  test/e2e/e2e-http-api-with-nginx-lua/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.serviceInstanceTopo.yml
  test/e2e/e2e-http-api-with-nginx-lua/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.services.yml
  test/e2e/e2e-http-api-with-nginx-lua/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.topo.yml
  test/e2e/e2e-http-api-with-nginx-lua/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.traces.yml
  test/e2e/pom.xml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, core feature

#4452 Update the latest release commit to the e2e for release verification.
  test/e2e/e2e-http-api-with-nginx-lua/pom.xml
Labels: test

#4451 Fix a misguide of release doc.
  docs/en/guides/How-to-release.md
Labels: document

#4456 Remove a wrong statement in the release guide
  docs/en/guides/How-to-release.md
Labels: document

#4459 Fix the wrong nouns in plugin test doc
  docs/en/guides/Plugin-test.md
Labels: document

#4462 [Agent Core] Support lazy ContextCarrier injection and lazy peer id setting
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/AbstractTracerContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/ExitSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/ExitTypeSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/LocalSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/NoopExitSpan.java
Labels: agent, core feature

#4464 HTTP doc error about SpanLayer.
  docs/en/protocols/HTTP-API-Protocol.md
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/segment/ProtoBufJsonUtilsTest.java
Labels: document

#4467 Remove & Simplfy redundancy code.
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2AggregationQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLAggregationQueryDAO.java
Labels: chore, enhancement

#4468 Correct the words for new PMC
  docs/en/guides/asf/committer.md
Labels: document

#4473 #4463 FAQ for Maven compilation failure with error like python2 not found
  docs/en/FAQ/README.md
  docs/en/FAQ/maven-compile-npm-failure.md
Labels: document

#4471 [BugFix] Docker so11y cannot be disabled
  docker/oap-es7/docker-entrypoint.sh
  docker/oap/docker-entrypoint.sh
Labels: bug, docker

#4483 [BugFix] Docker InfluxDB cannot be enabled
  docker/oap-es7/docker-entrypoint.sh
  docker/oap/docker-entrypoint.sh
Labels: bug, docker

#4484 Fix unclear doc and add missing variable
  docker/oap-es7/docker-entrypoint.sh
  docker/oap/docker-entrypoint.sh
  docs/en/setup/backend/backend-storage.md
Labels: document

#4475 Add file change detection mechanism
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/ttl/DataTTLKeeperTimer.java
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/MultipleFilesChangeMonitor.java
  oap-server/server-library/library-util/src/test/java/org/apache/skywalking/oap/server/library/util/MultipleFilesChangeMonitorTest.java
Labels: backend, feature

#4487 Fix overlapping time ranges profile analyze error
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profile/analyze/ProfileAnalyzer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profile/analyze/ProfileStack.java
  oap-server/server-core/src/test/resources/thread-snapshot.yml
Labels: backend, bug

#4489 Delete appveyor.yml as don't use there.
  appveyor.yml
Labels: CI settings

#4488 Fix NoSuchElement exception for lazy injection.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
Labels: agent, bug, core feature

#4490 Fix GraphQL profile queried error when cannot matches any snapshot
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profile/analyze/ProfileAnalyzer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/entity/ProfileAnalyzation.java
Labels: backend, bug, query

#4499 support language php
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/entity/Language.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/entity/LanguageTrans.java
Labels: backend, bug

#4495 Update MiniKube for CI process
  .github/workflows/istio-mixer-ci.yaml
  test/e2e-mesh/e2e-istio/scripts/minikube.sh
  test/e2e-mesh/e2e-istio/scripts/pre.sh
Labels: CI settings, bug, test

#4504 add KubeSphere in powered-by list
  docs/powered-by.md
Labels: document

#4503 Support servlet 2.5 for Struts2
  apm-sniffer/apm-sdk-plugin/struts2-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/struts2/Struts2Interceptor.java
Labels: agent, bug, plugin

#4493 Support Secrets Management File in the ElasticSearch 6/7 storage
  dist-material/application.yml
  docs/en/setup/backend/backend-storage.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/MultipleFilesChangeMonitor.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/StorageModuleElasticsearch7Provider.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/client/ElasticSearch7Client.java
Labels: backend, feature

#4507 RestTemplate async plugin ClassCastException
  .github/workflows/plugins-test.yaml
  apm-sniffer/apm-sdk-plugin/spring-plugins/resttemplate-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/resttemplate/async/FutureGetInterceptor.java
  test/plugin/scenarios/resttemplate-4.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/resttemplate-4.x-scenario/configuration.yml
  test/plugin/scenarios/resttemplate-4.x-scenario/pom.xml
  test/plugin/scenarios/resttemplate-4.x-scenario/src/main/java/org/apache/skywalking/testcase/resttemplate/BackController.java
  test/plugin/scenarios/resttemplate-4.x-scenario/src/main/java/org/apache/skywalking/testcase/resttemplate/FrontController.java
  test/plugin/scenarios/resttemplate-4.x-scenario/src/main/java/org/apache/skywalking/testcase/resttemplate/ResttemplateConfiguration.java
  test/plugin/scenarios/resttemplate-4.x-scenario/src/main/resource/log4j2.xml
  test/plugin/scenarios/resttemplate-4.x-scenario/src/main/webapp/WEB-INF/spring-mvc-servlet.xml
  test/plugin/scenarios/resttemplate-4.x-scenario/src/main/webapp/WEB-INF/web.xml
  test/plugin/scenarios/resttemplate-4.x-scenario/support-version.list
Labels: bug, plugin

#4470 Enable OAP gRPC SSL transportation
  .github/workflows/e2e.yaml
  dist-material/application.yml
  dist-material/release-docs/LICENSE
  docker/oap-es7/docker-entrypoint.sh
  docker/oap/docker-entrypoint.sh
  docs/en/setup/backend/grpc-ssl.md
  docs/en/setup/service-agent/java-agent/TLS.md
  oap-server/pom.xml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClient.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/RemoteClientManager.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClientRealClient.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClientTestCase.java
  oap-server/server-library/library-client/pom.xml
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/grpc/GRPCClient.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/GRPCServer.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerConfig.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModuleProvider.java
  pom.xml
  test/e2e/e2e-ssl/pom.xml
  test/e2e/e2e-ssl/src/docker/ca/ca.crt
  test/e2e/e2e-ssl/src/docker/certs/ca.crt
  test/e2e/e2e-ssl/src/docker/certs/server-key.pem
  test/e2e/e2e-ssl/src/docker/certs/server.crt
  test/e2e/e2e-ssl/src/docker/hosts
  test/e2e/e2e-ssl/src/docker/rc.d/rc1-startup.sh
  test/e2e/e2e-ssl/src/main/java/org/apache/skywalking/e2e/sample/client/SampleClientApplication.java
  test/e2e/e2e-ssl/src/main/java/org/apache/skywalking/e2e/sample/client/TestController.java
  test/e2e/e2e-ssl/src/main/java/org/apache/skywalking/e2e/sample/client/User.java
  test/e2e/e2e-ssl/src/main/java/org/apache/skywalking/e2e/sample/client/UserRepo.java
  test/e2e/e2e-ssl/src/main/resources/application.yml
  test/e2e/e2e-ssl/src/test/java/org/apache/skywalking/e2e/SampleVerificationITCase.java
  test/e2e/e2e-ssl/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.endpoints.yml
  test/e2e/e2e-ssl/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.instances.yml
  test/e2e/e2e-ssl/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.serviceInstanceTopo.yml
  test/e2e/e2e-ssl/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.services.yml
  test/e2e/e2e-ssl/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.topo.yml
  test/e2e/e2e-ssl/src/test/resources/expected-data/org.apache.skywalking.e2e.SampleVerificationITCase.traces.yml
  test/e2e/pom.xml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend

#4516 Fix query profiled segments error
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2ProfileThreadSnapshotQueryDAO.java
Labels: bug, query

#4514 Add selector property in application.yml
  .github/workflows/e2e.yaml
  dist-material/application.yml
  docker/oap-es7/docker-entrypoint.sh
  docker/oap/docker-entrypoint.sh
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/backend-storage.md
  docs/en/setup/backend/backend-telemetry.md
  docs/en/setup/backend/dynamic-config.md
  oap-server/server-bootstrap/src/main/java/org/apache/skywalking/oap/server/starter/config/ApplicationConfigLoader.java
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-bootstrap/src/test/java/org/apache/skywalking/oap/server/starter/config/ApplicationConfigLoaderTestCase.java
  oap-server/server-bootstrap/src/test/resources/application.yml
  oap-server/server-library/library-module/src/main/java/org/apache/skywalking/oap/server/library/module/ApplicationConfiguration.java
  oap-server/server-library/library-module/src/main/java/org/apache/skywalking/oap/server/library/module/ModuleConfigException.java
  oap-server/server-library/library-util/src/test/java/org/apache/skywalking/oap/server/library/util/PropertyPlaceholderHelperTest.java
  oap-server/server-library/library-util/src/test/resources/application.yml
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxStorageProvider.java
  test/e2e/e2e-cluster-with-gateway/e2e-cluster-with-gateway-test-runner/pom.xml
  test/e2e/e2e-cluster-with-gateway/e2e-cluster-with-gateway-test-runner/src/docker/clusterize.awk
  test/e2e/e2e-cluster-with-gateway/e2e-cluster-with-gateway-test-runner/src/docker/rc.d/rc0-prepare.sh
  test/e2e/e2e-cluster/e2e-cluster-test-runner/pom.xml
  test/e2e/e2e-cluster/e2e-cluster-test-runner/src/docker/clusterize.awk
  test/e2e/e2e-cluster/e2e-cluster-test-runner/src/docker/rc.d/rc0-prepare.sh
  test/e2e/e2e-influxdb/src/docker/application.yml
  test/e2e/e2e-profile/e2e-profile-test-runner/src/docker/adapt_storage.awk
  test/e2e/e2e-ttl/e2e-ttl-es/pom.xml
  test/e2e/e2e-ttl/e2e-ttl-es/src/docker/es_storage.awk
  test/e2e/e2e-ttl/e2e-ttl-es/src/docker/rc.d/rc0-prepare.sh
  test/e2e/e2e-ttl/e2e-ttl-influxdb/pom.xml
  test/e2e/e2e-ttl/e2e-ttl-influxdb/src/docker/influx_storage.awk
  test/e2e/e2e-ttl/e2e-ttl-influxdb/src/docker/rc.d/rc0-prepare.sh
  test/e2e/run.sh
  tools/profile-exporter/application.yml
Labels: backend, core feature

#4528 Fix profile trace not match when change the entry operationId/Name
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/AbstractTracingSpan.java
Labels: agent, bug

#4529 [hotfix] Fix AlarmQuery query condition issue
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/AlarmQuery.java
Labels: bug

#4533 Add the UI usage documentation
  README.md
  docs/README.md
  docs/en/ui/README.md
Labels: document

#4509 SkyWalking Cross Process Correlation Headers Protocol
  docs/en/protocols/README.md
  docs/en/protocols/Skywalking-Cross-Process-Correlation-Headers-Protocol-v1.md
Labels: document

#4541 Make `CommandService` daemon to avoid blocking target application shu…
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/commands/CommandService.java
Labels: agent, bug

#4543 Add a miss link about Apdex documentation.
  docs/en/setup/backend/backend-setup.md
Labels: document

#4544 fix finagle: process NoopSpan
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/AnnotationInterceptor.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/ClientDestTracingFilterInterceptor.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/CodecUtils.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/Constants.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/ContextCarrierHelper.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/ServerTracingFilterInterceptor.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/finagle/CodecUtilsTest.java
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/CallbackInterceptor.java
Labels: bug, plugin

#4549 Remove unnecessary parameter in the profile log query
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/ProfileTaskQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/profile/IProfileTaskLogQueryDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/ProfileTaskLogEsDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/ProfileTaskLogQuery.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2ProfileTaskLogQueryDAO.java
  test/e2e/e2e-test/docker/Dockerfile.consumer
  test/e2e/e2e-test/docker/Dockerfile.provider
  test/e2e/e2e-test/docker/profile/Dockerfile.h2
Labels: backend

#4552 Add miss doc about collecting parameters in the profiled traces.
  README.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/ui/README.md
Labels: document

#4551 [Chore] Fix license headers and rename E2E job name
  .github/workflows/e2e.yaml
  .github/workflows/plugins-test.yaml
  pom.xml
  test/e2e/e2e-test/docker/cluster/download-mysql.sh
  test/e2e/e2e-test/docker/profile/download-mysql.sh
  test/e2e/e2e-test/docker/simple/ssl/hosts
  test/e2e/e2e-test/docker/storage/download-mysql.sh
  test/e2e/pom.xml
Labels: chore

#4553 Update the announce process.
  docs/en/guides/How-to-release.md
Labels: document, high priority

#4547 Add PHP module support to e2e test
  .github/workflows/e2e.php.yaml
  test/e2e/e2e-test/docker/php/docker-compose.yml
  test/e2e/e2e-test/docker/php/index.php
  test/e2e/e2e-test/docker/php/php-shadow.ini
  test/e2e/e2e-test/docker/php/php.ini
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/PHPE2E.java
  test/e2e/e2e-test/src/test/resources/expected/php/endpoints.yml
  test/e2e/e2e-test/src/test/resources/expected/php/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/php/serviceInstanceTopo.yml
  test/e2e/e2e-test/src/test/resources/expected/php/services.yml
  test/e2e/e2e-test/src/test/resources/expected/php/shadowEndpoints.yml
  test/e2e/e2e-test/src/test/resources/expected/php/shadowInstances.yml
  test/e2e/e2e-test/src/test/resources/expected/php/topo.yml
  test/e2e/e2e-test/src/test/resources/expected/php/traces.yml
Labels: agent, test

#4558 Fix a typo.
  docs/en/guides/How-to-release.md
Labels: document

#4565 Upgrade jackson-databind version to 2.9.10
  apm-webapp/pom.xml
  dist-material/release-docs/LICENSE
Labels: backend, high priority

#4566 [CI] Reorganize the Plugin Tests to speed up the PR checks
  .github/workflows/plugins-test.0.yaml
  .github/workflows/plugins-test.1.yaml
  .github/workflows/plugins-test.2.yaml
  .github/workflows/plugins-test.3.yaml
  .github/workflows/plugins-test.yaml
  docs/en/guides/Plugin-test.md
Labels: chore, test

#4567 Add missing `@Repeatable` to `@Tag` annotation
  apm-application-toolkit/apm-toolkit-trace/src/main/java/org/apache/skywalking/apm/toolkit/trace/Tag.java
  test/plugin/scenarios/finagle-17.10.x-scenario/support-version.list
  test/plugin/scenarios/jetty-scenario/support-version.list
  test/plugin/scenarios/mongodb-3.x-scenario/support-version.list
  test/plugin/scenarios/mysql-scenario/support-version.list
  test/plugin/scenarios/postgresql-above9.4.1207-scenario/support-version.list
Labels: agent, plugin

#4568 Update How-to-build.md
  docs/en/guides/How-to-build.md
Labels: document

#4555 Correlation protocol implement
  apm-application-toolkit/apm-toolkit-trace/src/main/java/org/apache/skywalking/apm/toolkit/trace/TraceContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/AbstractTracerContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextCarrier.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManager.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextSnapshot.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/CorrelationContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/IgnoredTracerContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/SW7CorrelationCarrierItem.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/ContextCarrierV2HeaderTest.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/CorrelationContextTest.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/finagle/CodecUtilsTest.java
  apm-sniffer/apm-sdk-plugin/httpClient-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/httpClient/v4/HttpClientExecuteInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/httpasyncclient-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/httpasyncclient/v4/HttpAsyncClientInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/motan-plugin/src/test/java/org/apache/skywalking/apm/plugin/motan/MotanConsumerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/servicecomb/ProducerOperationHandlerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/servicecomb/TransportClientHandlerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-1.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/servicecomb/v1/ProducerOperationHandlerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-1.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/servicecomb/v1/TransportClientHandlerInterceptorTest.java
  apm-sniffer/apm-test-tools/src/main/java/org/apache/skywalking/apm/agent/core/context/MockContextSnapshot.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/CorrelationContextGetInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/CorrelationContextPutInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/TraceContextActivation.java
  docs/en/protocols/Skywalking-Cross-Process-Correlation-Headers-Protocol-v1.md
  docs/en/setup/service-agent/java-agent/Application-toolkit-trace.md
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/scenarios/apm-toolkit-trace-scenario/config/expectedData.yaml
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/org/apache/skywalking/apm/toolkit/trace/TraceContext.java
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/toolkit/controller/TestController.java
Labels: agent, plugin

#4571 Add yunda express to the powered by page.
  docs/powered-by.md
Labels: document

#4574 [Agent] Add JDK13, JDK14 to build matrix
  .github/workflows/e2e.jdk-versions.yaml
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, test

#4575 Syntax, grammar and basic cleanup.
  docs/en/concepts-and-designs/overview.md
Labels: document

#4577 Add sf express to the powered by page.
  docs/powered-by.md
Labels: document

#4579 Set the trustStorePath default value to empty
  dist-material/application.yml
Labels: backend, enhancement

#4582 Add 200000 microsecond sleep in E2E-PHP
  test/e2e/e2e-test/docker/php/index.php
Labels: test

#4584 Fix E2E-PHP bugs
  test/e2e/e2e-test/src/test/resources/expected/php/endpoints.yml
Labels: bug, test

#4589 [BugFix]Escape '/' on InfluxDB query
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/InfluxMetadataQueryDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/TraceQuery.java
Labels: bug

#4593 [BugFix] Fix wrong H2 column type
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/INewModel.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2SQLExecutor.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2TableInstaller.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLTableInstaller.java
Labels: bug

#4595 Set the endpoint name length to 150, to keep safe and avoid over-length.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/dictionary/NetworkAddressDictionary.java
  apm-sniffer/config/agent.config
  dist-material/application.yml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModule.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Endpoint.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EndpointRelation.java
Labels: agent, backend, enhancement
