Repository apache/skywalking, pull requests merged in 2020-10, with the labels that each got.

#5597 fix Classcanbestatic
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/MultipleChannelsConsumer.java
Labels: bug, chore

#5599 Fix JdkObsolete issue
  apm-application-toolkit/apm-toolkit-opentracing/src/main/java/org/apache/skywalking/apm/toolkit/opentracing/SkywalkingSpanBuilder.java
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/feign/http/v9/DefaultHttpClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/vertx-plugins/vertx-core-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/vertx3/VertxContext.java
  apm-sniffer/apm-test-tools/src/main/java/org/apache/skywalking/apm/agent/test/tools/AgentServiceRule.java
  apm-sniffer/apm-test-tools/src/main/java/org/apache/skywalking/apm/agent/test/tools/SegmentStorage.java
Labels: chore

#5600 Replace Class.newInstance() with getDeclaredConstructor().newInstance()
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumeDriver.java
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-conflict-patch/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/patch/MakeWrapperInterceptor.java
  apm-sniffer/apm-sdk-plugin/dubbo-conflict-patch/src/main/java/org/apache/skywalking/apm/plugin/dubbo/patch/MakeWrapperInterceptor.java
Labels: chore

#5598 Remove some unused variables
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/DataCarrier.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/partition/ProducerThreadPartitioner.java
  apm-commons/apm-datacarrier/src/test/java/org/apache/skywalking/apm/commons/datacarrier/DataCarrierTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientClusterMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientConInterceptor.java
  apm-sniffer/apm-sdk-plugin/mongodb-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mongodb/v2/MongoDBCollectionMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/sofarpc-plugin/src/main/java/org/apache/skywalking/apm/plugin/sofarpc/SofaRpcConsumerInterceptor.java
  apm-sniffer/apm-sdk-plugin/sofarpc-plugin/src/main/java/org/apache/skywalking/apm/plugin/sofarpc/SofaRpcProviderInterceptor.java
  oap-server/server-cluster-plugin/cluster-standalone-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/standalone/ClusterModuleStandaloneProvider.java
Labels: chore

#5603 add @SuppressWarnings(HidingField) annotation
  apm-application-toolkit/apm-toolkit-micrometer-registry/src/main/java/org/apache/skywalking/apm/meter/micrometer/SkywalkingDistributionSummary.java
  apm-application-toolkit/apm-toolkit-micrometer-registry/src/main/java/org/apache/skywalking/apm/meter/micrometer/SkywalkingTimer.java
Labels: chore

#5606 add @SuppressWarnings(NonAtomicVolatileUpdate)
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/MultipleChannelsConsumer.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/partition/SimpleRollingPartitioner.java
Labels: chore

#5619 Embrace the maven cache in the GitHub action.
  .github/workflows/ci-it.yaml
  .github/workflows/docker-ci.yaml
  .github/workflows/e2e.cluster.yaml
  .github/workflows/e2e.go.yaml
  .github/workflows/e2e.jdk-versions.yaml
  .github/workflows/e2e.js.yaml
  .github/workflows/e2e.kafka.yaml
  .github/workflows/e2e.php.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.python.yaml
  .github/workflows/e2e.storages.yaml
  .github/workflows/e2e.ttl.yaml
  .github/workflows/e2e.yaml
  .github/workflows/istio-mixer-ci.yaml
  .github/workflows/plugins-jdk14-test.0.yaml
  .github/workflows/plugins-test.0.yaml
  .github/workflows/plugins-test.1.yaml
  .github/workflows/plugins-test.2.yaml
  .github/workflows/plugins-test.3.yaml
Labels: CI settings

#5601 Use explicit charset instead of default charset
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/SWClientRPCPlugin.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/SWServerRPCPlugin.java
  apm-sniffer/apm-sdk-plugin/hbase-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hbase/HTableInterceptor.java
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/KafkaConsumerInterceptor.java
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/KafkaProducerInterceptor.java
Labels: chore

#5610 fix to release incorrectly lock when it is failed to obtain lock
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumeDriver.java
Labels: bug, chore

#5611 remove dead code
  apm-sniffer/apm-test-tools/src/main/java/org/apache/skywalking/apm/agent/core/context/MockContextSnapshot.java
Labels: chore, test

#5613 fix TypeParameterUnusedInFormals
  apm-sniffer/apm-test-tools/src/main/java/org/apache/skywalking/apm/agent/test/helper/FieldGetter.java
Labels: chore, test

#5620 Add fall through comment
  apm-sniffer/apm-sdk-plugin/sharding-jdbc-1.5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sjdbc/ExecuteEventListener.java
Labels: chore

#5617 Replace != with equals
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-conflict-patch/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/patch/MakeWrapperInterceptor.java
  apm-sniffer/apm-sdk-plugin/dubbo-conflict-patch/src/main/java/org/apache/skywalking/apm/plugin/dubbo/patch/MakeWrapperInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-12.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v12/GraphqlInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v8/GraphqlInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v9/GraphqlInterceptor.java
Labels: bug

#5585 fix timebucket converter issue
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/TimeBucket.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/TimeBucketTest.java
Labels: bug, test

#5625 Fix 3 format issue of CI control file.
  .github/workflows/e2e.js.yaml
  .github/workflows/e2e.kafka.yaml
  .github/workflows/e2e.yaml
Labels: CI settings, bug

#5602 Promote Integer to Long before multiplying to avoid numeric overflow
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/Channels.java
Labels: bug

#5624 chore: fix UnnecessaryParentheses
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/AdapterActionFutureActionGetMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/ClusterClientGetSettingsMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/ClusterClientHealthMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/ClusterClientPutSettingsMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/IndicesClientCreateMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/IndicesClientDeleteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientConInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientGetMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientIndexMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientIndicesMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientSearchMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientUpdateMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/play-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/play/v2x/define/Play2xInstrumentation.java
  apm-sniffer/apm-sdk-plugin/undertow-plugins/undertow-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/undertow/v2x/define/RoutingHandlerInstrumentation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/CallableOrRunnableActivation.java
Labels: chore

#5626 Limit Sql body size
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/JDBCPluginConfig.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/PSSetterDefinitionOfJDBCInstrumentation.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/PreparedStatementParameterBuilder.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/SqlBodyUtil.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/test/java/org/apache/skywalking/apm/plugin/jdbc/PreparedStatementParameterBuilderTest.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/test/java/org/apache/skywalking/apm/plugin/jdbc/SqlBodyUtilTest.java
  apm-sniffer/apm-sdk-plugin/mariadb-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mariadb/v2/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/mariadb-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mariadb/v2/StatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/mariadb-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jdbc/mariadb/v2/PreparedStatementExecuteMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/mariadb-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jdbc/mariadb/v2/StatementExecuteMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/mysql-common/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/mysql-common/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/StatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/mysql-common/src/test/java/org/apache/skywalking/apm/plugin/jdbc/mysql/StatementExecuteMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/postgresql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/postgresql/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/postgresql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/postgresql/StatementExecuteMethodsInterceptor.java
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/scenarios/postgresql-above9.4.1207-scenario/bin/startup.sh
Labels: agent, enhancement, plugin

#5628 Support Alarm to dingtalk
  docs/en/setup/backend/backend-alarm.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcher.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandler.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkSettings.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRuleInitTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcherTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReaderTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/resources/alarm-settings.yml
  oap-server/server-bootstrap/src/main/resources/alarm-settings.yml
Labels: backend, feature

#5612 fix INEFFICIENT_KEYSET_ITERATOR
  apm-sniffer/optional-plugins/customize-enhance-plugin/src/main/java/org/apache/skywalking/apm/plugin/customize/interceptor/BaseInterceptorMethods.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/EsDAO.java
Labels: chore

#5631 Add more details about committer
  docs/en/guides/asf/committer.md
Labels: document

#5616 fix RESOURCE_LEAK
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/loader/AgentClassLoader.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/conf/IgnoreConfigInitializer.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/handler/SpanProcessor.java
Labels: chore

#5634 Add a missing link of the health check doc.
  docs/en/setup/backend/backend-health-check.md
  docs/en/setup/backend/backend-setup.md
Labels: document

#5635 Fix typo issue
  docs/en/setup/backend/backend-health-check.md
Labels: document

#5647 Fix typo in ProfileTask.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/commands/executor/ProfileTaskCommandExecutor.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/profile/ProfileTask.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/profile/ProfileTaskExecutionContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/profile/ProfileTaskExecutionService.java
Labels: chore

#5650 Add SW_NO_UPSTREAM_REAL_ADDRESS config doc
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/AnalyzerModuleConfig.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/MultiScopesAnalysisListener.java
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-library/library-module/src/test/java/org/apache/skywalking/oap/server/library/module/ModuleAProvider.java
  oap-server/server-library/library-module/src/test/java/org/apache/skywalking/oap/server/library/module/ModuleAProviderConfig.java
  oap-server/server-library/library-module/src/test/java/org/apache/skywalking/oap/server/library/module/ModuleManagerTest.java
Labels: backend, bug, document

#5648 Provide meter agent test tool support
  docs/en/guides/Plugin-test.md
  test/plugin/agent-test-tools/pom.xml
  test/plugin/containers/jvm-container/src/main/docker/run.sh
  test/plugin/containers/tomcat-container/src/main/docker/catalina.sh
  test/plugin/scenarios/apm-toolkit-trace-scenario/config/expectedData.yaml
  test/plugin/scenarios/apm-toolkit-trace-scenario/pom.xml
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/toolkit/controller/TestController.java
Labels: plugin, test

#5637 Health check for InfluxDB
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClientException.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/pom.xml
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxClient.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxStorageProvider.java
Labels: backend, feature

#5660 Fix Kafka sender blocks main thread
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaTraceSegmentServiceClient.java
Labels: agent, bug

#5662 Fix typo in backend-storage.md
  docs/en/setup/backend/backend-storage.md
Labels: document

#5658 resttemplate plugin concurrency scenario data mistake problem fix
  apm-sniffer/apm-sdk-plugin/spring-plugins/resttemplate-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/resttemplate/async/RestExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/resttemplate-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/resttemplate/async/RestRequestInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/resttemplate-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/resttemplate/helper/RestTemplateRuntimeContextHelper.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/resttemplate-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/resttemplate/sync/RestExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/resttemplate-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/resttemplate/sync/RestRequestInterceptor.java
Labels: agent, bug, plugin

#5667 Fix duplicate ExitSpan in Feign LoadBalancer Mechanism
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/feign/http/v9/LoadBalancerHttpClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-cloud/netflix-plugins/spring-cloud-feign-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/netflix/feign/v11/define/NetflixFeignInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-cloud/spring-cloud-feign-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/string/cloud/netflix/feign/v2/define/LoadBalancerFeignClientInstrumentation.java
Labels: bug, plugin

#5674 remove unused dependencies.
  apm-commons/apm-util/pom.xml
Labels: backend, dependencies

#5676 test: add a tool to select a suitable group for a new plugin test
  .github/workflows/plugins-test.0.yaml
  .github/workflows/plugins-test.1.yaml
  .github/workflows/plugins-test.2.yaml
  .github/workflows/plugins-test.3.yaml
  docs/en/guides/Plugin-test.md
  tools/select-group.py
Labels: test

#5677 Update pre.sh
  test/e2e-mesh/e2e-istio/scripts/pre.sh
Labels: test

#5669 Support Nacos auth
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ClusterModuleNacosConfig.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ClusterModuleNacosProvider.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ITClusterModuleNacosProviderFunctionalTest.java
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigWatcherRegister.java
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigurationProvider.java
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosServerSettings.java
  oap-server/server-configuration/configuration-nacos/src/test/resources/application.yml
Labels: backend, feature, plugin

#5644 Provide Thrift Plugin
  .github/workflows/plugins-test.3.yaml
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/thrift-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/TBaseAsyncProcessorInterceptor.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/TBaseProcessorInterceptor.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/TServerInterceptor.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/client/TAsyncClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/client/TAsyncMethodCallInterceptor.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/client/TServiceClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/client/TServiceClientReceiveInterceptor.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/commons/ReflectionUtils.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/define/TBaseAsyncProcessorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/define/TBaseProcessorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/define/TServerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/define/client/TAsyncClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/define/client/TAsyncMethodCallInstrumentation.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/define/client/TServiceClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/define/transport/TSocketInstrumentation.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/transport/TSocketInterceptor.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/wrapper/AbstractContext.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/wrapper/AbstractProtocolWrapper.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/wrapper/AsyncContext.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/wrapper/ClientOutProtocolWrapper.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/wrapper/Context.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/wrapper/ServerInProtocolWrapper.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/resources/skywalking-plugin.def
  docs/en/FAQ/README.md
  docs/en/FAQ/thrift-plugin.md
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  oap-server/server-core/src/test/resources/component-libraries.yml
  test/plugin/scenarios/thrift-scenario/config/expectedData.yaml
  test/plugin/scenarios/thrift-scenario/configuration.yml
  test/plugin/scenarios/thrift-scenario/pom.xml
  test/plugin/scenarios/thrift-scenario/support-version.list
  test/plugin/scenarios/thrift-scenario/thrift-client/pom.xml
  test/plugin/scenarios/thrift-scenario/thrift-client/src/main/java/org/apache/skywalking/apm/testcase/thrift/client/Application.java
  test/plugin/scenarios/thrift-scenario/thrift-client/src/main/java/org/apache/skywalking/apm/testcase/thrift/client/controller/CaseController.java
  test/plugin/scenarios/thrift-scenario/thrift-client/src/main/java/org/apache/skywalking/apm/testcase/thrift/client/service/AsyncClient.java
  test/plugin/scenarios/thrift-scenario/thrift-client/src/main/java/org/apache/skywalking/apm/testcase/thrift/client/service/HttpClient.java
  test/plugin/scenarios/thrift-scenario/thrift-client/src/main/java/org/apache/skywalking/apm/testcase/thrift/client/service/IClient.java
  test/plugin/scenarios/thrift-scenario/thrift-client/src/main/java/org/apache/skywalking/apm/testcase/thrift/client/service/SyncClient.java
  test/plugin/scenarios/thrift-scenario/thrift-client/src/main/resources/application.yaml
  test/plugin/scenarios/thrift-scenario/thrift-client/src/main/resources/log4j2.xml
  test/plugin/scenarios/thrift-scenario/thrift-common/pom.xml
  test/plugin/scenarios/thrift-scenario/thrift-common/src/main/thrift/greeter.thrift
  test/plugin/scenarios/thrift-scenario/thrift-dist/bin/startup.sh
  test/plugin/scenarios/thrift-scenario/thrift-dist/pom.xml
  test/plugin/scenarios/thrift-scenario/thrift-dist/src/main/assembly/assembly.xml
  test/plugin/scenarios/thrift-scenario/thrift-server/pom.xml
  test/plugin/scenarios/thrift-scenario/thrift-server/src/main/java/org/apache/skywalking/apm/testcase/thrift/server/Application.java
  test/plugin/scenarios/thrift-scenario/thrift-server/src/main/java/org/apache/skywalking/apm/testcase/thrift/server/service/AsyncServer.java
  test/plugin/scenarios/thrift-scenario/thrift-server/src/main/java/org/apache/skywalking/apm/testcase/thrift/server/service/HttpServer.java
  test/plugin/scenarios/thrift-scenario/thrift-server/src/main/java/org/apache/skywalking/apm/testcase/thrift/server/service/IServer.java
  test/plugin/scenarios/thrift-scenario/thrift-server/src/main/java/org/apache/skywalking/apm/testcase/thrift/server/service/SyncServer.java
  test/plugin/scenarios/thrift-scenario/thrift-server/src/main/resources/application.yaml
  test/plugin/scenarios/thrift-scenario/thrift-server/src/main/resources/log4j2.xml
Labels: agent, feature, plugin

#5678 Fix application start duration log "Failed to load class org.slf4j.impl.StaticLoggerBinder."
  apm-sniffer/apm-agent-core/pom.xml
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/api/ILog.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/api/NoopLogger.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/AbstractLogger.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/LogLevel.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/dependencies/org/slf4j/impl/InternalLoggerFactory.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/dependencies/org/slf4j/impl/Slf4jLoggerAdapter.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/dependencies/org/slf4j/impl/StaticLoggerBinder.java
  apm-sniffer/apm-agent/pom.xml
  docs/en/FAQ/README.md
  docs/en/FAQ/Too-many-gRPC-logs.md
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, enhancement, plugin

#5681 Fix inconsistent logic in PrefixMatch
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/PrefixMatch.java
Labels: agent, bug

#5659 Provide labeled meter when receive meter
  docs/en/setup/backend/backend-meter.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/meter/config/MeterDataConfig.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/EvalMultipleData.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/MeterBuilder.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/EvalMultipleDataTest.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/MeterBuilderTest.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/trace/TraceSampleRateWatcherTest.java
Labels: backend, feature

#5683 Fix some bugs with browser
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/IDManager.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/browser/source/BrowserAppTrafficSource.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/BrowserLogQueryService.java
  test/e2e/e2e-test/src/test/resources/expected/browser/page-path.yml
  test/e2e/e2e-test/src/test/resources/expected/browser/services.yml
  test/e2e/e2e-test/src/test/resources/expected/browser/version.yml
Labels: backend, bug

#5684 Fix a comment
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/NodeType.java
Labels: document

#5688 Add agent config `PROPERTIES_REPORT_PERIOD_FACTOR `, Avoid the instanceTraffic record properties is null.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/ServiceManagementClient.java
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaServiceManagementServiceClient.java
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, bug

#5700 Add feign loadbalancer case for spring-cloud-feign-2.x-scenario plugin.
  test/plugin/scenarios/spring-cloud-feign-2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-cloud-feign-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/feign/Application.java
  test/plugin/scenarios/spring-cloud-feign-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/feign/controller/RestRequest.java
Labels: agent, enhancement, plugin

#5703 added essence.com.cn
  docs/powered-by.md
Labels: document

#5699 Add syncBulkActions config to avoid the large amount of metrics data written ES in a single sync bulk request.
  CHANGES.md
  changes/changes-8.2.0.md
  docs/en/setup/backend/backend-storage.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-library/library-util/src/test/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/BatchProcessEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/StorageModuleElasticsearch7Provider.java
  tools/profile-exporter/application.yml
Labels: backend

#5709 doc: finalize the release change log of 8.2.0
  CHANGES.md
  changes/changes-8.2.0.md
Labels: document

#5711 Add feign loadbalancer case for spring-cloud-feign-1.x-scenario plugin.
  test/plugin/scenarios/spring-cloud-feign-1.1.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-cloud-feign-1.1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/feign/Application.java
  test/plugin/scenarios/spring-cloud-feign-1.1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/feign/controller/RestRequest.java
  test/plugin/scenarios/spring-cloud-feign-1.2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-cloud-feign-1.2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/feign/Application.java
  test/plugin/scenarios/spring-cloud-feign-1.2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/feign/controller/RestRequest.java
Labels: agent, plugin, test

#5720 Improve the pull request template and changelog
  .github/PULL_REQUEST_TEMPLATE
  CHANGES.md
Labels: chore, document

#5724 reformat ui dockerfile.
  docker/ui/Dockerfile.ui
Labels: docker

#5725 remove apollo metadata service default ip.
  oap-server/server-bootstrap/src/main/resources/application.yml
Labels: backend, enhancement

#5729 Remove dead links and fix several typos
  changes/changes-5.x.md
  docs/README.md
  docs/en/setup/backend/dynamic-config.md
Labels: document

#5733 Fix incomplete JavaDoc
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/jdk9module/JDK9ModuleExporter.java
Labels: document

#5734 Fix the exception that is thrown without `TServiceClientReceiveInstrumentation`
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/resources/skywalking-plugin.def
Labels: agent, plugin

#5741 Add the SuperDataset annotation for BrowserErrorLog
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/browser/manual/errorlog/BrowserErrorLogRecord.java
Labels: backend, enhancement

#5747 remove finagle-6.25.0-scenario
  .github/workflows/plugins-test.0.yaml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/finagle-6.25.x-scenario/bin/startup.sh
  test/plugin/scenarios/finagle-6.25.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/finagle-6.25.x-scenario/configuration.yml
  test/plugin/scenarios/finagle-6.25.x-scenario/pom.xml
  test/plugin/scenarios/finagle-6.25.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/finagle-6.25.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/finagle/FinagleRpcApplication.java
  test/plugin/scenarios/finagle-6.25.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/finagle/controller/CaseController.java
  test/plugin/scenarios/finagle-6.25.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/finagle/service/FinagleRpcDemoServiceImpl.java
  test/plugin/scenarios/finagle-6.25.x-scenario/src/main/resources/application.yml
  test/plugin/scenarios/finagle-6.25.x-scenario/src/main/thrift/service.thrift
  test/plugin/scenarios/finagle-6.25.x-scenario/support-version.list
Labels: test

#5745 Make okhttp3 ,feign http9.x plugin to support java 14
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/feign/http/v9/DefaultHttpClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/okhttp-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/okhttp/v3/AsyncCallInterceptor.java
  apm-sniffer/apm-sdk-plugin/okhttp-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/okhttp/v3/RealCallInterceptor.java
Labels: agent, bug, plugin

#5737 Add percentile tests in e2e test.
  test/e2e/e2e-service-consumer/src/main/java/org/apache/skywalking/e2e/controller/UserController.java
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/controller/UserController.java
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/lua/LuaController.java
  test/e2e/e2e-test/docker/go/Dockerfile.go
  test/e2e/e2e-test/docker/lua/Dockerfile.nginx
  test/e2e/e2e-test/docker/lua/nginx.conf
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/GOE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/GatewayE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/LuaE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/PHPE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/PythonE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/kafka/KafkaE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/simple/SimpleE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/storage/StorageE2E.java
  test/e2e/e2e-test/src/test/resources/expected/go/topo.yml
Labels: enhancement, test

#5750 fix typo in PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
Labels: chore

#5748 Support choose files to activate the meter analyzer
  CHANGES.md
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/src/main/assembly/binary.xml
  docs/en/setup/backend/backend-meter.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/spring-sleuth-setup.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/AnalyzerModuleConfig.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/AnalyzerModuleProvider.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/meter/config/MeterConfigs.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/MeterBaseTest.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/MeterProcessContextTest.java
  oap-server/analyzer/agent-analyzer/src/test/resources/meter-analyzer-config/config.yaml
  oap-server/server-bootstrap/pom.xml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-bootstrap/src/main/resources/meter-analyzer-config/spring-sleuth.yaml
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/module/KafkaFetcherConfig.java
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/ResourceUtils.java
  oap-server/server-library/library-util/src/test/java/org/apache/skywalking/oap/server/library/util/ResourceUtilsTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/meter/provider/config/MeterConfigsTest.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/test/resources/meter-analyzer-config/config.yaml
  test/e2e/e2e-test/docker/kafka/docker-compose.meter.yml
  test/e2e/e2e-test/docker/meter/docker-compose.yml
Labels: backend, enhancement

#5707 Add `slowTraceSegmentThreshold` to forcibly sample slow traces
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/dynamic-config.md
  docs/en/setup/backend/trace-sampling.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/AnalyzerModuleConfig.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/AnalyzerModuleProvider.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/TraceLatencyThresholdsAndWatcher.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/SegmentAnalysisListener.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/trace/TraceLatencyThresholdsAndWatcherTest.java
  oap-server/server-bootstrap/src/main/resources/application.yml
Labels: backend, enhancement

#5755 Make the duration error message more specific
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/DurationUtils.java
Labels: backend, enhancement

#5758 Revert "Make the duration error message more specific"
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/DurationUtils.java
Labels: chore

#5759 update hystrix plugin version support list.
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/hystrix-scenario/support-version.list
Labels: agent, document

#5761 Make the duration error message more specific
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/DurationUtils.java
Labels: backend, enhancement

#5762 Change toolkit plugin test dependency to release version
  test/plugin/scenarios/apm-toolkit-trace-scenario/pom.xml
Labels: test
