Repository apache/skywalking, pull requests merged in 2020-04, with the labels that each got.

#4623 Fix command in doc
  docs/en/guides/Plugin-test.md
Labels: document

#4633 Set up restrict length rules for service, instance and endpoint
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/StringFormatGroup.java
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/src/main/assembly/binary.xml
  dist-material/application.yml
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/service-agent/java-agent/README.md
  oap-server/server-bootstrap/pom.xml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-bootstrap/src/main/resources/endpoint_naming_rules.properties
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModule.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/NamingLengthControl.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Endpoint.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EndpointRelation.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/CoreModuleTest.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/K8sALSServiceMeshHTTPAnalysis.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/envoy/als/K8sHTTPAnalysisTest.java
  oap-server/server-receiver-plugin/skywalking-clr-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/clr/provider/handler/CLRMetricReportServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-istio-telemetry-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/istio/telemetry/provider/IstioTelemetryGRPCHandler.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/handler/JVMMetricReportServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-management-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v8/grpc/ManagementServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-management-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v8/rest/ManagementServiceKeepAliveHandler.java
  oap-server/server-receiver-plugin/skywalking-management-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v8/rest/ManagementServiceReportPropertiesHandler.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/EndpointNameFormater.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/MeshGRPCHandler.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/TelemetryDataDispatcher.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/mesh/MeshDataMock.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/TraceModuleProvider.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/SegmentParserServiceImpl.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/SpanTags.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/MultiScopesAnalysisListener.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/NetworkAddressAliasMappingListener.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/SegmentAnalysisListener.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/SourceBuilder.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/MockCoreModuleProvider.java
Labels: backend, core feature

#4635 Support to use empty string to override existing config.
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/PropertyPlaceholderHelper.java
  oap-server/server-bootstrap/src/main/java/org/apache/skywalking/oap/server/starter/config/ApplicationConfigLoader.java
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
Labels: backend, bug

#4638 Fix the wrong correlation header name document
  docs/en/protocols/Skywalking-Cross-Process-Correlation-Headers-Protocol-v1.md
Labels: document

#4639 [CVE] Fix SQL Injection vulnerability in H2/MySQL implementation.
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetricsQueryDAO.java
Labels: backend, bug, high priority

#4640 Fix bug that the agent heart beats too frequently
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/ServiceManagementClient.java
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/containers/jvm-container/docker/run.sh
  test/plugin/containers/tomcat-container/docker/catalina.sh
Labels: agent

#4642 [CVE] Update Jetty version to fix its CVEs
  dist-material/release-docs/LICENSE
  oap-server/pom.xml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, high priority

#4645 Add Tomcat 9 's Java agent deployment instructions(Linux)
  docs/en/setup/service-agent/java-agent/README.md
Labels: document

#4646 Nginx correlation e2e test
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/CorrelationContext.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/CorrelationContextTest.java
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/apm/toolkit/trace/TraceContext.java
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/lua/LuaController.java
  test/e2e/e2e-test/docker/lua/Dockerfile.nginx
  test/e2e/e2e-test/docker/lua/nginx.conf
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/LuaE2E.java
  test/e2e/e2e-test/src/test/resources/expected/lua/endpoints-end.yml
  test/e2e/e2e-test/src/test/resources/expected/lua/traces.yml
Labels: enhancement, test

#4650 fix profile main function file link.
  docs/en/guides/backend-profile.md
Labels: document

#4647 Add `java` -> `go2sky` -> `java` e2e test case, and adapt v3 protocol
  .github/workflows/e2e.go.yaml
  test/e2e/e2e-service-consumer/src/main/java/org/apache/skywalking/e2e/controller/UserController.java
  test/e2e/e2e-test/docker/go/Dockerfile.go
  test/e2e/e2e-test/docker/go/docker-compose.yml
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/GOE2E.java
  test/e2e/e2e-test/src/test/resources/expected/go/endpoints-consumer.yml
  test/e2e/e2e-test/src/test/resources/expected/go/endpoints-go2sky.yml
  test/e2e/e2e-test/src/test/resources/expected/go/endpoints-provider.yml
  test/e2e/e2e-test/src/test/resources/expected/go/instances-go.yml
  test/e2e/e2e-test/src/test/resources/expected/go/instances-java.yml
  test/e2e/e2e-test/src/test/resources/expected/go/serviceInstanceTopo.yml
  test/e2e/e2e-test/src/test/resources/expected/go/services.yml
  test/e2e/e2e-test/src/test/resources/expected/go/topo.yml
  test/e2e/e2e-test/src/test/resources/expected/go/traces.yml
Labels: agent, test

#4655 Keep latest index always present.
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/HistoryDeleteEsDAO.java
Labels: backend, enhancement

#4656 Remove issue from contact channel, and add bilibili site
  README.md
Labels: document

#4671 [Test] Resolve the problem when hard disk reaches a high watermark in ElasticSearch
  test/e2e/e2e-common/src/main/java/org/apache/skywalking/e2e/SkyWalkingAnnotations.java
  test/e2e/e2e-test/docker/cluster/docker-compose.zk.es6.yml
  test/e2e/e2e-test/docker/cluster/docker-compose.zk.es7.yml
  test/e2e/e2e-test/docker/gateway/docker-compose.yml
  test/e2e/e2e-test/docker/profile/docker-compose.es6.yml
  test/e2e/e2e-test/docker/profile/docker-compose.es7.yml
  test/e2e/e2e-test/docker/storage/docker-compose.es6.yml
  test/e2e/e2e-test/docker/storage/docker-compose.es7.yml
  test/e2e/e2e-test/docker/ttl/docker-compose.es6.yml
  test/e2e/e2e-test/docker/ttl/docker-compose.es7.yml
Labels: test

#4674 Add Java versions 9~14 to E2E tests
  .github/workflows/e2e.cluster.yaml
  .github/workflows/e2e.jdk-versions.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.storages.yaml
  .github/workflows/e2e.ttl.yaml
  Makefile
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/pom.xml
  docker/oap-es7/Dockerfile.oap
  docker/oap-es7/docker-entrypoint.sh
  docker/oap-es7/log4j2.xml
  docker/oap/Dockerfile.oap
  docker/oap/docker-entrypoint.sh
  pom.xml
  test/e2e/e2e-common/src/main/java/org/apache/skywalking/e2e/SkyWalkingAnnotations.java
  test/e2e/e2e-test/docker/base-compose.yml
  test/e2e/e2e-test/docker/cluster/docker-compose.zk.mysql.yml
  test/e2e/e2e-test/docker/download-mysql.sh
  test/e2e/e2e-test/docker/profile/docker-compose.mysql.yml
  test/e2e/e2e-test/docker/storage/docker-compose.mysql.yml
  test/e2e/e2e-test/docker/storage/download-mysql.sh
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/profile/ProfileE2E.java
  tools/coverage/report.sh
  tools/profile-exporter/profile_exporter.sh
Labels: test

#4682 fix cache update timer exception when disable profile in the backend
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/cache/CacheUpdateTimer.java
Labels: bug

#4686 Support typeOfMetrics query
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModule.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/ApdexMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/CPMMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/CountMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/DoubleAvgMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/HistogramMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/LongAvgMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MaxDoubleMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MaxLongMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MinDoubleMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MinLongMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentileMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PxxMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/SumMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/topn/TopN.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/MetricsMetadataQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TopNRecordsQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/Column.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/ValueColumnMetadata.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/ITopNRecordsQueryDAO.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/CoreModuleTest.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/MetricsQuery.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TopNRecordsQueryEsDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/TopNRecordsQuery.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2TopNRecordsQueryDAO.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/src/main/java/org/apache/skywalking/oap/server/tool/profile/core/MockCoreModuleProvider.java
Labels: backend, core feature

#4690 Fix profile recheck error
  apm-checkstyle/checkStyle.xml
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/profile/ThreadProfiler.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/profile/query/ProfileStackTreeMatcher.java
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/Service0Application.java
  test/e2e/e2e-service-provider/src/main/java/test/apache/skywalking/e2e/profile/CreateUser.java
  test/e2e/e2e-service-provider/src/main/java/test/apache/skywalking/e2e/profile/ProfileController.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/profile/ProfileE2E.java
  test/e2e/e2e-test/src/test/resources/expected/profile/endpoints.yml
  test/e2e/e2e-test/src/test/resources/expected/profile/finished.yml
  test/e2e/e2e-test/src/test/resources/expected/profile/notified.yml
  test/e2e/e2e-test/src/test/resources/expected/profile/profileAnayzation.yml
  test/e2e/e2e-test/src/test/resources/expected/profile/profileSegment.yml
  test/e2e/e2e-test/src/test/resources/expected/profile/profileSegments.yml
  tools/coverage/report.sh
Labels: agent, bug

#4677 [test/plugin] Enhance PluginTest
  .github/workflows/plugins-test.0.yaml
  .github/workflows/plugins-test.1.yaml
  .github/workflows/plugins-test.2.yaml
  .github/workflows/plugins-test.3.yaml
  test/plugin/containers/jvm-container/docker/run.sh
  test/plugin/containers/tomcat-container/docker/catalina.sh
  test/plugin/containers/tomcat-container/docker/run.sh
  test/plugin/run.sh
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/ConfigurationImpl.java
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/IConfiguration.java
  test/plugin/runner-helper/src/main/resources/container-start-script.template
  test/plugin/runner-helper/src/main/resources/scenario.sh
  test/plugin/scenarios/mysql-scenario/support-version.list
Labels: test

#4693 Fix typo.
  docs/en/concepts-and-designs/backend-overview.md
Labels: document

#4697 fix skywalking refister-receiver artifactId name
  oap-server/server-bootstrap/pom.xml
  oap-server/server-receiver-plugin/skywalking-management-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/pom.xml
Labels: chore

#4624 Vertx plugin test re-implementation
  .github/workflows/plugins-test.3.yaml
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/bin/startup.sh
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/configuration.yml
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/pom.xml
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxeventbus/Application.java
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxeventbus/controller/ClusterReceiver.java
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxeventbus/controller/LocalReceiver.java
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxeventbus/controller/VertxEventbusController.java
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxeventbus/util/CustomMessage.java
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxeventbus/util/CustomMessageCodec.java
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/vertx-eventbus-3.x-scenario/support-version.list
  test/plugin/scenarios/vertx-web-3.x-scenario/bin/startup.sh
  test/plugin/scenarios/vertx-web-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/vertx-web-3.x-scenario/configuration.yml
  test/plugin/scenarios/vertx-web-3.x-scenario/pom.xml
  test/plugin/scenarios/vertx-web-3.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/vertx-web-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxweb/Application.java
  test/plugin/scenarios/vertx-web-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/vertxweb/controller/VertxWebController.java
  test/plugin/scenarios/vertx-web-3.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/vertx-web-3.x-scenario/support-version.list
Labels: agent, plugin, test

#4710 fix: IgnoredTraceContext continue (#4709)
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextSnapshot.java
Labels: agent, bug

#4706 Modification Plugin-test.md
  docs/en/guides/Plugin-test.md
Labels: document

#4670 log4j2 support AsyncAppender print tid
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v2/x/async/AsyncAppenderInstrumentation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v2/x/async/AsyncAppenderMethodInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/src/main/resources/skywalking-plugin.def
  docs/en/setup/service-agent/java-agent/Application-toolkit-log4j-2.x.md
Labels: agent, plugin

#4711 Support default value in labeled-value and heatmap query.
  README.md
  docs/en/setup/envoy/als_setting.md
  docs/en/setup/istio/README.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/DataTable.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/HistogramMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/type/HeatMap.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetricsQueryEsDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetricsQuery.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetricsQueryDAO.java
Labels: backend, feature

#4712 Fix npe in afterMethod/handleMethodException of kafka/finagle plugins
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/InstanceMethodsAroundInterceptor.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/ClientDestTracingFilterInterceptor.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/ClientTracingFilterInterceptor.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/ServerTracingFilterInterceptor.java
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/KafkaConsumerInterceptor.java
Labels: agent, bug, plugin

#4713 More strict PluginTests expected data verifier
  test/plugin/runner-helper/src/main/resources/docker-compose.template
  test/plugin/scenarios/apm-toolkit-trace-scenario/config/expectedData.yaml
  test/plugin/scenarios/avro-scenario/config/expectedData.yaml
  test/plugin/scenarios/dubbo-2.5.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/dubbo-2.7.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/feign-scenario/config/expectedData.yaml
  test/plugin/scenarios/finagle-17.10.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/finagle-6.25.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/finagle-6.44.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/grpc-scenario/config/expectedData.yaml
  test/plugin/scenarios/httpclient-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/httpclient-4.3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/hystrix-scenario/config/expectedData.yaml
  test/plugin/scenarios/jdk-http-scenario/config/expectedData.yaml
  test/plugin/scenarios/jdk-threading-scenario/config/expectedData.yaml
  test/plugin/scenarios/jetty-scenario/config/expectedData.yaml
  test/plugin/scenarios/kafka-scenario/config/expectedData.yaml
  test/plugin/scenarios/kotlin-coroutine-scenario/config/expectedData.yaml
  test/plugin/scenarios/okhttp-scenario/config/expectedData.yaml
  test/plugin/scenarios/pulsar-scenario/config/expectedData.yaml
  test/plugin/scenarios/rabbitmq-scenario/config/expectedData.yaml
  test/plugin/scenarios/resttemplate-4.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/shardingsphere-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/shardingsphere-4.x-RC1-RC2-scenario/config/expectedData.yaml
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/config/expectedData.yaml
  test/plugin/scenarios/sofarpc-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-3.1.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-4.1.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-4.3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-async-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-cloud-feign-1.1.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-cloud-feign-1.2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-cloud-feign-2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/struts2.3-scenario/config/expectedData.yaml
  test/plugin/scenarios/struts2.5-scenario/config/expectedData.yaml
  test/plugin/scenarios/undertow-scenario/config/expectedData.yaml
Labels: test

#4714 Fix an old query compatible bug.
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/AggregationQuery.java
Labels: bug, query

#4715 k8s doc https://github.com/apache/skywalking-kubernetes
  docs/en/setup/backend/backend-k8s.md
Labels: document

#4728 Use the built-in ability to check out submodules
  .github/workflows/ci-it.yaml
  .github/workflows/docker-ci.yaml
  .github/workflows/e2e.cluster.yaml
  .github/workflows/e2e.go.yaml
  .github/workflows/e2e.jdk-versions.yaml
  .github/workflows/e2e.php.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.storages.yaml
  .github/workflows/e2e.ttl.yaml
  .github/workflows/e2e.yaml
  .github/workflows/istio-mixer-ci.yaml
  .github/workflows/plugins-test.0.yaml
  .github/workflows/plugins-test.1.yaml
  .github/workflows/plugins-test.2.yaml
  .github/workflows/plugins-test.3.yaml
Labels: chore

#4725 Support percentile function in the meter system.
  docs/en/concepts-and-designs/meter.md
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/AnalysisResult.java
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/PersistenceColumns.java
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/PersistenceField.java
  oap-server/oal-rt/src/main/resources/code-templates/metrics/deserialize.ftl
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/MeterSystem.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/HistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/IntList.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunctionTest.java
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/prometheus/provider/PrometheusFetcherProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/ColumnTypeEsMapping.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2TableInstaller.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLTableInstaller.java
Labels: backend, feature

#4716 support user to customize an endpoint
  apm-application-toolkit/apm-toolkit-trace/src/main/java/org/apache/skywalking/apm/toolkit/trace/ActiveSpan.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/ActiveSpanActivation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/ActiveSpanSetOperationNameInterceptor.java
  docs/en/setup/service-agent/java-agent/Application-toolkit-trace.md
  test/plugin/scenarios/apm-toolkit-trace-scenario/config/expectedData.yaml
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/org/apache/skywalking/apm/toolkit/trace/ActiveSpan.java
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/toolkit/controller/TestController.java
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/toolkit/controller/TestService.java
Labels: agent, feature, plugin

#4735 Optimize L1 and L2 aggregation.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/data/ReadWriteSafeCache.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsAggregateWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/PersistenceWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/data/StreamData.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/PersistenceTimer.java
Labels: backend, enhancement
