Repository apache/skywalking, pull requests merged in 2020-12, with the labels that each got.

#5939 update `Supported-list.md`, support Aliyun ONS 1.x.
  docs/en/setup/service-agent/java-agent/Supported-list.md
Labels: documentation

#5941 Add ALS official blog on the readme.
  README.md
Labels: documentation

#5942 Update some doc.
  docs/en/concepts-and-designs/manual-sdk.md
  docs/en/setup/README.md
Labels: chore, documentation

#5953 Change official demo env
  README.md
Labels: chore

#5957 test: remove so11y from SimpleE2E
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/simple/SimpleE2E.java
Labels: test

#5949 Support Kafka MirrorMaker 2.0 to replicate topics between Kafka clusters.
  CHANGES.md
  docs/en/setup/backend/backend-fetcher.md
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/module/KafkaFetcherConfig.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/MeterServiceHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/ProfileTaskHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/ServiceManagementHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/TraceSegmentHandler.java
Labels: backend, feature

#5958 Fix jdk-http and okhttp-3.x plugin did not overwrite the old trace header.
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/okhttp-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/okhttp/v3/RealCallInterceptor.java
  apm-sniffer/bootstrap-plugins/jdk-http-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/http/HttpClientWriteRequestInterceptor.java
  test/plugin/scenarios/jdk-http-scenario/src/main/java/org/apache/skywalking/apm/testcase/jdkhttp/controller/CaseController.java
  test/plugin/scenarios/okhttp-scenario/src/main/java/test/apache/skywalking/testcase/okhttp/controller/CaseController.java
Labels: agent, enhancement, plugin

#5955 test: extract so11y test and add logs
  .github/workflows/e2e.so11y.yaml
  docker/oap/log4j2.xml
  oap-server/server-bootstrap/src/main/resources/fetcher-prom-rules/self.yaml
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/prometheus/provider/PrometheusFetcherProvider.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/metrics/MetricsQuery.java
  test/e2e/e2e-test/docker/simple/so11y/docker-compose.yml
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/SO11yE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/simple/SimpleE2E.java
Labels: test

#5946 fix influxdb bug while setting influxdb connection response format as InfluxDB.ResponseFormat.JSON
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxClient.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxStorageConfig.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/ProfileThreadSnapshotQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/TraceQuery.java
Labels: backend, feature

#5965 Fix MAL concurrent execution issues
  CHANGES.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/Analyzer.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/Expression.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/ExpressionParsingContext.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/Result.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ExpressionParsingTest.java
Labels: bug

#5934 Change the operation name of quartz-scheduler plugin
  CHANGES.md
  apm-sniffer/optional-plugins/quartz-scheduler-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/quartz/JobExecuteStateMethodInterceptor.java
  apm-sniffer/optional-plugins/quartz-scheduler-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/quartz/JobRunShellMethodInterceptor.java
  apm-sniffer/optional-plugins/quartz-scheduler-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/quartz/define/JobRunShellInterceptorInstrumentation.java
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/quartzscheduler/job/ExceptionJob.java
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/quartzscheduler/job/QuartzConfig.java
Labels: agent, enhancement, plugin

#5961 Add alarm tests in the e2e
  .github/workflows/e2e.yaml
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmStandardPersistence.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/SimpleQueryClient.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/alarm/AlarmMatcher.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/alarm/AlarmQuery.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/alarm/AlarmsMatcher.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/alarm/GetAlarm.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/alarm/GetAlarmData.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/alarm/HookAlarmMatcher.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/alarm/HookAlarms.java
  test/e2e/e2e-data/src/main/resources/read-alarms.gql
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/controller/AlarmController.java
  test/e2e/e2e-test/docker/alarm/alarm-settings.yml
  test/e2e/e2e-test/docker/alarm/docker-compose.yml
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/alarm/AlarmE2E.java
  test/e2e/e2e-test/src/test/resources/expected/alarm/services.yml
  test/e2e/e2e-test/src/test/resources/expected/alarm/silence-after-graphql.yml
  test/e2e/e2e-test/src/test/resources/expected/alarm/silence-after-webhook.yml
  test/e2e/e2e-test/src/test/resources/expected/alarm/silence-before-graphql.yml
  test/e2e/e2e-test/src/test/resources/expected/alarm/silence-before-webhook.yml
Labels: test

#5972 Update backend-fetcher.md
  CHANGES.md
  docs/en/setup/backend/backend-fetcher.md
  docs/en/setup/backend/backend-telemetry.md
Labels: documentation

#5977 Add group rule to the service name config.
  CHANGES.md
  docs/en/setup/service-agent/java-agent/README.md
Labels: documentation

#5982 Remove useless codes
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/SegmentAnalysisListener.java
Labels: chore

#5986 Fix group name can't be queried when it is null.
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/MetadataQueryService.java
Labels: backend, bug

#5987 Fix logger-plugin module directory structure problem(Maven cannot trigger junit testing).
  apm-sniffer/optional-plugins/logger-plugin/src/main/java/org/apache/skywalking/apm/plugin/logger/ContextConfig.java
  apm-sniffer/optional-plugins/logger-plugin/src/test/java/org/apache/skywalking/apm/plugin/logger/ContextConfigDefaultTest.java
  apm-sniffer/optional-plugins/logger-plugin/src/test/java/org/apache/skywalking/apm/plugin/logger/ContextConfigExceptionTest.java
  apm-sniffer/optional-plugins/logger-plugin/src/test/java/org/apache/skywalking/apm/plugin/logger/ContextConfigTest.java
Labels: bug, test

#5995 Fix potential gRPC connection leak(not closed) for the channels among OAP instances.
  CHANGES.md
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/RemoteClientManager.java
Labels: backend, bug

#5998 chore: remove unused lagecy codes
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/TelemetryDataDispatcher.java
Labels: chore

#6001 Fix the unexpected RunningContext recreation in the Tomcat plugin.
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/tomcat-7.x-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/tomcat78x/TomcatInvokeInterceptor.java
Labels: agent, bug, plugin

#6002 Update README.md
  README.md
Labels: chore

#6006 [Plugin] added component ID for Python aiohttp
  CHANGES.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: plugin, python

#6008 [ISSUE 5541] Fix H2 in-memory database table missing issues
  CHANGES.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/H2StorageConfig.java
Labels: backend, bug

#6012 [Plugin] add Python Pyramid component ID
  CHANGES.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: plugin, python

#6014 fix: grammar for Github Template
  .github/ISSUE_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
Labels: chore

#6007 Add null-conditional operators on these 3 files
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/JDBCPreparedStatementIgnorableSetterInterceptor.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/JDBCPreparedStatementNullSetterInterceptor.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/JDBCPreparedStatementSetterInterceptor.java
Labels: agent, enhancement, plugin

#6025 chore: code polish
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxClient.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxStorageProvider.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxTableInstaller.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/TableMetaInfo.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/InfluxInsertRequest.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/InfluxStorageDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/ManagementDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/MetricsDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/NoneStreamDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/RecordDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/AggregationQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/AlarmQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetadataQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetricsQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/NetworkAddressAliasDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/ProfileTaskLogQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/ProfileTaskQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/ProfileThreadSnapshotQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/TopNRecordsQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/TopologyQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/TraceQuery.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/UITemplateManagementDAOImpl.java
Labels: chore

#5962 Append interceptors to elasticsearch-6.x-plugin
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/define/IndicesClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/define/RestHighLevelClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/Constants.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/IndicesClientAnalyzeMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientClearScrollMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientDeleteByQueryMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientSearchScrollMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientSearchTemplateMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/IndicesClientAnalyzeMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientClearScrollMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientDeleteByQueryMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientSearchScrollMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientSearchTemplateMethodsInterceptorTest.java
Labels: agent, enhancement, plugin

#6031 Trace method(clearScrollAsync) for elasticsearch-6.x-plugin and polishing elasticsearch-6.x-scenario.
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/define/RestHighLevelClientInstrumentation.java
  test/plugin/scenarios/elasticsearch-6.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/elasticsearch-6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticsearch/RestHighLevelClientCase.java
Labels: plugin, test

#6033 [Plugin] add NodeJS Axios component ID
  CHANGES.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: nodejs, plugin

#6035 chore: fix typo gprc -> grpc
  dist-material/release-docs/LICENSE
  test/plugin/scenarios/correlation-autotag-scenario/src/main/java/org/apache/skywalking/apm/testcase/grpc/controller/CaseController.java
  test/plugin/scenarios/grpc-scenario/src/main/java/org/apache/skywalking/apm/testcase/grpc/controller/CaseController.java
Labels: chore

#6036 Update README.md
  README.md
  docs/powered-by.md
Labels: documentation

#6037 Update byte-buddy to 1.10.19
  CHANGES.md
  dist-material/release-docs/LICENSE
  pom.xml
Labels: agent

#6038 Fix some mistakes in the comments
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/ClassInstanceMethodsEnhancePluginDefine.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/define/AbstractControllerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v5/define/AbstractControllerInstrumentation.java
Labels: chore

#5989 Fix thrift trace broken and wrong arg collected.
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/client/TServiceClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/thrift-plugin/src/main/java/org/apache/skywalking/apm/plugin/thrift/wrapper/ServerInProtocolWrapper.java
Labels: agent, bug, plugin

#6048 Fix DataCarrier's `org.apache.skywalking.apm.commons.datacarrier.buffer.Buffer` implementation isn't activated in `IF_POSSIBLE` mode.
  CHANGES.md
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/DataCarrier.java
  apm-commons/apm-datacarrier/src/test/java/org/apache/skywalking/apm/commons/datacarrier/DataCarrierTest.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/TraceSegmentServiceClient.java
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaTraceSegmentServiceClient.java
Labels: agent, bug, high priority

#6052 fix typo in README.md
  docs/en/ui/README.md
Labels: documentation

#6053 ArrayBlockingQueueBuffer del IF_POSSIBLE strategy
  CHANGES.md
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/ArrayBlockingQueueBuffer.java
Labels: agent, chore

#6057 fix influx query error #6056
  CHANGES.md
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetadataQuery.java
Labels: backend, bug

#6060 Support building gRPC TLS channel but CA file is not required
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/TLSChannelBuilder.java
  apm-sniffer/config/agent.config
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/TLS.md
Labels: agent, feature

#6073 test: add e2e for NodeJS agent
  .github/workflows/e2e.nodejs.yaml
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/topo/TopoMatcher.java
  test/e2e/e2e-test/docker/nodejs/Dockerfile.nodejs
  test/e2e/e2e-test/docker/nodejs/consumer.ts
  test/e2e/e2e-test/docker/nodejs/docker-compose.yml
  test/e2e/e2e-test/docker/nodejs/provider.ts
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/NodeJSE2E.java
  test/e2e/e2e-test/src/test/resources/expected/nodejs/consumer-endpoints.yml
  test/e2e/e2e-test/src/test/resources/expected/nodejs/consumer-instance-topo.yml
  test/e2e/e2e-test/src/test/resources/expected/nodejs/consumer-instances.yml
  test/e2e/e2e-test/src/test/resources/expected/nodejs/provider-endpoints.yml
  test/e2e/e2e-test/src/test/resources/expected/nodejs/provider-instances.yml
  test/e2e/e2e-test/src/test/resources/expected/nodejs/services.yml
  test/e2e/e2e-test/src/test/resources/expected/nodejs/topo.yml
  test/e2e/e2e-test/src/test/resources/expected/nodejs/traces.yml
Labels: nodejs, test

#6075 Add JavaScript component id
  CHANGES.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: enhancement

#6085 correct the doc of backend trace sampling with the latest configuration
  CHANGES.md
  docs/en/setup/backend/trace-sampling.md
Labels: documentation

#6087 Update cancel.yaml to use ASF GHA
  .github/workflows/cancel.yaml
Labels: chore

#6088 Add metrics and logging tags for this repo
  .asf.yaml
Labels: chore

#6098 Fix CVE of UninstrumentedGateways in Dynamic Configuration activation.
  CHANGES.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/UninstrumentedGatewaysConfig.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/trace/UninstrumentedGatewaysConfigTest.java
  oap-server/analyzer/agent-analyzer/src/test/resources/gateways.yml
  oap-server/server-library/library-util/pom.xml
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/yaml/ClassFilterConstructor.java
Labels: backend, high priority

#6066 Improvement Influxdb query performance
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/IMetricsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/MetricsEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/dao/MetricsEs7DAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxConstants.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/TableMetaInfo.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/MetricsDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetadataQuery.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetricsDAO.java
Labels: backend, enhancement, plugin

#6113 Add two generated source codes folders.
  docs/en/guides/How-to-build.md
Labels: chore, documentation
