Repository apache/skywalking, pull requests merged in 2020-01, with the labels that each got.

#4156 Log harmless exception in DEBUG level
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/api/ILog.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/api/NoopLogger.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/PatternLogger.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/ProtectiveShieldMatcher.java
  apm-sniffer/config/agent.config
Labels: agent

#4158 Happy new year! Update NOTICE year
  NOTICE
  dist-material/release-docs/NOTICE
Labels: document

#4161 add Dynamic Configuration Consul AclToken
  dist-material/application.yml
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/dynamic-config.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-cluster-plugin/cluster-consul-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/consul/ClusterModuleConsulConfig.java
  oap-server/server-cluster-plugin/cluster-consul-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/consul/ClusterModuleConsulProvider.java
  oap-server/server-configuration/configuration-consul/src/main/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationCenterSettings.java
  oap-server/server-configuration/configuration-consul/src/main/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationWatcherRegister.java
Labels: backend, feature

#4163 Fix unused import
  test/plugin/mock-collector/src/main/java/org/apache/skywalking/plugin/test/mockcollector/entity/RegistryItem.java
  test/plugin/mock-collector/src/main/java/org/apache/skywalking/plugin/test/mockcollector/entity/ValidateData.java
Labels: test

#4162 Support collecting http parameters
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/util/CollectionUtil.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/tomcat-7.x-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/tomcat78x/TomcatInvokeInterceptor.java
  apm-sniffer/apm-sdk-plugin/tomcat-7.x-8.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/tomcat78x/TomcatInvokeInterceptorTest.java
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/containers/tomcat-container/docker/Dockerfile
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/ConfigurationImpl.java
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/DockerContainerRunningGenerator.java
  test/plugin/runner-helper/src/main/java/org/apache/skywalking/plugin/test/helper/IConfiguration.java
  test/plugin/runner-helper/src/main/resources/container-start-script.template
  test/plugin/scenarios/armeria-0.96minus-scenario/bin/startup.sh
  test/plugin/scenarios/armeria-0.96minus-scenario/config/expectedData.yaml
  test/plugin/scenarios/armeria-0.96minus-scenario/configuration.yml
  test/plugin/scenarios/httpclient-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/httpclient-3.x-scenario/configuration.yml
  test/plugin/scenarios/spring-3.1.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-3.1.x-scenario/configuration.yml
Labels: agent, feature, plugin

#4167 website 404 not found
  docs/en/setup/istio/README.md
Labels: document

#4170 Split the `collect_http_params` as per plugins for better performance
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/tomcat-7.x-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/tomcat78x/TomcatInvokeInterceptor.java
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/scenarios/armeria-0.96minus-scenario/bin/startup.sh
  test/plugin/scenarios/httpclient-3.x-scenario/configuration.yml
  test/plugin/scenarios/spring-3.1.x-scenario/configuration.yml
Labels: agent, enhancement, plugin

#4171 update elasticsearch-7.x agent support version.
  .github/workflows/plugins-test.yaml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/elasticsearch-7.x-scenario/support-version.list
Labels: agent, plugin, test

#4165 Add kotlin coroutine plugin
  .github/workflows/plugins-test.yaml
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/optional-plugins/kotlin-coroutine-plugin/pom.xml
  apm-sniffer/optional-plugins/kotlin-coroutine-plugin/src/main/java/org/apache/skywalking/apm/plugin/kotlin/coroutine/DispatcherInterceptor.java
  apm-sniffer/optional-plugins/kotlin-coroutine-plugin/src/main/java/org/apache/skywalking/apm/plugin/kotlin/coroutine/TracingRunnable.java
  apm-sniffer/optional-plugins/kotlin-coroutine-plugin/src/main/java/org/apache/skywalking/apm/plugin/kotlin/coroutine/define/DispatcherInstrumentation.java
  apm-sniffer/optional-plugins/kotlin-coroutine-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/optional-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  docs/en/setup/service-agent/java-agent/agent-optional-plugins/Kotlin-Coroutine-plugin.md
  test/plugin/scenarios/kotlin-coroutine-scenario/bin/startup.sh
  test/plugin/scenarios/kotlin-coroutine-scenario/config/expectedData.yaml
  test/plugin/scenarios/kotlin-coroutine-scenario/configuration.yml
  test/plugin/scenarios/kotlin-coroutine-scenario/pom.xml
  test/plugin/scenarios/kotlin-coroutine-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/kotlin-coroutine-scenario/src/main/kotlin/org/apache/skywalking/apm/testcase/kotlin/coroutine/Application.kt
  test/plugin/scenarios/kotlin-coroutine-scenario/src/main/kotlin/org/apache/skywalking/apm/testcase/kotlin/coroutine/controller/DemoController.kt
  test/plugin/scenarios/kotlin-coroutine-scenario/src/main/kotlin/org/apache/skywalking/apm/testcase/kotlin/coroutine/respository/DemoRepository.kt
  test/plugin/scenarios/kotlin-coroutine-scenario/src/main/kotlin/org/apache/skywalking/apm/testcase/kotlin/coroutine/service/DemoService.kt
  test/plugin/scenarios/kotlin-coroutine-scenario/src/main/kotlin/org/apache/skywalking/apm/testcase/kotlin/coroutine/util/Connection.kt
  test/plugin/scenarios/kotlin-coroutine-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/kotlin-coroutine-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/kotlin-coroutine-scenario/support-version.list
Labels: agent, feature, plugin

#4175 Update README.md
  README.md
  docs/README.md
Labels: document

#4178 Delete unused code.
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/OALRuntime.java
Labels: backend

#4185 update agent.config
  apm-sniffer/config/agent.config
Labels: document

#4184 Close inputstream.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/AgentIDDecorator.java
Labels: bug, plugin

#4173 Support plugin for mongodb v3.6.x
  .github/workflows/plugins-test.yaml
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mongodb/v3/define/v36/MongoDBInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mongodb/v3/define/v36/MongoDBOperationExecutorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mongodb-3.x-plugin/src/main/resources/skywalking-plugin.def
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/mongodb-3.x-scenario/support-version.list
Labels: agent, enhancement, plugin

#4187 make a suggestion about DUBBO plugin
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/DubboInterceptor.java
  apm-sniffer/apm-sdk-plugin/dubbo-plugin/src/main/java/org/apache/skywalking/apm/plugin/dubbo/DubboInterceptor.java
Labels: agent, bug, plugin

#4211 Update powered-by.md
  docs/powered-by.md
Labels: document

#4213 Stop profiling task when backend doesn't support it
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/profile/ProfileTaskQueryService.java
Labels: agent

#4215 remove duplicate maven dependency.
  oap-server/server-core/pom.xml
Labels: backend

#4209 Optimize trace ignore plugin
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnoreExtendService.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/matcher/AntPathMatcher.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/matcher/FastPathMatcher.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/test/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnoreTest.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/test/java/org/apache/skywalking/apm/plugin/trace/ignore/TracePathMatcherTest.java
Labels: agent, enhancement, plugin

#4221 Add alarm metrics OP >= and <=, and refactor the operator logics
  docs/en/setup/backend/backend-alarm.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/OP.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/OPTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentileMetrics.java
Labels: backend, feature

#4226 Add liaofan168.com to powered-by.md
  docs/powered-by.md
Labels: document

#4246 Fix failed E2E MySQL case
  test/e2e/e2e-mysql/src/docker/rc.d/rc0-prepare.sh
  test/e2e/e2e-profile/e2e-profile-mysql-test-runner/src/docker/rc.d/rc0-prepare.sh
Labels: test

#4248 Fix typo: guideline and code document
  docs/en/guides/How-to-build.md
  oap-server/server-library/library-module/src/main/java/org/apache/skywalking/oap/server/library/module/ModuleProvider.java
Labels: document

#4271 Remove the misleading words of TTL doc
  docs/en/setup/backend/backend-setup.md
Labels: document

#4247 fix thread unsafe problem in server-alarm-plugin (#4230)
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
Labels: backend, enhancement

#4274 Fix potential concurrent problems and tune performance
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/DurationUtils.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/MetricQueryService.java
Labels: backend, bug, enhancement

#4268 merge e2e profile test project
  .github/workflows/e2e.yaml
  test/e2e/e2e-profile/e2e-profile-es-test-runner/pom.xml
  test/e2e/e2e-profile/e2e-profile-es-test-runner/src/docker/clusterize.awk
  test/e2e/e2e-profile/e2e-profile-es-test-runner/src/docker/rc.d/rc1-startup.sh
  test/e2e/e2e-profile/e2e-profile-es-test-runner/src/test/java/org/apache/skywalking/e2e/ProfileVerificationITCase.java
  test/e2e/e2e-profile/e2e-profile-h2-test-runner/pom.xml
  test/e2e/e2e-profile/e2e-profile-mysql-test-runner/pom.xml
  test/e2e/e2e-profile/e2e-profile-mysql-test-runner/src/docker/application.yml
  test/e2e/e2e-profile/e2e-profile-mysql-test-runner/src/docker/rc.d/rc0-prepare.sh
  test/e2e/e2e-profile/e2e-profile-mysql-test-runner/src/docker/rc.d/rc1-startup.sh
  test/e2e/e2e-profile/e2e-profile-mysql-test-runner/src/test/java/org/apache/skywalking/e2e/ProfileVerificationITCase.java
  test/e2e/e2e-profile/e2e-profile-test-runner/pom.xml
  test/e2e/e2e-profile/e2e-profile-test-runner/src/docker/adapt_storage.awk
  test/e2e/e2e-profile/e2e-profile-test-runner/src/docker/rc.d/rc0-prepare.sh
  test/e2e/e2e-profile/e2e-profile-test-runner/src/docker/rc.d/rc1-startup.sh
  test/e2e/e2e-profile/e2e-profile-test-runner/src/test/java/org/apache/skywalking/e2e/ProfileVerificationITCase.java
  test/e2e/e2e-profile/pom.xml
  test/e2e/run.sh
Labels: test

#4217 Add pom exclude license file dir.
  pom.xml
Labels: document

#4286 Upgrade remainder java compiler versions to 1.8
  apm-application-toolkit/pom.xml
  apm-commons/pom.xml
  test/plugin/scenarios/jdk-threading-scenario/pom.xml
Labels: chore

#4276 Provide AVRO plugin
  .github/workflows/plugins-test.yaml
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/AbstractRequestInterceptor.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/AvroInstance.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/GenericRequestorInterceptor.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/ResponderInterceptor.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/SWClientRPCPlugin.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/SWServerRPCPlugin.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/SpecificRequestorInterceptor.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/define/GenericRequestorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/define/ResponderInstrumentation.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/java/org/apache/skywalking/apm/plugin/avro/define/SpecificRequestorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/test/java/org/apache/skywalking/apm/plugin/avro/GenericRequestorInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/avro-plugin/src/test/java/org/apache/skywalking/apm/plugin/avro/SpecificRequestorInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  oap-server/server-core/src/test/resources/component-libraries.yml
  test/plugin/scenarios/avro-scenario/avro-client/pom.xml
  test/plugin/scenarios/avro-scenario/avro-client/src/main/java/org/apache/skywalking/apm/testcase/avro/Application.java
  test/plugin/scenarios/avro-scenario/avro-client/src/main/java/org/apache/skywalking/apm/testcase/avro/controller/CaseController.java
  test/plugin/scenarios/avro-scenario/avro-client/src/main/resources/application.yaml
  test/plugin/scenarios/avro-scenario/avro-client/src/main/resources/log4j2.xml
  test/plugin/scenarios/avro-scenario/avro-common/pom.xml
  test/plugin/scenarios/avro-scenario/avro-common/src/main/avro/greeter.avpr
  test/plugin/scenarios/avro-scenario/avro-dist/bin/startup.sh
  test/plugin/scenarios/avro-scenario/avro-dist/pom.xml
  test/plugin/scenarios/avro-scenario/avro-dist/src/main/assembly/assembly.xml
  test/plugin/scenarios/avro-scenario/avro-server/pom.xml
  test/plugin/scenarios/avro-scenario/avro-server/src/main/java/org/apache/skywalking/apm/testcase/avro/Application.java
  test/plugin/scenarios/avro-scenario/config/expectedData.yaml
  test/plugin/scenarios/avro-scenario/configuration.yml
  test/plugin/scenarios/avro-scenario/pom.xml
  test/plugin/scenarios/avro-scenario/support-version.list
Labels: agent, feature, plugin

#4301 Move the comment of the duration into the doc.
  docs/en/protocols/query-protocol.md
Labels: document

#4302 Add WIKI link to doc page.
  docs/README.md
Labels: document
