Repository apache/skywalking, pull requests merged in 2020-08, with the labels that each got.

#5216 Fix issues (#5200) and some typo
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/ParsePathUtil.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/RequestMappingMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/RestMappingMethodInterceptor.java
Labels: agent, bug, plugin

#5220 Exporter INCREMENT mode is not working.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
Labels: backend, bug

#5221 Fix error format of time in serviceTraffic update.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/metric/promethues/PrometheusMetricConverter.java
Labels: backend, bug

#5214 Fix typo
  docs/en/setup/backend/backend-fetcher.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/service-agent/java-agent/How-to-enable-kafka-reporter.md
  docs/en/setup/service-agent/java-agent/README.md
Labels: document

#5232 Use client side component name when no server side mapping.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/ComponentLibraryCatalogService.java
  test/e2e/e2e-test/src/test/resources/expected/cluster/serviceInstanceTopo.yml
  test/e2e/e2e-test/src/test/resources/expected/gateway/serviceInstanceTopo.yml
  test/e2e/e2e-test/src/test/resources/expected/gateway/topo.yml
Labels: backend, bug

#5238 [MySQL storage] Make the column length of slow DB statement having the good default value
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/AnalyzerModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/database/TopNDatabaseStatement.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/topn/TopN.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/Column.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
Labels: backend, bug, enhancement

#5240 Remove unnecessary document.
  docs/en/guides/README.md
  docs/en/guides/inventory-extension.md
Labels: document

#5241 Fix Duration end time in the query process.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/input/Duration.java
Labels: backend, bug

#5245 fix an error when no statement with slowStatement (#5243)
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/MultiScopesAnalysisListener.java
Labels: backend, bug

#5139 Add swctl to docker image for health check
  docker/docker-compose.yml
  docker/oap/Dockerfile.oap
Labels: docker, feature

#5235 support collecting feign params
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/feign/http/v9/DefaultHttpClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/feign-default-http-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/feign/http/v9/FeignPluginConfig.java
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/scenarios/feign-scenario/bin/startup.sh
  test/plugin/scenarios/feign-scenario/config/expectedData.yaml
  test/plugin/scenarios/feign-scenario/src/main/java/org/apache/skywalking/apm/testcase/feign/controller/CaseController.java
  test/plugin/scenarios/feign-scenario/src/main/java/org/apache/skywalking/apm/testcase/feign/controller/RestController.java
  test/plugin/scenarios/feign-scenario/src/main/java/org/apache/skywalking/apm/testcase/feign/controller/RestRequest.java
Labels: agent, enhancement, plugin

#5226 fix version forgot update
  test/e2e/e2e-service-provider/pom.xml
Labels: enhancement, test

#5255 Hbase test case forgot write compiler.version
  test/plugin/scenarios/hbase-scenario/pom.xml
Labels: test

#5256 Update commit hash in Python E2E test to v0.2.0
  test/e2e/e2e-test/docker/python/Dockerfile.python
Labels: Python, test

#5258 Update ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE
Labels: document

#5259 Update PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
Labels: document

#5261 Update MongoDB Python Plugin Component
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: chore

#5264 Fix kafka plugin sometimes trace doesn't show span layer
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/CallbackAdapterInterceptor.java
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/CallbackInterceptor.java
  test/plugin/scenarios/kafka-scenario/config/expectedData.yaml
Labels: agent, chore, plugin

#5202 Query all of labels once selected labels condition is absent.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/IMetricsQueryDAO.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/query/MetricsQueryUtilTest.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetricsQueryEsDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetricsQuery.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetricsQueryDAO.java
Labels: backend, enhancement

#5277 Remove buffer redundant strategy judgment code.
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/buffer/Buffer.java
Labels: chore

#5279 Add iQIYI.COM at the powered by page
  docs/powered-by.md
Labels: document

#5280 Fix NPE for replaceParam when message is null
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/PatternLogger.java
Labels: agent

#5153 Support Apache ShardingSphere-Elasticjob
  .github/workflows/plugins-test.0.yaml
  apm-sniffer/apm-sdk-plugin/elastic-job-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/elastic-job-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticjob/ElasticJobExecutorInterceptor.java
  apm-sniffer/apm-sdk-plugin/elastic-job-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticjob/define/ElasticJobExecutorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/elastic-job-3.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/elasticjob-3.x-scenario/bin/startup.sh
  test/plugin/scenarios/elasticjob-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/elasticjob-3.x-scenario/configuration.yml
  test/plugin/scenarios/elasticjob-3.x-scenario/pom.xml
  test/plugin/scenarios/elasticjob-3.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/elasticjob-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticjob/Application.java
  test/plugin/scenarios/elasticjob-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticjob/controller/CaseController.java
  test/plugin/scenarios/elasticjob-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticjob/job/DemoSimpleJob.java
  test/plugin/scenarios/elasticjob-3.x-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/elasticjob-3.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/elasticjob-3.x-scenario/support-version.list
Labels: agent, plugin

#5283 Update HttpClientExecuteInterceptor.java in HttpClient3.0 plugin
  apm-sniffer/apm-sdk-plugin/httpclient-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v3/HttpClientExecuteInterceptor.java
Labels: agent, plugin

#5282 Super Size Dataset record index es rolling step
  docs/en/setup/backend/backend-storage.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/TimeSeriesUtils.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/TimeSeriesUtilsTest.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/StorageModuleElasticsearch7Provider.java
Labels: backend, feature

#5286 [optimize] Raw use of parameterized class
  apm-application-toolkit/apm-toolkit-trace/src/main/java/org/apache/skywalking/apm/toolkit/trace/CallableWrapper.java
  apm-application-toolkit/apm-toolkit-trace/src/main/java/org/apache/skywalking/apm/toolkit/trace/SupplierWrapper.java
Labels: agent, chore

#5296 Add OALListener miss code
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/OALListener.java
  pom.xml
Labels: backend, bug

#5299 fix bug when extend the scope and recommend to start with 10000 or the scope greater than 1000
  oap-server/oal-rt/src/main/resources/code-templates/metrics/getMeta.ftl
Labels: backend, bug

#5305 disable kafka property in agent.config
  apm-sniffer/config/agent.config
  test/e2e/e2e-test/docker/kafka/Dockerfile.provider
Labels: agent, enhancement

#5306 Remove duplicate settings telemetry related context id in nacos.
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/NacosCoordinator.java
Labels: chore

#5293 agent plugins selector
  .github/workflows/ci-it.yaml
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/PluginCfg.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/PluginDefine.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/PluginSelector.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/plugin/PluginSelectorTest.java
  apm-sniffer/config/agent.config
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/README.md
  tools/plugin/check-javaagent-plugin-list.sh
Labels: agent, enhancement

#5132 Improve Es trace basic query performance
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/IndexNameMaker.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/TimeRangeIndexNameMaker.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/TimeSeriesUtils.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TraceQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/TimeSeriesUtilsTestCase.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/client/ElasticSearch7Client.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/query/TraceQueryEs7DAO.java
Labels: backend, core feature

#5318 Correct the yaml config.
  oap-server/server-bootstrap/src/main/resources/application.yml
Labels: document

#5326 Miss topic parameter in the KafkaServiceManagementServiceClient
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaServiceManagementServiceClient.java
Labels: agent, bug

#5313 Fix spring-kafka test unstable
  test/plugin/scenarios/spring-kafka-2.2.x-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/spring/kafka/controller/CaseController.java
  test/plugin/scenarios/spring-kafka-2.3.x-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/spring/kafka/controller/CaseController.java
Labels: test

#5338 Upgrade the byte-buddy to 1.10.14 with asm
  apm-sniffer/apm-agent-core/pom.xml
  dist-material/release-docs/LICENSE
Labels: agent, core feature

#5345 Fix CLRThread metrics setId error.
  oap-server/server-receiver-plugin/skywalking-clr-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/clr/provider/handler/CLRSourceDispatcher.java
Labels: backend, bug

#5346 bugfix: Fix CLR Heap Memory metrics aggregation configuration error in ui-initialized-templates.
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates.yml
Labels: UI

#5347 Elastic job plugin use wrong span type
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-sdk-plugin/elastic-job-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticjob/ElasticJobExecutorInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-12.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v12/GraphqlInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v8/GraphqlInterceptor.java
  apm-sniffer/apm-sdk-plugin/graphql-plugin/graphql-9.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/graphql/v9/GraphqlInterceptor.java
  test/plugin/scenarios/elasticjob-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/elasticjob-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticjob/controller/CaseController.java
  test/plugin/scenarios/elasticjob-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticjob/job/DemoSimpleJob.java
Labels: agent, bug, plugin

#5348 support http header tag
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/mvc/v4/RestMappingMethodInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/SpringMVCPluginConfig.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/scenarios/spring-4.3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-4.3.x-scenario/configuration.yml
  test/plugin/scenarios/spring-4.3.x-scenario/src/main/java/test/org/apache/skywalking/apm/testcase/resttemplate/RestTemplateController.java
Labels: agent, feature, plugin

#5372 change alarm module silence-period default value as same as period.
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
Labels: backend, enhancement

#5374 Fix typo error
  docs/en/guides/Java-Plugin-Development-Guide.md
Labels: document

#5379 Open more grpc config in the default application.yml
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
Labels: question

#5380 Update vote check list
  docs/en/guides/How-to-release.md
Labels: document

#5386 Use traceId as the judgment condition for sampling trace.
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/SegmentAnalysisListener.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/TraceSegmentSampler.java
Labels: backend, bug

#5398 Update powered-by.md
  docs/powered-by.md
Labels: document

#5400 Fix bug of JVM metrics handler and make ALS doc more accurate
  docs/en/setup/envoy/als_setting.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/jvm/JVMSourceDispatcher.java
Labels: backend, bug, document

#5404 Using openjdk:14-buster as base image of PluginTest
  test/plugin/containers/jvm-container/pom.xml
  test/plugin/run.sh
Labels: bug

#5401 Fix bug about prepareBath in MetricsPersistentWorker #5399
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
Labels: backend, bug

#5396 Optimize: truncate parameterString
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/PreparedStatementParameterBuilder.java
Labels: agent, enhancement, plugin

#5395 Add logic-endpoint and testcase for elasticjob-2.x plugin
  .github/workflows/plugins-test.3.yaml
  apm-sniffer/apm-sdk-plugin/elastic-job-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/esjob/JobExecutorInterceptor.java
  apm-sniffer/apm-sdk-plugin/elastic-job-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/esjob/JobExecutorInterceptorTest.java
  test/plugin/scenarios/elasticjob-2.x-scenario/bin/startup.sh
  test/plugin/scenarios/elasticjob-2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/elasticjob-2.x-scenario/configuration.yml
  test/plugin/scenarios/elasticjob-2.x-scenario/pom.xml
  test/plugin/scenarios/elasticjob-2.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/elasticjob-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticjob/Application.java
  test/plugin/scenarios/elasticjob-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticjob/controller/CaseController.java
  test/plugin/scenarios/elasticjob-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticjob/job/DemoSimpleJob.java
  test/plugin/scenarios/elasticjob-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticjob/job/JobConfig.java
  test/plugin/scenarios/elasticjob-2.x-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/elasticjob-2.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/elasticjob-2.x-scenario/support-version.list
Labels: agent, plugin

#5407 Save error trace segment even that segment will abandoned by sampling mechanism
  docs/en/setup/backend/trace-sampling.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/AnalyzerModuleConfig.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/SegmentAnalysisListener.java
  oap-server/server-bootstrap/src/main/resources/application.yml
Labels: backend, feature

#5408 Fix sampling and Kafka reporter conflicting.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManagerExtendService.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/AbstractTracingSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/sampling/SamplingService.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnoreExtendService.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/test/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnoreTest.java
Labels: agent, enhancement

#5409 Update configuration-vocabulary.md and trace-sampling.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/trace-sampling.md
Labels: document

#5411 fix auth not works in sharing server.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/server/GRPCHandlerRegisterImpl.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/GRPCServer.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModuleProvider.java
Labels: agent, backend, bug

#5412 #5311 Fix ActiveMQ NullPointerException
  apm-sniffer/apm-sdk-plugin/rocketMQ-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v4/OnExceptionInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/rocketMQ/v4/OnExceptionInterceptorTest.java
Labels: agent, bug, plugin

#5413 Add support for quartz-scheduler
  .github/workflows/plugins-test.3.yaml
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/optional-plugins/pom.xml
  apm-sniffer/optional-plugins/quartz-scheduler-2.x-plugin/pom.xml
  apm-sniffer/optional-plugins/quartz-scheduler-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/quartz/JobRunShellConstructorInterceptor.java
  apm-sniffer/optional-plugins/quartz-scheduler-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/quartz/JobRunShellMethodInterceptor.java
  apm-sniffer/optional-plugins/quartz-scheduler-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/quartz/define/JobRunShellInterceptorInstrumentation.java
  apm-sniffer/optional-plugins/quartz-scheduler-2.x-plugin/src/main/resources/skywalking-plugin.def
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  oap-server/server-core/src/test/resources/component-libraries.yml
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/bin/startup.sh
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/configuration.yml
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/pom.xml
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/quartzscheduler/Application.java
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/quartzscheduler/controller/CaseController.java
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/quartzscheduler/job/DemoJob.java
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/quartzscheduler/job/QuartzConfig.java
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/support-version.list
Labels: agent, feature, plugin

#5414 Update als_setting.md
  docs/en/setup/envoy/als_setting.md
Labels: document

#5376 Hot reload gRPC certs of OAP.
  docs/en/setup/backend/grpc-ssl.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/RemoteClientManager.java
  oap-server/server-library/library-server/pom.xml
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/GRPCServer.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/ssl/DynamicSslContext.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/ssl/PrivateKeyUtil.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModuleProvider.java
Labels: backend, feature
