Repository apache/skywalking, pull requests merged in 2020-11, with the labels that each got.

#5739 support oal list includes and excludes & add tags to some source
  docs/en/concepts-and-designs/oal.md
  docs/en/concepts-and-designs/scope-definitions.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/MultiScopesAnalysisListener.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/SourceBuilder.java
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALLexer.g4
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALParser.g4
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/OALListener.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/ContainMatch.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/NotContainMatch.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/All.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Endpoint.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Service.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstance.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/ContainMatchTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/NotContainMatchTest.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/MultiScopesAnalysisListenerTest.java
Labels: backend, don't merge, feature

#5666 add transmission latency for MQ case
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/StringUtil.java
  apm-commons/apm-util/src/test/java/org/apache/skywalking/apm/util/StringUtilTest.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextCarrier.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ExtensionContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ExtensionInjector.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/AbstractSpan.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/ContextCarrierV3HeaderTest.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/ExtensionContextTest.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/KafkaProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/PulsarProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/rabbitmq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rabbitmq/RabbitMQProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v3/MessageSendInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v4/MessageSendInterceptor.java
  docs/en/protocols/Skywalking-Cross-Process-Propagation-Headers-Protocol-v3.md
  test/plugin/scenarios/activemq-scenario/config/expectedData.yaml
  test/plugin/scenarios/kafka-scenario/config/expectedData.yaml
  test/plugin/scenarios/pulsar-scenario/config/expectedData.yaml
  test/plugin/scenarios/rabbitmq-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-kafka-2.2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/spring-kafka-2.3.x-scenario/config/expectedData.yaml
Labels: agent, backend, feature

#5764 Polish the context related codes.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextCarrier.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/CorrelationContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ExtensionInjector.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  apm-sniffer/apm-sdk-plugin/activemq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/activemq/ActiveMQProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/KafkaProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/pulsar-plugin/src/main/java/org/apache/skywalking/apm/plugin/pulsar/PulsarProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/rabbitmq-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rabbitmq/RabbitMQProducerInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v3/MessageSendInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v4/MessageSendInterceptor.java
Labels: chore

#5718 Add ThreadPoolExecutor for handle kafka message.
  CHANGES.md
  docs/en/setup/backend/backend-fetcher.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/KafkaFetcherHandlerRegister.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/module/KafkaFetcherConfig.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/GRPCServer.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/pool/CustomThreadFactory.java
  test/e2e/e2e-service-provider/pom.xml
Labels: backend, enhancement

#5685 Apply tags from Correlation Context key/values to Spans
  .github/workflows/plugins-test.0.yaml
  CHANGES.md
  apm-sniffer/apm-agent-core/pom.xml
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextCarrier.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/CorrelationContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/AbstractTag.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/AbstractSpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/util/TagValuePair.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/CorrelationContextTest.java
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/pom.xml
  test/plugin/scenarios/correlation-autotag-scenario/bin/startup.sh
  test/plugin/scenarios/correlation-autotag-scenario/config/expectedData.yaml
  test/plugin/scenarios/correlation-autotag-scenario/configuration.yml
  test/plugin/scenarios/correlation-autotag-scenario/pom.xml
  test/plugin/scenarios/correlation-autotag-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/correlation-autotag-scenario/src/main/java/org/apache/skywalking/apm/testcase/grpc/Application.java
  test/plugin/scenarios/correlation-autotag-scenario/src/main/java/org/apache/skywalking/apm/testcase/grpc/consumr/ConsumerInterceptor.java
  test/plugin/scenarios/correlation-autotag-scenario/src/main/java/org/apache/skywalking/apm/testcase/grpc/controller/CaseController.java
  test/plugin/scenarios/correlation-autotag-scenario/src/main/java/org/apache/skywalking/apm/testcase/grpc/provider/ProviderConfiguration.java
  test/plugin/scenarios/correlation-autotag-scenario/src/main/java/org/apache/skywalking/apm/testcase/grpc/provider/interceptor/ProviderInterceptor.java
  test/plugin/scenarios/correlation-autotag-scenario/src/main/java/org/apache/skywalking/apm/testcase/grpc/provider/service/GreeterServiceImpl.java
  test/plugin/scenarios/correlation-autotag-scenario/src/main/proto/GreetService.proto
  test/plugin/scenarios/correlation-autotag-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/correlation-autotag-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/correlation-autotag-scenario/support-version.list
  tools/coverage/report.sh
Labels: agent, feature

#5558 [CI] Cancel outdated jobs when new builds are fired
  .github/workflows/cancel.yaml
  .github/workflows/docker-ci.yaml
  .github/workflows/e2e.go.yaml
  .github/workflows/e2e.istio.yaml
  .github/workflows/e2e.js.yaml
  .github/workflows/e2e.kafka.yaml
  .github/workflows/e2e.php.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.python.yaml
  .github/workflows/e2e.ttl.yaml
  .github/workflows/e2e.yaml
  .github/workflows/plugins-jdk14-test.0.yaml
  .github/workflows/plugins-test.0.yaml
  .github/workflows/plugins-test.1.yaml
  .github/workflows/plugins-test.2.yaml
  .github/workflows/plugins-test.3.yaml
Labels: CI settings, test

#5766 Upgrade the cancel plugin
  .github/workflows/cancel.yaml
Labels: CI settings

#5768 Add FAQ about VNode on the UI.
  CHANGES.md
  README.md
  changes/changes-5.x.md
  docs/README.md
  docs/en/FAQ/README.md
  docs/en/FAQ/vnode.md
  docs/en/setup/backend/backend-storage.md
Labels: document

#5776 Simplifies canceling workflow
  .github/workflows/cancel.yaml
Labels: CI settings

#5779 test: E2E Elasticsearch 7.x highest and lowest versions
  .github/workflows/docker-ci.yaml
  .github/workflows/e2e.go.yaml
  .github/workflows/e2e.istio.yaml
  .github/workflows/e2e.js.yaml
  .github/workflows/e2e.kafka.yaml
  .github/workflows/e2e.php.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.python.yaml
  .github/workflows/e2e.storages.yaml
  .github/workflows/e2e.ttl.yaml
  .github/workflows/e2e.yaml
  CHANGES.md
  test/e2e/e2e-test/docker/storage/docker-compose.es7.0.yml
  test/e2e/e2e-test/docker/storage/docker-compose.es7.9.yml
Labels: test

#5777 Fixed unit of time mixing problem in kubernetes-client
  CHANGES.md
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/NamespacedPodListInformer.java
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigurationConfigmapInformer.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8SServiceRegistry.java
Labels: backend, bug

#5782 The Cancel step is now optimised in one job
  .github/workflows/cancel.yaml
Labels: CI settings

#5775 Fix deadlock problem when using elasticsearch-client-7.0.0
  CHANGES.md
  dist-material/release-docs/LICENSE
  oap-server/server-starter-es7/pom.xml
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/pom.xml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
Labels: backend

#5786 fix storage-jdbc isExists not set dbname
  CHANGES.md
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLTableInstaller.java
Labels: backend, bug

#5792 Fix storage-influxdb-plugin serviceCode query
  CHANGES.md
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetadataQuery.java
Labels: backend, bug, plugin

#5794 Update .asf.yaml to add `web-performance` label.
  .asf.yaml
Labels: chore

#5796 Add branch protection and status check require
  .asf.yaml
Labels: chore

#5798 Update the arch diagram to the latest.
  README.md
Labels: document

#5799 Fix SnakeYAML CVE. Make doc and sharing receiver codes consistent.
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerConfig.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModuleProvider.java
Labels: backend, bug, document, high priority

#5690 Add async-http-client plugin
  .github/workflows/plugins-test.0.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/asynchttpclient-2.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/asynchttpclient-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asynchttpclient/v2/AsyncHandlerWrapper.java
  apm-sniffer/apm-sdk-plugin/asynchttpclient-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asynchttpclient/v2/ExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/asynchttpclient-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asynchttpclient/v2/define/DefaultAsyncHttpClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/asynchttpclient-2.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/asynchttpclient-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/asynchttpclient/v2/ExecuteInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/asynchttpclient-scenario/bin/startup.sh
  test/plugin/scenarios/asynchttpclient-scenario/config/expectedData.yaml
  test/plugin/scenarios/asynchttpclient-scenario/configuration.yml
  test/plugin/scenarios/asynchttpclient-scenario/pom.xml
  test/plugin/scenarios/asynchttpclient-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/asynchttpclient-scenario/src/main/java/org/apache/skywalking/apm/testcase/asynchttpclient/Application.java
  test/plugin/scenarios/asynchttpclient-scenario/src/main/java/org/apache/skywalking/apm/testcase/asynchttpclient/CaseController.java
  test/plugin/scenarios/asynchttpclient-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/asynchttpclient-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/asynchttpclient-scenario/support-version.list
Labels: agent, feature, plugin

#5797 Fix issue #5795
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/nutz-plugins/http-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/nutz/http/sync/SenderSendInterceptor.java
Labels: agent, bug, plugin

#5801 Fix CVE in the endpoint grouping, when activating the dynamic configuration feature.
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointGroupingRuleReader.java
Labels: backend, bug, high priority

#5802 Fix CVE in `UninstrumentedGatewaysConfig`
  CHANGES.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/UninstrumentedGatewaysConfig.java
Labels: backend, bug, high priority

#5803 Avoided to interrupt the process of the application in the `SWExecutionHookWrapper` wrapper class.
  apm-sniffer/apm-sdk-plugin/hystrix-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hystrix/v1/SWExecutionHookWrapper.java
Labels: agent, enhancement, plugin

#5807 Bump up testcontainers version to work around the Docker bug on edge MacOS
  CHANGES.md
  test/e2e/pom.xml
Labels: test

#5788 shardingsphere scenario remove commons-dbcp
  test/plugin/scenarios/shardingsphere-3.x-scenario/pom.xml
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/Application.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/controller/CaseController.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderItemRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/DataSourceUtil.java
  test/plugin/scenarios/shardingsphere-4.0.x-scenario/pom.xml
  test/plugin/scenarios/shardingsphere-4.0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/Application.java
  test/plugin/scenarios/shardingsphere-4.0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/controller/CaseController.java
  test/plugin/scenarios/shardingsphere-4.0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderItemRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/DataSourceUtil.java
  test/plugin/scenarios/shardingsphere-4.x-RC1-RC2-scenario/pom.xml
  test/plugin/scenarios/shardingsphere-4.x-RC1-RC2-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/Application.java
  test/plugin/scenarios/shardingsphere-4.x-RC1-RC2-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/controller/CaseController.java
  test/plugin/scenarios/shardingsphere-4.x-RC1-RC2-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderItemRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.x-RC1-RC2-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.x-RC1-RC2-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/DataSourceUtil.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/pom.xml
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/Application.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/controller/CaseController.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderItemRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.x-RC3-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/DataSourceUtil.java
  test/plugin/scenarios/shardingsphere-4.x-scenario/pom.xml
  test/plugin/scenarios/shardingsphere-4.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/Application.java
  test/plugin/scenarios/shardingsphere-4.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/controller/CaseController.java
  test/plugin/scenarios/shardingsphere-4.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderItemRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-4.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/DataSourceUtil.java
Labels: test

#5760 Catch all exception when consume kafka record
  CHANGES.md
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/MeterServiceHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/ProfileTaskHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/ServiceManagementHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/TraceSegmentHandler.java
Labels: backend, enhancement

#5550 add support for dbcp 2.x plugin
  .github/workflows/plugins-test.3.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/dbcp-2.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/dbcp-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/dbcp/v2/PoolingCloseConnectInterceptor.java
  apm-sniffer/apm-sdk-plugin/dbcp-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/dbcp/v2/PoolingGetConnectInterceptor.java
  apm-sniffer/apm-sdk-plugin/dbcp-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/dbcp/v2/define/BasicDataSourceInstrumentation.java
  apm-sniffer/apm-sdk-plugin/dbcp-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/dbcp/v2/define/DelegatingConnectionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/dbcp-2.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/dbcp-2.x-scenario/bin/startup.sh
  test/plugin/scenarios/dbcp-2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/dbcp-2.x-scenario/configuration.yml
  test/plugin/scenarios/dbcp-2.x-scenario/pom.xml
  test/plugin/scenarios/dbcp-2.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/dbcp-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/dbcp/Application.java
  test/plugin/scenarios/dbcp-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/dbcp/MysqlConfig.java
  test/plugin/scenarios/dbcp-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/dbcp/controller/CaseController.java
  test/plugin/scenarios/dbcp-2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/dbcp/service/CaseService.java
  test/plugin/scenarios/dbcp-2.x-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/dbcp-2.x-scenario/src/main/resources/jdbc.properties
  test/plugin/scenarios/dbcp-2.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/dbcp-2.x-scenario/support-version.list
Labels: agent, plugin

#5808 test: fix flaky LUA E2E test by working around the testcontainers (potential) bug
  test/e2e/e2e-test/docker/lua/Dockerfile.nginx
  test/e2e/e2e-test/docker/lua/docker-compose.yml
Labels: test

#5809 Polish the doc for meter analyze and meter plugin for incoming plugin.
  docs/en/setup/README.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/backend-ui-setup.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
Labels: documentation

#5811 Fix CVE in the Apdex threshold configs, when activating the dynamic configuration feature
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/ApdexThresholdConfig.java
Labels: backend, bug

#5816 Fix the expired link of the changelog file.
  .github/PULL_REQUEST_TEMPLATE
Labels: chore

#5818 Fix that chunked string is incorrect while the tag contains colon
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunction.java
Labels: backend, feature

#5824 fix searchTag not work
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SpanTag.java
Labels: backend, bug

#5826 Fix issue caused by PR#5818
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunction.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunctionTest.java
Labels: bug

#5832 Fix NPE and open some methods for extensibility
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/LogEntry2MetricsAdapter.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8SServiceRegistry.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8sALSServiceMeshHTTPAnalysis.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/ServiceNameFormatter.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/FieldsHelper.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/MetaExchangeALSHTTPAnalyzer.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/FieldsHelperTest.java
Labels: backend, bug, chore

#5833 Fix dynamic configuration key bug of `endpoint-name-grouping` #5831
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointNameGroupingRuleWatcher.java
Labels: backend, bug

#5836 Add logic endpoint section in the agent setup doc.
  CHANGES.md
  docs/en/setup/service-agent/java-agent/README.md
Labels: documentation

#5845 remove unused min date timebucket in jdbc delethistory logical.
  CHANGES.md
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/HistoryDeleteEsDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/HistoryDeleteDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2HistoryDeleteDAO.java
Labels: backend, enhancement

#5842 Add the plugin for mssql-jtds 1.x plugin.
  .github/workflows/plugins-test.1.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/MssqlJtdsURLParser.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/URLParser.java
  apm-sniffer/apm-sdk-plugin/mssql-jtds-1.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/mssql-jtds-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mssql/jtds/v1/define/AbstractConnectionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mssql-jtds-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mssql/jtds/v1/define/ConnectionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mssql-jtds-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/mssql/jtds/v1/define/DriverInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mssql-jtds-1.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/mssql-jtds-scenario/bin/startup.sh
  test/plugin/scenarios/mssql-jtds-scenario/config/expectedData.yaml
  test/plugin/scenarios/mssql-jtds-scenario/configuration.yml
  test/plugin/scenarios/mssql-jtds-scenario/pom.xml
  test/plugin/scenarios/mssql-jtds-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/mssql-jtds-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/Application.java
  test/plugin/scenarios/mssql-jtds-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/MssqlConfig.java
  test/plugin/scenarios/mssql-jtds-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/SQLExecutor.java
  test/plugin/scenarios/mssql-jtds-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/controller/CaseController.java
  test/plugin/scenarios/mssql-jtds-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/mssql-jtds-scenario/src/main/resources/jdbc.properties
  test/plugin/scenarios/mssql-jtds-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/mssql-jtds-scenario/support-version.list
Labels: agent, feature, plugin

#5839 Fix request url traceId sometimes shows "Ignored_Trace"
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManagerExtendService.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/ContextManagerExtendServiceTest.java
Labels: agent, bug

#5846 fix flaky test in comsumerTest
  apm-commons/apm-datacarrier/src/test/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumerTest.java
Labels: test

#5856 Add the plugin for microsoft mssql-jdbc
  .github/workflows/plugins-test.1.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/MssqlJdbcURLParser.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/URLParser.java
  apm-sniffer/apm-sdk-plugin/mssql-jdbc-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/mssql-jdbc-plugin/src/main/java/org/apache/skywalking/apm/plugin/mssql/jdbc/define/AbstractConnectionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mssql-jdbc-plugin/src/main/java/org/apache/skywalking/apm/plugin/mssql/jdbc/define/ConnectionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mssql-jdbc-plugin/src/main/java/org/apache/skywalking/apm/plugin/mssql/jdbc/define/DriverInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mssql-jdbc-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/mssql-jdbc-scenario/bin/startup.sh
  test/plugin/scenarios/mssql-jdbc-scenario/config/expectedData.yaml
  test/plugin/scenarios/mssql-jdbc-scenario/configuration.yml
  test/plugin/scenarios/mssql-jdbc-scenario/pom.xml
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/Application.java
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/MssqlConfig.java
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/SQLExecutor.java
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/controller/CaseController.java
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/resources/jdbc.properties
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/mssql-jdbc-scenario/support-version.list
Labels: agent, feature, plugin

#5874 Update overview.md - fix misspelling words
  docs/en/concepts-and-designs/overview.md
Labels: documentation

#5888 Add links to STAM, profiling blog and official doc page.
  README.md
Labels: chore

#5895 Update docs README.md
  docs/README.md
Labels: documentation

#5887 Add the plugin for Apache CXF 3.x
  .github/workflows/plugins-test.2.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/cxf-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/cxf-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/cxf/v3/client/MessageSenderInterceptorInterceptor.java
  apm-sniffer/apm-sdk-plugin/cxf-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/cxf/v3/client/define/MessageSenderInterceptorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/cxf-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/cxf/v3/server/AsyncInvokeConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/cxf-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/cxf/v3/server/AsyncInvokeMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/cxf-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/cxf/v3/server/define/ServiceInvokerInterceptorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/cxf-3.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/cxf-scenario/bin/startup.sh
  test/plugin/scenarios/cxf-scenario/config/expectedData.yaml
  test/plugin/scenarios/cxf-scenario/configuration.yml
  test/plugin/scenarios/cxf-scenario/pom.xml
  test/plugin/scenarios/cxf-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/cxf-scenario/src/main/java/org/apache/skywalking/apm/testcase/cxf/Application.java
  test/plugin/scenarios/cxf-scenario/src/main/java/org/apache/skywalking/apm/testcase/cxf/CxfConfig.java
  test/plugin/scenarios/cxf-scenario/src/main/java/org/apache/skywalking/apm/testcase/cxf/controller/CaseController.java
  test/plugin/scenarios/cxf-scenario/src/main/java/org/apache/skywalking/apm/testcase/cxf/entity/User.java
  test/plugin/scenarios/cxf-scenario/src/main/java/org/apache/skywalking/apm/testcase/cxf/service/UserService.java
  test/plugin/scenarios/cxf-scenario/src/main/java/org/apache/skywalking/apm/testcase/cxf/service/UserServiceImpl.java
  test/plugin/scenarios/cxf-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/cxf-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/cxf-scenario/support-version.list
Labels: agent, feature, plugin

#5903 Fix influxdb config resubmit
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxClient.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxStorageConfig.java
Labels: backend, feature

#5908 Include SAN to set mTLS property
  CHANGES.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/LogEntry2MetricsAdapter.java
Labels: bug

#5911 fix index not found on trace query when using es7
  CHANGES.md
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/client/ElasticSearch7Client.java
Labels: backend, bug

#5917 Fix okhttp-3.x and async-http-client-2.x did not overwrite the old trace header.
  apm-sniffer/apm-sdk-plugin/asynchttpclient-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asynchttpclient/v2/ExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/okhttp-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/okhttp/v3/AsyncCallInterceptor.java
  changes/changes-8.3.0.md
Labels: agent, bug, high priority

#5921 Fix illegal istio-controlplane.yaml
  oap-server/server-bootstrap/src/main/resources/otel-oc-rules/istio-controlplane.yaml
Labels: bug

#5922 Fix changelog link
  docs/en/guides/How-to-release.md
Labels: documentation

#5926 Enhance release script to support non-MacOS system
  CHANGES.md
  docs/en/guides/How-to-release.md
  tools/releasing/create_source_release.sh
Labels: chore
