Repository apache/skywalking, pull requests merged in 2021-01, with the labels that each got.

#6115 Fix the uuid field in GRPCConfigWatcherRegister is not updated
  CHANGES.md
  oap-server/server-configuration/grpc-configuration-sync/src/main/java/org/apache/skywalking/oap/server/configuration/grpc/GRPCConfigWatcherRegister.java
Labels: backend, bug

#6091 Enhance Envoy metrics service analyzer by MAL
  .github/workflows/e2e.istio.yaml
  CHANGES.md
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/src/main/assembly/binary.xml
  docs/en/concepts-and-designs/mal.md
  docs/en/setup/envoy/als_setting.md
  docs/en/setup/envoy/config.yaml
  docs/en/setup/envoy/examples/metrics/docker-compose.yaml
  docs/en/setup/envoy/examples/metrics/envoy.yaml
  docs/en/setup/envoy/metrics_service_setting.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/prometheus/PrometheusMetricConverter.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/AggregationTest.java
  oap-server/server-bootstrap/pom.xml
  oap-server/server-bootstrap/src/main/resources/envoy-metrics-rules/envoy.yaml
  oap-server/server-bootstrap/src/main/resources/oal/envoy.oal
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates/istio-dp.yml
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates/istio.yml
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/EnvoyMetricReceiverConfig.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/EnvoyMetricReceiverProvider.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/EnvoyOALDefine.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandler.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/metrics/adapters/ProtoMetricFamily2MetricsAdapter.java
  test/e2e/e2e-common/src/main/java/org/apache/skywalking/e2e/utils/Yamls.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/metrics/MetricsQuery.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/mesh/MetricsServiceE2E.java
  test/e2e/e2e-test/src/test/resources/expected/metricsservice/instances-istio-dp-reviews.yml
  test/e2e/e2e-test/src/test/resources/expected/metricsservice/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/metricsservice/services.yml
Labels: backend

#6121 Fix the priority setting doesn't work of the ALS analyzers
  CHANGES.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/AccessLogServiceGRPCHandler.java
Labels: backend, bug

#6124 Fix bug that endpoint-name-grouping.yml can not be customized in docker / helm
  CHANGES.md
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/src/main/assembly/binary.xml
  oap-server/server-bootstrap/pom.xml
Labels: backend, bug

#6134 Add Dolphinscheduler plugin definition
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: agent, backend, chore

#6137 Add ElasticSearch 7.10 to test matrix
  .github/workflows/cancel.yaml
  .github/workflows/e2e.storages.yaml
  CHANGES.md
  test/e2e/e2e-test/docker/storage/docker-compose.es7.10.yml
Labels: test

#6147 Fix istio control plane ui template metric type mismatch issue
  CHANGES.md
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates/istio.yml
Labels: backend, bug

#6146 make sampling still works when the trace ignores plug-in activation
  CHANGES.md
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnoreExtendService.java
  docs/en/setup/service-agent/java-agent/agent-optional-plugins/trace-ignore-plugin.md
Labels: agent, don't merge, feature, plugin

#6144 Fix bug that rocketmq-plugin set the wrong tag.
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v3/MessageConcurrentlyConsumeInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v3/MessageOrderlyConsumeInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v3/OnSuccessInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v4/MessageConcurrentlyConsumeInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v4/MessageOrderlyConsumeInterceptor.java
  apm-sniffer/apm-sdk-plugin/rocketMQ-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/rocketMQ/v4/OnSuccessInterceptor.java
Labels: agent, bug, plugin

#6103 new feature add witness method
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/AbstractClassEnhancePluginDefine.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/WitnessFinder.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/WitnessMethod.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/plugin/witness/WitnessTest.java
  docs/en/guides/Java-Plugin-Development-Guide.md
Labels: agent, core feature

#6149 ReadWriteSafeCache concurrency read-write
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/data/ReadWriteSafeCache.java
Labels: backend, enhancement

#6139 Fix some influxdb plugin bug
  CHANGES.md
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/TopNRecordsQuery.java
Labels: backend, bug, plugin

#6153 Fix `timeBucket` not taking effect in EqualsAndHashCode annotation.
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/Metrics.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointCallRelationTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationTest.java
Labels: backend, bug

#6159 Dubbo link tracing- show "group" attribute value in OperationName
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/DubboInterceptor.java
  apm-sniffer/apm-sdk-plugin/dubbo-plugin/src/main/java/org/apache/skywalking/apm/plugin/dubbo/DubboInterceptor.java
Labels: agent, feature, plugin

#6161 Fix scheduled timezone in GHA
  .github/workflows/ci-it.yaml
  .github/workflows/docker-ci.yaml
  .github/workflows/e2e.cluster.yaml
  .github/workflows/e2e.compat.yaml
  .github/workflows/e2e.go.yaml
  .github/workflows/e2e.istio.yaml
  .github/workflows/e2e.jdk-versions.yaml
  .github/workflows/e2e.js.yaml
  .github/workflows/e2e.kafka.yaml
  .github/workflows/e2e.nodejs.yaml
  .github/workflows/e2e.php.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.python.yaml
  .github/workflows/e2e.so11y.yaml
  .github/workflows/e2e.storages.yaml
  .github/workflows/e2e.ttl.yaml
  .github/workflows/e2e.yaml
Labels: CI settings, chore

#6163 Fix CI badge links
  README.md
Labels: chore

#6165 Update year to 2021
  NOTICE
  dist-material/release-docs/NOTICE
Labels: documentation

#6173 Fix Java.lang.ClassFormatError: Duplicate interface name "org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/EnhancedInstance"
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/ClassEnhancePluginDefine.java
Labels: agent, bug, core feature

#6174 SharingServerConfig properties is not correct, contextPath -> restCon…
  oap-server/server-bootstrap/src/main/resources/application.yml
Labels: backend, bug

#6182 Upgrade kafka clients support version
  CHANGES.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/kafka-scenario/support-version.list
Labels: chore

#6190 Remove redundant metrics and polish panel layout
  CHANGES.md
  oap-server/server-bootstrap/src/main/resources/otel-oc-rules/istio-controlplane.yaml
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates/istio.yml
Labels: backend, bug

#6187 Fix thread leakage caused by es client connection creation
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/RestHighLevelClientConInterceptor.java
Labels: agent, bug, plugin

#6188 Make source builder set service name and endpoint name in right order
  CHANGES.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/DatabaseSlowStatementBuilder.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/MultiScopesAnalysisListener.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/SourceBuilder.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/NamingControl.java
Labels: backend, bug

#6213 export the segmentId and spanId in toolkit
  CHANGES.md
  apm-application-toolkit/apm-toolkit-trace/src/main/java/org/apache/skywalking/apm/toolkit/trace/TraceContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/AbstractTracerContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManager.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/IgnoredTracerContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/SegmentIDInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/SpanIDInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/TraceContextActivation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-trace-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/trace/TraceIDInterceptor.java
  docs/en/setup/service-agent/java-agent/Application-toolkit-trace.md
  test/plugin/scenarios/apm-toolkit-trace-scenario/config/expectedData.yaml
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/org/apache/skywalking/apm/toolkit/trace/TraceContext.java
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/test/apache/skywalking/apm/testcase/toolkit/controller/TestController.java
Labels: agent, feature

#6215 Set up test for Istio 1.8.2 to verify Envoy V3 protocol
  .github/workflows/e2e.istio.yaml
  CHANGES.md
  test/e2e-mesh/e2e-istio/scripts/istio.sh
Labels: test

#6216 change spanId toolkit api type
  apm-application-toolkit/apm-toolkit-trace/src/main/java/org/apache/skywalking/apm/toolkit/trace/TraceContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/AbstractTracerContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManager.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/IgnoredTracerContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/TracingContext.java
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/org/apache/skywalking/apm/toolkit/trace/TraceContext.java
  test/plugin/scenarios/apm-toolkit-trace-scenario/src/main/java/test/apache/skywalking/apm/testcase/toolkit/controller/TestController.java
Labels: agent, feature

#6217 fix kafka e2e testing
  .github/workflows/e2e.kafka.yaml
Labels: test

#6193 Support Alarm to feishu
  CHANGES.md
  docs/en/setup/backend/backend-alarm.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcher.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandler.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/Rules.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuSettings.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReaderTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/resources/alarm-settings.yml
  oap-server/server-bootstrap/src/main/resources/alarm-settings.yml
Labels: backend, feature, plugin

#6214 fix recording url tag with wrong port
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/spring-plugins/resttemplate-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/resttemplate/async/RestExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/resttemplate-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/resttemplate/sync/RestExecuteInterceptor.java
  test/plugin/scenarios/jdk-threading-scenario/config/expectedData.yaml
Labels: agent, bug, plugin

#6194 Collect Log with java agent (#6127)
  CHANGES.md
  apm-application-toolkit/apm-toolkit-log4j-1.x/src/main/java/org/apache/skywalking/apm/toolkit/log/log4j/v1/x/log/GRPCLogClientAppender.java
  apm-application-toolkit/apm-toolkit-log4j-2.x/src/main/java/org/apache/skywalking/apm/toolkit/log/log4j/v2/x/log/GRPCLogClientAppender.java
  apm-application-toolkit/apm-toolkit-logback-1.x/src/main/java/org/apache/skywalking/apm/toolkit/log/logback/v1/x/log/GRPCLogClientAppender.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/LogReportServiceClient.java
  apm-sniffer/apm-agent-core/src/main/resources/META-INF/services/org.apache.skywalking.apm.agent.core.boot.BootService
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/boot/ServiceManagerTest.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-1.x-activation/pom.xml
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v1/x/log/GRPCLogAppenderActivation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v1/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-1.x-activation/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/pom.xml
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v2/x/log/GRPCLogAppenderActivation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v2/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/pom.xml
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/logback/v1/x/log/GRPCLogAppenderActivation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/logback/v1/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logging-common/pom.xml
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logging-common/src/main/java/org/apache/skywalking/apm/toolkit/logging/common/log/GRPCLogReportServiceClient.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logging-common/src/main/java/org/apache/skywalking/apm/toolkit/logging/common/log/ToolkitConfig.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logging-common/src/main/resources/META-INF/services/org.apache.skywalking.apm.agent.core.boot.BootService
  apm-sniffer/apm-toolkit-activation/pom.xml
  docs/en/setup/service-agent/java-agent/Application-toolkit-log4j-1.x.md
  docs/en/setup/service-agent/java-agent/Application-toolkit-log4j-2.x.md
  docs/en/setup/service-agent/java-agent/Application-toolkit-logback-1.x.md
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, feature, plugin

#6226 Fix bug in `parseInternalErrorCode` where some error codes are never reached
  CHANGES.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/LogEntry2MetricsAdapter.java
Labels: backend, bug

#6229 Fix apm-toolkit-logging-common dependency
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logging-common/pom.xml
Labels: bug

#6233 OAL supports multiple values when as numeric
  CHANGES.md
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/ConditionExpression.java
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/OALListener.java
  oap-server/oal-rt/src/test/java/org/apache/skywalking/oal/rt/parser/ScriptParserTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/InMatch.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/InMatchTest.java
Labels: backend, feature

#6241 [FAQ doc] Fix compiling on Mac M1 chip
  CHANGES.md
  docs/en/FAQ/How-to-build-with-mac-m1.md
  docs/en/FAQ/README.md
Labels: documentation

#6240 Support DNS period resolving mechanism
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/GRPCChannelManager.java
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, feature

#6243 Support the identification of the source host of the metric data in otel-receiver-plugin
  CHANGES.md
  docs/en/setup/backend/backend-receivers.md
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/oc/OCMetricHandler.java
Labels: backend, feature

#6250 Fix bug that the same sample name in one MAL expression caused `IllegalArgumentException` in `Analyzer.analyse`
  CHANGES.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/Expression.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ArithmeticTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ExpressionParsingTest.java
Labels: backend, bug

#6249 add text analyzer for es
  CHANGES.md
  docs/en/setup/backend/backend-storage.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/log/AbstractLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/Column.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumn.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumnTest.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/AnalyzerSetting.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/AnalyzerSettingTest.java
Labels: backend, feature

#6254 Fix wrong FAQ catalog
  docs/en/FAQ/README.md
Labels: chore

#6255 Fix that the dynamic configuration is deleted on the server side but does not take effect on the agent.
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/dynamic/ConfigurationDiscoveryService.java
  oap-server/server-receiver-plugin/configuration-discovery-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/recevier/configuration/discovery/AgentConfigurationsWatcher.java
Labels: agent, bug

#6263 Remove duplicate codes in Envoy ALS handler
  CHANGES.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandler.java
Labels: chore

#6267 Remove the strict rule of OAL disable statement parameter.
  CHANGES.md
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALLexer.g4
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALParser.g4
Labels: backend, bug

#6266 Support dynamic change agent.trace.ignore_path on java agent within CDS.
  CHANGES.md
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnoreExtendService.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnorePatternWatcher.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/test/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnorePatternWatcherTest.java
  docs/en/setup/service-agent/java-agent/configuration-discovery.md
Labels: agent, feature

#6270 Fix a legal metric query adoption bug.
  CHANGES.md
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/MetricQuery.java
Labels: backend, bug

#6272 Support dynamic change agent.ignore_suffix on java agent.
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManagerExtendService.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/IgnoreSuffixPatternsWatcher.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/IgnoreSuffixPatternsWatcherTest.java
  apm-sniffer/config/agent.config
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnoreExtendService.java
  docs/en/setup/service-agent/java-agent/configuration-discovery.md
Labels: agent, feature, plugin

#6248 Enhancement log-recerive e2e test
  .github/workflows/e2e.log.yaml
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logging-common/src/main/java/org/apache/skywalking/apm/toolkit/logging/common/log/GRPCLogReportServiceClient.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logging-common/src/main/java/org/apache/skywalking/apm/toolkit/logging/common/log/ToolkitConfig.java
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/LogQueryService.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/LogQuery.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/SimpleQueryClient.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/log/LogsQuery.java
  test/e2e/e2e-data/src/main/resources/logs.gql
  test/e2e/e2e-log-producer/pom.xml
  test/e2e/e2e-log-producer/src/main/java/org/apache/skywalking/e2e/LogProducerApplication.java
  test/e2e/e2e-log-producer/src/main/java/org/apache/skywalking/e2e/controller/LogController.java
  test/e2e/e2e-service-provider/pom.xml
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/apm/toolkit/trace/TraceContext.java
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/controller/LogController.java
  test/e2e/e2e-service-provider/src/main/resources/logback.xml
  test/e2e/e2e-test/docker/Dockerfile.provider
  test/e2e/e2e-test/docker/Dockerfile.satellite
  test/e2e/e2e-test/docker/base-compose.yml
  test/e2e/e2e-test/docker/kafka/Dockerfile.provider
  test/e2e/e2e-test/docker/kafka/docker-compose.log.yml
  test/e2e/e2e-test/docker/kafka/docker-compose.yml
  test/e2e/e2e-test/docker/kafka/satellite_config.yaml
  test/e2e/e2e-test/docker/log/docker-compose.es6.yml
  test/e2e/e2e-test/docker/log/docker-compose.es7.yml
  test/e2e/e2e-test/docker/log/docker-compose.h2.yml
  test/e2e/e2e-test/docker/log/docker-compose.influxdb.yml
  test/e2e/e2e-test/docker/log/docker-compose.mysql.yml
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/kafka/KafkaE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/kafka/KafkaLogE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/kafka/KafkaMeterE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/kafka/KafkaProfileE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/log/LogE2E.java
  test/e2e/e2e-test/src/test/resources/expected/log/endpoints.yml
  test/e2e/e2e-test/src/test/resources/expected/log/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/log/logs.yml
  test/e2e/e2e-test/src/test/resources/expected/log/services.yml
  test/e2e/pom.xml
Labels: backend, test

#6278 Polish doc structure.
  README.md
  docs/README.md
  docs/en/setup/backend/backend-meter.md
  docs/en/setup/backend/backend-receivers.md
  docs/en/setup/backend/backend-setup.md
Labels: documentation

#6277 Support Prometheus node-exporter VM metrics monitoring
  CHANGES.md
  docs/en/setup/backend/backend-receivers.md
  oap-server/server-bootstrap/src/main/resources/otel-oc-rules/vm.yaml
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates/vm.yml
Labels: backend, feature

#6281 test: fix flaky E2E test of Kafka
  .github/workflows/e2e.kafka.yaml
  CHANGES.md
  test/e2e/e2e-common/src/main/java/org/apache/skywalking/e2e/SkyWalkingAnnotations.java
  test/e2e/pom.xml
Labels: test

#6271 docs: fix typo
  docs/en/concepts-and-designs/oal.md
Labels: documentation

#6285 Fix missed group in UI template
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates/vm.yml
Labels: UI, enhancement

#6293 chore: fix occasional build failure on Mac
  oap-server/server-bootstrap/pom.xml
  pom.xml
Labels: CI settings, chore

#6295 Multiple exclude and include query conditions don't work as expected.
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/LogQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/query/LogQueryEs7DAO.java
Labels: backend, bug

#6292 doc: polish the documentations on ALS and MS
  docs/README.md
  docs/en/setup/envoy/als_setting.md
  docs/en/setup/envoy/metrics_service_setting.md
  docs/en/setup/istio/README.md
Labels: documentation
