Repository apache/skywalking, pull requests merged in 2021-02, with the labels that each got.

#6286 Ability to send log template + arguments instead of pre-formatted message
  CHANGES.md
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v1/x/log/GRPCLogAppenderActivation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v2/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/logback/v1/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logging-common/src/main/java/org/apache/skywalking/apm/toolkit/logging/common/log/ToolkitConfig.java
  docs/en/setup/service-agent/java-agent/Application-toolkit-log4j-2.x.md
  docs/en/setup/service-agent/java-agent/Application-toolkit-logback-1.x.md
  docs/en/setup/service-agent/java-agent/README.md
Labels: agent, feature, plugin

#6298 Finalize the 8.4.0 changes, and open the release process soon.
  CHANGES.md
  changes/changes-8.3.0.md
  changes/changes-8.4.0.md
Labels: documentation

#6282 Update frontend-maven-plugin to 1.11.0, for Download node x64 binary on Apple Silicon.
  CHANGES.md
  apm-webapp/pom.xml
Labels: chore, dependencies

#6303 Remove invalid mysql configuration in agent.config.
  CHANGES.md
  apm-sniffer/config/agent.config
Labels: agent

#6304 chore: add @Override tag on some methods
  apm-checkstyle/checkStyle.xml
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/common/AtomicRangeInteger.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/CorrelationContext.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/util/ThrowableTransformer.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/ProtectiveShieldMatcher.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/trace/SWCallableStatement.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/trace/SWPreparedStatement.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/trace/SWStatement.java
  apm-sniffer/apm-sdk-plugin/nutz-plugins/http-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/nutz/http/sync/define/AbstractNutzHttpInstrumentation.java
  apm-sniffer/apm-sdk-plugin/nutz-plugins/http-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/nutz/http/sync/define/NutzHttpFilePostSenderInstrumentation.java
  codeStyle.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentileMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/RecordStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/ModelInstaller.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/ssl/DynamicSslContext.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/pool/CustomThreadFactory.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/ssl/HttpDynamicSslContext.java
  oap-server/server-receiver-plugin/jaeger-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/jaeger/JaegerGRPCHandler.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/AlarmQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/base/StorageEs7Installer.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/client/ElasticSearch7Client.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/query/AlarmQueryEs7DAO.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/query/MetricsQueryEs7DAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLLogQueryDAO.java
  oap-server/server-telemetry/telemetry-api/src/main/java/org/apache/skywalking/oap/server/telemetry/api/HealthCheckMetrics.java
Labels: chore

#6309 add redefine listener
  CHANGES.md
  apm-sniffer/apm-agent/src/main/java/org/apache/skywalking/apm/agent/SkyWalkingAgent.java
Labels: agent, enhancement

#6316 Allow user-defined `JAVA_OPTS` in the startup script
  CHANGES.md
  dist-material/bin/oapService.sh
  dist-material/bin/oapServiceInit.sh
  dist-material/bin/oapServiceNoInit.sh
  dist-material/bin/webappService.sh
Labels: backend, enhancement

#6318 Metrics combination API supports abandoning results
  CHANGES.md
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockMetrics.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRuleTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/data/MergableBufferedData.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/endpoint/EndpointTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/instance/InstanceTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/networkalias/NetworkAddressAlias.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/service/ServiceTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/HistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgLabeledFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/latest/LatestFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/ApdexMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/CPMMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/CountMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/DoubleAvgMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/HistogramMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/LongAvgMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MaxDoubleMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MaxLongMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MinDoubleMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MinLongMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentileMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PxxMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/RateMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/SumMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/MetricsTest.java
Labels: backend, enhancement

#6327 Add some defensive codes for NPE and bump up Kubernetes client version to expose exception stack trace
  CHANGES.md
  LICENSE
  dist-material/release-docs/LICENSE
  oap-server/pom.xml
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8SServiceRegistry.java
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, bug

#6332 Fix CI link
  README.md
Labels: chore

#6336 Support multiple implementations of StorageBuilder in different storage implementations - stage 2
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/MeterBaseTest.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/MeterBuilderTest.java
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/OALRuntime.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/StreamAnnotationListener.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/ManagementStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/NoneStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/RecordStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/oal/rt/OALEngine.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/oal/rt/OALEngineLoaderService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/StorageBuilderFactory.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/StorageModule.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/StorageModuleElasticsearch7Provider.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/InfluxStorageProvider.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/H2StorageProvider.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLStorageProvider.java
  oap-server/server-storage-plugin/storage-tidb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/tidb/TiDBStorageProvider.java
Labels: backend, core feature

#6340 Skip CI in some cases to save resources
  .github/actions/plugins-test/action.yml
  .github/actions/skip/action.yml
  .github/workflows/ci-it.yaml
  .github/workflows/e2e.cluster.yaml
  .github/workflows/e2e.compat.yaml
  .github/workflows/e2e.event.yaml
  .github/workflows/e2e.go.yaml
  .github/workflows/e2e.istio.yaml
  .github/workflows/e2e.jdk-versions.yaml
  .github/workflows/e2e.js.yaml
  .github/workflows/e2e.kafka.yaml
  .github/workflows/e2e.log.yaml
  .github/workflows/e2e.nodejs.yaml
  .github/workflows/e2e.php.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.python.yaml
  .github/workflows/e2e.so11y.yaml
  .github/workflows/e2e.storages.yaml
  .github/workflows/e2e.ttl.yaml
  .github/workflows/e2e.yaml
  test/e2e/e2e-service-provider/pom.xml
Labels: CI settings, chore

#6350 Update CHANGES.md
  CHANGES.md
Labels: chore

#6359 Update Supported-list.md to add two missing components
  docs/en/setup/service-agent/java-agent/Supported-list.md
Labels: chore, documentation

#6176 Adopt Zabbix protocol
  .github/workflows/e2e.yaml
  CHANGES.md
  README.md
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/src/main/assembly/binary.xml
  docs/en/setup/backend/backend-receivers.md
  docs/en/setup/backend/backend-zabbix.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/server-bootstrap/pom.xml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates/vm.yml
  oap-server/server-bootstrap/src/main/resources/zabbix-rules/agent.yaml
  oap-server/server-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/module/ZabbixReceiverModule.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/ZabbixMetrics.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/ZabbixModuleConfig.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/ZabbixReceiverProvider.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/config/ZabbixConfig.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/config/ZabbixConfigs.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/ZabbixErrorProtocolException.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/ZabbixProtocolDataCodec.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/ZabbixProtocolDecoder.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/ZabbixProtocolEncoder.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/ZabbixProtocolHandler.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/ZabbixServer.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/bean/ZabbixProtocolType.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/bean/ZabbixRequest.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/bean/ZabbixRequestJsonDeserializer.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/bean/ZabbixResponse.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/bean/ZabbixResponseJsonSerializer.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleDefine
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/ZabbixBaseTest.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/ZabbixMetricsTest.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/ZabbixProtocolHandlerTest.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/test/resources/zabbix-rules/agent.yaml
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/SimpleQueryClient.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/metrics/MetricsQuery.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/metrics/ReadLabeledMetricsQuery.java
  test/e2e/e2e-data/src/main/resources/read-labeled-metrics.gql
  test/e2e/e2e-test/docker/base-compose.yml
  test/e2e/e2e-test/docker/zabbix/agent.yaml
  test/e2e/e2e-test/docker/zabbix/docker-compose.yml
  test/e2e/e2e-test/docker/zabbix/zabbix_agentd.conf
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/kafka/KafkaE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/storage/StorageE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/zabbix/ZabbixE2E.java
  test/e2e/e2e-test/src/test/resources/expected/zabbix/services.yml
Labels: backend, core feature

#6362 Simplify the Zabbix UT, reduce use time
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/ZabbixProtocolDecoder.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/ZabbixBaseTest.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/ZabbixMetricsTest.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/protocol/ZabbixProtocolHandlerTest.java
Labels: test

#6363 Change the Apdex metric combine calculator
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/ApdexMetrics.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/ApdexMetricsTest.java
Labels: backend, bug

#6364 Add prometheus, open-telemetry, zabbix as labels
  .asf.yaml
  .github/actions/skip/action.yml
Labels: chore

#6366 Add a website document config file of v8.4.0
  docs/menu.yml
Labels: documentation

#6367 Add menu.yml
  docs/README.md
  docs/menu.yml
Labels: documentation

#6365 Add a website document config file of v8.3.0
  docs/README.md
  docs/menu.yml
Labels: documentation

#6368 Add document menu.yml on branch website-docs/8.4.0
  docs/README.md
  docs/menu.yml
Labels: documentation

#6378 Issue#6377 changed slf4j LoggingEvent to apache log4j LoggingEvent
  CHANGES.md
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-1.x-activation/pom.xml
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v1/x/log/GRPCLogAppenderInterceptor.java
Labels: agent, bug

#6383 Fix dead link of Envoy statistics list
  docs/en/setup/envoy/metrics_service_setting.md
Labels: documentation

#6385 Supplement the E2E test for log reporter
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/pom.xml
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/pom.xml
  test/e2e/e2e-service-provider/pom.xml
  test/e2e/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/controller/LogController.java
  test/e2e/e2e-service-provider/src/main/resources/log4j.properties
  test/e2e/e2e-service-provider/src/main/resources/log4j2.xml
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/log/LogE2E.java
Labels: test

#6386 Protect website-docs/8.* branches.
  .asf.yaml
Labels: chore

#6387 Try to fix branch protection
  .asf.yaml
Labels: chore

#6389 Update .asf.yaml
  .asf.yaml
Labels: chore

#6391 Add latest doc menu.yml
  docs/README.md
  docs/menu.yml
Labels: documentation, website

#6392 Replace the URL width https
  docs/en/concepts-and-designs/overview.md
  docs/en/setup/backend/backend-ui-setup.md
  docs/en/setup/backend/spring-sleuth-setup.md
  docs/en/setup/service-agent/java-agent/agent-optional-plugins/Kotlin-Coroutine-plugin.md
  docs/en/ui/README.md
Labels: documentation, website

#6394 Fix dead links and add checker to detect them
  .dlc.json
  .github/actions/skip/action.yml
  .github/workflows/dead-link-checker.yaml
  CODE_OF_CONDUCT.md
  README.md
  changes/changes-8.4.0.md
  docs/en/concepts-and-designs/probe-introduction.md
  docs/en/guides/Java-Plugin-Development-Guide.md
  docs/en/protocols/Browser-HTTP-API-Protocol.md
  docs/en/protocols/JVM-Protocol.md
  docs/en/setup/envoy/metrics_service_setting.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
Labels: CI settings, chore, documentation

#6395 Change the Zabbix receiver is disabled by default
  oap-server/server-bootstrap/src/main/resources/application.yml
  test/e2e/e2e-test/docker/zabbix/docker-compose.yml
Labels: backend

#6397 Delete Es7DAO.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/Es7DAO.java
Labels: chore

#6398 Meter system enhancement
  CHANGES.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/Analyzer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/MeterSystem.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/MeterSystemTest.java
Labels: backend, core feature, enhancement

#6412 kubernetes.client.opeanapi.ApiException
  CHANGES.md
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/NamespacedPodListInformer.java
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigurationConfigmapInformer.java
Labels: backend, bug

#6410 Fix KafkaContextManagerExtendService boot error of kafka plugin.
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManagerExtendService.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/sampling/SamplingService.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/IgnoreSuffixPatternsWatcherTest.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/sampling/SamplingRateWatcherTest.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnoreExtendService.java
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/test/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnorePatternWatcherTest.java
Labels: agent, bug, plugin

#6413 Remove filename suffix in the meter active file config
  CHANGES.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/AnalyzerModuleConfig.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/meter/config/MeterConfigs.java
  oap-server/server-bootstrap/src/main/resources/application.yml
  test/e2e/e2e-test/docker/kafka/docker-compose.meter.yml
  test/e2e/e2e-test/docker/meter/docker-compose.yml
Labels: backend

#6403 Enhance gRPC log appender to allow layout pattern
  .github/actions/e2e-test/action.yml
  .github/actions/plugins-test/action.yml
  .github/workflows/e2e.istio.yaml
  CHANGES.md
  apm-application-toolkit/apm-toolkit-log4j-1.x/src/main/java/org/apache/skywalking/apm/toolkit/log/log4j/v1/x/log/GRPCLogClientAppender.java
  apm-application-toolkit/apm-toolkit-log4j-2.x/src/main/java/org/apache/skywalking/apm/toolkit/log/log4j/v2/x/log/GRPCLogClientAppender.java
  apm-application-toolkit/apm-toolkit-logback-1.x/src/main/java/org/apache/skywalking/apm/toolkit/log/logback/v1/x/log/GRPCLogClientAppender.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v1/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v2/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/logback/v1/x/log/GRPCLogAppenderActivation.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/logback/v1/x/log/GRPCLogAppenderInterceptor.java
  test/e2e/e2e-service-provider/pom.xml
  test/e2e/e2e-service-provider/src/main/resources/log4j.properties
  test/e2e/e2e-service-provider/src/main/resources/log4j2.xml
  test/e2e/e2e-service-provider/src/main/resources/logback.xml
  test/e2e/pom.xml
Labels: agent, enhancement, plugin

#6417 doc: add ALS metadata-exchange blog and polish E2E doc
  README.md
  docs/en/guides/README.md
  docs/en/setup/envoy/als_setting.md
Labels: documentation

#6409 Supplement the E2E test for skywalking-client-js
  .github/workflows/e2e.cluster.yaml
  .github/workflows/e2e.compat.yaml
  .github/workflows/e2e.go.yaml
  .github/workflows/e2e.jdk-versions.yaml
  .github/workflows/e2e.js.yaml
  .github/workflows/e2e.kafka.yaml
  .github/workflows/e2e.log.yaml
  .github/workflows/e2e.php.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.python.yaml
  .github/workflows/e2e.so11y.yaml
  .github/workflows/e2e.storages.yaml
  .github/workflows/e2e.ttl.yaml
  .github/workflows/e2e.yaml
  test/e2e/e2e-test/docker/browser/docker-compose.h2.client-js.yml
  test/e2e/e2e-test/docker/browser/with-skywalking-client-js/Dockerfile.generate-traffic
  test/e2e/e2e-test/docker/browser/with-skywalking-client-js/Dockerfile.test-ui
  test/e2e/e2e-test/docker/browser/with-skywalking-client-js/index.js
  test/e2e/e2e-test/docker/browser/with-skywalking-client-js/nginx.conf
  test/e2e/e2e-test/docker/browser/with-skywalking-client-js/test.py
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/browser/BrowserWithClientJSE2E.java
  test/e2e/e2e-test/src/test/resources/expected/browser-with-client-js/error-log.yml
  test/e2e/e2e-test/src/test/resources/expected/browser-with-client-js/page-path.yml
  test/e2e/e2e-test/src/test/resources/expected/browser-with-client-js/services.yml
  test/e2e/e2e-test/src/test/resources/expected/browser-with-client-js/topo.yml
  test/e2e/e2e-test/src/test/resources/expected/browser-with-client-js/traces.yml
  test/e2e/e2e-test/src/test/resources/expected/browser-with-client-js/version.yml
Labels: test

#6418 Fix spelling
  .github/workflows/docker-ci.yaml
  .github/workflows/e2e.compat.yaml
  .github/workflows/e2e.istio.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/finagle/ClientDestTracingFilterInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-webclient-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/webclient/WebFluxWebClientInterceptor.java
  changes/changes-5.x.md
  changes/changes-8.0.0.md
  docs/en/FAQ/maven-compile-npm-failure.md
  docs/en/guides/Java-Plugin-Development-Guide.md
  docs/en/guides/README.md
  docs/en/setup/backend/backend-fetcher.md
  test/plugin/agent-test-tools/bin/fetch-code.sh
Labels: documentation

#6421 Update Dockerfile.nginx
  test/e2e/e2e-test/docker/lua/Dockerfile.nginx
Labels: test

#6426 Clean up some warnings in maven build
  apm-dist-es7/pom.xml
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/pom.xml
  apm-dist/src/main/assembly/binary.xml
  apm-sniffer/apm-agent-core/pom.xml
  apm-sniffer/apm-agent/pom.xml
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-toolkit-activation/pom.xml
  apm-sniffer/bootstrap-plugins/pom.xml
  apm-sniffer/optional-plugins/pom.xml
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/pom.xml
  oap-server/server-library/library-util/pom.xml
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/envoy/service/metrics/v2/metrics_service.proto
Labels: chore

#6432 Fix apm-dubbo-2.7.x-plugin memory leak due to some Dubbo RpcExceptions.
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/DubboInterceptor.java
Labels: agent, enhancement, plugin

#6438 Add pulsar version 2.6.3 and 2.7.0 in the support versions
  test/plugin/scenarios/pulsar-scenario/support-version.list
Labels: agent, plugin, test

#6431 Fix alarm httpclient connection leak
  CHANGES.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/WebhookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/slack/SlackhookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatHookCallback.java
Labels: backend, bug

#6439 grammar error for "The answer definitely YES"
  docs/en/concepts-and-designs/service-agent.md
Labels: chore, documentation

#6440 grammar error on "which are wide used"
  docs/en/concepts-and-designs/service-mesh-probe.md
Labels: chore, documentation

#6427 Add `sum` function in meter system
  CHANGES.md
  docs/en/concepts-and-designs/mal.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/DownsamplingType.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/Expression.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/ExpressionParsingContext.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/Sample.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ExpressionParsingTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumFunction.java
  test/e2e/e2e-test/docker/log/log-mal.yaml
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/log/LogE2E.java
Labels: backend, feature

#6442 Update the comments in TomcatInstrumentation class.
  apm-sniffer/apm-sdk-plugin/tomcat-7.x-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/tomcat78x/define/TomcatInstrumentation.java
Labels: chore

#6446 Polish a log to doc and menu for latest status.
  .github/actions/skip/action.yml
  docs/en/concepts-and-designs/README.md
  docs/en/concepts-and-designs/backend-overview.md
  docs/en/concepts-and-designs/overview.md
  docs/en/setup/backend/backend-receivers.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/log-analyzer.md
  docs/menu.yml
Labels: documentation

#6449 fix: docs/menu.yml
  docs/menu.yml
Labels: website

#6453 Bugfix/lettucev5 plugin
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisClientConstructorInterceptor.java
Labels: agent, enhancement, plugin

#6458 fix: removed the duplicate CallbackAdapter.java file
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/CallbackAdapter.java
Labels: chore

#6463 docs: fix typo in Java-Plugin-Development-Guide.md
  docs/en/guides/Java-Plugin-Development-Guide.md
Labels: chore, documentation

#6464 Refine README.md
  docs/README.md
Labels: documentation

#6462 Fix ClassCastException from CallbackAdapterInterceptor
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/main/java/org/apache/skywalking/apm/plugin/kafka/CallbackAdapterInterceptor.java
  apm-sniffer/apm-sdk-plugin/kafka-plugin/src/test/java/org/apache/skywalking/apm/plugin/kafka/CallbackInterceptorTest.java
Labels: agent, bug, plugin

#6467 Refine Compatible-with-other-javaagent-bytecode-processing.md and rename to Compatibility-with-other-Java-agent-bytecode-processes.md
  docs/en/FAQ/Compatible-with-other-javaagent-bytecode-processing.md
Labels: documentation

#6468 Update README.md
  docs/en/guides/README.md
Labels: chore

#6469 New doc menu for the website.
  .github/actions/skip/action.yml
  dist-material/release-docs/README.txt
  docs/README.md
  docs/en/concepts-and-designs/README.md
  docs/en/concepts-and-designs/service-mesh-probe.md
  docs/en/protocols/README.md
  docs/en/setup/README.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/backend-ui-setup.md
  docs/en/setup/service-agent/browser-agent.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/server-agents.md
  docs/menu.yml
Labels: documentation, website

#6470 Fix `DatabaseSlowStatementBuilder` statement maybe null
  CHANGES.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/MultiScopesAnalysisListener.java
Labels: backend, enhancement
