Repository apache/skywalking, pull requests merged in 2021-07, with the labels that each got.

#7214 Support connectTimeout and socketTimeout settings
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ITElasticSearchClient.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/StorageModuleElasticsearch7Provider.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/client/ElasticSearch7Client.java
Labels: backend, feature

#7210 fix some method exception error
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/SnifferConfigInitializer.java
Labels: chore

#7223 Fix bug with error topic in kafka fetcher md.
  docs/en/setup/backend/backend-fetcher.md
Labels: documentation

#7221 Enhance the storage session mechanism
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/PersistenceWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/PersistenceTimer.java
Labels: backend, core feature

#7217 support parameter collection for sqlserver
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/mssql-commons/src/main/java/org/apache/skywalking/apm/plugin/mssql/commons/Constants.java
  apm-sniffer/apm-sdk-plugin/mssql-commons/src/main/java/org/apache/skywalking/apm/plugin/mssql/commons/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/mssql-jdbc-plugin/src/main/java/org/apache/skywalking/apm/plugin/mssql/jdbc/define/PreparedStatementIgnoredSetterInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mssql-jdbc-plugin/src/main/java/org/apache/skywalking/apm/plugin/mssql/jdbc/define/PreparedStatementNullSetterInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mssql-jdbc-plugin/src/main/java/org/apache/skywalking/apm/plugin/mssql/jdbc/define/PreparedStatementSetterInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mssql-jdbc-plugin/src/main/resources/skywalking-plugin.def
  test/plugin/scenarios/mssql-jdbc-scenario/bin/startup.sh
  test/plugin/scenarios/mssql-jdbc-scenario/config/expectedData.yaml
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/SQLExecutor.java
  test/plugin/scenarios/mssql-jdbc-scenario/src/main/java/org/apache/skywalking/apm/testcase/mssql/controller/CaseController.java
Labels: agent, feature, plugin

#7229 Fix issue that webfluxwebclient plugin async finish repeatedly in multi thread
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-webclient-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/webclient/WebFluxWebClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-webclient-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/webclient/define/WebFluxWebClientInstrumentation.java
Labels: agent, bug, plugin

#7190 Add agent plugin to support Sentinel
  .github/workflows/plugins-test.1.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/optional-plugins/pom.xml
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/pom.xml
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sentinel/v1/Constants.java
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sentinel/v1/EntryMethodInterceptor.java
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sentinel/v1/SentinelAsyncEntryConstructorInterceptor.java
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sentinel/v1/SentinelAsyncExitInterceptor.java
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sentinel/v1/SentinelCtEntryConstructorInterceptor.java
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sentinel/v1/SentinelExitInterceptor.java
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sentinel/v1/define/SentinelAsyncEntryInstrumentation.java
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sentinel/v1/define/SentinelCtEntryInstrumentation.java
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/sentinel/v1/define/SentinelCtSphInstrumentation.java
  apm-sniffer/optional-plugins/sentinel-1.x-plugin/src/main/resources/skywalking-plugin.def
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/sentinel-scenario/bin/startup.sh
  test/plugin/scenarios/sentinel-scenario/config/expectedData.yaml
  test/plugin/scenarios/sentinel-scenario/configuration.yml
  test/plugin/scenarios/sentinel-scenario/pom.xml
  test/plugin/scenarios/sentinel-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/sentinel-scenario/src/main/java/test/apache/skywalking/apm/testcase/sentinel/Application.java
  test/plugin/scenarios/sentinel-scenario/src/main/java/test/apache/skywalking/apm/testcase/sentinel/controller/CaseController.java
  test/plugin/scenarios/sentinel-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/sentinel-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/sentinel-scenario/support-version.list
Labels: agent, feature, plugin

#7238 Fix InfluxDB storage-plugin Metrics#multiGet issue
  CHANGES.md
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/MetricsDAO.java
Labels: backend, bug

#7236 Move ehcache-2.x plugin as optional
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/pom.xml
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheCacheNameInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheConstructorInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheEnhanceInfo.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheLockInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheOperateAllInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheOperateElementInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheOperateObjectInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcachePrivateConstructorInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/define/EhcachePluginInstrumentation.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheInterceptorTest.java
  apm-sniffer/optional-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/README.md
  test/plugin/scenarios/ehcache-2.x-scenario/configuration.yml
Labels: agent

#7220 replace zuul proxy with spring cloud gateway 2.x. in webapp module.
  .github/workflows/e2e.istio.yaml
  CHANGES.md
  apm-webapp/pom.xml
  apm-webapp/src/main/assembly/webapp.yml
  apm-webapp/src/main/java/org/apache/skywalking/apm/webapp/ApplicationStartUp.java
  apm-webapp/src/main/java/org/apache/skywalking/apm/webapp/proxy/MvcConfig.java
  apm-webapp/src/main/java/org/apache/skywalking/apm/webapp/proxy/NotFoundHandler.java
  apm-webapp/src/main/java/org/apache/skywalking/apm/webapp/proxy/RewritePathFilter.java
  apm-webapp/src/main/resources/application.yml
  apm-webapp/src/test/java/org/apache/skywalking/apm/webapp/NotFoundHandlerTest.java
  apm-webapp/src/test/java/org/apache/skywalking/apm/webapp/WebAppTest.java
  dist-material/release-docs/LICENSE
  docker/docker-compose.yml
  docker/ui/Dockerfile.ui
  docker/ui/docker-entrypoint.sh
  docs/en/setup/backend/ui-setup.md
  test/e2e/e2e-common/src/test/resources/docker-compose.one.yml
  test/e2e/e2e-test/docker/base-compose.yml
  test/e2e/e2e-test/docker/cluster/docker-compose.yml
  test/e2e/e2e-test/docker/gateway/docker-compose.yml
Labels: enhancement, feature

#7215 Upgrade etcd cluster coordinator and dynamic configuration to v3.x
  CHANGES.md
  dist-material/release-docs/LICENSE
  dist-material/release-docs/NOTICE
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/dynamic-config.md
  oap-server-bom/pom.xml
  oap-server/pom.xml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-cluster-plugin/cluster-etcd-plugin/pom.xml
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/ClusterModuleEtcdConfig.java
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/ClusterModuleEtcdProvider.java
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/EtcdCoordinator.java
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/EtcdUtils.java
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/ITClusterEtcdPluginTest.java
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/ITClusterModuleEtcdProviderFunctionalTest.java
  oap-server/server-configuration/configuration-etcd/pom.xml
  oap-server/server-configuration/configuration-etcd/src/main/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigWatcherRegister.java
  oap-server/server-configuration/configuration-etcd/src/main/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigurationProvider.java
  oap-server/server-configuration/configuration-etcd/src/main/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdServerSettings.java
  oap-server/server-configuration/configuration-etcd/src/main/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdUtils.java
  oap-server/server-configuration/configuration-etcd/src/test/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigurationTestProvider.java
  oap-server/server-configuration/configuration-etcd/src/test/java/org/apache/skywalking/oap/server/configuration/etcd/ITEtcdConfigurationTest.java
  oap-server/server-configuration/configuration-etcd/src/test/java/org/apache/skywalking/oap/server/configuration/etcd/TestEtcdUtils.java
  oap-server/server-configuration/configuration-etcd/src/test/resources/application.yml
  oap-server/server-library/library-client/pom.xml
  oap-server/server-library/library-server/pom.xml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, dependencies, enhancement

#7249 Allow configuring max request header size
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyServer.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyServerConfig.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerConfig.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModuleProvider.java
Labels: backend, feature

#7255 test: update commitID
  test/e2e/e2e-test/docker/browser/with-skywalking-client-js/Dockerfile.test-ui
Labels: test

#7235 Provide plugin for Guava Cache
  .github/workflows/plugins-test.0.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/optional-plugins/guava-cache-plugin/pom.xml
  apm-sniffer/optional-plugins/guava-cache-plugin/src/main/java/org/apache/skywalking/apm/plugin/guava/cache/GuavaCacheAllInterceptor.java
  apm-sniffer/optional-plugins/guava-cache-plugin/src/main/java/org/apache/skywalking/apm/plugin/guava/cache/GuavaCacheInterceptor.java
  apm-sniffer/optional-plugins/guava-cache-plugin/src/main/java/org/apache/skywalking/apm/plugin/guava/cache/define/GuavaCachePluginInstrumentation.java
  apm-sniffer/optional-plugins/guava-cache-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/optional-plugins/guava-cache-plugin/src/test/java/org/apache/skywalking/apm/plugin/guava/cache/GuavaCacheInterceptorTest.java
  apm-sniffer/optional-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/guava-cache-scenario/config/expectedData.yaml
  test/plugin/scenarios/guava-cache-scenario/configuration.yml
  test/plugin/scenarios/guava-cache-scenario/pom.xml
  test/plugin/scenarios/guava-cache-scenario/src/main/java/org/apache/skywalking/apm/testcase/guava/cache/CaseServlet.java
  test/plugin/scenarios/guava-cache-scenario/src/main/java/org/apache/skywalking/apm/testcase/guava/cache/HealthCheckServlet.java
  test/plugin/scenarios/guava-cache-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/guava-cache-scenario/src/main/webapp/WEB-INF/web.xml
  test/plugin/scenarios/guava-cache-scenario/support-version.list
Labels: agent, feature, plugin

#7261 Enhance the compatibility of `mysql-8.x-plugin` plugin.
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/mysql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v8/ConnectionCreateInterceptor.java
  apm-sniffer/apm-sdk-plugin/mysql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v8/define/CacheIpsInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mysql-8.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/mysql-common/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/ConnectionCache.java
  test/plugin/scenarios/mysql-scenario/support-version.list
Labels: agent, enhancement, plugin

#7277 chore: clean up source-dependencies' licenses
  LICENSE
  licenses/LICENSE-gogo-protobuf.txt
  licenses/LICENSE-grpc-gateway.txt
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/gogoproto/gogo.proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/google/api/annotations.proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/google/api/http.proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/google/rpc/code.proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/google/rpc/error_details.proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/google/rpc/status.proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/policy/v1beta1/type.proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/policy/v1beta1/value_type.proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/protoc-gen-swagger/options/annotations.proto
  oap-server/server-receiver-plugin/receiver-proto/src/main/proto/protoc-gen-swagger/options/openapiv2.proto
Labels: chore

#7281 support Kafka SASL login module.
  CHANGES.md
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaProducerManager.java
Labels: agent, bug, plugin

#7293 Remove synchronous persistence mechanism in API level and ElasticSearch implementation
  CHANGES.md
  docs/en/FAQ/README.md
  docs/en/FAQ/es-version-conflict.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/RecordPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/IBatchDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/PersistenceTimer.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/PersistenceTimerTest.java
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/BatchProcessEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/client/ElasticSearch7Client.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/base/BatchDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2BatchDAO.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/metrics/MetricsQuery.java
Labels: backend, core feature, enhancement

#7297 feat: update e2e for client-js
  test/e2e/e2e-test/docker/browser/with-skywalking-client-js/Dockerfile.test-ui
Labels: test

#7299 Reduce the flush period of hour and day level metrics
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/MetadataQueryService.java
Labels: backend, core feature, enhancement

#7309 Fix a misused variable.
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/MetricsEsDAO.java
Labels: bug

#7310 Adjust ElasticSearch index refresh period as INT(flushInterval * 2/3)
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
Labels: backend, core feature

#7318 Logically revert #6642 and partial #7153 to reduce unnecessary thread and concurrency process
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsTransWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/PersistenceWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/IBatchDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/PersistenceTimer.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/BlockingBatchQueueBenchmark.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/PersistenceTimerTest.java
Labels: backend, core feature, enhancement

#7320 Chore: polish methods naming for Spring Kafka
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/kafka-commons/src/main/java/org/apache/skywalking/apm/plugin/kafka/define/InterceptorMethod.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-kafka-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/kafka/PostRunMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-kafka-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/kafka/ProcessSeeksMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-kafka-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/kafka/PollAndInvokeMethodInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-kafka-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/kafka/KafkaOnMessageAnnotationMethodInterceptor.java
Labels: chore

#5886 fix gateway plugin async finish repeatedly when fallback configured
  CHANGES.md
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/DispatcherHandlerHandleMethodInterceptor.java
Labels: agent, bug, plugin

#7330 Fix the problem of -meters metrics topic isn't created with namespace
  CHANGES.md
  docs/en/setup/backend/backend-fetcher.md
  docs/en/setup/backend/backend-meter.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/module/KafkaFetcherConfig.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/KafkaFetcherProvider.java
Labels: backend, bug

#7337 Publish snapshot Docker images
  .github/workflows/publish-docker.yaml
  CHANGES.md
Labels: CI settings, chore

#7334 Enhance persistent session timeout mechanism.
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/IMetricsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/MetricsEsDAO.java
Labels: backend, bug, core feature

#7329 Fix the problem of Kafka transport topics are created duplicated with and without namespace
  CHANGES.md
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/KafkaFetcherHandlerRegister.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/KafkaFetcherProvider.java
Labels: backend, bug

#7338 Fix dead links
  docs/en/setup/service-agent/java-agent/Supported-list.md
Labels: chore, documentation

#7340 Adjust the project structure of the alarm module
  CHANGES.md
  oap-server/server-alarm-plugin/alarm-default-plugin/pom.xml
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCore.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmMessageFormatter.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmModuleProvider.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRule.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcher.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmSettings.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/CompositeAlarmRule.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/CompositeRuleEvaluator.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/EventHookCallback.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/MetricsValueType.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandler.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/OP.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/Rules.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/Threshold.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/WebhookCallback.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkHookCallback.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkSettings.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/Expression.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/ExpressionContext.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallback.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuSettings.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/GRPCAlarmSetting.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/GRPCCallback.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/slack/SlackSettings.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/slack/SlackhookCallback.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatHookCallback.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatSettings.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/welink/WeLinkHookCallback.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/welink/WeLinkSettings.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/proto/alarm-hook.proto
  oap-server/server-alarm-plugin/alarm-default-plugin/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCoreTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmMessageFormatterTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmModuleProviderTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcherTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/CompositeRuleEvaluatorTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/EventHookCallbackTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandlerTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/OPTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReaderTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRuleTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/ThresholdTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/WebhookCallbackTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkHookCallbackTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/ExpressionContextTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/ExpressionTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallbackTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/AlarmMockReceiver.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/GRPChookCallbackTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatHookCallbackTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/welink/WeLinkHookCallbackTest.java
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/resources/alarm-settings.yml
  oap-server/server-alarm-plugin/alarm-default-plugin/src/test/resources/log4j2-test.xml
  oap-server/server-alarm-plugin/pom.xml
  oap-server/server-bootstrap/pom.xml
Labels: backend, enhancement

#7339 doc: Add Self Observability service discovery (k8s)
  CHANGES.md
  docs/en/setup/backend/backend-telemetry.md
  docs/en/setup/backend/otel-collector-oap.yaml
Labels: documentation

#7342 Revert "Adjust the project structure of the alarm module"
  CHANGES.md
  oap-server/server-alarm-plugin/alarm-default-plugin/pom.xml
  oap-server/server-alarm-plugin/pom.xml
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCore.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmMessageFormatter.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmModuleProvider.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcher.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmSettings.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/CompositeAlarmRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/CompositeRuleEvaluator.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/EventHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/MetricsValueType.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandler.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/OP.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/Rules.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/Threshold.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/WebhookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkSettings.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/Expression.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/ExpressionContext.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuSettings.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/GRPCAlarmSetting.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/GRPCCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/slack/SlackSettings.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/slack/SlackhookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatSettings.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/welink/WeLinkHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/welink/WeLinkSettings.java
  oap-server/server-alarm-plugin/src/main/proto/alarm-hook.proto
  oap-server/server-alarm-plugin/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCoreTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmMessageFormatterTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmModuleProviderTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcherTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/CompositeRuleEvaluatorTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/EventHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandlerTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/OPTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReaderTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRuleTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/ThresholdTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/WebhookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/ExpressionContextTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/ExpressionTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/AlarmMockReceiver.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/GRPChookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/welink/WeLinkHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/resources/alarm-settings.yml
  oap-server/server-alarm-plugin/src/test/resources/log4j2-test.xml
  oap-server/server-bootstrap/pom.xml
Labels: backend

#7354 Fix possible version_conflict_engine_exception in bulk execution.
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
Labels: backend, bug

#7349 Fix IllegalArgumentException in PrometheusMetricConverter and NaN value samples in SampleFamily
  CHANGES.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/prometheus/PrometheusMetricConverter.java
Labels: backend, bug

#7347 Fix the persistent session timeout mechanism bug.
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/MetricsEsDAO.java
Labels: backend, bug

#7345 Upgrade agent plugin for ElasticJob 3.0.0 GA version
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/elasticjob-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/elasticjob-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticjob/ElasticJobExecutorInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticjob-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticjob/define/ElasticJobExecutorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/elasticjob-3.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/elasticjob-3.x-scenario/pom.xml
  test/plugin/scenarios/elasticjob-3.x-scenario/support-version.list
Labels: agent, feature, plugin

#7358 remove the logic of generated instance name in KafkaServiceManagementServiceClient prepare phase(#7357)
  CHANGES.md
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaServiceManagementServiceClient.java
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/test/java/org/apache/skywalking/apm/agent/core/kafka/KafkaServiceManagementServiceClientTest.java
Labels: agent, bug, plugin

#7364 Improve okhttp plugin performance by optimizing Class.getDeclaredField().
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/okhttp-common/src/main/java/org/apache/skywalking/apm/plugin/okhttp/common/AsyncCallInterceptor.java
  apm-sniffer/apm-sdk-plugin/okhttp-common/src/main/java/org/apache/skywalking/apm/plugin/okhttp/common/RealCallInterceptor.java
Labels: agent, chore, plugin

#7367 Add Thread and ClassLoader Metrics for the self-observability and otel-oc-rules
  CHANGES.md
  oap-server/server-bootstrap/src/main/resources/fetcher-prom-rules/self.yaml
  oap-server/server-bootstrap/src/main/resources/otel-oc-rules/oap.yaml
  oap-server/server-bootstrap/src/main/resources/ui-initialized-templates/self-observability.yml
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/metrics/MetricsQuery.java
Labels: backend, enhancement

#7370 When client invoke cancel, it will trigger onCancel, not onComplete
  apm-sniffer/apm-sdk-plugin/grpc-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/grpc/v1/server/TracingServerCallListener.java
Labels: agent, bug, plugin

#7372 Avoid "select *" query
  CHANGES.md
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2TraceQueryDAO.java
Labels: backend, enhancement, plugin

#7378 ES storage support set order of index template.
  CHANGES.md
  docs/en/setup/backend/backend-storage.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ITElasticSearchClient.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch7-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch7/client/ElasticSearch7Client.java
Labels: backend, feature

#7385 Fix `GRPCLogClientAppender` console warning.
  CHANGES.md
  apm-application-toolkit/apm-toolkit-logback-1.x/src/main/java/org/apache/skywalking/apm/toolkit/log/logback/v1/x/log/GRPCLogClientAppender.java
Labels: agent, bug, plugin

#7384 Log sampler migrate from qps to rpm
  CHANGES.md
  dist-material/config-examples/lal.yaml
  docs/en/concepts-and-designs/lal.md
  oap-server/analyzer/log-analyzer/src/main/java/org/apache/skywalking/oap/log/analyzer/dsl/spec/sink/sampler/RateLimitingSampler.java
  oap-server/analyzer/log-analyzer/src/test/java/org/apache/skywalking/oap/log/analyzer/dsl/DSLTest.java
  oap-server/server-bootstrap/src/main/resources/lal/envoy-als.yaml
  oap-server/server-core/src/main/proto/RemoteService.proto
Labels: chore

#7377 Add logging module to load log configuration dynamically
  CHANGES.md
  docs/en/setup/backend/dynamic-config.md
  docs/en/setup/backend/dynamical-logging.md
  docs/menu.yml
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigmapConfigurationWatcherRegister.java
  oap-server/server-configuration/configuration-k8s-configmap/src/test/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigmapConfigWatcherRegisterTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/logging/LoggingConfigWatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/logging/log4j/OapConfiguration.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/logging/log4j/OapConfigurationFactory.java
Labels: backend, core feature

#7389 fix: fix spring gateway plugin npe
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/spring-plugins/spring-webflux-5.x-webclient-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/webclient/WebFluxWebClientInterceptor.java
Labels: agent, bug, plugin

#7391 Fix a missing pom change, which block the release process.
  pom.xml
Labels: bug
