Repository apache/skywalking, pull requests merged in 2021-06, with the labels that each got.

#7048 Delete CODE_OF_CONDUCT.md in favor of ASF-wide COC
  CODE_OF_CONDUCT.md
  README.md
Labels: chore

#7052 Fix Jetty HTTP `TRACE` issue, disable HTTP methods except `POST`.
  CHANGES.md
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/remote/JettyServerTest.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyDefaultHandler.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyHandler.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyJsonHandler.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/jetty/JettyServer.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/GraphQLQueryHandler.java
  oap-server/server-receiver-plugin/skywalking-browser-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/browser/provider/handler/rest/BrowserErrorLogReportBaseServletHandler.java
  oap-server/server-receiver-plugin/skywalking-browser-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/browser/provider/handler/rest/BrowserPerfDataReportServletHandler.java
  oap-server/server-receiver-plugin/skywalking-management-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v8/rest/ManagementServiceKeepAliveHandler.java
  oap-server/server-receiver-plugin/skywalking-management-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/register/provider/handler/v8/rest/ManagementServiceReportPropertiesHandler.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/handler/v8/rest/TraceSegmentReportBaseServletHandler.java
Labels: backend, chore

#7032 kafka transporter code polish
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaProducerManager.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/KafkaFetcherHandlerRegister.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JsonLogHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/LogHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/MeterServiceHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/ProfileTaskHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/ServiceManagementHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/TraceSegmentHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/test/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandlerTest.java
Labels: chore

#7059 Fix: TraceIgnorePathPatterns can't set empty value
  CHANGES.md
  apm-sniffer/optional-plugins/trace-ignore-plugin/src/main/java/org/apache/skywalking/apm/plugin/trace/ignore/TraceIgnoreExtendService.java
Labels: agent, bug

#7062 change log REST endpoint with v3 prefixed
  docs/en/protocols/Log-Data-Protocol.md
  oap-server/server-receiver-plugin/skywalking-log-recevier-plugin/src/main/java/org/apache/skywalking/oap/server/recevier/log/provider/handler/rest/LogReportServiceRestHandler.java
Labels: backend, bug

#7068 Refine backend doc
  docs/en/setup/backend/backend-meter.md
  docs/en/setup/backend/backend-receivers.md
Labels: documentation

#7071 CVE: upgrade snakeyaml to prevent billion laughs attack in dynamic configuration
  .github/workflows/ci-it.yaml
  CHANGES.md
  dist-material/release-docs/LICENSE
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/TraceLatencyThresholdsAndWatcher.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/trace/TraceLatencyThresholdsAndWatcherTest.java
  oap-server/pom.xml
  oap-server/server-configuration/configuration-api/src/main/java/org/apache/skywalking/oap/server/configuration/api/ConfigWatcherRegister.java
  oap-server/server-library/library-util/src/test/java/org/apache/skywalking/oap/server/library/util/PropertyPlaceholderHelperTest.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8SALSServiceMeshHTTPAnalysisTest.java
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, bug

#7070 polish debug logging avoid null value when segment be ignored.
  CHANGES.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/SegmentAnalysisListener.java
Labels: backend, enhancement

#7079 Polich 8.6.0 doc
  .asf.yaml
  docs/en/setup/backend/log-analyzer.md
Labels: documentation

#7090 Upgrade several old dependencies
  dist-material/release-docs/LICENSE
  oap-server/pom.xml
  oap-server/server-starter-es7/pom.xml
  pom.xml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend

#7092 Refine backend doc
  docs/en/setup/backend/backend-setting-override.md
  docs/en/setup/backend/backend-setup.md
Labels: documentation

#7086 Supports modifying span attributes in async mode
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/EntrySpan.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/trace/ExitSpan.java
Labels: agent, core feature, enhancement

#7094 Fix dead link
  changes/changes-8.6.0.md
Labels: chore, documentation

#7100 Fix OAL doc example bug (#7093)
  docs/en/concepts-and-designs/oal.md
Labels: documentation

#7098 Fix OAL doc example bug (#7093)
  docs/en/concepts-and-designs/oal.md
Labels: documentation

#7106 Disable spring sleuth analyzer by default
  CHANGES.md
  docs/en/setup/backend/backend-meter.md
  docs/en/setup/backend/backend-receivers.md
  docs/en/setup/backend/spring-sleuth-setup.md
  oap-server/server-bootstrap/src/main/resources/application.yml
Labels: backend, documentation

#7091 Use MAL to calculate JVM metrics, remove OAL dependency.
  CHANGES.md
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/src/main/assembly/binary.xml
  docs/en/concepts-and-designs/scope-definitions.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/jvm/JVMSourceDispatcher.java
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALLexer.g4
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALParser.g4
  oap-server/server-bootstrap/pom.xml
  oap-server/server-bootstrap/src/main/resources/jvm-metrics-rules/jvm.yaml
  oap-server/server-bootstrap/src/main/resources/oal/java-agent.oal
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMCPU.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMGC.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemory.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemoryPool.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMThread.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/KafkaFetcherProvider.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/test/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandlerTest.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/JVMModuleProvider.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/JVMOALDefine.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/handler/JVMMetricReportServiceHandler.java
  test/e2e/e2e-data/src/main/java/org/apache/skywalking/e2e/metrics/MetricsQuery.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/simple/SimpleE2E.java
Labels: backend, enhancement, feature

#7111 Only count 5xx as error in Envoy ALS receiver
  CHANGES.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/LogEntry2MetricsAdapter.java
Labels: backend, enhancement

#7121 chore: for scheduled tasks, only run on main repo not fork repos
  .github/workflows/ci-it.yaml
  .github/workflows/codeql.yaml
  .github/workflows/docker-ci.yaml
  .github/workflows/e2e.alarm.yaml
  .github/workflows/e2e.cluster.yaml
  .github/workflows/e2e.compat.yaml
  .github/workflows/e2e.event.yaml
  .github/workflows/e2e.go.yaml
  .github/workflows/e2e.istio.yaml
  .github/workflows/e2e.jdk-versions.yaml
  .github/workflows/e2e.js.yaml
  .github/workflows/e2e.kafka.yaml
  .github/workflows/e2e.log.yaml
  .github/workflows/e2e.nodejs.yaml
  .github/workflows/e2e.php.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.python.yaml
  .github/workflows/e2e.so11y.yaml
  .github/workflows/e2e.storages.yaml
  .github/workflows/e2e.ttl.yaml
  .github/workflows/e2e.yaml
Labels: CI settings, chore

#7119 Upgrade OAP dependencies
  CHANGES.md
  apm-webapp/pom.xml
  dist-material/release-docs/LICENSE
  docker/oap/Dockerfile.oap
  docker/ui/Dockerfile.ui
  oap-server/pom.xml
  oap-server/server-cluster-plugin/cluster-consul-plugin/pom.xml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, docker

#7123 Fix markdown format issue.
  CHANGES.md
Labels: chore

#7125 add component id for python Psycopg -> PostgreSQL
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: plugin

#7069 Agent supports the collection of JVM arguments and jar dependencies information.
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/LoadedLibraryCollector.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/ServiceManagementClient.java
  apm-sniffer/apm-agent/src/main/java/org/apache/skywalking/apm/agent/SkyWalkingAgent.java
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaServiceManagementServiceClient.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/instance/InstanceTraffic.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLTableInstaller.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/postgresql/PostgreSQLTableInstaller.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/kafka/KafkaMeterE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/meter/MeterE2E.java
  test/e2e/e2e-test/src/test/resources/expected/cluster/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/cluster/providerInstances.yml
  test/e2e/e2e-test/src/test/resources/expected/gateway/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/gateway/providerInstances.yml
  test/e2e/e2e-test/src/test/resources/expected/go/instances-java.yml
  test/e2e/e2e-test/src/test/resources/expected/lua/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/meter/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/profile/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/simple/instances.yml
  test/e2e/e2e-test/src/test/resources/expected/storage/instances.yml
Labels: agent, feature

#7131 Support authentication for log report channel.
  CHANGES.md
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logging-common/src/main/java/org/apache/skywalking/apm/toolkit/logging/common/log/GRPCLogReportServiceClient.java
Labels: agent, feature

#7132 Remove deprecated nameResolverFactory method.
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/GRPCChannel.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/StandardChannelBuilder.java
Labels: agent, enhancement

#7133 Upgrade commons-lang3 to avoid potential NPE in some JDK versions
  CHANGES.md
  oap-server/pom.xml
  tools/dependencies/known-oap-backend-dependencies-es7.txt
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: dependencies

#7130 Feature: support endpoint name grouping by OpenAPI definitions.
  CHANGES.md
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/StringFormatGroup.java
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/endpoint-grouping-rules.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-bootstrap/src/main/resources/openapi-definitions/serviceA/productAPI-v1.yaml
  oap-server/server-core/pom.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointNameGrouping.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointGroupingRule4Openapi.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointGroupingRuleReader4Openapi.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointGroupingBenchmark4Openapi.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointGroupingRuleReader4OpenapiTest.java
  oap-server/server-core/src/test/resources/openapi-definitions/serviceA/customerAPI-v1.yaml
  oap-server/server-core/src/test/resources/openapi-definitions/serviceA/productAPI-v1.yaml
  oap-server/server-core/src/test/resources/openapi-definitions/serviceA/serviceA-1/customerAPI-a-1-v1.yaml
  oap-server/server-core/src/test/resources/openapi-definitions/serviceB/productAPI-v2.yaml
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/ResourceUtils.java
Labels: backend, feature

#7137 Reorganize document menu.
  docs/en/guides/backend-oal-scripts.md
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/backend-health-check.md
  docs/en/setup/backend/backend-k8s.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/backend-telemetry.md
  docs/en/setup/service-agent/server-agents.md
  docs/menu.yml
Labels: documentation

#7136 Extract dependency management to a bom
  CHANGES.md
  oap-server-bom-es7/pom.xml
  oap-server-bom/pom.xml
  oap-server/analyzer/meter-analyzer/pom.xml
  oap-server/oal-grammar/pom.xml
  oap-server/pom.xml
  oap-server/server-cluster-plugin/cluster-nacos-plugin/pom.xml
  oap-server/server-configuration/configuration-nacos/pom.xml
  oap-server/server-library/library-client/pom.xml
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/pom.xml
  oap-server/server-starter-es7/pom.xml
  pom.xml
Labels: chore, dependencies

#7138 Add FluentBit integration E2E test and doc
  .github/actions/e2e-test/action.yml
  .github/workflows/e2e.log.yaml
  docs/en/setup/backend/log-analyzer.md
  test/e2e/e2e-test/docker/log/docker-compose.fluentbit.yml
  test/e2e/e2e-test/docker/log/fluent-bit/fluent-bit-parser.conf
  test/e2e/e2e-test/docker/log/fluent-bit/fluent-bit-script.lua
  test/e2e/e2e-test/docker/log/fluent-bit/fluent-bit.conf
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/log/FluentBitE2E.java
  test/e2e/e2e-test/src/test/java/org/apache/skywalking/e2e/log/LogE2E.java
Labels: backend

#7139 Add JDK 16 to test matrix, move bom to backend profile
  .github/workflows/e2e.jdk-versions.yaml
  CHANGES.md
  pom.xml
  test/e2e/pom.xml
  test/plugin/archetypes/jvm/src/main/resources/archetype-resources/pom.xml
  test/plugin/archetypes/tomcat/src/main/resources/archetype-resources/pom.xml
  test/plugin/pom.xml
  test/plugin/scenarios/asynchttpclient-scenario/pom.xml
  test/plugin/scenarios/elasticjob-2.x-scenario/pom.xml
  test/plugin/scenarios/elasticsearch-5.x-scenario/pom.xml
  test/plugin/scenarios/exception-checker-spring-scenario/pom.xml
  test/plugin/scenarios/exception-checker-tomcat-scenario/pom.xml
  test/plugin/scenarios/finagle-17.10.x-scenario/pom.xml
  test/plugin/scenarios/finagle-6.44.x-scenario/pom.xml
  test/plugin/scenarios/graphql-12.x-scenario/pom.xml
  test/plugin/scenarios/graphql-8.x-scenario/pom.xml
  test/plugin/scenarios/graphql-9.x-scenario/pom.xml
  test/plugin/scenarios/h2-scenario/pom.xml
  test/plugin/scenarios/httpasyncclient-scenario/pom.xml
  test/plugin/scenarios/mongodb-4.x-scenario/pom.xml
  test/plugin/scenarios/quartz-scheduler-2.x-scenario/pom.xml
  test/plugin/scenarios/retransform-class-scenario/pom.xml
  test/plugin/scenarios/retransform-class-tomcat-scenario/pom.xml
  test/plugin/scenarios/spring-scheduled-scenario/pom.xml
  test/plugin/scenarios/struts2.3-scenario/pom.xml
  test/plugin/scenarios/struts2.5-scenario/pom.xml
  test/plugin/scenarios/thrift-scenario/pom.xml
  test/plugin/scenarios/xxl-job-2.x-scenario/pom.xml
Labels: chore

#7140 Polish log doc
  docs/en/setup/backend/log-analyzer.md
Labels: documentation

#7141 Fix copy/paste doc issue.
  docs/en/setup/backend/log-analyzer.md
Labels: chore

#7099 feat: add neo4j-4.x-plugin
  .github/workflows/plugins-test.3.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/Neo4jPluginConfig.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/Neo4jPluginConstants.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/SessionAcquireConnectionInterceptor.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/SessionBeginTransactionInterceptor.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/SessionConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/SessionRequiredInfo.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/SessionRunInterceptor.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/TransactionRunInterceptor.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/define/NetworkSessionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/define/UnmanagedTransactionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/neo4j/v4x/util/CypherUtils.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/neo4j/v4x/MockMethod.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/neo4j/v4x/MockUnmanagedTransaction.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/neo4j/v4x/SessionAcquireConnectionInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/neo4j/v4x/SessionBeginTransactionInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/neo4j/v4x/SessionConstructorInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/neo4j/v4x/SessionRunInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/neo4j-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/neo4j/v4x/TransactionRunInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
  test/plugin/scenarios/neo4j-4.x-scenario/bin/startup.sh
  test/plugin/scenarios/neo4j-4.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/neo4j-4.x-scenario/configuration.yml
  test/plugin/scenarios/neo4j-4.x-scenario/pom.xml
  test/plugin/scenarios/neo4j-4.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/neo4j-4.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/neo4j/Application.java
  test/plugin/scenarios/neo4j-4.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/neo4j/controller/CaseController.java
  test/plugin/scenarios/neo4j-4.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/neo4j/service/TestCaseService.java
  test/plugin/scenarios/neo4j-4.x-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/neo4j-4.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/neo4j-4.x-scenario/support-version.list
Labels: agent, feature, plugin

#7159 Python celery plugin
  oap-server/server-bootstrap/src/main/resources/component-libraries.yml
Labels: plugin

#7163 Update agent.config
  CHANGES.md
  apm-sniffer/config/agent.config
Labels: agent, bug

#7145 eliminate `now` error at a fixed rate schedule executor
  CHANGES.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/Sample.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/counter/CounterWindow.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/counter/CounterWindowTest.java
Labels: backend, bug

#7176 chore: polish some codes in endpoint name grouping by OpenAPI
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointGroupingBenchmark4Openapi.java
Labels: chore

#7182 Perf: optimize Envoy ALS analyzer performance in high traffic load scenario (reduce ~1cpu in ~10k RPS)
  CHANGES.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/ServiceMetaInfoFactoryImpl.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/FieldsHelper.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/ServiceMetaInfoAdapter.java
Labels: backend, enhancement

#7179 fix the response time of gRPC is not right.
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/grpc-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/grpc/v1/server/ServerInterceptor.java
  apm-sniffer/apm-sdk-plugin/grpc-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/grpc/v1/server/TracingServerCall.java
  apm-sniffer/apm-sdk-plugin/grpc-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/grpc/v1/server/TracingServerCallListener.java
  test/plugin/scenarios/correlation-autotag-scenario/config/expectedData.yaml
  test/plugin/scenarios/grpc-scenario/config/expectedData.yaml
Labels: agent, enhancement, plugin

#7189 revert #7091
  CHANGES.md
  apm-dist-es7/src/main/assembly/binary-es7.xml
  apm-dist/src/main/assembly/binary.xml
  docs/en/concepts-and-designs/scope-definitions.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/jvm/JVMSourceDispatcher.java
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALLexer.g4
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALParser.g4
  oap-server/server-bootstrap/pom.xml
  oap-server/server-bootstrap/src/main/resources/jvm-metrics-rules/jvm.yaml
  oap-server/server-bootstrap/src/main/resources/oal/java-agent.oal
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMCPU.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMGC.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemory.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMMemoryPool.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstanceJVMThread.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/KafkaFetcherProvider.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/test/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandlerTest.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/JVMModuleProvider.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/JVMOALDefine.java
  oap-server/server-receiver-plugin/skywalking-jvm-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/jvm/provider/handler/JVMMetricReportServiceHandler.java
Labels: backend

#7191 perf: trim useless metadata fields in ALS to improve performance
  CHANGES.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/ServiceMetaInfoAdapter.java
Labels: backend, enhancement

#7153 Support prepare and save metrics concurrency
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/BlockingBatchQueue.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/PersistenceTimer.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/BlockingBatchQueueBenchmark.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/BlockingBatchQueueWithLinkedBlockingQueue.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/BlockingBatchQueueWithReentrantLock.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/PersistenceTimerTest.java
Labels: backend, enhancement

#7192 fix slow db dynamic config bug
  CHANGES.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/DBLatencyThresholdsAndWatcher.java
Labels: backend, bug

#7199 Perf: cache regex pattern and result, optimize string concatenation
  CHANGES.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/prometheus/PrometheusMetricConverter.java
  oap-server/oal-rt/src/main/resources/code-templates/metrics/id.ftl
Labels: backend, enhancement

#7201 Perf: cache metrics id and entity id
  CHANGES.md
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockMetrics.java
  oap-server/oal-rt/src/main/resources/code-templates/metrics/id.ftl
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRuleTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/endpoint/EndpointTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/instance/InstanceTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/networkalias/NetworkAddressAlias.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/service/ServiceTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/HistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgLabeledFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/latest/LatestFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Event.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Service.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstance.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/ApdexMetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/CountMetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/HeatMapMetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/LongAvgMetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/MaxLongMetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/MetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/MinLongMetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentMetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentileMetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/PxxMetricsTest.java
Labels: backend, enhancement

#7193 Optimize IDs reading in the persistent worker.
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/IMetricsDAO.java
Labels: backend, core feature

#7204 Fix the queue initial size is not set by max batch size accordingly
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/PersistenceTimer.java
Labels: backend, chore

#7211 Fix broken image path for mssql server in testing.
  test/plugin/scenarios/mssql-jdbc-scenario/configuration.yml
  test/plugin/scenarios/mssql-jtds-scenario/configuration.yml
Labels: test

#7206 Optimize L1 aggregation, enhance gRPC client between L1 and L2 aggregation.
  CHANGES.md
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumerThread.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/IConsumer.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/MultipleChannelsConsumer.java
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsAggregateWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsStreamProcessor.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClient.java
Labels: backend, bug, enhancement

#7212 Doc: update doc to declare that zookeeper 3.5+ is required in cluster coordinator
  CHANGES.md
  docs/en/setup/backend/backend-cluster.md
Labels: documentation

#7171 Add an agent plugin for ShardingSphere 5.0.0-beta
  .github/workflows/plugins-test.2.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/Constant.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/ExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/JDBCRootInvokeInterceptor.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/ParseInterceptor.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/ProxyRootInvokeInterceptor.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/RewriteInterceptor.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/RouteInterceptor.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/define/AbstractShardingSphereV500BetaInstrumentation.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/define/ExecuteInstrumentation.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/define/JDBCRootInvokeInstrumentation.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/define/ParseInstrumentation.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/define/ProxyRootInvokeInstrumentation.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/define/RewriteInstrumentation.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/define/RouteInstrumentation.java
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/shardingsphere-5.0.0-beta-plugin/src/test/java/org/apache/skywalking/apm/plugin/shardingsphere/v500beta/InterceptorTest.java
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/bin/startup.sh
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/config/expectedData.yaml
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/configuration.yml
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/pom.xml
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/Application.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/controller/CaseController.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/entity/Order.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/entity/OrderItem.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/repository/CommonRepository.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/repository/OrderItemRepository.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/repository/OrderRepository.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/service/CommonService.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/api/service/CommonServiceImpl.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/config/ShardingDatabasesAndTablesConfigurationPrecise.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderItemRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/jdbc/JDBCOrderRepositoryImpl.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/repository/service/RawPojoService.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/DataSourceUtil.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/java/org/apache/skywalking/apm/testcase/shardingsphere/service/utility/config/ExampleConfiguration.java
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/src/main/resources/application.properties
  test/plugin/scenarios/shardingsphere-5.0.0-beta-scenario/support-version.list
Labels: agent, feature, plugin
