Repository apache/skywalking, pull requests merged in 2021-09, with the labels that each got.

#7625 Lock Java agent version in E2E tests
  test/e2e/e2e-test/docker/Dockerfile.consumer
  test/e2e/e2e-test/docker/Dockerfile.provider
  test/e2e/e2e-test/docker/kafka/Dockerfile.provider
Labels: test

#7629 refine backend doc
  docs/en/setup/envoy/als_setting.md
  docs/en/setup/envoy/examples/metrics/README.md
  docs/en/setup/envoy/metrics_service_setting.md
Labels: documentation

#7632 Support nacos grouped dynamic configurations.
  CHANGES.md
  docs/en/setup/backend/dynamic-config-nacos.md
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigWatcherRegister.java
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigurationProvider.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/ITNacosConfigurationTest.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigurationTestProvider.java
Labels: backend, feature

#7635 Refine Istio doc
  docs/en/setup/istio/README.md
Labels: documentation

#7637 More document for meter configurations in backend-meter.md
  CHANGES.md
  docs/en/setup/backend/backend-meter.md
Labels: documentation

#7636 Support for filter filtering of int type values
  CHANGES.md
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALParser.g4
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/parser/OALListener.java
  oap-server/oal-rt/src/test/java/org/apache/skywalking/oal/rt/parser/DeepAnalysisTest.java
  oap-server/oal-rt/src/test/java/org/apache/skywalking/oal/rt/parser/ScriptParserTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/NumberMatch.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/StringMatch.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentMetricsTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/NumberMatchTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/expression/StringMatchTest.java
Labels: backend, feature

#7638 Refine service-agent doc
  docs/en/setup/service-agent/browser-agent.md
  docs/en/setup/service-agent/server-agents.md
Labels: documentation

#7565 Support mTLS for gRPC channel
  .github/workflows/e2e.yaml
  CHANGES.md
  docs/en/setup/backend/grpc-security.md
  docs/en/setup/backend/grpc-ssl.md
  docs/menu.yml
  oap-server/server-bootstrap/src/main/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/GRPCServer.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/grpc/ssl/DynamicSslContext.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/ssl/AbstractSslContext.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/ssl/HttpDynamicSslContext.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/ssl/PrivateKeyUtil.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerConfig.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModuleProvider.java
  test/e2e/e2e-test/docker/simple/mtls/client/ca.crt
  test/e2e/e2e-test/docker/simple/mtls/client/client.crt
  test/e2e/e2e-test/docker/simple/mtls/client/client.pem
  test/e2e/e2e-test/docker/simple/mtls/docker-compose.yml
  test/e2e/e2e-test/docker/simple/mtls/server/ca.crt
  test/e2e/e2e-test/docker/simple/mtls/server/server.crt
  test/e2e/e2e-test/docker/simple/mtls/server/server.pem
Labels: backend, feature

#7641 add suffix limit to avoid possible start problems
  CHANGES.md
  docs/en/ui/README.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
Labels: backend, chore

#7647 Support consul grouped dynamic configurations
  CHANGES.md
  docs/en/setup/backend/dynamic-config-consul.md
  oap-server/server-configuration/configuration-consul/src/main/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationProvider.java
  oap-server/server-configuration/configuration-consul/src/main/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationWatcherRegister.java
  oap-server/server-configuration/configuration-consul/src/test/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationTestProvider.java
  oap-server/server-configuration/configuration-consul/src/test/java/org/apache/skywalking/oap/server/configuration/consul/ITConsulConfigurationTest.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/ITNacosConfigurationTest.java
Labels: backend, feature

#7649 Refine UI doc
  docs/en/ui/README.md
Labels: documentation

#7651 Refine UI doc
  docs/en/ui/README.md
Labels: documentation

#7654 Fix `H2MetadataQueryDAO.searchService` doesn't support auto grouping.
  CHANGES.md
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetadataQueryDAO.java
Labels: bug, backend

#7660 Clean up checkstyle import control and unused licenses
  .licenserc.yaml
  apm-checkstyle/CHECKSTYLE_HEAD
  apm-checkstyle/checkStyle.xml
  apm-checkstyle/importControl.xml
  dist-material/release-docs/LICENSE
  dist-material/release-docs/licenses/LICENSE-aspectjweaver.txt
  dist-material/release-docs/licenses/LICENSE-fastjson.txt
  dist-material/release-docs/licenses/LICENSE-gogo-protobuf.txt
  dist-material/release-docs/licenses/LICENSE-grpc-gateway.txt
  dist-material/release-docs/licenses/LICENSE-jedis.txt
  dist-material/release-docs/licenses/LICENSE-jline.txt
  dist-material/release-docs/licenses/LICENSE-minimal-json.txt
  dist-material/release-docs/licenses/LICENSE-percolator-client.txt
  dist-material/release-docs/licenses/LICENSE-reindex-client.txt
  pom.xml
  test/e2e/pom.xml
Labels: chore

#7664 Remove docker-maven-plugin in favor of testcontainers
  dist-material/release-docs/LICENSE
  oap-server/pom.xml
  oap-server/server-cluster-plugin/cluster-consul-plugin/pom.xml
  oap-server/server-cluster-plugin/cluster-consul-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/consul/ITClusterModuleConsulProviderFunctionalTest.java
  oap-server/server-cluster-plugin/cluster-etcd-plugin/pom.xml
  oap-server/server-cluster-plugin/cluster-nacos-plugin/pom.xml
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ITClusterModuleNacosProviderFunctionalTest.java
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/pom.xml
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ITClusterModuleZookeeperProviderFunctionalTest.java
  oap-server/server-configuration/configuration-apollo/pom.xml
  oap-server/server-configuration/configuration-apollo/src/test/java/org/apache/skywalking/oap/server/configuration/apollo/ITApolloConfigurationTest.java
  oap-server/server-configuration/configuration-consul/pom.xml
  oap-server/server-configuration/configuration-consul/src/test/java/org/apache/skywalking/oap/server/configuration/consul/ITConsulConfigurationTest.java
  oap-server/server-configuration/configuration-etcd/pom.xml
  oap-server/server-configuration/configuration-nacos/pom.xml
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/ITNacosConfigurationTest.java
  oap-server/server-configuration/configuration-zookeeper/pom.xml
  oap-server/server-configuration/configuration-zookeeper/src/test/java/org/apache/skywalking/oap/server/configuration/zookeeper/it/ITZookeeperConfigurationTest.java
  oap-server/server-library/library-elasticsearch-client/pom.xml
  pom.xml
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: test

#7668 Bump up commons-compress version and polish LAL debug error message
  dist-material/release-docs/LICENSE
  oap-server-bom/pom.xml
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/LogTestQuery.java
  oap-server/server-query-plugin/query-graphql-plugin/src/test/java/org/apache/skywalking/oap/query/graphql/resolver/LogTestQueryTest.java
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: chore

#7672 Support etcd grouped dynamic configurations.
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/dynamic-config-etcd.md
  oap-server/server-configuration/configuration-etcd/src/main/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigWatcherRegister.java
  oap-server/server-configuration/configuration-etcd/src/test/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigurationTestProvider.java
  oap-server/server-configuration/configuration-etcd/src/test/java/org/apache/skywalking/oap/server/configuration/etcd/ITEtcdConfigurationTest.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, feature

#7673 Fix dev image tag name
  .github/workflows/publish-docker.yaml
Labels: docker, chore

#7676 chore: Unified the config word `namespace` in the project
  CHANGES.md
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/backend-storage.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/dynamic-config-zookeeper.md
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ClusterModuleZookeeperConfig.java
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ClusterModuleZookeeperProvider.java
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ITClusterModuleZookeeperProviderFunctionalTest.java
  oap-server/server-configuration/configuration-zookeeper/src/main/java/org/apache/skywalking/oap/server/configuration/zookeeper/ZookeeperConfigWatcherRegister.java
  oap-server/server-configuration/configuration-zookeeper/src/main/java/org/apache/skywalking/oap/server/configuration/zookeeper/ZookeeperConfigurationProvider.java
  oap-server/server-configuration/configuration-zookeeper/src/main/java/org/apache/skywalking/oap/server/configuration/zookeeper/ZookeeperServerSettings.java
  oap-server/server-configuration/configuration-zookeeper/src/test/java/org/apache/skywalking/oap/server/configuration/zookeeper/it/ITZookeeperConfigurationTest.java
  oap-server/server-configuration/configuration-zookeeper/src/test/java/org/apache/skywalking/oap/server/configuration/zookeeper/ut/MockZookeeperConfigWatcherRegister.java
  oap-server/server-configuration/configuration-zookeeper/src/test/java/org/apache/skywalking/oap/server/configuration/zookeeper/ut/ZookeeperConfigWatcherRegisterTestCase.java
  oap-server/server-configuration/configuration-zookeeper/src/test/resources/application.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  tools/profile-exporter/application.yml
Labels: backend, chore

#7679 Update the latest architecture diagram references
  docs/en/concepts-and-designs/overview.md
Labels: documentation

#7680 Use the jre image as the base image
  .github/workflows/e2e.istio.yaml
  .github/workflows/e2e.jdk-versions.yaml
  CHANGES.md
  docker/oap/Dockerfile.oap
  docker/ui/Dockerfile.ui
Labels: docker

#7685 Support apollo grouped dynamic configurations
  CHANGES.md
  docs/en/setup/backend/dynamic-config-apollo.md
  oap-server/server-configuration/configuration-apollo/src/main/java/org/apache/skywalking/oap/server/configuration/apollo/ApolloConfigWatcherRegister.java
  oap-server/server-configuration/configuration-apollo/src/test/java/org/apache/skywalking/oap/server/configuration/apollo/ApolloConfigurationTestProvider.java
  oap-server/server-configuration/configuration-apollo/src/test/java/org/apache/skywalking/oap/server/configuration/apollo/ITApolloConfigurationTest.java
  oap-server/server-configuration/configuration-apollo/src/test/resources/docker/docker-compose.yaml
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, feature

#7694 Update user page link
  README.md
Labels: chore

#7696 Fix "ProfileThreadSnapshotQuery.queryProfiledSegments" adopts a wrong sort function
  CHANGES.md
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/ProfileThreadSnapshotQuery.java
Labels: bug, backend

#7698 Fix that `sortMetrics` should only return `long` not `double`
  docs/en/setup/backend/log-analyzer.md
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/AggregationQueryEsDAO.java
Labels: bug

#7707 Add agent compatibility doc for the first time.
  docs/en/setup/service-agent/agent-compatibility.md
  docs/menu.yml
Labels: documentation

#7709 Support gRPC sync grouped dynamic configurations.
  CHANGES.md
  docs/en/setup/backend/dynamic-config-service.md
  oap-server/server-configuration/grpc-configuration-sync/pom.xml
  oap-server/server-configuration/grpc-configuration-sync/src/main/java/org/apache/skywalking/oap/server/configuration/grpc/GRPCConfigWatcherRegister.java
  oap-server/server-configuration/grpc-configuration-sync/src/main/proto/configuration-service.proto
  oap-server/server-configuration/grpc-configuration-sync/src/test/java/org/apache/skywalking/oap/server/configuration/grpc/GRPCConfigurationTest.java
  oap-server/server-configuration/grpc-configuration-sync/src/test/java/org/apache/skywalking/oap/server/configuration/grpc/MockGRPCConfigService.java
  oap-server/server-configuration/grpc-configuration-sync/src/test/resources/log4j2.xml
Labels: backend, feature

#7710 Fix that `Query` cannot be updated after it's set in `SearchBuilder`
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/search/MatchQuery.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/search/SearchBuilder.java
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/requests/search/SearchBuilderTest.java
  pom.xml
Labels: bug, backend

#7716 Fix a typo in endpoint-grouping-rules document
  CHANGES.md
  docs/en/setup/backend/endpoint-grouping-rules.md
Labels: documentation

#7720 Fix H2EventQueryDAO doesn't sort data by Event.START_TIME and uses a wrong pagination query
  CHANGES.md
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2EventQueryDAO.java
Labels: bug, backend, plugin

#7717 Fixed bug #7706. Make LogHandler of kafka-fetcher-plugin can recognize namespace.
  CHANGES.md
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JsonLogHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/LogHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/test/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/LogHandlerTest.java
Labels: bug, backend

#7691 Improve the speed of writing TiDB by batching the SQL execution
  CHANGES.md
  docs/en/setup/backend/backend-storage.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/test/java/org/apache/skywalking/oap/server/starter/config/ApplicationConfigLoaderTestCase.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/BatchSQLExecutor.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/SQLExecutor.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/H2StorageConfig.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/H2StorageProvider.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2BatchDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLStorageConfig.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLStorageProvider.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/postgresql/PostgreSQLStorageConfig.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/postgresql/PostgreSQLStorageProvider.java
  oap-server/server-storage-plugin/storage-tidb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/tidb/TiDBStorageProvider.java
Labels: backend, enhancement

#7737 Fix wrong service name when IP is node IP in `k8s-mesh`
  CHANGES.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8SServiceRegistry.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/KubernetesNodeRegistry.java
Labels: bug

#7731 Replace `mget` with ids' query as `mget` doesn't apply on aliases
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/client/DocumentClient.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/MetricsEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetricsQueryEsDAO.java
Labels: bug, backend

#7746 Support dynamic configurations for openAPI endpoint name grouping rule
  CHANGES.md
  docs/en/setup/backend/dynamic-config.md
  docs/en/setup/backend/endpoint-grouping-rules.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointGroupingRuleReader4Openapi.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointNameGroupingRule4OpenapiWatcher.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointNameGroupingRule4OpenapiWatcherTest.java
Labels: backend, feature

#7736 Add Alibaba Druid plugin
  CHANGES.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#7755 Add component definition for HikariCP.
  CHANGES.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend, chore

#7760 Update ttl.md to add another 2 types of model relating to recordTTL
  docs/en/setup/backend/ttl.md
Labels: documentation

#7767 Fix 404 links
  docs/en/concepts-and-designs/manual-sdk.md
  docs/en/setup/envoy/examples/metrics/README.md
Labels: chore

#7772 Only report `bug warning` in precise conditions.
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/ITElasticSearchTest.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
Labels: enhancement

#7781 Move grouping doc from metrics to advanced.
  docs/menu.yml
Labels: documentation

#7784 Fix license of netty-tcnative-boringssl-static
  dist-material/release-docs/LICENSE
Labels: documentation

#7787 Fix `Hour`/`Day` dimensionality metrics and `Slow SQL sampling` are not accurate
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/PersistenceWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNWorker.java
Labels: bug, core feature, high priority

#7788 Add component definition for Fastjson.
  CHANGES.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend, chore

#7790 Fix entity naming mechanism failure in MAL
  CHANGES.md
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/AnalyzerTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ScopeTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/MeterEntity.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/HistogramFunctionTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunctionTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramFunctionTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunctionTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgLabeledFunctionTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/latest/LatestFunctionTest.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/ZabbixMetricsTest.java
Labels: bug, core feature, backend

#7798 Add `socketTimeout` back to the new implementation
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/ElasticSearchBuilder.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/bulk/BulkProcessor.java
Labels: bug, backend

#7799 Upgrade netty version to 4.1.68.Final to avoid cve-2021-37136
  CHANGES.md
  dist-material/release-docs/LICENSE
  oap-server-bom/pom.xml
  pom.xml
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, dependencies

#7807 remove unused defines
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandler.java
Labels: enhancement

#7811 Fix words in alarm doc.
  docs/en/setup/backend/backend-alarm.md
Labels: documentation

#7810 Support E2E testing satellite native protocols
  .github/actions/infra-e2e-test/action.yml
  .github/workflows/e2e.satellite.yaml
  test/e2e-v2/cases/satellite/Dockerfile.satellite
  test/e2e-v2/cases/satellite/native-protocols/docker-compose.yml
  test/e2e-v2/cases/satellite/native-protocols/e2e.yaml
  test/e2e-v2/cases/satellite/native-protocols/expected/dependency-services.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/etcd-put.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/event-list.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/logs-list.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/metrics-has-value.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/profile-create.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/profile-list.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/profile-segment-analyze.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/profile-segment-detail.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/profile-segment-list.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/service-endpoint.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/service-instance.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/service.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/trace-info-detail.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/trace-users-detail.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/traces-list.yml
  test/e2e-v2/cases/satellite/native-protocols/lal.yaml
  test/e2e-v2/cases/satellite/native-protocols/satellite_config.yaml
  test/e2e-v2/java-test-service/Dockerfile.consumer
  test/e2e-v2/java-test-service/Dockerfile.provider
  test/e2e-v2/java-test-service/e2e-service-consumer/pom.xml
  test/e2e-v2/java-test-service/e2e-service-consumer/src/main/java/org/apache/skywalking/e2e/E2EConfiguration.java
  test/e2e-v2/java-test-service/e2e-service-consumer/src/main/java/org/apache/skywalking/e2e/Service1Application.java
  test/e2e-v2/java-test-service/e2e-service-consumer/src/main/java/org/apache/skywalking/e2e/User.java
  test/e2e-v2/java-test-service/e2e-service-consumer/src/main/java/org/apache/skywalking/e2e/controller/HealthController.java
  test/e2e-v2/java-test-service/e2e-service-consumer/src/main/java/org/apache/skywalking/e2e/controller/UserController.java
  test/e2e-v2/java-test-service/e2e-service-consumer/src/main/resources/application.yml
  test/e2e-v2/java-test-service/e2e-service-provider/pom.xml
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/KeyValue.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/Service0Application.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/User.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/UserRepo.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/controller/AlarmController.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/controller/FileLogController.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/controller/HealthController.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/controller/LogController.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/controller/UserController.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/org/apache/skywalking/e2e/lua/LuaController.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/test/apache/skywalking/e2e/profile/CreateUser.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/java/test/apache/skywalking/e2e/profile/ProfileController.java
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/resources/application.yml
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/resources/log4j.properties
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/resources/log4j2.xml
  test/e2e-v2/java-test-service/e2e-service-provider/src/main/resources/logback.xml
  test/e2e-v2/java-test-service/pom.xml
  test/e2e-v2/script/docker-compose/base-compose.yml
  test/e2e-v2/script/prepare/setup-e2e-shell/install-etcdctl.sh
  test/e2e-v2/script/prepare/setup-e2e-shell/install-swctl.sh
  test/e2e-v2/script/prepare/setup-e2e-shell/install-yq.sh
  test/e2e-v2/script/prepare/setup-e2e-shell/install.sh
  test/e2e-v2/script/prepare/setup-oap/download-mysql.sh
  test/e2e-v2/script/prepare/setup-oap/log4j2.xml
Labels: test

#7821 Add tag management to e2e-v2
  .github/actions/infra-e2e-test/action.yml
  test/e2e-v2/cases/satellite/Dockerfile.satellite
  test/e2e-v2/cases/satellite/native-protocols/e2e.yaml
  test/e2e-v2/cases/satellite/native-protocols/expected/dependency-services.yml
  test/e2e-v2/java-test-service/Dockerfile.provider
  test/e2e-v2/script/docker-compose/base-compose.yml
  test/e2e-v2/script/env
  test/e2e-v2/script/prepare/setup-e2e-shell/install-swctl.sh
Labels: test

#7826 test: fix that E2E is not run, also add ElasticSearch 7.15 to test matrix
  .github/actions/e2e-test/action.yml
  .github/workflows/ci-it.yaml
  .github/workflows/e2e.istio.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.storages.yaml
  CHANGES.md
  apm-dist/src/main/assembly/binary.xml
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/ElasticSearchVersion.java
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/ITElasticSearchTest.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TraceQueryEsDAO.java
  oap-server/server-tools/profile-exporter/pom.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/pom.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-exporter-es/src/main/java/org/apache/skywalking/oap/server/tool/profile/exporter/ProfileSnapshotExporter.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-exporter/pom.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-exporter/src/main/assembly/assembly.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-server-mock/pom.xml
  test/e2e/e2e-service-provider/pom.xml
  test/e2e/e2e-test/docker/event/docker-compose.yml
  test/e2e/e2e-test/docker/profile/docker-compose.es.yml
  test/e2e/e2e-test/docker/profile/docker-compose.es6.yml
  test/e2e/e2e-test/docker/profile/docker-compose.es7.yml
  test/e2e/e2e-test/docker/storage/docker-compose.es.yml
  test/e2e/e2e-test/docker/storage/docker-compose.es6.yml
  test/e2e/e2e-test/docker/storage/docker-compose.es7.10.yml
  test/e2e/e2e-test/docker/storage/docker-compose.es7.14.yml
  test/e2e/pom.xml
Labels: bug, test

#7827 Replace e2e simple cases to v2
  .github/workflows/e2e.jdk-versions.yaml
  .github/workflows/e2e.yaml
  CHANGES.md
  test/e2e-v2/cases/simple/auth/docker-compose.yml
  test/e2e-v2/cases/simple/auth/e2e.yaml
  test/e2e-v2/cases/simple/expected/dependency-services.yml
  test/e2e-v2/cases/simple/expected/metrics-has-value.yml
  test/e2e-v2/cases/simple/expected/service-endpoint.yml
  test/e2e-v2/cases/simple/expected/service-instance.yml
  test/e2e-v2/cases/simple/expected/service.yml
  test/e2e-v2/cases/simple/expected/trace-info-detail.yml
  test/e2e-v2/cases/simple/expected/traces-list.yml
  test/e2e-v2/cases/simple/jdk/docker-compose.yml
  test/e2e-v2/cases/simple/jdk/e2e.yaml
  test/e2e-v2/cases/simple/mtls/client/ca.crt
  test/e2e-v2/cases/simple/mtls/client/client.crt
  test/e2e-v2/cases/simple/mtls/client/client.pem
  test/e2e-v2/cases/simple/mtls/docker-compose.yml
  test/e2e-v2/cases/simple/mtls/e2e.yaml
  test/e2e-v2/cases/simple/mtls/server/ca.crt
  test/e2e-v2/cases/simple/mtls/server/server.crt
  test/e2e-v2/cases/simple/mtls/server/server.pem
  test/e2e-v2/cases/simple/ssl/ca/ca.crt
  test/e2e-v2/cases/simple/ssl/certs/ca.crt
  test/e2e-v2/cases/simple/ssl/certs/server-key.pem
  test/e2e-v2/cases/simple/ssl/certs/server.crt
  test/e2e-v2/cases/simple/ssl/docker-compose.yml
  test/e2e-v2/cases/simple/ssl/e2e.yaml
Labels: test

#7829 Revert mis-change, which makes the endpoint dependency breaking.
  CHANGES.md
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TopologyQueryEsDAO.java
Labels: bug, backend

#7813 Add component definition for Jackson.
  CHANGES.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#7843 Fix zipkin receiver is not packaged into dist
  CHANGES.md
  oap-server/server-starter/pom.xml
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: bug

#7846 Add OpenSearch E2E back
  .github/workflows/e2e.storages.yaml
Labels: test, chore
