Repository apache/skywalking, pull requests merged in 2022-04, with the labels that each got.

#8781 Upgrade depdencies
  CHANGES.md
  apm-webapp/pom.xml
  dist-material/release-docs/LICENSE
  oap-server-bom/pom.xml
  oap-server/server-library/library-client/pom.xml
  pom.xml
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: dependencies

#8785 Add profiling doc
  CHANGES.md
  docs/en/concepts-and-designs/probe-introduction.md
  docs/en/concepts-and-designs/sdk-profiling.md
  docs/en/concepts-and-designs/service-mesh-probe.md
  docs/menu.yml
Labels: documentation

#8798 Add a doc for virtual database.
  CHANGES.md
  docs/en/setup/service-agent/virtual-database.md
  docs/menu.yml
Labels: documentation

#8803 Rewrite UI introduction
  CHANGES.md
  docs/en/setup/backend/ui-setup.md
  docs/en/setup/service-agent/server-agents.md
  docs/en/ui/README.md
  docs/menu.yml
Labels: documentation

#8804 Polish doc readme.
  docs/README.md
Labels: documentation

#8805 Fix wrong ignore paths in GHA workflows
  .github/workflows/skywalking.yaml
Labels: CI settings, chore

#8811 Bump up versions for Apache httpclient, commons-io, postgresql
  CHANGES.md
  apm-webapp/pom.xml
  dist-material/release-docs/LICENSE
  oap-server-bom/pom.xml
  pom.xml
  test/e2e-v2/java-test-service/e2e-service-provider/pom.xml
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: dependencies

#8813 Update `k8s-monitoring`, `backend-telemetry` and `v9-version-upgrade` doc for v9.
  CHANGES.md
  docs/en/FAQ/v9-version-upgrade.md
  docs/en/setup/backend/backend-k8s-monitoring.md
  docs/en/setup/backend/backend-telemetry.md
  docs/en/setup/backend/otel-collector-config.yaml
  docs/en/setup/backend/otel-collector-oap.yaml
Labels: documentation

#8819 Add trace of Browser dashboard
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-app.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-page.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-version.json
Labels: UI

#8821 Add ui-template missing unit
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh_cp/mesh-control-plane-service.json
Labels: UI

#8826 Fix nits in release doc
  .github/workflows/skywalking-fake.yaml
  docs/en/guides/How-to-release.md
Labels: documentation, chore

#8751 Fix wrong example in doc, sync Python E2E version and adjust E2E
  docs/en/protocols/HTTP-API-Protocol.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/enumeration/Language.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8SServiceRegistry.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/KubernetesNodeRegistry.java
  pom.xml
  test/e2e-v2/cases/nodejs/expected/service-instance-consumer-nodejs.yml
  test/e2e-v2/cases/nodejs/expected/service-instance-provider-nodejs.yml
  test/e2e-v2/cases/python/Dockerfile.python
  test/e2e-v2/cases/python/consumer.py
  test/e2e-v2/cases/python/expected/service-instance-consumer-py.yml
  test/e2e-v2/cases/python/expected/service-instance-provider-py-kafka.yml
  test/e2e-v2/cases/python/expected/service-instance-provider-py.yml
  test/e2e-v2/cases/python/expected/trace-test-detail.yml
  test/e2e-v2/script/env
Labels: documentation, test

#8836 Move changelog into website.
  .github/PULL_REQUEST_TEMPLATE
  docs/en/changes/changes-5.x.md
  docs/en/changes/changes-6.x.md
  docs/en/changes/changes-7.0.0.md
  docs/en/changes/changes-8.0.0.md
  docs/en/changes/changes-8.0.1.md
  docs/en/changes/changes-8.1.0.md
  docs/en/changes/changes-8.2.0.md
  docs/en/changes/changes-8.3.0.md
  docs/en/changes/changes-8.4.0.md
  docs/en/changes/changes-8.5.0.md
  docs/en/changes/changes-8.6.0.md
  docs/en/changes/changes-8.7.0.md
  docs/en/changes/changes-8.8.0.md
  docs/en/changes/changes-8.8.1.md
  docs/en/changes/changes-8.9.0.md
  docs/en/changes/changes-8.9.1.md
  docs/en/changes/changes-9.0.0.md
  docs/en/changes/changes.md
  docs/menu.yml
Labels: documentation

#8837 Fix unsupported doc format.
  docs/en/changes/changes-5.x.md
  docs/en/changes/changes-6.x.md
  docs/en/changes/changes-7.0.0.md
  docs/en/changes/changes-8.0.0.md
  docs/en/changes/changes-8.0.1.md
  docs/en/changes/changes-8.1.0.md
  docs/en/changes/changes-8.2.0.md
  docs/en/changes/changes-8.3.0.md
  docs/en/changes/changes-8.4.0.md
  docs/en/changes/changes-8.5.0.md
  docs/en/changes/changes-8.6.0.md
  docs/en/changes/changes-8.7.0.md
  docs/en/changes/changes-8.8.0.md
  docs/en/changes/changes-8.8.1.md
  docs/en/changes/changes-8.9.0.md
  docs/en/changes/changes-8.9.1.md
  docs/en/changes/changes-9.0.0.md
  docs/en/changes/changes.md
Labels: documentation

#8838 Create README.md to avoid 404
  changes/README.md
  docs/menu.yml
Labels: documentation

#8841 Add Apache ShenYu (incubating) component ID (#8796)
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#8842 Update doc and fix some UI nits
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-k8s-monitoring.md
  docs/en/setup/backend/backend-telemetry.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-instance.json
Labels: bug, documentation, UI

#8851 [CI] set up Java explicitly and use the built-in cache mechanism
  .github/workflows/skywalking.yaml
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/KubernetesNodeRegistry.java
  tools/dependencies/check-LICENSE.sh
Labels: CI settings, chore

#8848 Fix Zipkin receiver: Decode spans error, missing `Layer` for V9 and wrong time bucket for generate Service and Endpoint.
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/handler/ZipkinSpanHTTPHandler.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/trace/SpanForward.java
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: bug, backend

#8852 Support BanyanDB global index for entities
  docs/en/changes/changes.md
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/OALRuntime.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/endpoint/EndpointTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/log/AbstractLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/networkalias/NetworkAddressAlias.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SegmentRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/service/ServiceTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/HistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgLabeledFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/latest/LatestFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/browser/manual/errorlog/BrowserErrorLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/ebpf/storage/EBPFProfilingDataRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/BanyanDBGlobalIndex.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/BanyanDBShardingKey.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/Column.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/ElasticSearchMatchQuery.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/BanyanDBExtension.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/ElasticSearchExtension.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/ExtraQueryIndex.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/Model.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumn.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/SQLDatabaseExtension.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumnTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/model/SQLDatabaseExtensionTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/model/StorageModelsTest.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/AnalyzerSetting.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/TimeSeriesUtilsTest.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLTableInstaller.java
  oap-server/server-storage-plugin/storage-zipkin-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/zipkin/ZipkinSpanRecord.java
Labels: core feature, backend

#8853 Add ModelColumn#shouldIndex method
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/Column.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumn.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLTableInstaller.java
Labels: chore

#8857 simplify kafka configuration in cluster mode
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/KafkaFetcherHandlerRegister.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/module/KafkaFetcherConfig.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/KafkaFetcherProvider.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/AbstractKafkaHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/KafkaHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/LogHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/MeterServiceHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/ServiceManagementHandler.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/TraceSegmentHandler.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, plugin

#8874 Fix event can't split service ID into 2 parts
  docs/en/changes/changes.md
  oap-server/analyzer/event-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/event/EventAnalyzerServiceImpl.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Event.java
Labels: bug, backend

#8880 Fix missing change log of UI
  docs/en/changes/changes.md
Labels: documentation

#8898 Upgrade dead-link-checker to check anchors and fix CI
  .dlc.json
  .github/workflows/dead-link-checker.yaml
  README.md
  docs/en/guides/How-to-build.md
  docs/en/guides/asf/committer.md
  docs/en/setup/backend/backend-alarm.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/grpc-security.md
Labels: documentation, chore

#8855 Improve readability and performance
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCore.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/WebhookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/slack/SlackhookCallback.java
Labels: backend, chore

#8909 fix ES flush thread will stop work when flush schedule task have ES connection exception
  docs/en/changes/changes.md
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/bulk/BulkProcessor.java
Labels: bug, backend

#8913 Fix bulk processor initialize multiple times
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/BatchProcessEsDAO.java
Labels: bug, backend

#8828 ADD kafka consumers number default = 1,enhance consumption capacity
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/kafka-fetcher.md
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/KafkaFetcherHandlerRegister.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/module/KafkaFetcherConfig.java
  oap-server/server-starter/src/main/resources/application.yml
  pom.xml
Labels: backend, feature

#8924 Revert "Enhance DataCarrier#MultipleChannelsConsumer to add priority"
  docs/en/changes/changes.md
  oap-server/server-library/library-datacarrier-queue/src/main/java/org/apache/skywalking/oap/server/library/datacarrier/consumer/BulkConsumePool.java
  oap-server/server-library/library-datacarrier-queue/src/main/java/org/apache/skywalking/oap/server/library/datacarrier/consumer/MultipleChannelsConsumer.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: bug, high priority

#8929 Fix the kafka consumer configuration override bug.
  docs/en/changes/changes.md
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/KafkaFetcherHandlerRegister.java
Labels: bug, backend

#8935 Documentation grammar enhancements
  CHANGES.md
  docs/en/setup/backend/backend-alarm.md
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/backend-docker.md
  docs/en/setup/backend/backend-health-check.md
  docs/en/setup/backend/backend-init-mode.md
  docs/en/setup/backend/backend-ip-port.md
  docs/en/setup/backend/backend-k8s-monitoring.md
  docs/en/setup/backend/backend-k8s.md
  docs/en/setup/backend/backend-load-balancer.md
  docs/en/setup/backend/backend-meter.md
  docs/en/setup/backend/backend-setting-override.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/backend-start-up-mode.md
  docs/en/setup/backend/backend-storage.md
  docs/en/setup/backend/backend-telemetry.md
  docs/en/setup/backend/backend-token-auth.md
  docs/en/setup/backend/backend-vm-monitoring.md
  docs/en/setup/backend/backend-zabbix.md
  docs/en/setup/backend/dynamic-config-apollo.md
  docs/en/setup/backend/dynamic-config-configmap.md
  docs/en/setup/backend/dynamic-config-consul.md
  docs/en/setup/backend/dynamic-config-etcd.md
  docs/en/setup/backend/dynamic-config-nacos.md
  docs/en/setup/backend/dynamic-config-service.md
  docs/en/setup/backend/dynamic-config-zookeeper.md
  docs/en/setup/backend/dynamic-config.md
  docs/en/setup/backend/dynamical-logging.md
  docs/en/setup/backend/endpoint-grouping-rules.md
  docs/en/setup/backend/grpc-security.md
  docs/en/setup/backend/kafka-fetcher.md
  docs/en/setup/backend/log-analyzer.md
  docs/en/setup/backend/metrics-exporter.md
  docs/en/setup/backend/mq.md
  docs/en/setup/backend/opentelemetry-receiver.md
  docs/en/setup/backend/prometheus-metrics.md
  docs/en/setup/backend/service-auto-grouping.md
  docs/en/setup/backend/slow-db-statement.md
  docs/en/setup/backend/trace-sampling.md
  docs/en/setup/backend/ui-setup.md
  docs/en/setup/backend/uninstrumented-gateways.md
  docs/en/setup/backend/zipkin-trace.md
  docs/en/setup/envoy/als_setting.md
  docs/en/setup/envoy/examples/metrics/README.md
  docs/en/setup/envoy/metrics_service_setting.md
  docs/en/setup/istio/README.md
  docs/en/setup/service-agent/agent-compatibility.md
  docs/en/setup/service-agent/browser-agent.md
  docs/en/setup/service-agent/server-agents.md
  docs/en/setup/service-agent/virtual-database.md
  docs/en/ui/README.md
Labels: documentation, chore

#8939 Publish snapshot Docker image for data generator
  .github/workflows/publish-docker.yaml
Labels: backend, docker, CI settings

#8947 Chore: polish and add missing MAL test case
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ArithmeticTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/FunctionTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/IncreaseTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/TagFilterTest.java
Labels: test, chore

#8958 fix bug: Even after a rerun of init mode job, TimeSeriesTable ES index not created.
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
Labels: backend, enhancement

#8974 Further remove Jetty references and unused configs
  dist-material/log4j2.xml
  docs/en/setup/backend/backend-expose.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/zipkin-trace.md
  docs/en/setup/envoy/examples/metrics/log4j2.xml
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/http/HTTPServerConfig.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerConfig.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModule.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/ZipkinReceiverConfig.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/ZipkinReceiverProvider.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/log4j2.xml
  oap-server/server-tools/data-generator/src/main/resources/application.yml
  test/e2e-v2/cases/istio/log4j2.xml
  test/e2e-v2/script/prepare/setup-oap/log4j2.xml
Labels: chore

#8976 Add the support eBPF profiling field into the process entity
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/process/ProcessDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/process/ProcessTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/ebpf/EBPFProfilingQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/MetadataQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/enumeration/ProfilingSupportStatus.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Process.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/IMetadataQueryDAO.java
  oap-server/server-receiver-plugin/skywalking-ebpf-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/ebpf/provider/handler/EBPFProcessServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-ebpf-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/ebpf/provider/handler/EBPFProfilingServiceHandler.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
  oap-server/server-storage-plugin/storage-influxdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/influxdb/query/MetadataQuery.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBMetadataQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetadataQueryDAO.java
  test/e2e-v2/cases/profiling/ebpf/expected/process.yml
  test/e2e-v2/cases/rover/process/istio/expected/process.yml
  test/e2e-v2/cases/rover/process/istio/expected/service-instance.yml
  test/e2e-v2/cases/rover/process/istio/expected/service.yml
  test/e2e-v2/script/env
Labels: enhancement

#8977 Add sharding keys to stream records
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/topn/TopN.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/ebpf/storage/EBPFProfilingTaskRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/trace/ProfileTaskLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/trace/ProfileTaskRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/trace/ProfileThreadSnapshotRecord.java
Labels: backend, chore
