Repository apache/skywalking, pull requests merged in 2022-03, with the labels that each got.

#8613 Use the plugin version defined by the Apache maven parent
  CHANGES.md
  oap-server/pom.xml
  oap-server/server-receiver-plugin/receiver-proto/pom.xml
  pom.xml
Labels: chore

#8616 Chore: Unify module name `receiver_zipkin` to `receiver-zipkin`, remove `receiver_jaeger` from `application.yaml`.
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/zipkin-trace.md
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/ZipkinReceiverModule.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/test/java/org/apache/skywalking/oap/server/starter/config/ApplicationConfigLoaderTestCase.java
Labels: bug, documentation, chore

#8615 Set the length of event#parameters to 2000
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Event.java
Labels: backend, enhancement

#8622 Limit the length of Event#parameters
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Event.java
Labels: bug

#8623 Update codeStyle.xml to fix incompatibility
  CHANGES.md
  codeStyle.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Event.java
Labels: chore

#8628 Support large service list query and replace deprecated API of Armeria
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/ElasticSearch.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/client/SearchClient.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/SearchFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/common/CommonSearchFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/search/Scroll.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/search/ScrollBuilder.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/search/SearchParams.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/response/search/SearchResponse.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/EsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/cache/NetworkAddressAliasEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
Labels: backend, feature

#8651 Return all Layer definition names within OAP
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/MetadataQueryService.java
Labels: backend

#8652 Expose more ElasticSearch health check related logs
  CHANGES.md
  dist-material/release-docs/LICENSE
  oap-server-bom/pom.xml
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/ElasticSearchBuilder.java
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, enhancement

#8661 Fix es normal index couldn't apply mapping, setting and update
  CHANGES.md
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
Labels: bug, backend

#8664 Enhance DataCarrier#MultipleChannelsConsumer to add priority
  CHANGES.md
  docs/en/setup/backend/backend-load-balancer.md
  oap-server/server-library/library-datacarrier-queue/src/main/java/org/apache/skywalking/oap/server/library/datacarrier/consumer/BulkConsumePool.java
  oap-server/server-library/library-datacarrier-queue/src/main/java/org/apache/skywalking/oap/server/library/datacarrier/consumer/MultipleChannelsConsumer.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: core feature, backend

#8679 Add storage column attribute `indexOnly`
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/log/AbstractLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SegmentRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/Column.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumn.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumnTest.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v6/codec/V6MappingsDeserializer.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v6/codec/V6MappingsSerializer.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7/codec/V7MappingsDeserializer.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/response/Mappings.java
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/ITElasticSearchTest.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/IndexStructures.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/IndexStructuresTest.java
Labels: backend

#8685 Remove hard requirement of BASE64 encoding for binary field
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/log/AbstractLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SegmentRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/browser/manual/errorlog/BrowserErrorLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profile/ProfileThreadSnapshotRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/type/Convert2Entity.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/type/Convert2Storage.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/type/HashMapConverter.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/HashMapConverterWrapper.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/JDBCConverter.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2AlarmRecordBuilder.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2LogRecordBuilder.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2ManagementDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetricsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2NoneStreamDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2RecordDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2SQLExecutor.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2SegmentRecordBuilder.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2UITemplateManagementDAO.java
  oap-server/server-storage-plugin/storage-zipkin-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/zipkin/ZipkinSpanRecord.java
Labels: core feature, enhancement

#8691 Improve CI with the GHA new feature
  .asf.yaml
  .github/actions/infra-e2e-test/action.yml
  .github/actions/skip/action.yml
  .github/workflows/ci-it.yaml
  .github/workflows/e2e.alarm.yaml
  .github/workflows/e2e.cluster.yaml
  .github/workflows/e2e.event.yaml
  .github/workflows/e2e.go.yaml
  .github/workflows/e2e.istio.yaml
  .github/workflows/e2e.jdk-versions.yaml
  .github/workflows/e2e.js.yaml
  .github/workflows/e2e.kafka.yaml
  .github/workflows/e2e.log.yaml
  .github/workflows/e2e.nodejs.yaml
  .github/workflows/e2e.php.yaml
  .github/workflows/e2e.profiling.yaml
  .github/workflows/e2e.python.yaml
  .github/workflows/e2e.so11y.yaml
  .github/workflows/e2e.storages.yaml
  .github/workflows/e2e.ttl.yaml
  .github/workflows/e2e.yaml
  .github/workflows/skywalking-fake.yaml
  .github/workflows/skywalking.yaml
  CHANGES.md
  docs/en/guides/README.md
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/ITElasticSearchTest.java
  oap-server/server-starter/pom.xml
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-exporter/pom.xml
  pom.xml
  test/e2e-v2/cases/istio/als/e2e.yaml
  test/e2e-v2/cases/istio/metrics/e2e.yaml
  test/e2e-v2/java-test-service/pom.xml
Labels: CI settings, chore

#8692 Remove fake required workflows
  .github/workflows/skywalking-fake.yaml
  .github/workflows/skywalking.yaml
Labels: CI settings, chore

#8703 Add complexity limitation for GraphQL query to avoid malicious query
  CHANGES.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/GraphQLQueryConfig.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/GraphQLQueryHandler.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/GraphQLQueryProvider.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, feature

#8705 Add `Column.shardingKeyIdx` for column definition for BanyanDB
  CHANGES.md
  codeStyle.xml
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/OALRuntime.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/log/AbstractLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/networkalias/NetworkAddressAlias.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SegmentRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/HistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgLabeledFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/latest/LatestFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/browser/manual/errorlog/BrowserErrorLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ScopeDefaultColumn.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/Column.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumn.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumnTest.java
  oap-server/server-storage-plugin/storage-zipkin-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/zipkin/ZipkinSpanRecord.java
Labels: core feature, backend

#8706 Support ElasticSearch template mappings `properties parameters` and `_source` update
  CHANGES.md
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/response/Mappings.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/IndexStructures.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/IndexStructuresTest.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/MockEsInstallTest.java
Labels: backend, feature

#8708 Fix comments.
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/Column.java
Labels: chore

#8719 Fix the configuration of `Aggregation` and `GC Count` metrics for oap self observability(#8707)
  CHANGES.md
  oap-server/server-starter/src/main/resources/fetcher-prom-rules/self.yaml
  oap-server/server-starter/src/main/resources/otel-oc-rules/oap.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/self-observability.yml
  test/e2e-v2/cases/so11y/expected/metrics-has-value-label.yml
  test/e2e-v2/cases/so11y/so11y-cases.yaml
Labels: bug, backend

#8727 Format change logs in a better way.
  CHANGES.md
Labels: documentation, backend

#8730 Sync NodeJS version and adjust E2E
  test/e2e-v2/cases/nodejs/expected/service-instance-consumer-nodejs.yml
  test/e2e-v2/cases/nodejs/expected/service-instance-provider-nodejs.yml
  test/e2e-v2/script/env
Labels: test

#8733 Change to accurate component naming Python FastAPI
  CHANGES.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: chore

#8732 Add one new layers for k8s
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
Labels: backend, enhancement

#8738 Remove redundant exception
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/MeterProcessorTest.java
Labels: backend, test, chore

#8747 Enhance endpoint dependency analysis to support cross threads cases.
  CHANGES.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/AnalyzerModuleProvider.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/CommonAnalysisListener.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/EndpointDepFromCrossThreadAnalysisListener.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/EndpointDependencyBuilder.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/EndpointSourceBuilder.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/NetworkAddressAliasMappingListener.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/RPCAnalysisListener.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/RPCTrafficSourceBuilder.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/ServiceTopologyBuilder.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Endpoint.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EndpointMeta.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EndpointRelation.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/Service.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceInstance.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ServiceRelation.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/TelemetryDataDispatcher.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/EndpointDepFromCrossThreadAnalysisListenerTest.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/trace/provider/parser/listener/RPCAnalysisListenerTest.java
  test/e2e-v2/cases/lua/expected/dependency-services.yml
  test/e2e-v2/script/env
Labels: core feature, backend

#8754 Fix event type of export data, reduce redundancy ThreadLocal in MAL core.
  CHANGES.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/Expression.java
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCExporter.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/TemplateFactory.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/Handler.java
Labels: bug, chore

#8739 Trim tag's key and value in log query.
  CHANGES.md
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/LogQuery.java
Labels: backend, chore

#8755 Refactor IoTDB storage plugin and bump up iotdb-session to 0.12.5
  CHANGES.md
  dist-material/release-docs/LICENSE
  oap-server-bom/pom.xml
  oap-server/server-storage-plugin/storage-iotdb-plugin/pom.xml
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/IoTDBClient.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/IoTDBStorageProvider.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/IoTDBTableMetaInfo.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/base/IoTDBInsertRequest.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/base/IoTDBManagementDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/base/IoTDBMetricsDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/base/IoTDBNoneStreamDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/base/IoTDBRecordDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/cache/IoTDBNetworkAddressAliasDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/management/IoTDBUITemplateManagementDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/profile/IoTDBProfileTaskLogQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/profile/IoTDBProfileTaskQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/profile/IoTDBProfileThreadSnapshotQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBAggregationQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBAlarmQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBBrowserLogQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBEBPFProfilingDataDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBEBPFProfilingScheduleDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBEBPFProfilingTaskDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBEventQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBLogQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBMetadataQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBMetricsQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBTopNRecordsQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBTopologyQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/query/IoTDBTraceQueryDAO.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/utils/IoTDBDataConverter.java
  oap-server/server-storage-plugin/storage-iotdb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/iotdb/utils/IoTDBUtils.java
  test/e2e-v2/cases/alarm/iotdb/docker-compose.yml
  test/e2e-v2/cases/event/iotdb/docker-compose.yml
  test/e2e-v2/cases/log/iotdb/docker-compose.yml
  test/e2e-v2/cases/profiling/trace/iotdb/docker-compose.yml
  test/e2e-v2/cases/storage/iotdb/docker-compose.yml
  test/e2e-v2/cases/ttl/iotdb/docker-compose.yml
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: backend, enhancement

#8769 Reduce false positives from Sonatype Lift
  .lift/config.toml
Labels: CI settings

#8776 Add the Self Observability template of SkyWalking Satellite
  CHANGES.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/meter-analyzer-config/satellite.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/so11y_satellite/so11y-root.json
  test/e2e-v2/cases/so11y/expected/satellite-service.yml
  test/e2e-v2/cases/so11y/satellite-cases.yaml
Labels: so11y

#8780 Reconstruction doc menu for v9
  CHANGES.md
  docs/en/concepts-and-designs/project-goals.md
  docs/en/concepts-and-designs/ui-overview.md
  docs/en/guides/README.md
  docs/menu.yml
Labels: documentation
