Repository apache/skywalking, pull requests merged in 2022-06, with the labels that each got.

#9151 Add instance properties extractor in MAL
  docs/en/changes/changes.md
  docs/en/concepts-and-designs/mal.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/Analyzer.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/EntityDescription/InstanceEntityDescription.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ScopeTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/instance/InstanceTraffic.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/MeterEntity.java
Labels: backend, feature

#9156 Add eBPF agent into probe introduction.
  docs/en/changes/changes.md
  docs/en/concepts-and-designs/probe-introduction.md
Labels: documentation

#9168 Add negative tags search for storage E2E
  test/e2e-v2/cases/storage/expected/empty-traces-list.yml
  test/e2e-v2/cases/storage/storage-cases.yaml
Labels: test, chore

#9178 Add dashboard configuration for on demand log
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s_service/k8s-service-pod.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s_service/k8s-service-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-instance.json
Labels: UI

#9180 Add dashboard configuration for on demand log
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-instance.json
Labels: UI

#9192 Fix invalid links in release docs
  .dlc.json
  docs/en/changes/changes.md
  docs/en/guides/How-to-release.md
Labels: documentation

#9199 ElasticSearch: scroll id should be updated when scrolling as it may change
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/cache/NetworkAddressAliasEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/EBPFProfilingDataEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/zipkin/ZipkinQueryEsDAO.java
Labels: bug, backend

#9205 Mesh: fix only last rule works when multiple rules are defined in metadata-service-mapping.yaml
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/FieldsHelper.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/FieldsHelperTest.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/test/resources/field-helper.msg
Labels: bug, backend

#9211 Add 9.1.0 changelog to the doc
  docs/menu.yml
Labels: documentation

#9212 Change alarm to alerting in doc
  README.md
  docs/en/setup/backend/backend-alarm.md
  docs/menu.yml
Labels: documentation

#9227 Fix a dead link in docs
  docs/en/setup/backend/endpoint-grouping-rules.md
Labels: chore

#9245 Polish readme to adopt latest status
  docs/en/concepts-and-designs/overview.md
Labels: documentation

#9248 Fix broken link in PR template
  .github/PULL_REQUEST_TEMPLATE
Labels: documentation

#9247 Support PagerDuty Alarm Hook
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-alarm.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcher.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandler.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/Rules.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/pagerduty/PagerDutyHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/pagerduty/PagerDutySettings.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReaderTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/pagerduty/PagerDutyHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/resources/alarm-settings.yml
  oap-server/server-starter/src/main/resources/alarm-settings.yml
Labels: backend, feature

#9251 Upgrade Armeria to 1.16.0, Kubernetes Java client to 15.0.1
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  tools/dependencies/known-oap-backend-dependencies.txt
Labels: dependencies

#9252 Support Zipkin kafka collector.
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/zipkin-trace.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/zipkin/ZipkinSpanRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/zipkin/source/ZipkinSpan.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/ZipkinReceiverConfig.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/ZipkinReceiverProvider.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/handler/ZipkinSpanHTTPHandler.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/kafka/KafkaHandler.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/trace/SpanForward.java
  oap-server/server-starter/src/main/resources/application.yml
  test/e2e-v2/cases/zipkin/kafka/docker-compose.yml
  test/e2e-v2/cases/zipkin/kafka/e2e.yaml
  test/e2e-v2/java-test-service/e2e-mock-sender/pom.xml
  test/e2e-v2/java-test-service/e2e-mock-sender/src/main/java/org/apache/skywalking/e2e/E2EConfiguration.java
  test/e2e-v2/java-test-service/e2e-mock-sender/src/main/java/org/apache/skywalking/e2e/controller/ZipkinKafkaProduceController.java
  test/e2e-v2/java-test-service/e2e-mock-sender/src/main/resources/application.yml
Labels: backend, feature

#9276 Update PHP agent
  docs/en/setup/service-agent/agent-compatibility.md
Labels: documentation

#9284 Add component id for Hutool plugin
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#9292 fix some typos
  docs/en/FAQ/install_agent_on_websphere.md
  docs/en/changes/changes-8.6.0.md
  docs/en/setup/backend/on-demand-pod-log.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/input/Entity.java
  test/e2e-v2/cases/storage/tidb/tidbconfig/tidb.toml
Labels: documentation, chore
