Repository apache/skywalking, pull requests merged in 2022-09, with the labels that each got.

#9549 Polish so11y doc and add dashboard doc for so11y
  docs/en/setup/backend/dashboards-so11y-satellite.md
  docs/en/setup/backend/dashboards-so11y.md
  docs/menu.yml
Labels: documentation

#9553 Upgrade CodeQL version to v2
  .github/workflows/codeql.yaml
Labels: CI settings

#9561 Use prepareStatement in H2SQLExecutor#getByIDs
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/ArrayParamBuilder.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2SQLExecutor.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/ArrayParamBuilderTestCase.java
Labels: backend, enhancement

#9562 Add old config format cause the otlp OC handler only supports OAP server 9.2.0
  test/e2e-v2/cases/mysql/prometheus-mysql-exporter/otel-collector-config.yaml
  test/e2e-v2/cases/postgresql/postgres-exporter/otel-collector-config.yaml
  test/e2e-v2/cases/vm/prometheus-node-exporter/otel-collector-config.yaml
Labels: backend, chore

#9567 Bump up snakeyaml to 1.31 for fixing CVE-2022-25857
  apm-webapp/pom.xml
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
Labels: dependencies

#9586 Fix `DurationUtils.convertToTimeBucket` missed verify date format
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/DurationUtils.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/input/Duration.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/query/DurationTest.java
Labels: bug, backend

#9595 Add missing scheme in webapp default configuration
  apm-webapp/src/main/resources/application.yml
Labels: UI

#9601 test: fix unstable log cases
  test/e2e-v2/cases/kafka/log/e2e.yaml
  test/e2e-v2/cases/log/es/e2e.yaml
  test/e2e-v2/cases/log/es/es-sharding/e2e.yaml
  test/e2e-v2/cases/log/expected/logs.yml
  test/e2e-v2/cases/log/expected/service-endpoint.yml
  test/e2e-v2/cases/log/fluent-bit/e2e.yaml
  test/e2e-v2/cases/log/h2/e2e.yaml
  test/e2e-v2/cases/log/log-cases-base.yaml
  test/e2e-v2/cases/log/mysql/e2e.yaml
  test/e2e-v2/cases/log/postgres/e2e.yaml
Labels: test

#9599 Add protect logic to TopN's topNWorkerReportCycle
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNStreamProcessor.java
Labels: chore

#9603 Adapt ElasticSearch 8.1+, migrate from removed APIs to recommended APIs
  docs/en/changes/changes.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/ElasticSearchVersion.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/V78RequestFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/V78TemplateFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/V7DocumentFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/V7IndexFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/V7RequestFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/V7TemplateFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/V81DocumentFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/V81RequestFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/codec/V78Codec.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/codec/V78IndexTemplatesDeserializer.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/codec/V7Codec.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/codec/V7IndexRequestSerializer.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/codec/V7IndexTemplatesDeserializer.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/codec/V7MappingsDeserializer.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/codec/V7UpdateRequestSerializer.java
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/ITElasticSearchTest.java
Labels: backend, enhancement

#9606 chore: Clean jdbc-storage provider unused codes
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/H2StorageProvider.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLStorageProvider.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/postgresql/PostgreSQLStorageProvider.java
Labels: backend, chore

#9610 UI-template: Fix metrics calculation in `general-service/mesh-service/faas-function` top-list dashboard.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-function.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-service.json
Labels: bug, UI

#9608 Add ElasticSearch 8.1.0 and OpenSearch 2.3.0 to test matrix
  .github/workflows/skywalking.yaml
Labels: test

#9614 Support monitoring MySQL slow sql
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-mysql-monitoring.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mysql/mysql-service.json
Labels: documentation, backend, UI

#9627 Add hacktoberfest topic
  .asf.yaml
Labels: Hacktoberfest

#9628 Bump up graphql related dependencies
  .licenserc.yaml
  dist-material/release-docs/LICENSE
  oap-server-bom/pom.xml
Labels: dependencies

#9630 Remove CLI repo link from Concept menu of doc
  docs/menu.yml
Labels: chore

#9632 [Critical] Remove physical index existing check and fix TTL activation bug
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/ttl/DataTTLKeeperTimer.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
Labels: backend, enhancement

#9636 Add `metadata-uid` setup doc about Kubernetes coordinator
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-cluster.md
Labels: documentation

#9637 Chore, fix words
  docs/en/setup/backend/backend-cluster.md
Labels: chore

#9638 Remove `responseCode` fields of all OAL sources, as well as examples to avoid user's confusion.
  docs/en/changes/changes.md
  docs/en/concepts-and-designs/oal.md
  docs/en/concepts-and-designs/scope-definitions.md
Labels: documentation

#9641 Fix dashboard link for virtual cache
  oap-server/server-starter/src/main/resources/ui-initialized-templates/virtual_cache/virtual-cache-root.json
Labels: bug, UI

#9649 Bump up the embedded `swctl` version in OAP Docker image
  Makefile
  docs/en/changes/changes.md
Labels: dependencies

#9663 Fix inconsistent virtual cache describe between code and scope definitions doc
  docs/en/concepts-and-designs/scope-definitions.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/vservice/VirtualCacheProcessor.java
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/vservice/VirtualCacheProcessorTest.java
  oap-server/oal-grammar/src/main/antlr4/org/apache/skywalking/oal/rt/grammar/OALLexer.g4
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/cache/CacheSlowAccessDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/CacheAccess.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/CacheSlowAccess.java
  oap-server/server-starter/src/main/resources/oal/core.oal
Labels: documentation

#9682 Clean up some legacy codes
  test/scripts/env.sh
  tools/releasing/generate-ui-depedencies.py
Labels: chore

#9690 Fix two kernel level bugs.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/HistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgLabeledFunction.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBMetricsQueryDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetricsQueryEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetricsQueryDAO.java
Labels: bug, core feature, high priority

#9694 Fix words
  docs/en/changes/changes.md
Labels: chore

#9551 Fix the wrong watch semantics in Kubernetes watchers
  docs/en/changes/changes.md
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/NamespacedPodListInformer.java
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigurationConfigmapInformer.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesEndpointWatcher.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesNodeWatcher.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesPodWatcher.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesServiceWatcher.java
Labels: bug, backend

#9702 Unify query services and DAOs codes time range condition to `Duration`.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/AlarmQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/BrowserLogQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/LogQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/MetadataQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TagAutoCompleteQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TopologyQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TraceQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/IAlarmQueryDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/IBrowserLogQueryDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/ILogQueryDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/IMetadataQueryDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/ITagAutoCompleteQueryDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/ITopologyQueryDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/ITraceQueryDAO.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/IZipkinQueryDAO.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/AlarmQuery.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/BrowserLogQuery.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/LogQuery.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/MetadataQuery.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/MetadataQueryV2.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/TopologyQuery.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/TraceQuery.java
  oap-server/server-query-plugin/zipkin-query-plugin/src/main/java/org/apache/skywalking/oap/query/zipkin/handler/ZipkinQueryExceptionHandler.java
  oap-server/server-query-plugin/zipkin-query-plugin/src/main/java/org/apache/skywalking/oap/query/zipkin/handler/ZipkinQueryHandler.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBMetadataQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBTagAutocompleteQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBTopologyQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBAlarmQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBBrowserLogQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBLogQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBTraceQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBZipkinQueryDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/AlarmQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/BrowserLogQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/LogQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TagAutoCompleteQueryDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TopologyQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TraceQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/zipkin/ZipkinQueryEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2AlarmQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2BrowserLogQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2LogQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2MetadataQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2TagAutoCompleteQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2TopologyQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2TraceQueryDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/h2/dao/H2ZipkinQueryDAO.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/test/java/org/apache/skywalking/oap/server/tool/profile/exporter/test/ProfileTraceDAO.java
Labels: backend, chore

#9707 Polish academy docs
  docs/en/academy/diagnose-service-mesh-network-performance-with-ebpf.md
  docs/en/academy/list.md
  docs/en/academy/scaling-with-apache-skywalking.md
  docs/en/changes/changes.md
  docs/menu.yml
Labels: documentation

#9708 Polish docs menu
  docs/menu.yml
Labels: documentation, chore

#9710 Remove Prometheuse fetcher, fix MAL Histogram type bug, and reorganize the doc
  docs/en/changes/changes.md
  docs/en/concepts-and-designs/mal.md
  docs/en/setup/backend/backend-telemetry.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/opentelemetry-receiver.md
  docs/en/setup/backend/prometheus-metrics.md
  docs/menu.yml
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/meter/process/MeterProcessor.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/HistogramType.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamilyBuilder.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/prometheus/rule/Rule.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/prometheus/rule/StaticConfig.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/prometheus/rule/Target.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/AnalyzerTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/FunctionTest.java
  oap-server/server-fetcher-plugin/pom.xml
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/pom.xml
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/prometheus/http/HTTPClient.java
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/prometheus/http/HTTPClientHandler.java
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/prometheus/http/HTTPClientInitializer.java
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/prometheus/module/PrometheusFetcherModule.java
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/prometheus/provider/PrometheusFetcherConfig.java
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/prometheus/provider/PrometheusFetcherProvider.java
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleDefine
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/test/java/org/apache/skywalking/oap/server/fetcher/prometheus/provider/rule/RulesTest.java
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/test/resources/fetcher-prom-rules/localhost.yaml
  oap-server/server-fetcher-plugin/prometheus-fetcher-plugin/src/test/resources/log4j2.xml
  oap-server/server-starter/pom.xml
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/fetcher-prom-rules/self.yaml
  test/e2e-v2/cases/kafka/simple-so11y/e2e.yaml
  test/e2e-v2/cases/so11y/docker-compose.yml
  test/e2e-v2/cases/so11y/otel-collector-config.yaml
  test/e2e-v2/script/docker-compose/base-compose.yml
Labels: bug, backend, high priority
