Repository apache/skywalking, pull requests merged in 2022-12, with the labels that each got.

#10073 Polish docs
  docs/en/setup/backend/backend-k8s-network-monitoring.md
  docs/en/setup/backend/dashboards-so11y.md
  docs/menu.yml
Labels: documentation

#10078 Add Micrometer as a component
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#10084 Refactor session cache in MetricsPersistentWorker.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsSessionCache.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/SessionCacheCallback.java
Labels: backend, chore

#10085 Cache enhancement - don't read new metrics from database in minute
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/status/ServerStatusService.java
Labels: core feature, backend, enhancement

#10087 Polish codes - provide default implementations for IConsumer
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCMetricsExporter.java
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/kafka/log/KafkaLogExporter.java
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/kafka/trace/KafkaTraceExporter.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsAggregateWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/TopNWorker.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClient.java
  oap-server/server-library/library-datacarrier-queue/src/main/java/org/apache/skywalking/oap/server/library/datacarrier/consumer/IConsumer.java
  oap-server/server-library/library-datacarrier-queue/src/test/java/org/apache/skywalking/oap/server/library/datacarrier/DataCarrierTest.java
  oap-server/server-library/library-datacarrier-queue/src/test/java/org/apache/skywalking/oap/server/library/datacarrier/consumer/ConsumerTest.java
  oap-server/server-library/library-datacarrier-queue/src/test/java/org/apache/skywalking/oap/server/library/datacarrier/consumer/SampleConsumer.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCBatchDAO.java
Labels: chore

#10098 Remove timeout offset and correct `MetricsExtension` declarations
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/data/MergableBufferedData.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessNetworkRelationIDs.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
Labels: backend, chore

#10113 Fix the component id is reversed in process relation
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationServerSideMetrics.java
Labels: bug

#10114 Polish doc
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-meter.md
  docs/en/setup/backend/micrometer-observations.md
  docs/en/setup/backend/spring-sleuth-setup.md
  docs/menu.yml
  oap-server/server-starter/src/main/resources/meter-analyzer-config/spring-micrometer.yaml
  test/e2e-v2/cases/kafka/meter/docker-compose.yml
  test/e2e-v2/cases/meter/docker-compose.yml
  test/e2e-v2/cases/satellite/native-protocols/docker-compose.yml
Labels: documentation

#10117 Fix bugs caused by #10085. Metrics w/o time prefix in ID missed in cache
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/MetricsExtension.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/searchtag/TagAutocompleteData.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
Labels: bug, backend

#10126 Fix memory leak in Zipkin API
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/handler/ZipkinSpanHTTPHandler.java
Labels: bug, backend

#10127 use `core/persistentPeriod` + 5s as `refresh_interval` for all indices
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/ConfigService.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
Labels: backend, enhancement

#10129 Change `elasticsearch/flushInterval` to 5s(was 15s).
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
Labels: backend, enhancement

#10135 Optimize `flushInterval` of ElasticSearch BulkProcessor
  docs/en/changes/changes.md
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/bulk/BulkProcessor.java
Labels: backend, enhancement

#10141 Use more aggressive persistent period to stable TTL testing.
  test/e2e-v2/cases/ttl/es/docker-compose.yml
Labels: test

#10142 Fix MAL exp combine error when only contains one segment and expPrefix not blank
  docs/en/changes/changes.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/MetricConvert.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/MetricConvertTest.java
Labels: bug, backend, metrics

#10143 Fix changelog
  docs/en/changes/changes.md
Labels: documentation

#10144 Another change log fix
  docs/en/changes/changes.md
Labels: chore

#10148 Fix uncancellable CI jobs due to always() condition
  .github/workflows/skywalking.yaml
Labels: CI settings

#10128 Optimize BanyanDB interval rules
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBIndexInstaller.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageConfig.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MetadataRegistry.java
  test/e2e-v2/script/env
Labels: backend, database

#10159 Fix some metrics session wouldn't expire after TTL.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
Labels: bug, backend

#10164 Support multiple component IDs in the service topology level
  docs/en/changes/changes.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/Analyzer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceCallRelationDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/TCPServiceCallRelationDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/IntList.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/ServiceTopologyBuilder.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/type/Call.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/ElasticSearch.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/DataTypeMapping.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/ElasticSearchExtension.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumnTest.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBTopologyQueryDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/ColumnTypeEsMapping.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TopologyQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/ElasticSearchColumnTypeMappingTestCase.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCTopologyQueryDAO.java
  oap-server/server-storage-plugin/storage-shardingsphere-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/shardingsphere/TCITShardingSphere.java
Labels: core feature, enhancement

#10170 Remove component_id from the instance topology
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceCallRelationDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/TCPServiceInstanceCallRelationDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/ServiceInstanceTopologyBuilder.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/type/Call.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/type/ServiceInstanceNode.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBTopologyQueryDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TopologyQueryEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCTopologyQueryDAO.java
  test/e2e-v2/cases/gateway/expected/dependency-instance.yml
  test/e2e-v2/cases/go/expected/dependency-instance-go.yml
  test/e2e-v2/cases/istio/als/expected/dependency-services-instance-productpage.yml
  test/e2e-v2/cases/lua/expected/dependency-instance.yml
  test/e2e-v2/cases/nodejs/expected/dependency-instance.yml
  test/e2e-v2/cases/php/expected/dependency-instance.yml
  test/e2e-v2/cases/python/expected/dependency-instance-consumer-py.yml
  test/e2e-v2/cases/python/expected/dependency-instance-provider-py-kafka.yml
  test/e2e-v2/cases/python/expected/dependency-instance-provider-py.yml
  test/e2e-v2/cases/simple/expected/dependency-instance.yml
  test/e2e-v2/cases/storage/expected/dependency-instance.yml
Labels: backend, enhancement

#10167 Add Zipkin UI to webapp
  .gitignore
  apm-webapp/pom.xml
  apm-webapp/src/main/java/org/apache/skywalking/oap/server/webapp/ApplicationStartUp.java
  apm-webapp/src/main/java/org/apache/skywalking/oap/server/webapp/Configuration.java
  apm-webapp/src/main/java/org/apache/skywalking/oap/server/webapp/ZipkinProxyService.java
  apm-webapp/src/main/resources/application.yml
  dist-material/release-docs/LICENSE
  dist-material/release-docs/LICENSE.tpl
  dist-material/release-docs/zipkin-LICENSE
  docker/docker-compose.yml
  docker/ui/Dockerfile
  docs/en/changes/changes.md
  docs/en/setup/backend/ui-setup.md
  oap-server-bom/pom.xml
  test/e2e-v2/cases/cluster/zk/es/docker-compose.yml
  test/e2e-v2/cases/gateway/docker-compose.yml
  test/e2e-v2/script/docker-compose/base-compose.yml
Labels: UI, feature

#10176 Make the satellite E2E test more stable.
  docs/en/changes/changes.md
  test/e2e-v2/cases/satellite/native-protocols/docker-compose.yml
Labels: test

#10177 Add istio 1.16 to test matrix
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
Labels: test

#10184 Register ValueColumn as Tag for BanyanDB
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBConverter.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MetadataRegistry.java
Labels: backend, database

#10185 Bump up Zipkin and Zipkin lens UI dependency to 2.24.0
  dist-material/release-docs/LICENSE
  dist-material/release-docs/zipkin-LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
Labels: backend, UI, dependencies

#10188 Bump up netty to 4.1.86
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  pom.xml
Labels: dependencies

#10191 Remove unnecessary additional columns when storage is in logical sharding mode
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/IndexController.java
Labels: backend, enhancement, metrics

#10187 fix ServiceMeshServiceDispatcher overwrite ServiceDispatcher debug file when open SW_OAL_ENGINE_DEBUG.
  docs/en/changes/changes.md
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/OALRuntime.java
Labels: bug, backend

#10181 Refactor Topology query for BanyanDB
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBTopologyQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/AbstractBanyanDBDAO.java
  test/e2e-v2/script/env
Labels: backend, database

#10197 Fix meter value not correct in some MAL function
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumHistogramPercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sumpermin/SumPerMinLabeledFunction.java
Labels: bug, backend, metrics

#10180 Fix cannot display attached events when using Zipkin Lens UI query traces
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TraceQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/query/ISpanAttachedEventQueryDAO.java
  oap-server/server-query-plugin/zipkin-query-plugin/src/main/java/org/apache/skywalking/oap/query/zipkin/handler/ZipkinQueryHandler.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBSpanAttachedEventQueryDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/SpanAttachedEventEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCSpanAttachedEventQueryDAO.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/test/java/org/apache/skywalking/oap/server/tool/profile/exporter/test/SpanAttachedEventQueryDAO.java
Labels: bug, backend, tracing

#10205 Simplify readme
  README.md
Labels: documentation

#10202 Remove time_bucket tag for BanyanDB impl
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBAggregationQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBConverter.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBRecordsQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MetadataRegistry.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBNetworkAddressAliasDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBAlarmQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBEBPFProfilingDataDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBEBPFProfilingTaskDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBProfileTaskQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBProfileThreadSnapshotQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBTraceQueryDAO.java
Labels: backend, enhancement

#10208 Merge `TIME_BUCKET` of `Metrics` and `Record` into `StorageData`
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/record/Record.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/data/StreamData.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/StorageData.java
Labels: chore

#10209 minor typo in the NOTICE file fixed
  NOTICE
Labels: documentation

#10218 Fix `time_bucket` of `ServiceTraffic` not set correctly in `slowSql`
  docs/en/changes/changes.md
  oap-server/analyzer/log-analyzer/src/main/java/org/apache/skywalking/oap/log/analyzer/dsl/spec/extractor/ExtractorSpec.java
Labels: bug, backend

#10219 Fix issues found by showcase cluster of the BanyanDB
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/cache/TopNCacheReadCommand.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/topn/TopN.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBRecordsQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MetadataRegistry.java
Labels: bug, backend, chore, database
