Repository apache/skywalking, pull requests merged in 2022-10, with the labels that each got.

#9726 Polish UI setup doc
  docs/en/ui/README.md
Labels: documentation, chore

#9735 Support skywalking-client-js report empty serviceVersion and `pagePath
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/skywalking-browser-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/browser/provider/parser/performance/BrowserPerfDataDecorator.java
  oap-server/server-receiver-plugin/skywalking-browser-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/browser/provider/parser/performance/PerfDataAnalyzer.java
Labels: bug, backend

#9737 Add Security Notice doc
  docs/en/changes/changes.md
  docs/en/security/README.md
  docs/menu.yml
Labels: documentation

#9741 Limit the max length of trace and log tag's `key=value`
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/zipkin-trace.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/SegmentAnalysisListener.java
  oap-server/analyzer/log-analyzer/src/main/java/org/apache/skywalking/oap/log/analyzer/provider/log/listener/RecordSinkListener.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmStandardPersistence.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/log/AbstractLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/searchtag/Tag.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/searchtag/TagAutocompleteData.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SegmentRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/zipkin/ZipkinSpanRecord.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/trace/SpanForward.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, feature

#9711 (Summer 2022)Feat add golang runtime metrics
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/meter-analyzer-config/go-runtime.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-instance.json
Labels: backend, feature

#9744 optimize the creation conditions of profiling task
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/trace/ProfileTaskMutationService.java
Labels: bug, backend

#9749 fix typo in protocols and setup guide
  docs/en/protocols/Trace-Data-Protocol-v3.md
  docs/en/protocols/query-protocol.md
  docs/en/setup/backend/ui-setup.md
  docs/en/setup/service-agent/agent-compatibility.md
  docs/en/ui/README.md
Labels: chore

#9754 Add PHP component into the issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: chore

#9789 Fix metrics was put into wrong slot of the window in the alarting kernel
  docs/en/changes/changes.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCore.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
Labels: bug, backend

#9790 docs: spelling fix
  docs/en/changes/changes.md
Labels: chore

#9795 Improve Kubernetes Pod lister with field selector
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/k8s/K8sInfoRegistry.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/K8sTagTest.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesPods.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesServices.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/ObjectID.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8SServiceRegistry.java
Labels: backend, enhancement

#9809 Update docs for new data-collecting and query protocols
  docs/en/changes/changes.md
  docs/en/concepts-and-designs/manual-sdk.md
  docs/en/protocols/README.md
  docs/en/protocols/Trace-Data-Protocol-v3.md
  docs/en/protocols/query-protocol.md
Labels: documentation

#9830 Update document `Server Agents` and `Compatibility` for PHP agent.
  docs/en/changes/changes.md
  docs/en/setup/service-agent/agent-compatibility.md
  docs/en/setup/service-agent/server-agents.md
Labels: documentation

#9823 [feat]Add Golang metrics panels in FaaS-Instance dashboard
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-instance.json
Labels: UI, feature

#9838 Remove improper self-obs metrics in JvmMetricsHandler(for Kafka channel)
  docs/en/changes/changes.md
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/handler/JVMMetricsHandler.java
Labels: bug, backend

#9834 Fix typo in UTs
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ScopeTest.java
  oap-server/microbench/src/main/java/org/apache/skywalking/oap/server/microbench/core/profiling/ebpf/EBPFProfilingAnalyzerBenchmark.java
Labels: test, chore

#9843 Do not log grpc envoy receiver client-side streaming cancellation as errors
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/RemoteServiceHandler.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClient.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/AccessLogServiceGRPCHandler.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandler.java
  oap-server/server-receiver-plugin/skywalking-ebpf-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/ebpf/provider/handler/EBPFProfilingServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-event-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/event/grpc/EventGrpcServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/MeshGRPCHandler.java
  oap-server/server-receiver-plugin/skywalking-meter-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/meter/provider/handler/MeterServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-profile-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/profile/provider/handler/ProfileTaskServiceHandler.java
  oap-server/server-receiver-plugin/skywalking-trace-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/trace/provider/handler/v8/grpc/TraceSegmentReportServiceHandler.java
Labels: backend, enhancement

#9856 Do not log error logs when failed to create ElasticSearch index because the index is created already
  docs/en/changes/changes.md
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/client/IndexClient.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/exception/ResponseException.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/HistoryDeleteEsDAO.java
Labels: backend, enhancement

#9884 Remove hacktoberfest label
  .asf.yaml
Labels: chore
