Repository apache/skywalking, pull requests merged in 2022-07, with the labels that each got.

#9296 Add Zipkin query exception handler, response error message for illegal arguments.
  docs/en/changes/changes.md
  oap-server/server-query-plugin/zipkin-query-plugin/src/main/java/org/apache/skywalking/oap/query/zipkin/handler/ZipkinQueryExceptionHandler.java
  oap-server/server-query-plugin/zipkin-query-plugin/src/main/java/org/apache/skywalking/oap/query/zipkin/handler/ZipkinQueryHandler.java
Labels: backend, feature

#9300 Fix missing sourceEndpointOwnerServiceLayer
  docs/en/changes/changes.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/EndpointDepFromCrossThreadAnalysisListener.java
Labels: chore

#9305 Add component ID for Python Bottle plugin
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#9329 Clean up doc about event metrics
  docs/en/changes/changes.md
  docs/en/concepts-and-designs/event.md
  oap-server/server-starter/src/main/resources/alarm-settings.yml
Labels: documentation

#9335 Remove legacy `p99`, `p95`, `p90`, `p75`, `p50` func(s)
  docs/en/changes/changes.md
  docs/en/concepts-and-designs/oal.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/P50Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/P75Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/P90Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/P95Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/P99Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentileMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PxxMetrics.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/metrics/PxxMetricsTest.java
Labels: backend

#9336 Revert #8066 introduced in 8.9.0
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/latest/LatestFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/ApdexMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/CPMMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/CountMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/DoubleAvgMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/HavingDefaultValue.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/LongAvgMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MaxDoubleMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MaxLongMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/Metrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MinDoubleMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/MinLongMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/PercentMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/RateMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/SumMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsPersistentWorker.java
Labels: core feature, backend

#9338 Skip loading UI templates if folder is empty or doesn't exist
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/ResourceUtils.java
  oap-server/server-library/library-util/src/test/java/org/apache/skywalking/oap/server/library/util/ResourceUtilsTest.java
  oap-server/server-starter/src/main/resources/oal/disable.oal
Labels: enhancement

#9339 Optimize elasticsearch query performance by using `_mGet` and physical index name
  docs/en/changes/changes.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/client/DocumentClient.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/DocumentFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v6/V6DocumentFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7/V7DocumentFactory.java
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/ITElasticSearchTest.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/MetricsEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/TimeSeriesUtils.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/AggregationQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/LogQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetricsQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/zipkin/ZipkinQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/TimeSeriesUtilsTest.java
Labels: backend, enhancement

#9347 Dashboard: Add metrics association and fix.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-app.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-page.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-version.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-function-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-function.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-instance-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-endpoint-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-endpoint.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-instance-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-service-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-endpoint.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-instance-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-service-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/virtual_database/virtual-database-service.json
Labels: UI, feature

#9360 Fixes Banynadb race condition
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBBatchDAO.java
Labels: bug

#9378 Update changes.md
  docs/en/changes/changes.md
Labels: documentation, chore

#9385 Fix typo in concepts and designs doc
  docs/en/concepts-and-designs/lal.md
  docs/en/concepts-and-designs/probe-introduction.md
  docs/en/concepts-and-designs/sdk-profiling.md
  docs/en/guides/README.md
Labels: documentation

#9393 Add log widget to general service root
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-root.json
Labels: UI

#9398 Fix save metrics error when perform the network profiling in cluster mode
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/registry/ProcessRegistry.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationServerSideMetrics.java
Labels: bug
