Repository apache/skywalking, pull requests merged in 2023-01, with the labels that each got.

#10237 Bump BanyanDB Java client to 0.3.0-rc0.
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
Labels: dependencies

#10244 Update ShardingSphere version for compatibility verification
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-storage.md
  oap-server/server-storage-plugin/storage-shardingsphere-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/shardingsphere/ShardingSphereTableInstaller.java
  oap-server/server-storage-plugin/storage-shardingsphere-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/shardingsphere/dao/ShardingHistoryDeleteDAO.java
  oap-server/server-storage-plugin/storage-shardingsphere-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/shardingsphere/TCITShardingSphere.java
  oap-server/server-storage-plugin/storage-shardingsphere-plugin/src/test/resources/conf-mysql/server.yaml
  oap-server/server-storage-plugin/storage-shardingsphere-plugin/src/test/resources/docker-compose-mysql.yml
  test/e2e-v2/script/shardingsphere-proxy/base-compose.yml
  test/e2e-v2/script/shardingsphere-proxy/conf-mysql/server.yaml
Labels: backend, enhancement

#10252 Fix TCP service instances are lack of instance properties like `pod` and `namespace`, which causes Pod log not to work for TCP workloads
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/tcp/TCPLogEntry2MetricsAdapter.java
Labels: bug, backend

#10255 Add documentation about replacing Zipkin server with SkyWalking OAP
  docs/en/changes/changes.md
  docs/en/setup/envoy/als_setting.md
  docs/en/setup/zipkin/tracing.md
  docs/menu.yml
Labels: documentation

#10259 Update ShardingSphere version to 5.3.1 release.
  oap-server/server-storage-plugin/storage-shardingsphere-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/shardingsphere/TCITShardingSphere.java
  oap-server/server-storage-plugin/storage-shardingsphere-plugin/src/test/resources/docker-compose-mysql.yml
  test/e2e-v2/script/shardingsphere-proxy/base-compose.yml
Labels: backend, test, dependencies

#10267 Add Lens UI relative docs in Zipkin trace section.
  docs/en/changes/changes.md
  docs/en/setup/backend/zipkin-trace.md
Labels: documentation

#10269 Add documentation for profiling APIs
  docs/en/api/profiling-protocol.md
  docs/en/api/query-protocol.md
  docs/en/changes/changes.md
  docs/menu.yml
Labels: documentation

#10275 Fix gRPC alarm cannot update settings from dynamic configuration sour…
  docs/en/changes/changes.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/GRPCCallback.java
Labels: bug, backend

#10289 Add component ID for Python websocket
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: plugin, python

#10293 Fix change log of #10282
  docs/en/changes/changes.md
Labels: chore

#10296 Enhance OAP HTTP server to support HTTPS
  docs/en/changes/changes.md
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/http/HTTPServer.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/http/HTTPServerConfig.java
Labels: backend, enhancement

#10303 Remove handler scan in otel receiver, manual initialization instead
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/Handler.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/OtelMetricReceiverProvider.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/oc/OCMetricHandler.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricHandler.java
Labels: backend, enhancement

#10324 Update core.oal
  oap-server/server-starter/src/main/resources/oal/core.oal
Labels: chore
