Repository apache/skywalking, pull requests merged in 2023-05, with the labels that each got.

#10749 * Make the log relative docs easier for further more formats support.
  docs/en/changes/changes.md
  docs/en/setup/backend/filelog-native.md
  docs/en/setup/backend/log-agent-native.md
  docs/en/setup/backend/log-analyzer.md
  docs/en/setup/backend/log-otlp.md
  docs/menu.yml
Labels: documentation, chore

#10750 Less hierarchies of log docs.
  docs/menu.yml
Labels: documentation, chore

#10760 Support to export error status trace segments
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/exporter.md
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/ExporterSetting.java
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/kafka/trace/KafkaTraceExporter.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, feature, tracing

#10788 Add Grizzy component id
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#10791 Fix potential NPE in Zipkin receiver when the Span is missing some fields.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/zipkin/ZipkinSpanRecord.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/trace/SpanForward.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCZipkinQueryDAO.java
Labels: bug, backend

#10795 Fix typo in NacosCoordinatorTest
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/NacosCoordinatorTest.java
Labels: test, chore

#10800 Exclude Twitter link check
  .dlc.json
Labels: chore

#10801 Filter out unknown_cluster metric data in `elasticsearch-monitoring`
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/otel-rules/elasticsearch/elasticsearch-cluster.yaml
  oap-server/server-starter/src/main/resources/otel-rules/elasticsearch/elasticsearch-index.yaml
  oap-server/server-starter/src/main/resources/otel-rules/elasticsearch/elasticsearch-node.yaml
Labels: enhancement

#10814 Support RabbitMQ monitoring
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-rabbitmq-monitoring.md
  docs/menu.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/otel-rules/rabbitmq/rabbitmq-cluster.yaml
  oap-server/server-starter/src/main/resources/otel-rules/rabbitmq/rabbitmq-node.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/rabbitmq/rabbitmq-cluster.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/rabbitmq/rabbitmq-node.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/rabbitmq/rabbitmq-root.json
  test/e2e-v2/cases/rabbitmq/docker-compose.yml
  test/e2e-v2/cases/rabbitmq/e2e.yaml
  test/e2e-v2/cases/rabbitmq/expected/instance.yml
  test/e2e-v2/cases/rabbitmq/expected/metrics-has-value-label.yml
  test/e2e-v2/cases/rabbitmq/expected/metrics-has-value.yml
  test/e2e-v2/cases/rabbitmq/expected/service.yml
  test/e2e-v2/cases/rabbitmq/otel-collector-config.yaml
  test/e2e-v2/cases/rabbitmq/rabbitmq-cases.yaml
  test/e2e-v2/cases/rabbitmq/rabbitmq-overview-definitions.json
  test/e2e-v2/cases/rabbitmq/rabbitmq-overview.conf
Labels: backend, feature

#10808 Add OpenTelemetry log protocol support
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-telemetry.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/log-otlp.md
  docs/en/setup/backend/opentelemetry-receiver.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/HandlerInitializationException.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/OtelMetricReceiverConfig.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/OtelMetricReceiverProvider.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryLogHandler.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricHandler.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricRequestProcessor.java
  oap-server/server-starter/src/main/resources/application.yml
  test/e2e-v2/cases/vm/prometheus-node-exporter/docker-compose.yml
Labels: backend, feature, logging

#10837 Fix format in mal and backend-vm-monitoring documents
  docs/en/concepts-and-designs/mal.md
  docs/en/setup/backend/backend-vm-monitoring.md
Labels: documentation

#10812 Migrate to new changes action in CI
  .github/workflows/skywalking.yaml
Labels: CI settings

#10833 Fix typo in dynamic-config docs
  docs/en/setup/backend/backend-meter.md
  docs/en/setup/backend/dynamic-config-consul.md
  docs/en/setup/backend/dynamic-config-etcd.md
Labels: documentation, chore

#10854 Fix format in es and rabbitmq monitor docs
  docs/en/setup/backend/backend-elasticsearch-monitoring.md
  docs/en/setup/backend/backend-rabbitmq-monitoring.md
Labels: documentation, chore

#10853 Add rabbitmq doc chart
  oap-server/server-starter/src/main/resources/ui-initialized-templates/rabbitmq/rabbitmq-root.json
Labels: UI, enhancement

#10859 fix rabbitmq cluster metrics doc
  docs/en/setup/backend/backend-rabbitmq-monitoring.md
Labels: documentation

#10863 Fix a typo in e2e otel-collector-config.yaml
  test/e2e-v2/cases/vm/prometheus-node-exporter/otel-collector-config.yaml
Labels: test, chore
