Repository apache/skywalking, pull requests merged in 2023-11, with the labels that each got.

#11471 Fix Kafka e2e format and typos
  docs/en/changes/changes.md
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/metrics-has-value-gc-label.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/metrics-has-value-instance-label.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/metrics-has-value-source-label.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/kafka-cases.yaml
Labels: bug, test

#11489 Support extract timestamp from patterned datetime string in LAL.
  docs/en/changes/changes.md
  docs/en/concepts-and-designs/lal.md
  oap-server/analyzer/log-analyzer/src/main/java/org/apache/skywalking/oap/log/analyzer/dsl/spec/extractor/ExtractorSpec.java
  oap-server/analyzer/log-analyzer/src/test/java/org/apache/skywalking/oap/log/analyzer/dsl/DSLTest.java
  oap-server/server-query-plugin/query-graphql-plugin/src/test/java/org/apache/skywalking/oap/query/graphql/resolver/LogTestQueryTest.java
  test/e2e-v2/cases/vm/zabbix/docker-compose.yml
Labels: backend, enhancement

#11499 Fix incorrect notes of slowCacheReadThreshold.
  docs/en/changes/changes.md
  graal/graal-server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/application.yml
Labels: documentation, backend

#11506 Support output key parameters in the booting logs.
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/backend-setup.md
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ClusterModuleZookeeperProviderFunctionalIT.java
  oap-server/server-configuration/configuration-apollo/src/test/java/org/apache/skywalking/oap/server/configuration/apollo/ApolloConfigurationIT.java
  oap-server/server-configuration/configuration-consul/src/test/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationIT.java
  oap-server/server-configuration/configuration-etcd/src/test/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigurationIT.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigurationIT.java
  oap-server/server-configuration/configuration-zookeeper/src/test/java/org/apache/skywalking/oap/server/configuration/zookeeper/it/ZookeeperConfigurationIT.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/MockModuleManager.java
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/test/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/mock/MockModuleManager.java
  oap-server/server-library/library-module/src/main/java/org/apache/skywalking/oap/server/library/module/ApplicationConfiguration.java
  oap-server/server-library/library-module/src/main/java/org/apache/skywalking/oap/server/library/module/ModuleDefine.java
  oap-server/server-library/library-module/src/main/java/org/apache/skywalking/oap/server/library/module/ModuleManager.java
  oap-server/server-library/library-module/src/main/java/org/apache/skywalking/oap/server/library/module/ModuleProvider.java
  oap-server/server-library/library-module/src/main/java/org/apache/skywalking/oap/server/library/module/TerminalFriendlyTable.java
  oap-server/server-library/library-module/src/test/java/org/apache/skywalking/oap/server/library/module/ModuleManagerTest.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricRequestProcessorTest.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModuleProvider.java
  oap-server/server-receiver-plugin/skywalking-telegraf-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/telegraf/mock/MockModuleManager.java
  oap-server/server-starter/src/main/java/org/apache/skywalking/oap/server/starter/OAPServerBootstrap.java
  oap-server/server-starter/src/main/java/org/apache/skywalking/oap/server/starter/config/ApplicationConfigLoader.java
  oap-server/server-starter/src/test/java/org/apache/skywalking/oap/server/starter/config/ApplicationConfigLoaderTestCase.java
  oap-server/server-testing/src/main/java/org/apache/skywalking/oap/server/testing/module/mock/MockModuleManager.java
  oap-server/server-tools/profile-exporter/tool-profile-snapshot-bootstrap/src/main/java/org/apache/skywalking/oap/server/tool/profile/exporter/ProfileSnapshotExporterBootstrap.java
Labels: backend, enhancement

#11511 Fix cannot query zipkin traces with `annotationQuery` parameter in the JDBC related storage
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCZipkinQueryDAO.java
  test/e2e-v2/cases/zipkin/zipkin-cases.yaml
Labels: bug, backend, tracing, zipkin

#11516 Revert "Add eclipse-temurin:21-jre as a new image runtime"
  .github/workflows/publish-docker.yaml
  docs/en/changes/changes.md
Labels: test, docker

#11517 Update Groovy 3 to 4.0.15.
  .github/workflows/native-image.yaml
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-graalvm.md
  docs/menu.yml
  graal/Makefile
  graal/apache-skywalking-native-apm/pom.xml
  graal/apache-skywalking-native-apm/src/main/assembly/binary-native-pre.xml
  graal/apache-skywalking-native-apm/src/main/assembly/binary-native.xml
  graal/dist-material/bin/oapService-native-jar.sh
  graal/dist-material/bin/oapService-native.sh
  graal/docker/oap/Dockerfile
  graal/envoy-metrics-receiver-plugin-graal-native/pom.xml
  graal/envoy-metrics-receiver-plugin-graal-native/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/graal/EnvoyMetricReceiverProviderGraal.java
  graal/envoy-metrics-receiver-plugin-graal-native/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  graal/graal-config-generator/configGenerator.sh
  graal/graal-config-generator/deepConfigGenerator.sh
  graal/graal-package-IT/pom.xml
  graal/graal-package-IT/src/test/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/provider/KafkaFetcherModuleStartIT.java
  graal/graal-package-IT/src/test/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/StorageModuleBanyanDBProviderFunctionalIT.java
  graal/graal-package-IT/src/test/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageModuleElasticSearchProviderFunctionalIT.java
  graal/graal-package-IT/src/test/java/org/apache/skywalking/oap/server/telemetry/prometheus/TelemetryPrometheusModuleStartTestIT.java
  graal/graal-server-starter/pom.xml
  graal/graal-server-starter/src/main/java/org/apache/skywalking/oap/graal/NativeConfigFilter.java
  graal/graal-server-starter/src/main/resources/META-INF/native-image/main/jni-config.json
  graal/graal-server-starter/src/main/resources/META-INF/native-image/main/predefined-classes-config.json
  graal/graal-server-starter/src/main/resources/META-INF/native-image/main/proxy-config.json
  graal/graal-server-starter/src/main/resources/META-INF/native-image/main/reflect-config.json
  graal/graal-server-starter/src/main/resources/META-INF/native-image/main/resource-config.json
  graal/graal-server-starter/src/main/resources/META-INF/native-image/main/serialization-config.json
  graal/graal-server-starter/src/main/resources/META-INF/native-image/native-image.properties
  graal/graal-server-starter/src/main/resources/application.yml
  graal/graal-server-starter/src/main/resources/log4j2.xml
  graal/library-util-graal-native/pom.xml
  graal/library-util-graal-native/src/main/java/org/apache/skywalking/oap/server/library/util/ResourceUtils.java
  graal/log-analyzer-graal-native/pom.xml
  graal/log-analyzer-graal-native/src/main/java/org/apache/skywalking/oap/log/analyzer/provider/graal/LogAnalyzerModuleProviderGraal.java
  graal/log-analyzer-graal-native/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  graal/meter-analyzer-graal-native/pom.xml
  graal/meter-analyzer-graal-native/src/main/java/org/apache/skywalking/oap/meter/analyzer/Analyzer.java
  graal/oal-rt-graal-native/pom.xml
  graal/oal-rt-graal-native/src/main/java/org/apache/skywalking/oal/rt/OALRuntime.java
  graal/pom.xml
  graal/server-core-graal-native/pom.xml
  graal/server-core-graal-native/src/main/java/org/apache/skywalking/oap/server/core/oal/rt/OALEngineLoaderService.java
  graal/skywalking-on-graal-compiling-plugin/pom.xml
  graal/skywalking-on-graal-compiling-plugin/src/main/java/org/apache/skywalking/graal/OALGenerator.java
  graal/skywalking-on-graal-compiling-plugin/src/main/java/org/apache/skywalking/graal/OALGeneratorMojo.java
  oap-server-bom/pom.xml
  oap-server/analyzer/log-analyzer/pom.xml
  oap-server/analyzer/meter-analyzer/pom.xml
  pom.xml
Labels: backend, dependencies

#11528 Support packaging the project in JDK21
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/guides/How-to-build.md
  docs/en/setup/backend/backend-setup.md
  pom.xml
Labels: backend

#11526 Isolate MAL CounterWindow cache by metric name.
  docs/en/changes/changes.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/Analyzer.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/MetricConvert.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/DSL.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/Expression.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/Sample.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/AggregationTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ArithmeticTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/BasicTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ExpressionParsingTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/FilterTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/FunctionTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/IncreaseTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/K8sTagTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ScopeTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/TagFilterTest.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ValueFilterTest.java
Labels: backend, metrics

#11535 Update Java and node agents in the e2e
  test/e2e-v2/cases/nodejs/e2e.yaml
  test/e2e-v2/cases/nodejs/expected/service-endpoint-consumer-nodejs.yml
  test/e2e-v2/cases/nodejs/expected/service-endpoint-provider-nodejs.yml
  test/e2e-v2/cases/nodejs/expected/traces-list.yml
  test/e2e-v2/script/env
Labels: test, dependencies

#11544 Fix JDBC Log query order.
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCLogQueryDAO.java
Labels: bug, backend, query, logging

#11554 Change the policy of the queue(DataCarrier) L1 in the metric aggregate worker to IF_POSSIBLE mode
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/MetricsAggregateWorker.java
  oap-server/server-library/library-datacarrier-queue/src/main/java/org/apache/skywalking/oap/server/library/datacarrier/buffer/ArrayBlockingQueueBuffer.java
  oap-server/server-library/library-datacarrier-queue/src/main/java/org/apache/skywalking/oap/server/library/datacarrier/buffer/Buffer.java
  oap-server/server-library/library-datacarrier-queue/src/main/java/org/apache/skywalking/oap/server/library/datacarrier/buffer/Channels.java
  oap-server/server-library/library-datacarrier-queue/src/main/java/org/apache/skywalking/oap/server/library/datacarrier/consumer/ConsumerThread.java
Labels: core feature, backend, metrics

#11558 Support Nginx monitoring.
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-nginx-monitoring.md
  docs/menu.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/lal/nginx.yaml
  oap-server/server-starter/src/main/resources/log-mal-rules/nginx.yaml
  oap-server/server-starter/src/main/resources/otel-rules/nginx/nginx-endpoint.yaml
  oap-server/server-starter/src/main/resources/otel-rules/nginx/nginx-instance.yaml
  oap-server/server-starter/src/main/resources/otel-rules/nginx/nginx-service.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/menu.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/nginx/nginx-endpoint.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/nginx/nginx-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/nginx/nginx-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/nginx/nginx-service.json
  test/e2e-v2/cases/nginx/Dockerfile.nginx
  test/e2e-v2/cases/nginx/docker-compose.yml
  test/e2e-v2/cases/nginx/e2e.yaml
  test/e2e-v2/cases/nginx/expected/logs.yml
  test/e2e-v2/cases/nginx/expected/metrics-has-value-label.yml
  test/e2e-v2/cases/nginx/expected/metrics-has-value.yml
  test/e2e-v2/cases/nginx/expected/service-endpoint.yml
  test/e2e-v2/cases/nginx/expected/service-instance.yml
  test/e2e-v2/cases/nginx/expected/service.yml
  test/e2e-v2/cases/nginx/fluent-bit-script.lua
  test/e2e-v2/cases/nginx/fluent-bit.conf
  test/e2e-v2/cases/nginx/nginx.conf
  test/e2e-v2/cases/nginx/otel-collector-config.yaml
Labels: backend, feature

#11567 Fix `BanyanDB Metadata Query`: make query single instance/process return full tags to avoid NPE.
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBMetadataQueryDAO.java
Labels: bug, database

#11568 Please go2sky E2E to go agent
  docs/en/changes/changes.md
  test/e2e-v2/cases/go/docker-compose.yml
  test/e2e-v2/cases/go/e2e.yaml
  test/e2e-v2/cases/go/expected/dependency-instance-go.yml
  test/e2e-v2/cases/go/expected/dependency-services-go.yml
  test/e2e-v2/cases/go/expected/service-endpoint-go.yml
  test/e2e-v2/cases/go/expected/service.yml
  test/e2e-v2/cases/go/expected/trace-correlation-detail.yml
  test/e2e-v2/cases/go/expected/traces-list-go.yml
  test/e2e-v2/cases/go/service/Dockerfile
  test/e2e-v2/cases/go/service/e2e.go
  test/e2e-v2/cases/go/service/go.mod
  test/e2e-v2/script/env
Labels: test, go

#11576 Fix incorrect apisix metrics otel rules
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/otel-rules/apisix.yaml
  test/e2e-v2/cases/apisix/expected/metrics-has-connection-value-label.yml
Labels: bug, backend

#11580 Fix a typo and missing key in doc
  docs/en/debugging/config_dump.md
Labels: documentation, chore

#11592 Replace Metrics v2 protocol with MQE in UI Topology related templates
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-endpoint.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-service-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-service-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-service.json
Labels: UI

#11588 Group service endpoints into `_abandoned` when endpoints have high ca…
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointNameGrouping.java
Labels: backend, feature

#11570 Remove OpenFunction(FAAS layer) relative UI templates and menu item.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-function-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-function.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-instance-relation.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/faas/faas-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/menu.yaml
Labels: backend, feature

#11591 Support `increase/rate` function in the `MQE` query language.
  docs/en/api/metrics-query-expression.md
  docs/en/changes/changes.md
  oap-server/mqe-grammar/src/main/antlr4/org/apache/skywalking/mqe/rt/grammar/MQELexer.g4
  oap-server/mqe-grammar/src/main/antlr4/org/apache/skywalking/mqe/rt/grammar/MQEParser.g4
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/MQEVisitorBase.java
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/operation/TrendOp.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/mqe/rt/TrendOpTest.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expr/rt/AlarmMQEVerifyVisitor.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expr/rt/AlarmMQEVisitor.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRuleTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRuleTest.java
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/handler/PromQLApiHandler.java
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/rt/exception/ParseErrorListener.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/mqe/rt/MQEVisitor.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/MetricsExpressionQuery.java
  test/e2e-v2/cases/alarm/alarm-settings.yml
  test/e2e-v2/cases/alarm/es/e2e.yaml
  test/e2e-v2/cases/alarm/es/es-sharding/e2e.yaml
  test/e2e-v2/cases/alarm/expected/silence-after-graphql-warn.yml
  test/e2e-v2/cases/alarm/expected/silence-after-webhook.yml
  test/e2e-v2/cases/alarm/expected/silence-before-graphql-warn.yml
  test/e2e-v2/cases/alarm/expected/silence-before-webhook.yml
  test/e2e-v2/cases/alarm/h2/e2e.yaml
  test/e2e-v2/cases/alarm/mysql/e2e.yaml
  test/e2e-v2/cases/alarm/postgres/e2e.yaml
  test/e2e-v2/cases/mqe/expected/trend-OP.yml
  test/e2e-v2/cases/mqe/mqe-cases.yaml
Labels: backend, feature

#11606 Fix kafka monitor doc
  docs/en/setup/backend/backend-kafka-monitoring.md
Labels: documentation

#11608 Update CLI version in E2E Testing to fix the record query when updating the OAP version
  test/e2e-v2/script/env
Labels: test
