Repository apache/skywalking, pull requests merged in 2023-06, with the labels that each got.

#10880 fix wrong widget name of general-service
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-service.json
Labels: UI, enhancement

#10886 Add OpenSearch 2.8.0 to test case
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
Labels: test

#10904 Pin Selenium version to fix E2E
  test/e2e-v2/cases/browser/docker/Dockerfile.generate-traffic
Labels: test, CI settings

#10883 Add go-redis to component-libraries.yml
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend, enhancement

#10916 Support `sumLabeled` in `MAL` (#10885)
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumLabeledFunction.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumLabeledFunctionTest.java
Labels: backend, enhancement

#10917 Migrate from kubernetes-client/java to fabric8 client
  .licenserc.yaml
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  docs/en/setup/ai-pipeline/http-restful-uri-pattern.md
  oap-server-bom/pom.xml
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/k8s/K8sInfoRegistry.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/K8sTagTest.java
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/pom.xml
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/EventType.java
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinator.java
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/NamespacedPodListInformer.java
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinatorTest.java
  oap-server/server-configuration/configuration-k8s-configmap/pom.xml
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigurationConfigmapInformer.java
  oap-server/server-library/library-kubernetes-support/pom.xml
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesClient.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesEndpoints.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesPods.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesServices.java
  oap-server/server-query-plugin/query-graphql-plugin/pom.xml
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/OndemandLogQuery.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8SServiceRegistry.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/ServiceNameFormatterTest.java
Labels: backend, feature

#10905 Consider 4xx as client side error for envoy ALS based metrics
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/LogEntry2MetricsAdapter.java
Labels: enhancement, metrics

#10920 Add UT and E2E for MQE.
  .github/workflows/skywalking.yaml
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/mqe/rt/MQEVisitor.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/mqe/rt/operation/FunctionOp.java
  oap-server/server-query-plugin/query-graphql-plugin/src/test/java/org/apache/skywalking/oap/query/graphql/mqe/AggregationOpTest.java
  oap-server/server-query-plugin/query-graphql-plugin/src/test/java/org/apache/skywalking/oap/query/graphql/mqe/BinaryOpTest.java
  oap-server/server-query-plugin/query-graphql-plugin/src/test/java/org/apache/skywalking/oap/query/graphql/mqe/FunctionOpTest.java
  oap-server/server-query-plugin/query-graphql-plugin/src/test/java/org/apache/skywalking/oap/query/graphql/mqe/MockData.java
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-instance.json
  test/e2e-v2/cases/mqe/docker-compose.yml
  test/e2e-v2/cases/mqe/e2e.yaml
  test/e2e-v2/cases/mqe/expected/aggregation-OP.yml
  test/e2e-v2/cases/mqe/expected/binary-OP.yml
  test/e2e-v2/cases/mqe/expected/func-OP.yml
  test/e2e-v2/cases/mqe/expected/no-OP.yml
  test/e2e-v2/cases/mqe/expected/relabels-OP.yml
  test/e2e-v2/cases/mqe/expected/relabels-binary-OP.yml
  test/e2e-v2/cases/mqe/expected/topN-OP-instance.yml
  test/e2e-v2/cases/mqe/expected/topN-OP-service.yml
  test/e2e-v2/cases/mqe/mqe-cases.yaml
Labels: test

#10923 Improve match performance of URI matching in 40%
  oap-server/microbench/src/main/java/org/apache/skywalking/oap/server/microbench/core/config/group/uri/RegexVSQuickMatchBenchmark.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointNameGrouping.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/uri/quickmatch/PatternTree.java
Labels: enhancement

#10933 Adding agent compatibility for new release
  docs/en/setup/service-agent/agent-compatibility.md
Labels: documentation

#10940 Bump Guava to 32.0.1
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
Labels: backend, dependencies

#10936 Add Istio ServiceEntry registry to resolve unknown IPs in ALS
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server-bom/pom.xml
  oap-server/server-library/library-kubernetes-support/pom.xml
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/IstioServiceEntries.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/pom.xml
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/EnvoyMetricReceiverConfig.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/istio/IstioServiceEntryRegistry.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8sALSServiceMeshHTTPAnalysis.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/tcp/k8s/K8sALSServiceMeshTCPAnalysis.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8SALSServiceMeshHTTPAnalysisTest.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, enhancement, logging

#10950 Improve Kubernetes coordinator to only select ready OAP Pods to build cluster
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinator.java
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinatorTest.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesPods.java
Labels: backend, enhancement

#10971 Wrap `deleteProperty` API to the BanyanDBStorageClient.
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
Labels: enhancement, database

#10966 Remove `matchedCounter` from `HttpUriRecognitionService#feedRawData`
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  oap-server/ai-pipeline/src/main/java/org/apache/skywalking/oap/server/ai/pipeline/services/HttpUriRecognitionService.java
  oap-server/ai-pipeline/src/main/java/org/apache/skywalking/oap/server/ai/pipeline/services/api/HttpUriRecognition.java
  oap-server/ai-pipeline/src/main/proto/ai_http_uri_recognition.proto
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointNameGrouping.java
  test/e2e-v2/script/env
Labels: enhancement

#10973 Fix NPE and IllegalArgument in AI-based formatting
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointNameGrouping.java
Labels: bug

#10969 Only list healthy Pods when forming OAP cluster
  .github/workflows/skywalking.yaml
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/NamespacedPodListInformer.java
Labels: test

#10980 Fix `NPE` in metrics query when the metric is not exist.
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/MetricsQuery.java
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-root.json
Labels: bug

#10981 Clean up tests for components that are too old
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-storage.md
  test/e2e-v2/cases/istio/kind.k18.yaml
  test/e2e-v2/cases/istio/kind.k19.yaml
  test/e2e-v2/cases/istio/kind.k25.yaml
  test/e2e-v2/cases/rover/process/istio/kind.yaml
Labels: backend

#10983 Polish documentation of server agent and continuous profiling policy
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-continuous-profiling.md
  docs/en/setup/service-agent/agent-compatibility.md
  docs/en/setup/service-agent/server-agents.md
Labels: documentation

#10986 Scroll all results of Endpoint in ElasticSearch storage and refactor scrolling logics to reduce boilerplate codes
  docs/en/changes/changes.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchScroller.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/cache/NetworkAddressAliasEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/EBPFProfilingDataEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/SpanAttachedEventEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/zipkin/ZipkinQueryEsDAO.java
Labels: backend, enhancement

#10988 Revert selecting `Ready` Pods, remove `Terminating` Pods in OAP cluster
  docs/en/changes/changes.md
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/KubernetesCoordinator.java
  oap-server/server-cluster-plugin/cluster-kubernetes-plugin/src/main/java/org/apache/skywalking/oap/server/cluster/plugin/kubernetes/NamespacedPodListInformer.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesPods.java
Labels: bug

#10997 Control the period of training and sync HTTP URI recognition patterns
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointNameGrouping.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, enhancement

#10999 Fix ElasticSearch scroller bug
  docs/en/changes/changes.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchScroller.java
Labels: backend

#11000 Add component ID(149) for Aerospike java client plugin
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#11003 Fix and optimize AI endpoint grouping related functionalities
  docs/en/changes/changes.md
  oap-server/ai-pipeline/src/main/java/org/apache/skywalking/oap/server/ai/pipeline/services/HttpUriRecognitionService.java
  oap-server/microbench/src/main/java/org/apache/skywalking/oap/server/microbench/core/config/group/uri/RegexVSQuickMatchBenchmark.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointNameGrouping.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointGroupingRule4Openapi.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/uri/quickmatch/PatternTree.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/uri/quickmatch/StringToken.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/uri/quickmatch/VarToken.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/config/group/EndpointGroupingRuleReaderTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/config/group/uri/quickmatch/PatternTreeTest.java
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/StringFormatGroup.java
Labels: enhancement

#11004 Fix display name of `endpoint_cpm` for endpoint list in `General-Service` dashboard.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-service.json
Labels: bug, UI

#11012 Fix metric session cache saving when using mysql-connector-java.(#11009)
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/BatchSQLExecutor.java
Labels: bug

#11019 Add comment for `docker/.env` to explain the usage
  docker/.env
  docs/en/changes/changes.md
Labels: documentation

#11020 Fix environment variable name
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/application.yml
Labels: bug

#11024 Fix instance query in JDBC implementation.(#11023)
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCMetadataQueryDAO.java
Labels: bug, backend

#11025 Set the `SW_QUERY_MAX_QUERY_COMPLEXITY` default value to 3000
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, enhancement
