Repository apache/skywalking, pull requests merged in 2023-02, with the labels that each got.

#10343 Polish aws-firehose-receiver to adapt existing OTEL proto
  LICENSE
  docs/en/setup/backend/aws-firehose-receiver.md
  oap-server/server-receiver-plugin/aws-firehose-receiver/pom.xml
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/FirehoseHTTPHandler.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/OtelMetricsConvertor.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/proto/opentelemetry/proto/collector/README.md
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/proto/opentelemetry/proto/collector/metrics/v1/metrics_service.proto
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/proto/opentelemetry/proto/collector/metrics/v1/metrics_service_http.yaml
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/proto/opentelemetry/proto/common/v1/common.proto
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/proto/opentelemetry/proto/metrics/experimental/configservice.proto
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/proto/opentelemetry/proto/metrics/v1/metrics.proto
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/proto/opentelemetry/proto/resource/v1/resource.proto
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/java/org/apache/skywalking/oap/server/receiver/aws/firehose/OtelMetricsConvertorTest.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/s3-data-1/expect.json
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/s3-data-1/source.json
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/s3-data-2/expect.json
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/s3-data-2/source.json
Labels: backend, enhancement, AWS

#10287 [Elasticsearch] Support batchOfBytes configuration to limit size of bulk flush.
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/library/elasticsearch/bulk/ITElasticSearch.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/bulk/BulkProcessor.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/bulk/BulkProcessorBuilder.java
  oap-server/server-library/library-util/src/test/resources/application.yml
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchConfig.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/BatchProcessEsDAO.java
Labels: backend, feature, elastic/open-search

#10351 Fix Scope.Finder.valueOf method bug.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/enumeration/Scope.java
Labels: bug, backend

#10349 Change `escapedMetricsNameCache` method to support `/`
  docs/en/changes/changes.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/prometheus/PrometheusMetricConverter.java
Labels: backend, enhancement

#10355 Update comments a little more for Scope in query.
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/enumeration/Scope.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/DefaultScopeDefine.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/ScopeDeclaration.java
Labels: chore

#10356 Add missing tcp throughput metrics
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/skywalking-mesh-receiver-plugin/src/main/java/org/apache/skywalking/aop/server/receiver/mesh/TelemetryDataDispatcher.java
Labels: backend

#10383 Add HTTPX component ID
  docs/en/changes/changes.md
  oap-server/server-core/src/test/resources/component-libraries.yml
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#10388 Sync UI to the latest.
  docs/en/changes/changes.md
Labels: UI, submodule update

#10390 Bump up Java version to 11 and use junit tag to group IT and slow IT
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/guides/How-to-build.md
  docs/en/guides/README.md
  docs/en/setup/backend/backend-setup.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallback.java
  oap-server/server-cluster-plugin/cluster-consul-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/consul/ClusterModuleConsulProviderFunctionalIT.java
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/ClusterEtcdPluginIT.java
  oap-server/server-cluster-plugin/cluster-etcd-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/etcd/ClusterModuleEtcdProviderFunctionalIT.java
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ClusterModuleNacosProviderFunctionalIT.java
  oap-server/server-cluster-plugin/cluster-zookeeper-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/zookeeper/ClusterModuleZookeeperProviderFunctionalIT.java
  oap-server/server-configuration/configuration-apollo/src/test/java/org/apache/skywalking/oap/server/configuration/apollo/ApolloConfigurationIT.java
  oap-server/server-configuration/configuration-consul/src/test/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationIT.java
  oap-server/server-configuration/configuration-etcd/src/test/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigurationIT.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigurationIT.java
  oap-server/server-configuration/configuration-zookeeper/src/test/java/org/apache/skywalking/oap/server/configuration/zookeeper/it/ZookeeperConfigurationIT.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/library/elasticsearch/bulk/ElasticSearchIT.java
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/ElasticSearchIT.java
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/StringUtil.java
  oap-server/server-storage-plugin/storage-shardingsphere-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/shardingsphere/ShardingSphereIT.java
  pom.xml
Labels: CI settings, dependencies

#10298 feature: windows monitoring
  .github/workflows/skywalking.yaml
  docs/en/setup/backend/backend-win-monitoring.md
  docs/menu.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/otel-rules/windows.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/os_windows/windows-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/os_windows/windows-service.json
  test/e2e-v2/cases/win/docker-compose.yml
  test/e2e-v2/cases/win/e2e.yaml
  test/e2e-v2/cases/win/expected/metrics-has-value.yml
  test/e2e-v2/cases/win/expected/service.yml
  test/e2e-v2/cases/win/mock-data/otel-mock-metrics.json
  test/e2e-v2/cases/win/prometheus-windows_exporter/otel-collector-config.yaml
  test/e2e-v2/cases/win/win-cases.yaml
Labels: backend, feature

#10394 Sync UI and add docs for Widget Static Link feature
  docs/en/changes/changes.md
  docs/en/ui/README.md
Labels: UI, submodule update

#10395 Add Istio 1.17 to test matrix
  .github/workflows/skywalking.yaml
Labels: test

#10401 Refactor http-based alarm plugins and extract common logic to `HttpAlarmCallback`
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server/server-alarm-plugin/pom.xml
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCore.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/WebhookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/discord/DiscordHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/pagerduty/PagerDutyHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/slack/SlackhookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/welink/WeLinkHookCallback.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/WebhookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/dingtalk/DingtalkHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/pagerduty/PagerDutyHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatHookCallbackTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/welink/WeLinkHookCallbackTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmCallback.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/HttpAlarmCallback.java
Labels: backend

#10409 Remove TLS support from firehose receiver
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/AWSFirehoseReceiverModuleConfig.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/AWSFirehoseReceiverModuleProvider.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend

#10410 Support process Sum metrics with AGGREGATION_TEMPORALITY_DELTA case
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricRequestProcessor.java
Labels: backend, feature

#10406 Bump up BanyanDB 0.3.0 client.
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  test/e2e-v2/script/env
Labels: dependencies

#10416 Update firehose receiver doc to introduce requirement for proxy
  docs/en/setup/backend/aws-firehose-receiver.md
Labels: documentation, backend, AWS

#10418 Support Monitoring DynamoDB.
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/aws-firehose-receiver.md
  docs/en/setup/backend/backend-aws-dynamodb-monitoring.md
  docs/menu.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/otel-rules/aws-dynamodb/dynamodb-endpoint.yaml
  oap-server/server-starter/src/main/resources/otel-rules/aws-dynamodb/dynamodb-service.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/aws_dynamodb/aws_dynamodb-endpoint.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/aws_dynamodb/aws_dynamodb-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/aws_dynamodb/aws_dynamodb-service.json
  test/e2e-v2/cases/aws/dynamodb/docker-compose.yml
  test/e2e-v2/cases/aws/dynamodb/dynamodb-cases.yaml
  test/e2e-v2/cases/aws/dynamodb/e2e.yaml
  test/e2e-v2/cases/aws/dynamodb/expected/metrics-has-value.yml
  test/e2e-v2/cases/aws/dynamodb/expected/service.yml
  test/e2e-v2/cases/aws/dynamodb/mock-data/data-1.json
Labels: backend, enhancement, AWS

#10426 Update BanyanDB in E2E
  test/e2e-v2/script/env
Labels: test

#10431 Add explicit `ReadTimeout` for ConsulConfigurationWatcher
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  oap-server/server-cluster-plugin/cluster-consul-plugin/pom.xml
  oap-server/server-configuration/configuration-consul/pom.xml
  oap-server/server-configuration/configuration-consul/src/main/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationWatcherRegister.java
Labels: bug, backend, plugin

#10432 [Temp] Exclude gpg mit site from dead link check
  .dlc.json
Labels: CI settings

#10437 Fix wrong time for OTEL mock service, invalid condition(ge 0) for e2e cases
  test/e2e-v2/cases/aws/dynamodb/dynamodb-cases.yaml
  test/e2e-v2/cases/aws/dynamodb/expected/metrics-has-value.yml
  test/e2e-v2/cases/aws/dynamodb/mock-data/data-1.json
  test/e2e-v2/cases/aws/eks/eks-cases.yaml
  test/e2e-v2/cases/aws/eks/expected/metrics-has-value.yml
  test/e2e-v2/cases/aws/eks/mock-data/otel-mock-metrics.json
  test/e2e-v2/cases/aws/s3/expected/metrics-has-value.yml
  test/e2e-v2/cases/aws/s3/mock-data/data-1.json
  test/e2e-v2/cases/meter/expected/metrics-has-value-percentile.yml
  test/e2e-v2/cases/meter/expected/metrics-has-value0.yml
  test/e2e-v2/cases/meter/meter-cases.yaml
  test/e2e-v2/cases/virtual-mq/expected/metrics-has-value.yml
  test/e2e-v2/cases/virtual-mq/mq-cases.yaml
  test/e2e-v2/cases/win/expected/metrics-has-value.yml
  test/e2e-v2/cases/win/win-cases.yaml
  test/e2e-v2/java-test-service/e2e-mock-sender/src/main/java/org/apache/skywalking/e2e/controller/OtelMetricsSender.java
Labels: test

#10441 Fix `DurationUtils.getDurationPoints` exceed, when `startTimeBucket` equals `endTimeBucket` and promQL supported duration.
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/DurationUtils.java
  oap-server/server-query-plugin/promql-plugin/src/main/antlr4/org/apache/skywalking/promql/rt/grammar/PromQLLexer.g4
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/handler/PromQLApiHandler.java
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/rt/PromOpUtils.java
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/rt/PromQLExprQueryVisitor.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: bug

#10443 Bump up license-eye to speed up CI
  .github/workflows/skywalking.yaml
Labels: CI settings

#10450 fix:Avoid accessing static methods of a class through its object ref
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/MetricsQuery.java
Labels: enhancement

#10449 Adapt otel exponential histogram data
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricRequestProcessor.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricRequestProcessorTest.java
Labels: backend, enhancement, metrics

#10464 Update dynamic-config.md doc to latest.
  docs/en/setup/backend/dynamic-config.md
Labels: documentation, chore
