Repository apache/skywalking, pull requests merged in 2023-04, with the labels that each got.

#10643 Fix wrong calculation in history delete dao
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/TableHelper.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCHistoryDeleteDAO.java
Labels: bug

#10639 Support monitoring the total number metrics of k8s StatefulSet and DaemonSet.
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-k8s-monitoring.md
  oap-server/server-starter/src/main/resources/otel-rules/k8s/k8s-cluster.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s/k8s-cluster.json
Labels: enhancement, metrics

#10640 Remove duplicated dependency
  oap-server/server-receiver-plugin/skywalking-management-receiver-plugin/pom.xml
Labels: chore

#10645 Support Amazon API Gateway monitoring
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-aws-api-gateway-monitoring.md
  docs/menu.yml
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/gateway-http-1/expect.json
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/gateway-http-1/source.json
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/gateway-http-2/expect.json
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/gateway-http-2/source.json
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/gateway-rest-1/expect.json
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/test/resources/convertor-test-data/gateway-rest-1/source.json
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/otel-rules/aws-gateway/gateway-endpoint.yaml
  oap-server/server-starter/src/main/resources/otel-rules/aws-gateway/gateway-service.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/aws_gateway/aws_gateway-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/aws_gateway/aws_gateway_endpoint.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/aws_gateway/aws_gateway_service.json
  test/e2e-v2/cases/aws/api-gateway/docker-compose.yml
  test/e2e-v2/cases/aws/api-gateway/e2e.yaml
  test/e2e-v2/cases/aws/api-gateway/expected/metrics-has-value.yml
  test/e2e-v2/cases/aws/api-gateway/expected/service.yml
  test/e2e-v2/cases/aws/api-gateway/gateway-cases.yaml
  test/e2e-v2/cases/aws/api-gateway/mock-data/data-1.json
  test/e2e-v2/cases/aws/api-gateway/mock-data/data-2.json
Labels: backend, feature, metrics, AWS

#10647 Update UI doc
  docs/en/setup/backend/ui-setup.md
Labels: documentation

#10649 Bump up graphql-java to fix cve and kubernetes java client to adopt snakeyaml v2
  .licenserc.yaml
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
Labels: dependencies

#10655 Support Redis Mornitoring
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-apisix-monitoring.md
  docs/en/setup/backend/backend-aws-eks-monitoring.md
  docs/en/setup/backend/backend-k8s-monitoring.md
  docs/en/setup/backend/backend-mysql-monitoring.md
  docs/en/setup/backend/backend-postgresql-monitoring.md
  docs/en/setup/backend/backend-redis-monitoring.md
  docs/en/setup/backend/backend-vm-monitoring.md
  docs/en/setup/backend/backend-win-monitoring.md
  docs/en/setup/backend/dashboards-so11y.md
  docs/menu.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/otel-rules/redis/redis-instance.yaml
  oap-server/server-starter/src/main/resources/otel-rules/redis/redis-service.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/redis/redis-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/redis/redis-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/redis/redis-service.json
  test/e2e-v2/cases/redis/expected/metrics-has-value.yml
  test/e2e-v2/cases/redis/expected/service.yml
  test/e2e-v2/cases/redis/redis-cases.yaml
  test/e2e-v2/cases/redis/redis-exporter/docker-compose.yml
  test/e2e-v2/cases/redis/redis-exporter/e2e.yaml
  test/e2e-v2/cases/redis/redis-exporter/mock.txt
  test/e2e-v2/cases/redis/redis-exporter/otel-collector-config.yaml
  test/e2e-v2/cases/redis/redis-exporter/redis.conf
Labels: backend, metrics

#10665 Polish aws cloud service monitoring documents
  docs/en/setup/backend/aws-firehose-receiver.md
  docs/en/setup/backend/backend-aws-dynamodb-monitoring.md
  docs/en/setup/backend/backend-aws-eks-monitoring.md
  docs/en/setup/backend/backend-aws-s3-monitoring.md
Labels: documentation, backend, AWS

#10666 Fix deadlink on log-analyzer.md
  docs/en/setup/backend/log-analyzer.md
Labels: documentation, chore

#10684 Support no-proxy mode for aws-firehose receiver
  .licenserc.yaml
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  docs/en/setup/backend/aws-firehose-receiver.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server-bom/pom.xml
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/http/HTTPServer.java
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/http/HTTPServerConfig.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/AWSFirehoseReceiverModuleConfig.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/AWSFirehoseReceiverModuleProvider.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, enhancement, AWS

#10704 UI templates: Simplify metric name with the label.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-page.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/general/general-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s/k8s-cluster.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s/k8s-node.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s_service/k8s-service-pod.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s_service/k8s-service-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh/mesh-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh_cp/mesh-control-plane-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mesh_dp/mesh-data-plane-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/os_linux/linux-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/so11y_oap/so11y-instance.json
Labels: UI

#10712 Polish log of alert GRPCCallback
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/grpc/GRPCCallback.java
  test/e2e-v2/cases/virtual-mq/docker-compose.yml
Labels: chore

#10715 Fix PromQL HTTP API `/api/v1/series` response missing `service` label when matching metric
  docs/en/changes/changes.md
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/handler/PromQLApiHandler.java
  test/e2e-v2/cases/promql/expected/endpoint-metric-series.yml
  test/e2e-v2/cases/promql/expected/instance-metric-series.yml
  test/e2e-v2/cases/promql/expected/service-metric-series.yml
  test/e2e-v2/cases/promql/promql-cases.yaml
Labels: bug

#10745 Add component ID for Jersey
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend
