Repository apache/skywalking, pull requests merged in 2023-03, with the labels that each got.

#10477 fix: k8s otel document path error
  docs/en/setup/backend/backend-k8s-monitoring.md
  docs/en/setup/backend/opentelemetry-receiver.md
Labels: documentation

#10478 Fix SQL OTEL document path error.
  docs/en/setup/backend/backend-mysql-monitoring.md
  docs/en/setup/backend/backend-postgresql-monitoring.md
  docs/en/setup/backend/opentelemetry-receiver.md
Labels: documentation

#10484 Polish aws-firehose-receiver to support setting accessKey
  docs/en/setup/backend/aws-firehose-receiver.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/AWSFirehoseReceiverModuleConfig.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/AWSFirehoseReceiverModuleProvider.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/FirehoseHTTPHandler.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, AWS

#10489 Support for double quotes in SlowSQL statements
  docs/en/changes/changes.md
  test/e2e-v2/cases/mysql/mysql-slowsql/fluent-bit-script.lua
  test/e2e-v2/cases/postgresql/postgres-exporter/fluent-bit-script.lua
Labels: backend

#10442 Create the UITemplate's group in the starting step
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageProvider.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBUITemplateManagementDAO.java
Labels: bug

#10494 Mention Grafana UI on demo.sw.a.o
  docs/en/setup/backend/ui-grafana.md
Labels: documentation

#10495 Bump up snakeyaml to 2.0
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/meter/config/MeterConfigs.java
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/sampling/SamplingPolicySettingsReader.java
  oap-server/analyzer/log-analyzer/src/main/java/org/apache/skywalking/oap/log/analyzer/dsl/spec/parser/YamlParserSpec.java
  oap-server/analyzer/log-analyzer/src/main/java/org/apache/skywalking/oap/log/analyzer/provider/LALConfigs.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/ApdexThresholdConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/EndpointGroupingRuleReader.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/group/openapi/EndpointGroupingRuleReader4Openapi.java
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/yaml/ClassFilterConstructor.java
  oap-server/server-receiver-plugin/configuration-discovery-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/recevier/configuration/discovery/AgentConfigurationsReader.java
  oap-server/server-receiver-plugin/skywalking-zabbix-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zabbix/provider/config/ZabbixConfigs.java
Labels: dependencies

#10500 register FreeRedis as 3018
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#10508 Publish Docker images on official release
  .github/workflows/publish-docker.yaml
  docs/en/guides/How-to-release.md
Labels: CI settings

#10511 chore: skip tests when releasing
  pom.xml
Labels: CI settings

#10513 Fix release doc
  docs/en/guides/How-to-release.md
Labels: documentation

#10518 Fix wrong layer of metric `userError` in DynamoDB monitoring.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/otel-rules/aws-dynamodb/dynamodb-endpoint.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/aws_dynamodb/aws_dynamodb-endpoint.json
  test/e2e-v2/cases/aws/dynamodb/mock-data/data-1.json
Labels: bug, backend, AWS

#10524 ElasticSearch storage does not check field types when OAP running in `no-init` mode
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/IndexStructures.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
Labels: enhancement

#10522 Support to bind TLS status as a part of component for service topology.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/Const.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceCallRelationDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/TCPServiceCallRelationDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/config/ComponentLibraryCatalogService.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/MockModuleManager.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/MockModuleProvider.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/config/ComponentLibraryCatalogFileTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/query/ServiceTopologyBuilderTest.java
  oap-server/server-core/src/test/resources/component-libraries.yml
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/LogEntry2MetricsAdapter.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8sALSServiceMeshHTTPAnalysis.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/MetaExchangeALSHTTPAnalyzer.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/tcp/k8s/K8sALSServiceMeshTCPAnalysis.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/tcp/mx/MetaExchangeTCPAccessLogAnalyzer.java
  oap-server/server-starter/src/main/resources/component-libraries.yml
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBTopologyQueryDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TopologyQueryEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCTopologyQueryDAO.java
Labels: backend, feature

#10529 Remove v prefix in image tags published to Docker Hub
  .github/workflows/publish-docker.yaml
Labels: CI settings

#10532 Fix `Duplicate class found` due to the `delombok` goal.
  docs/en/changes/changes.md
  pom.xml
Labels: CI settings

#10554 Cache test services dependencies
  .github/workflows/skywalking.yaml
Labels: CI settings

#10556 Remove Sharding-MySQL and TiDB from storage doc
  docs/en/setup/backend/backend-storage.md
Labels: documentation

#10563 [BUG] otel k8s-cluster rule add namespace dimension for MAL aggregation calculation(Deployment Status,Deployment Spec Replicas)
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/otel-rules/k8s/k8s-cluster.yaml
Labels: bug, backend

#10530 Adapt the service level component field in E2E
  test/e2e-v2/cases/browser/expected/dependency.yml
  test/e2e-v2/cases/gateway/expected/dependency-services-consumer.yml
  test/e2e-v2/cases/gateway/expected/dependency-services-provider.yml
  test/e2e-v2/cases/go/expected/dependency-services-go.yml
  test/e2e-v2/cases/istio/als/expected/dependency-services-productpage.yml
  test/e2e-v2/cases/istio/als/expected/dependency-services-reviews.yml
  test/e2e-v2/cases/istio/metrics/expected/dependency-services-productpage.yml
  test/e2e-v2/cases/lua/expected/dependency-services.yml
  test/e2e-v2/cases/nodejs/expected/dependency-services-consumer-nodejs.yml
  test/e2e-v2/cases/nodejs/expected/dependency-services-consumer.yml
  test/e2e-v2/cases/nodejs/expected/dependency-services-provider-nodejs.yml
  test/e2e-v2/cases/php/expected/dependency-services-php.yml
  test/e2e-v2/cases/php/expected/dependency-services-provider.yml
  test/e2e-v2/cases/python/expected/dependency-services-consumer-py.yml
  test/e2e-v2/cases/python/expected/dependency-services-provider-py.yml
  test/e2e-v2/cases/satellite/native-protocols/expected/dependency-services.yml
  test/e2e-v2/cases/simple/expected/dependency-services-consumer.yml
  test/e2e-v2/cases/simple/expected/dependency-services-provider.yml
  test/e2e-v2/cases/storage/expected/dependency-services-consumer.yml
  test/e2e-v2/cases/storage/expected/dependency-services-provider.yml
  test/e2e-v2/script/env
Labels: backend, test

#10568 Fix K8sRetag reads the wrong k8s service
  docs/en/changes/changes.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/tagOpt/K8sRetagType.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/k8s/K8sInfoRegistry.java
Labels: bug, backend, metrics

#10583 Fix possible NPE when initialize `IntList`.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/IntList.java
Labels: backend, enhancement

#10584 Add `/skywalking/bin` to PATH in docker
  docker/data-generator/Dockerfile
  docker/oap/Dockerfile
Labels: docker

#10592 Fix jdbc storage, delete table by mistake
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCHistoryDeleteDAO.java
Labels: bug

#10593 Fix invalid links from doc analysis
  docs/menu.yml
Labels: documentation, chore

#10597 Retain +1 day tables when deleting history
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/TableHelper.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCHistoryDeleteDAO.java
Labels: bug

#10599 Support parse PromQL expression has empty labels in the braces for metadata query.
  docs/en/changes/changes.md
  oap-server/server-query-plugin/promql-plugin/src/main/antlr4/org/apache/skywalking/promql/rt/grammar/PromQLParser.g4
  oap-server/server-query-plugin/promql-plugin/src/test/java/org/apache/skywalking/promql/rt/parser/PromQLMatchVisitorTest.java
Labels: enhancement

#10613 Fix trace profiling segments build failure when span list not ordering
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/trace/ProfileTaskQueryService.java
Labels: bug

#10621 Support collecting memory buff/cache metrics in VM monitoring.
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-vm-monitoring.md
  oap-server/server-starter/src/main/resources/otel-rules/vm.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/os_linux/linux-service.json
Labels: feature, metrics
