Repository apache/skywalking, pull requests merged in 2023-10, with the labels that each got.

#11371 Disable Istio relative e2e
  .github/workflows/skywalking.yaml
Labels: test

#11384 Disable Istio metric service in e2e due to 403
  .github/workflows/skywalking.yaml
Labels: test

#11383 BanyanDBStorageClient: Add `keepAliveProperty` API.
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
Labels: backend, feature

#11381 Update Java version to v9 kernel
  docs/en/changes/changes.md
  test/e2e-v2/script/env
Labels: test

#11382 Rename Helm registry name
  .github/workflows/skywalking.yaml
  docs/en/academy/diagnose-service-mesh-network-performance-with-ebpf.md
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/backend-k8s.md
  docs/en/setup/backend/backend-telemetry.md
  docs/en/setup/envoy/als_setting.md
  test/e2e-v2/cases/istio/als/e2e.yaml
  test/e2e-v2/cases/istio/metrics/e2e.yaml
  test/e2e-v2/cases/rover/process/istio/e2e.yaml
  test/e2e-v2/script/env
Labels: test

#11387 Restore Istio E2E and add system info when failed
  .github/workflows/skywalking.yaml
Labels: test

#11389 Bump up netty to 4.1.99
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  pom.xml
Labels: backend, dependencies

#11392 Fix table exists check in the jdbc storage plugin
  docs/en/changes/changes.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/jdbc/hikaricp/JDBCClient.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCHistoryDeleteDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/test/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCHistoryDeleteDAOIT.java
Labels: bug, backend

#11401 Enhance extensibility of HTTP Server library
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  oap-server/server-library/library-server/src/main/java/org/apache/skywalking/oap/server/library/server/http/HTTPServer.java
Labels: backend

#11404 Adjust `AlarmRecord` alarmMessage column length to 512.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmRecord.java
Labels: backend, enhancement

#11406 test: fix ES disk insufficient in test
  .github/workflows/skywalking.yaml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SegmentRecord.java
  test/e2e-v2/cases/istio/values.yaml
Labels: test

#11413 Fix `EventHookCallback` build event: build the layer from `Service's Layer`
  docs/en/changes/changes.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCore.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/EventHookCallback.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/EventHookCallbackTest.java
Labels: bug, backend

#11414 Bump up netty again to 4.1.100
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/log/LogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/zipkin/ZipkinSpanRecord.java
  pom.xml
  test/e2e-v2/cases/istio/kind.k25.yaml
  test/e2e-v2/cases/rover/process/istio/kind.yaml
Labels: dependencies

#11415 Bump BanyanDB to 0.5 in e2e
  test/e2e-v2/script/env
Labels: test

#11418 [Feature] add component ID for fasthttp-go agent
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#11419 Query only necessary fields when queryBasicTraces in TraceQueryEsDAO
  docs/en/changes/changes.md
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/search/Search.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/search/SearchBuilder.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/TraceQueryEsDAO.java
Labels: backend, enhancement

#11421 Remove legacy address of InfluxDB in e2e
  test/e2e-v2/script/docker-compose/base-compose.yml
Labels: test, chore

#11424 Fix `WebhookCallback` send incorrect messages, add catch exception for each callback HTTP Post.
  docs/en/changes/changes.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/feishu/FeishuHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/pagerduty/PagerDutyHookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/slack/SlackhookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/webhook/WebhookCallback.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/wechat/WechatHookCallback.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/webhook/WebhookCallbackTest.java
  test/e2e-v2/cases/alarm/alarm-settings.yml
Labels: bug, backend

#11436 Fix imports
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/ebpf/storage/EBPFProcessProfilingScheduleDispatcher.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/ebpf/storage/EBPFProfilingDataRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/source/EBPFProcessProfilingSchedule.java
Labels: backend, chore

#11437 Fix AlarmRule expression validation: add labeled metrics mock data for check.
  docs/en/changes/changes.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expr/rt/AlarmMQEVerifyVisitor.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRuleTest.java
  test/e2e-v2/cases/alarm/alarm-settings.yml
  test/e2e-v2/cases/alarm/expected/silence-after-graphql-warn.yml
  test/e2e-v2/cases/alarm/expected/silence-before-graphql-warn.yml
Labels: bug, backend

#11441 chore: add a grafana dashboard tag name for filter
  docs/en/setup/backend/grafana-cluster.json
  docs/en/setup/backend/grafana-instance.json
Labels: UI, query

#11442 Add a component ID for Netty
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#11446 Add missing metrics to the `OpenTelemetry Metrics` doc.
  docs/en/changes/changes.md
  docs/en/setup/backend/opentelemetry-receiver.md
Labels: documentation, chore

#11450 Add a component ID for Fiber
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#11457 Polish docs of `Concepts and Designs`
  docs/en/changes/changes.md
  docs/en/concepts-and-designs/backend-overview.md
  docs/en/concepts-and-designs/oal.md
  docs/en/concepts-and-designs/overview.md
  docs/en/concepts-and-designs/probe-introduction.md
  docs/menu.yml
Labels: documentation

#11462 Remvoe a deadlink
  docs/en/setup/backend/storages/mysql.md
Labels: documentation

#11461 BanyanDBStorageClient: Add `define(Property property, PropertyStore.Strategy strategy)` API.
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
Labels: enhancement, database

#11464 Add eclipse-temurin:21-jre as a new image runtime
  .github/workflows/publish-docker.yaml
  docs/en/changes/changes.md
Labels: backend, docker

#11339 Feature pulsar monitoring
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-bookkeeper-monitoring.md
  docs/en/setup/backend/backend-pulsar-monitoring.md
  docs/menu.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/otel-rules/bookkeeper/bookkeeper-cluster.yaml
  oap-server/server-starter/src/main/resources/otel-rules/bookkeeper/bookkeeper-node.yaml
  oap-server/server-starter/src/main/resources/otel-rules/pulsar/pulsar-broker.yaml
  oap-server/server-starter/src/main/resources/otel-rules/pulsar/pulsar-cluster.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/bookkeeper/bookkeeper-cluster.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/bookkeeper/bookkeeper-node.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/bookkeeper/bookkeeper-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/menu.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/pulsar/pulsar-broker.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/pulsar/pulsar-cluster.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/pulsar/pulsar-root.json
  test/e2e-v2/cases/pulsar/docker-compose.yml
  test/e2e-v2/cases/pulsar/e2e.yaml
  test/e2e-v2/cases/pulsar/expected/bookie_instance.yml
  test/e2e-v2/cases/pulsar/expected/broker_instance.yml
  test/e2e-v2/cases/pulsar/expected/metrics-has-value-instance-bookie-label.yml
  test/e2e-v2/cases/pulsar/expected/metrics-has-value-instance-broker-label.yml
  test/e2e-v2/cases/pulsar/expected/metrics-has-value.yml
  test/e2e-v2/cases/pulsar/expected/service.yml
  test/e2e-v2/cases/pulsar/otel-collector-config.yaml
  test/e2e-v2/cases/pulsar/pulsar-cases.yaml
Labels: backend, feature
