Repository apache/skywalking, pull requests merged in 2023-08, with the labels that each got.

#11166 Remove the unreasonable rule in alarm-settings
  oap-server/server-starter/src/main/resources/alarm-settings.yml
Labels: bug

#11172 Update Grafana UI doc img src
  docs/en/setup/backend/ui-grafana.md
Labels: documentation

#11175 Add Golang Mux Server component
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#11177 fix incorrect expression in screenshot ref by ui-grafana.md
  docs/en/setup/backend/ui-grafana.md
Labels: documentation

#11179 Polish ElasticSearch relative docs and bump up tested versions.
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-storage.md
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/ElasticSearchIT.java
Labels: documentation, test

#11181 Change base image from `eclipse-temurin:x-jre` to `eclipse-temurin:x-jre-alpine` to reduce CVE exposure surface
  .github/workflows/publish-docker.yaml
  .github/workflows/skywalking.yaml
  docker/data-generator/Dockerfile
  docker/oap/Dockerfile
  docker/ui/Dockerfile
  docker/ui/docker-entrypoint.sh
  docs/en/changes/changes.md
  test/e2e-v2/cases/simple/ssl/docker-compose.yml
  test/e2e-v2/cases/storage/storage-cases.yaml
  test/e2e-v2/script/docker-compose/base-compose.yml
  test/e2e-v2/script/prepare/setup-oap/download-mysql.sh
Labels: docker, dependencies

#11182 Revert "Change base image from `eclipse-temurin:x-jre` to `eclipse-temurin:x-jre-alpine` to reduce CVE exposure surface"
  .github/workflows/publish-docker.yaml
  .github/workflows/skywalking.yaml
  docker/data-generator/Dockerfile
  docker/oap/Dockerfile
  docker/ui/Dockerfile
  docker/ui/docker-entrypoint.sh
  docs/en/changes/changes.md
  test/e2e-v2/cases/simple/ssl/docker-compose.yml
  test/e2e-v2/cases/storage/storage-cases.yaml
  test/e2e-v2/script/docker-compose/base-compose.yml
  test/e2e-v2/script/prepare/setup-oap/download-mysql.sh
Labels: docker

#11187 Bump up cli version 0.11.0 to 0.12.0
  Makefile
  docs/en/changes/changes.md
Labels: docker

#11186 Use listening mode for apollo configuration.
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/dynamic-config-apollo.md
  oap-server/analyzer/agent-analyzer/src/test/java/org/apache/skywalking/oap/server/analyzer/provider/trace/TraceSamplingPolicyWatcherTest.java
  oap-server/server-configuration/configuration-api/src/main/java/org/apache/skywalking/oap/server/configuration/api/ConfigWatcherRegister.java
  oap-server/server-configuration/configuration-api/src/main/java/org/apache/skywalking/oap/server/configuration/api/FetchingConfigWatcherRegister.java
  oap-server/server-configuration/configuration-api/src/main/java/org/apache/skywalking/oap/server/configuration/api/ListeningConfigWatcherRegister.java
  oap-server/server-configuration/configuration-api/src/test/java/org/apache/skywalking/oap/server/configuration/api/FetchingConfigWatcherRegisterTest.java
  oap-server/server-configuration/configuration-api/src/test/java/org/apache/skywalking/oap/server/configuration/api/ListeningConfigWatcherRegisterTest.java
  oap-server/server-configuration/configuration-apollo/src/main/java/org/apache/skywalking/oap/server/configuration/apollo/ApolloConfigWatcherRegister.java
  oap-server/server-configuration/configuration-consul/src/main/java/org/apache/skywalking/oap/server/configuration/consul/ConsulConfigurationWatcherRegister.java
  oap-server/server-configuration/configuration-etcd/src/main/java/org/apache/skywalking/oap/server/configuration/etcd/EtcdConfigWatcherRegister.java
  oap-server/server-configuration/configuration-k8s-configmap/src/main/java/org/apache/skywalking/oap/server/configuration/configmap/ConfigmapConfigurationWatcherRegister.java
  oap-server/server-configuration/configuration-nacos/src/main/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigWatcherRegister.java
  oap-server/server-configuration/configuration-zookeeper/src/main/java/org/apache/skywalking/oap/server/configuration/zookeeper/ZookeeperConfigWatcherRegister.java
  oap-server/server-configuration/configuration-zookeeper/src/test/java/org/apache/skywalking/oap/server/configuration/zookeeper/ut/MockZookeeperConfigWatcherRegister.java
  oap-server/server-configuration/grpc-configuration-sync/src/main/java/org/apache/skywalking/oap/server/configuration/grpc/GRPCConfigWatcherRegister.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/ApdexThresholdConfigTest.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, feature

#11194 Add `view_as_seq` function in MQE for listing metrics in the given prioritized sequence
  docs/en/api/metrics-query-expression.md
  docs/en/changes/changes.md
  oap-server/mqe-grammar/src/main/antlr4/org/apache/skywalking/mqe/rt/grammar/MQELexer.g4
  oap-server/mqe-grammar/src/main/antlr4/org/apache/skywalking/mqe/rt/grammar/MQEParser.g4
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/MQEVisitorBase.java
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/operation/LogicalFunctionOp.java
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/operation/MathematicalFunctionOp.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/library/mqe/rt/LogicalFunctionOpTest.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/library/mqe/rt/MathematicalFunctionOpTest.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/library/mqe/rt/MockData.java
  test/e2e-v2/cases/mqe/expected/viewAsSeq-OP.yml
  test/e2e-v2/cases/mqe/mqe-cases.yaml
Labels: backend, metrics

#11198 Replace RP with a more clear description of the issue template.
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: documentation

#11200 Fix the wrong default value of `k8sServiceNameRule` if it's not explicitly set
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/ServiceNameFormatter.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/test/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/ServiceNameFormatterTest.java
Labels: bug, backend

#11203 Apply MQE on Infra-Windows layer UI-templates
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/os_windows/windows-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/os_windows/windows-service.json
  test/e2e-v2/cases/win/expected/metrics-has-value.yml
  test/e2e-v2/cases/win/win-cases.yaml
Labels: backend, feature

#11204 Make builds reproducible for automatic releases CI
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/guides/benchmark.md
  oap-server/microbench/pom.xml
  oap-server/pom.xml
  pom.xml
Labels: CI settings

#11210 Improve PromQL to allow for multiple metric operations within a single query
  docs/en/changes/changes.md
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/rt/PromOpUtils.java
  test/e2e-v2/cases/promql/expected/service-metric-labeled-compare-matrix.yml
  test/e2e-v2/cases/promql/promql-cases.yaml
Labels: query, enhancement

#11211 Use `npm ci` to install UI dependencies for reproducible builds
  apm-webapp/pom.xml
Labels: CI settings

#11212 Fix typo in `dynamic-config-configmap.md` doc
  docs/en/changes/changes.md
  docs/en/setup/backend/dynamic-config-configmap.md
Labels: documentation

#11217 Fix MQE Binary Operation between labeled metrics and other type of value result.
  docs/en/api/metrics-query-expression.md
  docs/en/changes/changes.md
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/operation/BinaryOp.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/mqe/rt/AggregateLabelsOpTest.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/mqe/rt/AggregationOpTest.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/mqe/rt/BinaryOpTest.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/mqe/rt/LogicalFunctionOpTest.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/mqe/rt/MathematicalFunctionOpTest.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/mqe/rt/MockData.java
Labels: bug, backend

#11219 Add Nacos component ID
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#11222 Fix changlog nit
  docs/en/changes/changes.md
Labels: documentation, chore

#11220 Apply MQE on Browser layer UI-templates
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-app.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-page.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/browser/browser-version.json
  test/e2e-v2/cases/browser/browser-cases.yaml
  test/e2e-v2/cases/browser/expected/metrics-has-value-percentile.yml
  test/e2e-v2/cases/browser/expected/metrics-has-value.yml
Labels: backend

#11235 Fix out-dated docs about Kafka fetcher
  docs/en/changes/changes.md
  docs/en/setup/backend/kafka-fetcher.md
Labels: documentation

#11242 Fix the Kubernetes resource cache not refreshed
  docs/en/changes/changes.md
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/IstioServiceEntries.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesEndpoints.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesPods.java
  oap-server/server-library/library-kubernetes-support/src/main/java/org/apache/skywalking/library/kubernetes/KubernetesServices.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/TableHelper.java
Labels: bug, backend

#11247 Fix wrong classpath that might cause OOM in startup
  dist-material/bin/oapService.sh
  dist-material/bin/oapServiceInit.sh
  dist-material/bin/oapServiceNoInit.sh
  docs/en/changes/changes.md
Labels: bug

#11251 Enhance the `serviceRelation` in MAL by adding settings for the `delimiter` and `component` fields
  docs/en/changes/changes.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/Analyzer.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/EntityDescription/ServiceRelationEntityDescription.java
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/dsl/SampleFamily.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/ScopeTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/MeterEntity.java
Labels: metrics

#11262 [Breaking change] Support MQE in the Alerting.
  dist-material/alarm-settings.yml
  dist-material/config-examples/alarm-settings.yml
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-alarm.md
  oap-server-bom/pom.xml
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/MQEVisitorBase.java
  oap-server/server-alarm-plugin/pom.xml
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmCore.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmEntity.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmMessageFormatter.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmModuleProvider.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcher.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/CompositeAlarmRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/CompositeRuleEvaluator.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/OP.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/Rules.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/Threshold.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expr/rt/AlarmMQEVerifyVisitor.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expr/rt/AlarmMQEVisitor.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/Expression.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/ExpressionContext.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmMessageFormatterTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmModuleProviderTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcherTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/CompositeRuleEvaluatorTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/NotifyHandlerTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/OPTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReaderTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRuleTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/ThresholdTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/ExpressionContextTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/expression/ExpressionTest.java
  oap-server/server-alarm-plugin/src/test/resources/alarm-settings.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmMessage.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/mqe/rt/MQEVisitor.java
  oap-server/server-starter/src/main/resources/alarm-settings.yml
  test/e2e-v2/cases/alarm/alarm-settings.yml
Labels: core feature, backend

#11267 doc: apache/skywalking-ui:8.8.0 does not exist
  docs/en/setup/backend/ui-setup.md
Labels: documentation

#11265 Check results in ALS as per downstream/upstream instead of per log
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/AccessLogAnalyzer.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8sALSServiceMeshHTTPAnalysis.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/mx/MetaExchangeALSHTTPAnalyzer.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/tcp/k8s/K8sALSServiceMeshTCPAnalysis.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/tcp/mx/MetaExchangeTCPAccessLogAnalyzer.java
Labels: backend, enhancement

#11269 Fix listInstances not using endTime query
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/MetadataQueryService.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBMetadataQueryDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/MetadataQueryEsDAO.java
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/common/dao/JDBCMetadataQueryDAO.java
Labels: bug, backend

#11270 optimize and throws IllegalExpressionException in AlarmRule expression verify
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRule.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RulesReader.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcherTest.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRuleTest.java
Labels: backend, chore

#11272 Alarm rule add scope verify and UT
  docs/en/setup/backend/backend-alarm.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRule.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRuleTest.java
Labels: backend, test

#11278 Do not start server and Kafka consumer in init mode
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-query-plugin/logql-plugin/src/main/java/org/apache/skywalking/oap/query/logql/LogQLProvider.java
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/PromQLProvider.java
  oap-server/server-query-plugin/zipkin-query-plugin/src/main/java/org/apache/skywalking/oap/query/zipkin/ZipkinQueryProvider.java
  oap-server/server-receiver-plugin/aws-firehose-receiver/src/main/java/org/apache/skywalking/oap/server/receiver/aws/firehose/AWSFirehoseReceiverModuleProvider.java
  oap-server/server-receiver-plugin/skywalking-sharing-server-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/sharing/server/SharingServerModuleProvider.java
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/ZipkinReceiverProvider.java
Labels: backend
