Repository apache/skywalking, pull requests merged in 2023-09, with the labels that each got.

#11305 ElasticSearchClient: Add `deleteById` API.
  docs/en/changes/changes.md
  oap-server/server-library/library-client/src/main/java/org/apache/skywalking/oap/server/library/client/elasticsearch/ElasticSearchClient.java
  oap-server/server-library/library-client/src/test/java/org/apache/skywalking/library/elasticsearch/bulk/ElasticSearchIT.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/client/DocumentClient.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/DocumentFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v6/V6DocumentFactory.java
  oap-server/server-library/library-elasticsearch-client/src/main/java/org/apache/skywalking/library/elasticsearch/requests/factory/v7plus/V7DocumentFactory.java
  oap-server/server-library/library-elasticsearch-client/src/test/java/org/apache/skywalking/library/elasticsearch/ElasticSearchIT.java
Labels: backend, enhancement

#11313 Fix Custom alarm rules are overwritten by 'resource/alarm-settings.yml'(#11311)
  docs/en/changes/changes.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmModuleProvider.java
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/AlarmRulesWatcher.java
Labels: bug, metrics

#11316 Separate storage docs to different files
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-storage.md
  docs/en/setup/backend/storages/banyandb.md
  docs/en/setup/backend/storages/elasticsearch.md
  docs/en/setup/backend/storages/h2.md
  docs/en/setup/backend/storages/mysql.md
  docs/en/setup/backend/storages/postgresql.md
  docs/menu.yml
Labels: documentation

#11322 Update doc: Add topology configuration in UI-Grafana doc
  docs/en/changes/changes.md
  docs/en/setup/backend/ui-grafana.md
Labels: documentation

#11282 Feature kafka monitoring
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-kafka-monitoring.md
  docs/menu.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/otel-rules/kafka/kafka-broker.yaml
  oap-server/server-starter/src/main/resources/otel-rules/kafka/kafka-cluster.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/kafka/kafka-broker.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/kafka/kafka-cluster.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/kafka/kafka-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/menu.yaml
  test/e2e-v2/cases/kafka/kafka-monitoring/Dockerfile
  test/e2e-v2/cases/kafka/kafka-monitoring/docker-compose.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/e2e.yaml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/instance.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/metrics-has-value-gc-label.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/metrics-has-value-instance-label.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/metrics-has-value-jvm-label.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/metrics-has-value-scource-label.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/metrics-has-value-service-label.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/metrics-has-value.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/expected/service.yml
  test/e2e-v2/cases/kafka/kafka-monitoring/kafka-cases.yaml
  test/e2e-v2/cases/kafka/kafka-monitoring/otel-collector-config.yaml
Labels: backend, feature

#11328 Elasticsearch storage merge all management data indices into one index `management`
  docs/en/changes/changes.md
  docs/en/setup/backend/storages/elasticsearch.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/worker/ManagementStreamProcessor.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/StorageModuleElasticsearchProvider.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/IndexController.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/ManagementCRUDEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/ManagementEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/StorageEsInstaller.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/ContinuousProfilingPolicyEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/UIMenuManagementEsDAO.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/query/UITemplateManagementEsDAO.java
Labels: backend, elastic/open-search

#11334 Fix elasticsearch merge management
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/menu/UIMenu.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplate.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/AbstractDAO.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateTest.java
  oap-server/server-storage-plugin/storage-elasticsearch-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/elasticsearch/base/ManagementCRUDEsDAO.java
Labels: bug

#11336 Release alarm window when alarm metrics is expired in case OOM
  docs/en/changes/changes.md
  oap-server/server-alarm-plugin/src/main/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRule.java
  oap-server/server-alarm-plugin/src/test/java/org/apache/skywalking/oap/server/core/alarm/provider/RunningRuleTest.java
Labels: backend, enhancement

#11341 docs: mark go2sky as archived
  docs/en/concepts-and-designs/manual-sdk.md
Labels: documentation

#11353 Remove unused CI badges.
  README.md
Labels: chore

#11356 Fix Zipkin trace receiver response: make the HTTP status code from `200` to `202`
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/zipkin-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/zipkin/handler/ZipkinSpanHTTPHandler.java
Labels: bug, zipkin
