Repository apache/skywalking, pull requests merged in 2024-09, with the labels that each got.

#12589 Fix license for Slf4j
  .licenserc.yaml
  dist-material/release-docs/LICENSE
Labels: dependencies

#12597 Fix wrong health check endpoint to OAP backend
  apm-webapp/src/main/java/org/apache/skywalking/oap/server/webapp/OapProxyService.java
  docs/en/changes/changes.md
Labels: bug, backend

#12598 Add self observability metrics for otel handler
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryLogHandler.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricRequestProcessor.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryTraceHandler.java
  oap-server/server-starter/src/main/resources/otel-rules/oap.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/so11y_oap/so11y-instance.json
Labels: backend, enhancement

#12600 Clean up #12393
  LICENSE
  dist-material/release-docs/LICENSE
  dist-material/release-docs/LICENSE.tpl
  oap-server-bom/pom.xml
  oap-server/server-fetcher-plugin/cilium-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/fetcher/cilium/nodes/CiliumNode.java
  oap-server/server-fetcher-plugin/fetcher-proto/pom.xml
  oap-server/server-library/library-util/src/main/java/org/apache/skywalking/oap/server/library/util/FieldsHelper.java
Labels: chore

#12604 Add `Service`, `ServiceInstance`, `Endpoint` dashboard forwarder to Kubernetes Topologies.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s_service/k8s-service-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s_service/k8s-service-service.json
Labels: UI

#12608 Support service level metrics aggregate when missing pod context in eBPF Access Log Receiver
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/skywalking-ebpf-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/ebpf/provider/handler/AccessLogServiceHandler.java
Labels: enhancement

#12609 Fix query `getGlobalTopology` throw exception when didn't find any services by the given Layer.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/TopologyQueryService.java
Labels: bug, backend

#12611 Fix the previous analysis result missing in the ALS `k8s-mesh` analyzer
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/als/k8s/K8sALSServiceMeshHTTPAnalysis.java
Labels: enhancement

#12615 Fix `findEndpoint` query require `keyword` when using BanyanDB.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/zipkin/ZipkinServiceSpanTraffic.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBMetadataQueryDAO.java
  test/e2e-v2/script/env
Labels: bug, backend, database

#12621 Adapt BanyanDB Java Client 0.7.0.
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBIndexInstaller.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBNoneStreamDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageProvider.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBUIMenuManagementDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBUITemplateManagementDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MeasureModel.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MetadataRegistry.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/StreamModel.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/BanyanDBContinuousProfilingPolicyDAO.java
  test/e2e-v2/script/env
Labels: backend, enhancement

#12624 feat:update component-libraries.yml GoFrame 5022
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend, enhancement

#12628 chore: clean codes
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MetadataRegistry.java
Labels: chore

#12630 Fix SWIP filename
  docs/en/swip/SWIP-6.md
  docs/en/swip/readme.md
Labels: documentation, chore

#12631 Bump up protobuf java dependencies to 3.25.5
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
Labels: dependencies

#12639 BanyanDB: support TLS connection and configuration.
  .github/workflows/skywalking.yaml
  .licenserc.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  docs/en/setup/backend/storages/banyandb.md
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageConfig.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageProvider.java
  test/e2e-v2/cases/storage/banyandb/tls/docker-compose.yml
  test/e2e-v2/cases/storage/banyandb/tls/e2e.yaml
  test/e2e-v2/cases/storage/banyandb/tls/tls/ca.crt
  test/e2e-v2/cases/storage/banyandb/tls/tls/cert.crt
  test/e2e-v2/cases/storage/banyandb/tls/tls/cert.key
Labels: enhancement, database

#12644 PromQL service: query API support RFC3399 time format.
  .github/workflows/codeql.yaml
  docs/en/api/promql-service.md
  docs/en/changes/changes.md
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/handler/PromQLApiHandler.java
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/rt/PromQLExprQueryVisitor.java
  test/e2e-v2/cases/promql/promql-cases.yaml
Labels: backend, enhancement

#12645 Improve the performance of OTEL metrics handler.
  docs/en/changes/changes.md
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/prometheus/PrometheusMetricConverter.java
  oap-server/server-receiver-plugin/envoy-metrics-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/envoy/MetricServiceGRPCHandler.java
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricRequestProcessor.java
Labels: core feature, backend, metrics

#12648 Highlight 10.1 as `A Version of PERFORMANCE`
  docs/en/changes/changes.md
Labels: enhancement

#12651 BanyanDB: use `TimestampRange` to improve "events" query for BanyanDB.
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBEventQueryDAO.java
  test/e2e-v2/cases/alarm/banyandb/docker-compose.yml
  test/e2e-v2/cases/alarm/banyandb/e2e.yaml
Labels: enhancement, database

#12652 Optimize `network_address_alias` table to reduce the number of the index.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/networkalias/NetworkAddressAlias.java
Labels: enhancement, database

#12659 Flatten ci-friendly revision when deploy
  .github/workflows/skywalking.yaml
  .gitignore
  docs/en/guides/How-to-release.md
  pom.xml
Labels: CI settings

#12660 PromQL service: support round brackets operator.
  docs/en/changes/changes.md
  oap-server/server-query-plugin/promql-plugin/src/main/antlr4/org/apache/skywalking/promql/rt/grammar/PromQLParser.g4
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/rt/PromQLExprQueryVisitor.java
  oap-server/server-query-plugin/promql-plugin/src/test/java/org/apache/skywalking/promql/rt/parser/PromQLExprQueryVisitorTest.java
Labels: backend, enhancement

#12663 Introduce BanyanDB 0.7 client
  oap-server-bom/pom.xml
Labels: dependencies

#12669 Released 10.1.0 and start 10.2.0 iteration.
  .dlc.json
  docs/en/changes/changes-10.1.0.md
  docs/en/changes/changes.md
  docs/en/guides/How-to-release.md
  docs/menu.yml
  pom.xml
Labels: documentation
