Repository apache/skywalking, pull requests merged in 2024-05, with the labels that each got.

#12174 Fix inaccurate Pulsar and Bookkeeper metrics
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/bookkeeper/bookkeeper-cluster.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/bookkeeper/bookkeeper-node.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/pulsar/pulsar-broker.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/pulsar/pulsar-cluster.json
  test/e2e-v2/cases/pulsar/otel-collector-config.yaml
  test/e2e-v2/cases/pulsar/pulsar-cases.yaml
Labels: bug, backend

#12195 Bump BanyanDB Java Client to 0.6.0
  dist-material/release-docs/LICENSE
  docker/docker-compose.yml
  docs/en/changes/changes.md
  docs/en/setup/backend/storages/banyandb.md
  oap-server-bom/pom.xml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/log/AbstractLogRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/segment/SegmentRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/spanattach/SpanAttachedEventRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/BanyanDB.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/BanyanDBExtension.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumnTest.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageConfig.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageProvider.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MetadataRegistry.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBEventQueryDAO.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/stream/AbstractBanyanDBDAO.java
  oap-server/server-tools/data-generator/src/main/java/org/apache/skywalking/generator/Generator.java
  oap-server/server-tools/data-generator/src/main/java/org/apache/skywalking/generator/TimeGenerator.java
  oap-server/server-tools/data-generator/src/main/java/org/apache/skywalking/restapi/SegmentGenerator.java
  oap-server/server-tools/data-generator/src/main/java/org/apache/skywalking/restapi/SpanGenerator.java
  oap-server/server-tools/data-generator/src/main/resources/application.yml
  oap-server/server-tools/data-generator/src/test/resources/segment.tpl.json
  pom.xml
  test/e2e-v2/cases/profiling/ebpf/continuous/banyandb/e2e.yaml
  test/e2e-v2/cases/profiling/ebpf/network/banyandb/e2e.yaml
  test/e2e-v2/cases/profiling/ebpf/offcpu/e2e.yaml
  test/e2e-v2/cases/profiling/ebpf/oncpu/banyandb/e2e.yaml
  test/e2e-v2/script/env
Labels: backend, enhancement, database

#12206 Fix LAL test query api.
  docs/en/changes/changes.md
  oap-server/analyzer/log-analyzer/src/main/java/org/apache/skywalking/oap/log/analyzer/dsl/spec/extractor/ExtractorSpec.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/resolver/LogTestQuery.java
Labels: bug

#12208 add component libraries of Derby/Sybase/SQLite/DB2/OceanBase jdbc driver
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#12217 Fix next SWIP ID
  docs/en/swip/readme.md
Labels: documentation, chore

#12231 minor: Add SBOM to the project.
  docs/en/changes/changes.md
  pom.xml
Labels: dependencies

#12244 Fix typo in docs
  docs/en/setup/backend/backend-clickhouse-monitoring.md
  docs/en/swip/SWIP-5.md
Labels: documentation, backend

#12264 Fix Wrong Interval in BanyanDB Installation Process
  docs/en/changes/changes.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MetadataRegistry.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBMetricsQueryDAO.java
Labels: bug

#12275 Fix MQE and Alarm doc nits
  docs/en/api/metrics-query-expression.md
  docs/en/setup/backend/backend-alarm.md
Labels: documentation, chore

#12285 Update backend-storage.md
  docs/en/setup/backend/backend-storage.md
Labels: documentation
