Repository apache/skywalking, pull requests merged in 2024-04, with the labels that each got.

#12067 Adding go agent into bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: chore

#12078 Fix missing dashboard settings in Kubernetes Service
  oap-server/server-starter/src/main/resources/ui-initialized-templates/k8s_service/k8s-service-service.json
Labels: bug

#12080 Bump up dependencies to fix CVEs
  .licenserc.yaml
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  pom.xml
Labels: dependencies

#12088 Bump up kafka client to fix CVE
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
Labels: dependencies

#12091 Remove unnecessary `componentIds` as series ID
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/Metrics.java
Labels: bug, backend

#12093 Fix not throw error when part of expression not matched any expression node in the `MQE` and `PromQL.
  docs/en/changes/changes.md
  oap-server/mqe-grammar/src/main/antlr4/org/apache/skywalking/mqe/rt/grammar/MQEParser.g4
  oap-server/server-query-plugin/promql-plugin/src/main/antlr4/org/apache/skywalking/promql/rt/grammar/PromQLParser.g4
Labels: bug, backend

#12095 Remove `kafka-fetcher/default/createTopicIfNotExist`
  docs/en/changes/changes.md
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-fetcher-plugin/kafka-fetcher-plugin/src/main/java/org/apache/skywalking/oap/server/analyzer/agent/kafka/module/KafkaFetcherConfig.java
Labels: backend, chore

#12096 Fix inaccuracy nginx service metrics.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/log-mal-rules/nginx.yaml
  oap-server/server-starter/src/main/resources/otel-rules/nginx/nginx-endpoint.yaml
  oap-server/server-starter/src/main/resources/otel-rules/nginx/nginx-instance.yaml
  oap-server/server-starter/src/main/resources/otel-rules/nginx/nginx-service.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/nginx/nginx-service.json
  test/e2e-v2/cases/nginx/e2e.yaml
  test/e2e-v2/cases/nginx/expected/metrics-has-value-label-level-service_instance_id.yml
  test/e2e-v2/cases/nginx/expected/metrics-has-value-label-service_instance_id.yml
  test/e2e-v2/cases/nginx/expected/metrics-has-value-label-state-service_instance_id.yml
  test/e2e-v2/cases/nginx/expected/metrics-has-value-label-status-service_instance_id.yml
  test/e2e-v2/cases/nginx/expected/metrics-has-value-label-type-service_instance_id.yml
Labels: backend, feature

#12099 chore: update comment of MySQLTableInstaller
  oap-server/server-storage-plugin/storage-jdbc-hikaricp-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/jdbc/mysql/MySQLTableInstaller.java
Labels: chore

#12101 Remove group and support labels in the meter histogram-percentile function.
  oap-server/analyzer/meter-analyzer/src/main/java/org/apache/skywalking/oap/meter/analyzer/Analyzer.java
  oap-server/analyzer/meter-analyzer/src/test/java/org/apache/skywalking/oap/meter/analyzer/dsl/AnalyzerTest.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/BucketedValues.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumHistogramPercentileFunction.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/PercentileFunctionTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramFunctionTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunctionTest.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/analysis/meter/function/sum/SumHistogramPercentileFunctionTest.java
  test/e2e-v2/cases/apisix/expected/metrics-has-latency-value-label.yml
  test/e2e-v2/cases/so11y/expected/metrics-has-value-percentile.yml
  test/e2e-v2/cases/so11y/so11y-cases.yaml
Labels: core feature, backend

#12107 Rename Windows Metrics(swap -> virtual memory)
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/otel-rules/windows.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/os_linux/linux-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/os_windows/windows-service.json
  test/e2e-v2/cases/win/win-cases.yaml
Labels: bug, backend

#12110 Format service-hierarchy.md
  docs/en/concepts-and-designs/service-hierarchy.md
Labels: chore

#12108 Fix inaccurate APISIX metrics
  docs/en/api/metrics-query-expression.md
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/otel-rules/apisix.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/apisix/apisix-endpoint.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/apisix/apisix-service.json
  test/e2e-v2/cases/apisix/apisix-cases.yaml
Labels: backend, feature

#12119 Fix GHA changed files to match UI changes
  .github/workflows/skywalking.yaml
Labels: CI settings

#12126 Fix inaccurate MongoDB Metrics & Add label for complex MQE in Nginx dashboard.
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-mongodb-monitoring.md
  oap-server/server-starter/src/main/resources/otel-rules/mongodb/mongodb-cluster.yaml
  oap-server/server-starter/src/main/resources/otel-rules/mongodb/mongodb-node.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mongodb/mongodb-cluster.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mongodb/mongodb-node.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/nginx/nginx-endpoint.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/nginx/nginx-instance.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/nginx/nginx-service.json
  test/e2e-v2/cases/mongodb/expected/metrics-has-value-label-csr-service_instance_id.yml
  test/e2e-v2/cases/mongodb/expected/metrics-has-value-label-database-service_instance_id.yml
  test/e2e-v2/cases/mongodb/expected/metrics-has-value-label-doc-service_instance_id.yml
  test/e2e-v2/cases/mongodb/expected/metrics-has-value-label-legacy-service_instance_id.yml
  test/e2e-v2/cases/mongodb/mongodb-cases.yaml
Labels: bug

#12109 Add ActiveMQ classic monitoring
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-activemq-monitoring.md
  docs/en/swip/SWIP-8.md
  docs/en/swip/readme.md
  docs/menu.yml
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/Layer.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/management/ui/template/UITemplateInitializer.java
  oap-server/server-starter/src/main/resources/application.yml
  oap-server/server-starter/src/main/resources/hierarchy-definition.yml
  oap-server/server-starter/src/main/resources/otel-rules/activemq/activemq-broker.yaml
  oap-server/server-starter/src/main/resources/otel-rules/activemq/activemq-cluster.yaml
  oap-server/server-starter/src/main/resources/otel-rules/activemq/activemq-destination.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/activemq/activemq-broker.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/activemq/activemq-cluster.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/activemq/activemq-destination.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/activemq/activemq-root.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/menu.yaml
  test/e2e-v2/cases/activemq/activemq-cases.yaml
  test/e2e-v2/cases/activemq/config/amq/activemq.xml
  test/e2e-v2/cases/activemq/config/amq/config.yaml
  test/e2e-v2/cases/activemq/docker-compose.yml
  test/e2e-v2/cases/activemq/e2e.yaml
  test/e2e-v2/cases/activemq/expected/endpoint.yml
  test/e2e-v2/cases/activemq/expected/instance.yml
  test/e2e-v2/cases/activemq/expected/metrics-has-value-label-destinationname.yml
  test/e2e-v2/cases/activemq/expected/metrics-has-value-label-destinationtype.yml
  test/e2e-v2/cases/activemq/expected/metrics-has-value-label-serviceinstanceid.yml
  test/e2e-v2/cases/activemq/expected/metrics-has-value.yml
  test/e2e-v2/cases/activemq/expected/service.yml
  test/e2e-v2/cases/activemq/otel-collector-config.yaml
Labels: backend, feature

#12136 Calculate Nginx service HTTP Latency by MQE.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/otel-rules/nginx/nginx-service.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/nginx/nginx-service.json
  test/e2e-v2/cases/nginx/e2e.yaml
  test/e2e-v2/cases/nginx/expected/metrics-has-value-label-percentile-service_instance_id.yml
Labels: backend, enhancement

#12144 Fix inaccurate Hierarchy of RabbitMQ metrics.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/ui-initialized-templates/rabbitmq/rabbitmq-cluster.json
  test/e2e-v2/cases/rabbitmq/otel-collector-config.yaml
Labels: bug, backend

#12130 Fix inaccurate MySQL/MariaDB, Redis metrics
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-mysql-monitoring.md
  docs/en/setup/backend/backend-redis-monitoring.md
  oap-server/server-starter/src/main/resources/otel-rules/mysql/mysql-service.yaml
  oap-server/server-starter/src/main/resources/otel-rules/postgresql/postgresql-instance.yaml
  oap-server/server-starter/src/main/resources/otel-rules/postgresql/postgresql-service.yaml
  oap-server/server-starter/src/main/resources/otel-rules/redis/redis-service.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/mysql/mysql-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/postgresql/postgresql-service.json
  oap-server/server-starter/src/main/resources/ui-initialized-templates/redis/redis-service.json
  test/e2e-v2/cases/mariadb/mariadb-cases.yaml
  test/e2e-v2/cases/mysql/mysql-cases.yaml
  test/e2e-v2/cases/postgresql/postgresql-cases.yaml
  test/e2e-v2/cases/redis/expected/metrics-single-value.yml
  test/e2e-v2/cases/redis/redis-cases.yaml
Labels: bug, backend

#12152 Optimize OTEL metrics attributes KV convert.
  docs/en/changes/changes.md
  docs/en/setup/backend/opentelemetry-receiver.md
  oap-server/server-receiver-plugin/otel-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/otel/otlp/OpenTelemetryMetricRequestProcessor.java
Labels: bug, backend

#12156 [Break Change] gGRPC metrics exporter unified the metric value type and support labeled metrics.
  docs/en/changes/changes.md
  docs/en/setup/backend/exporter.md
  oap-server/exporter/src/main/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCMetricsExporter.java
  oap-server/exporter/src/main/proto/metric-exporter.proto
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/GRPCExporterTest.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockLabeledValueMetrics.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockMetricExportServiceImpl.java
  oap-server/exporter/src/test/java/org/apache/skywalking/oap/server/exporter/provider/grpc/MockMetrics.java
Labels: backend

#12162 add C3P0 in component-libraries.yml
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: backend

#12163 Fix MQE `top_n` global query.
  docs/en/api/metrics-query-expression.md
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/AggregationQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/input/RecordCondition.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/input/TopNCondition.java
Labels: bug, backend

#12175 Fix typo in swip docs
  docs/en/swip/SWIP-8.md
Labels: documentation, chore

#12176 Fix activeMQ monitoring typo
  docs/en/setup/backend/backend-activemq-monitoring.md
  oap-server/server-starter/src/main/resources/otel-rules/activemq/activemq-broker.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/activemq/activemq-broker.json
  test/e2e-v2/cases/activemq/activemq-cases.yaml
Labels: chore
