Repository apache/skywalking, pull requests merged in 2024-06, with the labels that each got.

#12287 Update How-to-release.md
  docs/en/guides/How-to-release.md
Labels: documentation

#12297 Fix wrong indices in the eBPF Profiling related models
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-zabbix.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/ebpf/EBPFProfilingQueryService.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/ebpf/storage/EBPFProfilingDataRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/profiling/ebpf/storage/EBPFProfilingScheduleRecord.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/query/ProcessTopologyBuilder.java
  test/e2e-v2/cases/vm/zabbix/docker-compose.yml
Labels: bug

#12317 Add marketplace docs.
  docs/en/changes/changes.md
  docs/en/setup/backend/marketplace.md
  docs/menu.yml
Labels: documentation

#12315 Add Golang as a supported language for Elasticsearch
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: documentation

#12319 Remove unnecessary BanyanDB flushing logs(info).
  docs/en/changes/changes.md
  docs/en/setup/backend/marketplace.md
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/measure/BanyanDBMetricsDAO.java
Labels: chore

#12316 [Feature] Support to query relation metrics through PromQL.
  docs/en/api/promql-service.md
  docs/en/changes/changes.md
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/entity/LabelName.java
  oap-server/server-query-plugin/promql-plugin/src/main/java/org/apache/skywalking/oap/query/promql/rt/PromQLExprQueryVisitor.java
  test/e2e-v2/cases/promql/expected/relation-metric-vector.yml
  test/e2e-v2/cases/promql/promql-cases.yaml
Labels: backend, enhancement

#12335 Fix links in the titles.
  docs/en/api/promql-service.md
Labels: documentation, chore

#12336 Update Document(Windows Metrics): swap -> virtual memory
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-win-monitoring.md
Labels: documentation

#12341 [doc] add general-relation grafana ui doc.
  docs/en/setup/backend/ui-grafana.md
Labels: documentation, backend

#12347 Add support for the Solon framework
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: documentation

#12356 Fix metrics tag in HTTP handler of browser receiver plugin.
  docs/en/changes/changes.md
  oap-server/server-receiver-plugin/skywalking-browser-receiver-plugin/src/main/java/org/apache/skywalking/oap/server/receiver/browser/provider/handler/rest/BrowserPerfServiceHTTPHandler.java
Labels: bug, backend

#12363 Fix value too long for type character varying (#12352)
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/metrics/Event.java
Labels: bug, backend

#12365 Add Python as a supported language for Pulsar
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: documentation

#12366 Bump up BanyanDB to latest(0.7-dev-Jun.22) to stablize e2e
  test/e2e-v2/script/env
Labels: test

#12362 upgrade nacos client from 1.4.2 to 2.3.2
  apm-dist/pom.xml
  dist-material/release-docs/LICENSE
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-cluster.md
  docs/en/setup/backend/dynamic-config-nacos.md
  oap-server-bom/pom.xml
  oap-server/server-cluster-plugin/cluster-nacos-plugin/pom.xml
  oap-server/server-cluster-plugin/cluster-nacos-plugin/src/test/java/org/apache/skywalking/oap/server/cluster/plugin/nacos/ClusterModuleNacosProviderFunctionalIT.java
  oap-server/server-configuration/configuration-nacos/src/test/java/org/apache/skywalking/oap/server/configuration/nacos/NacosConfigurationIT.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, dependencies
