Repository apache/skywalking, pull requests merged in 2025-01, with the labels that each got.

#12921 Storage e2e: make topn result more predictable
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/alarm/AlarmRecord.java
  test/e2e-v2/cases/storage/banyandb/e2e.yaml
  test/e2e-v2/cases/storage/es/e2e.yaml
  test/e2e-v2/cases/storage/es/es-sharding/e2e.yaml
  test/e2e-v2/cases/storage/expected/topN-OP-endpoint.yml
  test/e2e-v2/cases/storage/expected/topN-OP-service.yml
  test/e2e-v2/cases/storage/opensearch/e2e.yaml
  test/e2e-v2/cases/storage/storage-cases.yaml
Labels: test, chore

#12922 Add `bydb.dependencies.properties` config file
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/storages/banyandb.md
  oap-server/server-starter/pom.xml
  oap-server/server-starter/src/main/resources/bydb.dependencies.properties
Labels: dependencies

#12923 Fix chore.
  docs/en/setup/backend/backend-setup.md
  docs/en/setup/backend/storages/banyandb.md
Labels: chore

#12927 Fix `AvgHistogramPercentileFunction` doesn't have proper field definition for `ranks`.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/meter/function/avg/AvgHistogramPercentileFunction.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/BanyanDB.java
Labels: bug, backend, database

#12929 Fix wrong index mode declarations
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/cache/TopNCacheReadCommand.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/cache/TopNCacheWriteCommand.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/database/TopNDatabaseStatement.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/endpoint/EndpointRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/instance/ServiceInstanceRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/process/ProcessRelationServerSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationClientSideMetrics.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/analysis/manual/relation/service/ServiceRelationServerSideMetrics.java
Labels: bug, backend

#12930 Add more comments for IndexMode
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/BanyanDB.java
Labels: documentation

#12619 Update the browser API protocol doc
  docs/en/api/browser-http-api-protocol.md
  docs/en/changes/changes.md
Labels: documentation

#12934 Update browser protocol
  docs/en/api/browser-http-api-protocol.md
Labels: documentation

#12935 Fix typo in documentation
  docs/en/setup/istio/README.md
Labels: documentation

#12936 Support BanyanDB's new property
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageProvider.java
  test/e2e-v2/cases/profiling/ebpf/access_log/banyandb/e2e.yaml
  test/e2e-v2/cases/profiling/ebpf/continuous/banyandb/e2e.yaml
  test/e2e-v2/cases/profiling/ebpf/network/banyandb/e2e.yaml
  test/e2e-v2/cases/profiling/ebpf/offcpu/e2e.yaml
  test/e2e-v2/cases/profiling/ebpf/oncpu/banyandb/e2e.yaml
  test/e2e-v2/script/env
Labels: dependencies

#12937 MQE: Support `top_n_of` function for merging multiple metrics topn query.
  docs/en/api/metrics-query-expression.md
  docs/en/changes/changes.md
  oap-server/mqe-grammar/src/main/antlr4/org/apache/skywalking/mqe/rt/grammar/MQELexer.g4
  oap-server/mqe-grammar/src/main/antlr4/org/apache/skywalking/mqe/rt/grammar/MQEParser.g4
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/MQEVisitorBase.java
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/operation/TopNOfOp.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/mqe/rt/TopNOfOpTest.java
  oap-server/server-query-plugin/query-graphql-plugin/src/main/java/org/apache/skywalking/oap/query/graphql/mqe/rt/MQEVisitor.java
  test/e2e-v2/cases/mqe/mqe-cases.yaml
Labels: backend, feature

#12944 Remove redundant code
  docs/en/changes/changes.md
  oap-server/analyzer/agent-analyzer/src/main/java/org/apache/skywalking/oap/server/analyzer/provider/trace/parser/listener/RPCAnalysisListener.java
Labels: chore

#12959 BanyanDB: Add support for compatibility checks based on API version
  docs/en/changes/changes.md
  docs/en/setup/backend/storages/banyandb.md
  oap-server-bom/pom.xml
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
  test/e2e-v2/script/env
Labels: backend, feature

#12961 Make bydb depdendencies file checked and consistent.
  apm-dist/src/main/assembly/binary.xml
  docs/en/setup/backend/storages/banyandb.md
  oap-server/server-starter/src/main/resources/bydb.dependencies.properties
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
Labels: documentation, backend, chore

#12963 Make eBPF Off CPU Profiling more stable
  test/e2e-v2/script/env
Labels: test

#12965 MQE: Support `&&(and)`, `||(or)` bool operators.
  docs/en/api/metrics-query-expression.md
  docs/en/changes/changes.md
  docs/en/setup/backend/backend-alarm.md
  oap-server/mqe-grammar/src/main/antlr4/org/apache/skywalking/mqe/rt/grammar/MQELexer.g4
  oap-server/mqe-grammar/src/main/antlr4/org/apache/skywalking/mqe/rt/grammar/MQEParser.g4
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/MQEVisitorBase.java
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/operation/BoolOp.java
  oap-server/mqe-rt/src/main/java/org/apache/skywalking/mqe/rt/operation/LROp.java
  oap-server/mqe-rt/src/test/java/org/apache/skywalking/mqe/rt/BoolOpTest.java
  test/e2e-v2/cases/alarm/alarm-settings.yml
  test/e2e-v2/cases/alarm/expected/silence-after-graphql-critical.yml
  test/e2e-v2/cases/alarm/expected/silence-before-graphql-critical.yml
  test/e2e-v2/cases/mqe/expected/bool-OP.yml
  test/e2e-v2/cases/mqe/mqe-cases.yaml
Labels: backend, feature

#12973 Fix bugs and enhance RESOURCE EXHAUSTED: Watermark exceeded logs.
  docs/en/setup/backend/configuration-vocabulary.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleConfig.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/client/GRPCRemoteClient.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/watermark/WatermarkListener.java
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend

#12974 OAP Self observability: Add JVM heap and direct memory used metrics.
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/otel-rules/oap.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/so11y_oap/so11y-instance.json
  test/e2e-v2/cases/so11y/expected/metrics-has-memory-value-label.yml
  test/e2e-v2/cases/so11y/so11y-cases.yaml
Labels: so11y, enhancement

#12977 Update component IDs for Ruby
  docs/en/changes/changes.md
  oap-server/server-starter/src/main/resources/component-libraries.yml
Labels: documentation

#12978 Fix Ruby component IDs in change logs.
  docs/en/changes/changes.md
Labels: documentation, backend, chore

#12980 Fix missing limit in UI template query
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
Labels: bug, backend

#12981 OAP self observability: Add watermark circuit break/recover metrics.
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/CoreModuleProvider.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/watermark/WatermarkListener.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/watermark/WatermarkWatcher.java
  oap-server/server-starter/src/main/resources/otel-rules/oap.yaml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/so11y_oap/so11y-instance.json
Labels: so11y, enhancement

#12991 Add Baseline module for support alarm module query predict metrics value
  docs/en/changes/changes.md
  oap-server/metrics-baseline/pom.xml
  oap-server/metrics-baseline/src/main/java/org/apache/skywalking/oap/server/baseline/BaselineModule.java
  oap-server/metrics-baseline/src/main/java/org/apache/skywalking/oap/server/baseline/BaselineModuleConfig.java
  oap-server/metrics-baseline/src/main/java/org/apache/skywalking/oap/server/baseline/BaselineModuleProvider.java
  oap-server/metrics-baseline/src/main/java/org/apache/skywalking/oap/server/baseline/service/BaselineQueryService.java
  oap-server/metrics-baseline/src/main/java/org/apache/skywalking/oap/server/baseline/service/BaselineQueryServiceImpl.java
  oap-server/metrics-baseline/src/main/java/org/apache/skywalking/oap/server/baseline/service/PredictServiceMetrics.java
  oap-server/metrics-baseline/src/main/java/org/apache/skywalking/oap/server/baseline/service/ServiceMetrics.java
  oap-server/metrics-baseline/src/main/proto/baseline.proto
  oap-server/metrics-baseline/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleDefine
  oap-server/metrics-baseline/src/main/resources/META-INF/services/org.apache.skywalking.oap.server.library.module.ModuleProvider
  oap-server/metrics-baseline/src/test/java/org/apache/skywalking/oap/server/baseline/BaselineQueryServer.java
  oap-server/metrics-baseline/src/test/java/org/apache/skywalking/oap/server/baseline/BaselineServerTest.java
  oap-server/pom.xml
  oap-server/server-starter/pom.xml
  oap-server/server-starter/src/main/resources/application.yml
Labels: backend, enhancement

#12996 docs: update browser protocol
  docs/en/api/browser-http-api-protocol.md
Labels: documentation

#12999 Fix parameters for Browser Protocol
  docs/en/api/browser-http-api-protocol.md
Labels: bug

#13005 BaseLine proto: Add query baseline supported metrics names.
  docs/en/changes/changes.md
  oap-server/metrics-baseline/src/main/proto/baseline.proto
Labels: backend, enhancement

#13007 Adapt query supported metrics names in Baseline
  oap-server/metrics-baseline/src/main/java/org/apache/skywalking/oap/server/baseline/service/BaselineQueryService.java
  oap-server/metrics-baseline/src/main/java/org/apache/skywalking/oap/server/baseline/service/BaselineQueryServiceImpl.java
  oap-server/metrics-baseline/src/test/java/org/apache/skywalking/oap/server/baseline/BaselineQueryServer.java
  oap-server/metrics-baseline/src/test/java/org/apache/skywalking/oap/server/baseline/BaselineServerTest.java
Labels: enhancement

#13014 Predicted value level declaration in baseline module
  oap-server/metrics-baseline/src/main/proto/baseline.proto
Labels: documentation
