Repository apache/skywalking, pull requests merged in 2025-04, with the labels that each got.

#13167 SWIP-9, support flink monitoring
  docs/en/changes/changes.md
  docs/en/swip/SWIP-9.md
  docs/en/swip/readme.md
Labels: backend, metrics, accepted

#13171 Fix an edge case of HashCodeSelector
  docs/en/changes/changes.md
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/remote/selector/HashCodeSelector.java
Labels: bug, backend

#13174 Bump up BanyanDB dependency to 0.9
  .github/workflows/skywalking.yaml
  docs/en/changes/changes.md
  oap-server-bom/pom.xml
  oap-server/server-starter/src/main/resources/bydb.dependencies.properties
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/BanyanDBStorageClient.java
  test/e2e-v2/script/env
Labels: backend, dependencies, database

#13179 Fix menu.
  docs/menu.yml
  oap-server/server-starter/src/main/resources/ui-initialized-templates/menu.yaml
Labels: documentation

#13180 BanyanDB: Support `@ShardingKey` for Measure tags and set to TopNAggregation group tag by default
  docs/en/changes/changes.md
  oap-server/oal-rt/src/main/java/org/apache/skywalking/oal/rt/util/OALClassGenerator.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/annotation/BanyanDB.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/BanyanDBExtension.java
  oap-server/server-core/src/main/java/org/apache/skywalking/oap/server/core/storage/model/StorageModels.java
  oap-server/server-core/src/test/java/org/apache/skywalking/oap/server/core/storage/model/ModelColumnTest.java
  oap-server/server-storage-plugin/storage-banyandb-plugin/src/main/java/org/apache/skywalking/oap/server/storage/plugin/banyandb/MetadataRegistry.java
Labels: feature, database

#13181 Remove credentials after checkout
  .github/workflows/codeql.yaml
  .github/workflows/publish-docker-e2e-service.yaml
  .github/workflows/publish-docker.yaml
  .github/workflows/skywalking.yaml
Labels: docker, CI settings

#13192 Chore: fix some documents about Flink monitoring
  docs/en/setup/backend/backend-flink-monitoring.md
  docs/en/swip/SWIP-9.md
Labels: documentation

#13206 Fix release badge
  README.md
Labels: chore
